Repository pinpoint-apm/pinpoint, pull requests merged in 2018-07, with the labels that each got.

#4316 [#noissue] add break condition
  rpc/src/main/java/com/navercorp/pinpoint/rpc/client/ConnectFuture.java
Labels: bug, module:project-common

#4327 [#4271] Apply ServletRequestListener to JettyPlugin
  agent/src/main/resources-local/pinpoint.config
  agent/src/main/resources-release/pinpoint.config
  agent/src/main/resources/pinpoint-real-env-lowoverhead-sample.config
  plugins/jetty/src/main/java/com/navercorp/pinpoint/plugin/jetty/JettyAsyncListener.java
  plugins/jetty/src/main/java/com/navercorp/pinpoint/plugin/jetty/JettyConfiguration.java
  plugins/jetty/src/main/java/com/navercorp/pinpoint/plugin/jetty/JettyConstants.java
  plugins/jetty/src/main/java/com/navercorp/pinpoint/plugin/jetty/JettyDetector.java
  plugins/jetty/src/main/java/com/navercorp/pinpoint/plugin/jetty/JettyPlugin.java
  plugins/jetty/src/main/java/com/navercorp/pinpoint/plugin/jetty/JettyServerRequestWrapper.java
  plugins/jetty/src/main/java/com/navercorp/pinpoint/plugin/jetty/JettyServletRequestListener.java
  plugins/jetty/src/main/java/com/navercorp/pinpoint/plugin/jetty/JettySyncMethodDescriptor.java
  plugins/jetty/src/main/java/com/navercorp/pinpoint/plugin/jetty/JettyTypeProvider.java
  plugins/jetty/src/main/java/com/navercorp/pinpoint/plugin/jetty/aspect/RequestAspect.java
  plugins/jetty/src/main/java/com/navercorp/pinpoint/plugin/jetty/interceptor/AbstractServerHandleInterceptor.java
  plugins/jetty/src/main/java/com/navercorp/pinpoint/plugin/jetty/interceptor/ContextHandlerDoStartInterceptor.java
  plugins/jetty/src/main/java/com/navercorp/pinpoint/plugin/jetty/interceptor/Jetty8ServerHandleInterceptor.java
  plugins/jetty/src/main/java/com/navercorp/pinpoint/plugin/jetty/interceptor/Jetty8xServerHandleInterceptor.java
  plugins/jetty/src/main/java/com/navercorp/pinpoint/plugin/jetty/interceptor/RequestStartAsyncInterceptor.java
  plugins/jetty/src/main/java/com/navercorp/pinpoint/plugin/jetty/interceptor/ServerHandleInterceptor.java
Labels: enhancement, module:plugin

#4328 [#4326] Enhances handling when an exception occurs in PinpointClientHandler
  rpc/src/main/java/com/navercorp/pinpoint/rpc/client/DefaultPinpointClientHandler.java
Labels: bug, module:project-common

#4333 [#4271] Apply ServletRequestListener to ResinPlugin
  agent/src/main/resources-local/pinpoint.config
  agent/src/main/resources-release/pinpoint.config
  agent/src/main/resources/pinpoint-real-env-lowoverhead-sample.config
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/plugin/request/ServletRequestListenerInterceptorHelper.java
  plugins/resin/pom.xml
  plugins/resin/src/main/java-resin/com/caucho/server/http/HttpServletRequestImpl.java
  plugins/resin/src/main/java-resin/com/caucho/server/http/HttpServletResponseImpl.java
  plugins/resin/src/main/java/com/navercorp/pinpoint/plugin/resin/AsyncAccessor.java
  plugins/resin/src/main/java/com/navercorp/pinpoint/plugin/resin/HttpServletRequestGetter.java
  plugins/resin/src/main/java/com/navercorp/pinpoint/plugin/resin/ResinAsyncListener.java
  plugins/resin/src/main/java/com/navercorp/pinpoint/plugin/resin/ResinConfig.java
  plugins/resin/src/main/java/com/navercorp/pinpoint/plugin/resin/ResinConstants.java
  plugins/resin/src/main/java/com/navercorp/pinpoint/plugin/resin/ResinPlugin.java
  plugins/resin/src/main/java/com/navercorp/pinpoint/plugin/resin/ResinServerRequestWrapper.java
  plugins/resin/src/main/java/com/navercorp/pinpoint/plugin/resin/ResinServletRequestListener.java
  plugins/resin/src/main/java/com/navercorp/pinpoint/plugin/resin/ServletAsyncMethodDescriptor.java
  plugins/resin/src/main/java/com/navercorp/pinpoint/plugin/resin/ServletSyncMethodDescriptor.java
  plugins/resin/src/main/java/com/navercorp/pinpoint/plugin/resin/TraceAccessor.java
  plugins/resin/src/main/java/com/navercorp/pinpoint/plugin/resin/VersionAccessor.java
  plugins/resin/src/main/java/com/navercorp/pinpoint/plugin/resin/aspect/HttpServletRequestImplAspect.java
  plugins/resin/src/main/java/com/navercorp/pinpoint/plugin/resin/interceptor/AsyncContextImplDispatchMethodInterceptor.java
  plugins/resin/src/main/java/com/navercorp/pinpoint/plugin/resin/interceptor/ErrorPageManagerInterceptor.java
  plugins/resin/src/main/java/com/navercorp/pinpoint/plugin/resin/interceptor/HttpRequestInterceptor.java
  plugins/resin/src/main/java/com/navercorp/pinpoint/plugin/resin/interceptor/HttpServletRequestImplInterceptor.java
  plugins/resin/src/main/java/com/navercorp/pinpoint/plugin/resin/interceptor/ServletInvocationInterceptor.java
  plugins/resin/src/main/java/com/navercorp/pinpoint/plugin/resin/interceptor/ServletInvocationServiceInterceptor.java
  plugins/resin/src/main/java/com/navercorp/pinpoint/plugin/resin/interceptor/WebAppInterceptor.java
Labels: enhancement, module:plugin

#4339 [#4338] Fix web call tree exception record
  web/src/main/java/com/navercorp/pinpoint/web/vo/callstacks/ExceptionRecord.java
Labels: bug, module:web

#4345 [#4341] Separates timeout option in ClientOption
  collector/src/main/java/com/navercorp/pinpoint/collector/cluster/connection/CollectorClusterConnector.java
  collector/src/main/java/com/navercorp/pinpoint/collector/cluster/flink/FlinkClusterConnectionManager.java
  collector/src/test/java/com/navercorp/pinpoint/collector/receiver/DataReceiverGroupTest.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/PinpointClientFactoryProvider.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/SpanStatClientFactoryProvider.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/AgentInfoSenderTest.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/sender/TcpDataSenderReconnectTest.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/sender/TcpDataSenderTest.java
  rpc/src/main/java/com/navercorp/pinpoint/rpc/client/ClientOption.java
  rpc/src/main/java/com/navercorp/pinpoint/rpc/client/DefaultPinpointClientFactory.java
  rpc/src/main/java/com/navercorp/pinpoint/rpc/client/DefaultPinpointClientHandler.java
  rpc/src/main/java/com/navercorp/pinpoint/rpc/client/PinpointClientFactory.java
  rpc/src/test/java/com/navercorp/pinpoint/rpc/client/ReconnectTest.java
  web/src/main/java/com/navercorp/pinpoint/web/cluster/connection/ClusterConnector.java
Labels: enhancement, module:project-common

#4349 [4346] Allows the ClientOption setting in the setup file
  agent/src/main/resources-local/pinpoint.config
  agent/src/main/resources-release/pinpoint.config
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/config/DefaultProfilerConfig.java
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/config/ProfilerConfig.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/PinpointClientFactoryProvider.java
Labels: enhancement, module:agent

#4351 [#4350] Allows the Option in Acceptor setting in the setup file
  collector/src/main/java/com/navercorp/pinpoint/collector/cluster/connection/CollectorClusterAcceptor.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/PinpointServerAcceptorProvider.java
  collector/src/main/resources/applicationContext-collector.xml
  collector/src/main/resources/pinpoint-collector.properties
  rpc/src/main/java/com/navercorp/pinpoint/rpc/server/HealthCheckManager.java
  rpc/src/main/java/com/navercorp/pinpoint/rpc/server/PinpointServerAcceptor.java
  rpc/src/main/java/com/navercorp/pinpoint/rpc/server/ServerOption.java
  web/src/main/java/com/navercorp/pinpoint/web/cluster/connection/ClusterAcceptor.java
Labels: enhancement, module:collector

#4356 [#4350] Allows the Option in Acceptor setting in the setup file
  collector/src/main/resources/applicationContext-collector.xml
  rpc/src/main/java/com/navercorp/pinpoint/rpc/server/ServerOption.java
Labels: enhancement, module:collector

#4363 [#4358] Change the save results policy in handshake
  rpc/src/main/java/com/navercorp/pinpoint/rpc/server/DefaultPinpointServer.java
Labels: enhancement, module:project-common

#4375 [#4360] fix build fail
  plugins/akka-http/pom.xml
  plugins/akka-http/src/main/java/com/navercorp/pinpoint/plugin/akka/http/AkkaHttpPlugin.java
Labels: cleanup, module:plugin

#4380 [#4360] Add akka-http plugin
  plugins/akka-http/src/main/java/com/navercorp/pinpoint/plugin/akka/http/HttpRequestAdaptor.java
Labels: enhancement, module:agent

#4405 [#noissue] Fix executor config
  collector/src/main/resources/applicationContext-collector.xml
Labels: bug, module:collector

#4421 [#4419] Add Spring Async Plugin
  agent/src/main/resources-local/pinpoint.config
  agent/src/main/resources-release/pinpoint.config
  agent/src/main/resources/pinpoint-real-env-lowoverhead-sample.config
  commons/src/main/java/com/navercorp/pinpoint/common/trace/ServiceType.java
  plugins/spring/src/main/java/com/navercorp/pinpoint/plugin/spring/async/SpringAsyncConfig.java
  plugins/spring/src/main/java/com/navercorp/pinpoint/plugin/spring/async/SpringAsyncConstants.java
  plugins/spring/src/main/java/com/navercorp/pinpoint/plugin/spring/async/SpringAsyncPlugin.java
  plugins/spring/src/main/java/com/navercorp/pinpoint/plugin/spring/async/SpringAsyncTraceMetadataProvider.java
  plugins/spring/src/main/java/com/navercorp/pinpoint/plugin/spring/async/interceptor/AsyncTaskExecutorSubmitInterceptor.java
  plugins/spring/src/main/java/com/navercorp/pinpoint/plugin/spring/async/interceptor/TaskCallInterceptor.java
  plugins/spring/src/main/resources/META-INF/services/com.navercorp.pinpoint.bootstrap.plugin.ProfilerPlugin
  plugins/spring/src/main/resources/META-INF/services/com.navercorp.pinpoint.common.trace.TraceMetadataProvider
  quickstart/agent/src/main/resources/pinpoint.config
Labels: enhancement, module:plugin
