Repository pinpoint-apm/pinpoint, pull requests merged in 2018-08, with the labels that each got.

#4429 [#update_install_guide] Update install guide
  doc/installation.md
  quickstart/README.Win.en.md
  quickstart/README.Win.ko.md
  quickstart/README.md
Labels: document

#4436 [#change_jvm7_for_test]
  agent/src/test/java/com/navercorp/pinpoint/plugin/netty/NettyIT.java
Labels: test

#4447 [#1563] Add undertow plugin
  agent/src/main/resources-local/pinpoint.config
  agent/src/main/resources-release/pinpoint-real-env-lowoverhead-sample.config
  agent/src/main/resources-release/pinpoint.config
  commons/src/main/java/com/navercorp/pinpoint/common/trace/ServiceType.java
  plugins/bom/pom.xml
  plugins/pom.xml
  plugins/undertow/.gitignore
  plugins/undertow/pom.xml
  plugins/undertow/src/main/java/com/navercorp/pinpoint/plugin/undertow/HttpServerExchangeParameterExtractor.java
  plugins/undertow/src/main/java/com/navercorp/pinpoint/plugin/undertow/MethodFilterExtractor.java
  plugins/undertow/src/main/java/com/navercorp/pinpoint/plugin/undertow/ParameterRecorderFactory.java
  plugins/undertow/src/main/java/com/navercorp/pinpoint/plugin/undertow/UndertowAsyncListener.java
  plugins/undertow/src/main/java/com/navercorp/pinpoint/plugin/undertow/UndertowConfig.java
  plugins/undertow/src/main/java/com/navercorp/pinpoint/plugin/undertow/UndertowConstants.java
  plugins/undertow/src/main/java/com/navercorp/pinpoint/plugin/undertow/UndertowHttpHeaderFilter.java
  plugins/undertow/src/main/java/com/navercorp/pinpoint/plugin/undertow/UndertowPlugin.java
  plugins/undertow/src/main/java/com/navercorp/pinpoint/plugin/undertow/UndertowTypeProvider.java
  plugins/undertow/src/main/java/com/navercorp/pinpoint/plugin/undertow/interceptor/ConnectorsExecuteRootHandlerInterceptor.java
  plugins/undertow/src/main/java/com/navercorp/pinpoint/plugin/undertow/interceptor/HttpServerExchangeAdaptor.java
  plugins/undertow/src/main/java/com/navercorp/pinpoint/plugin/undertow/interceptor/HttpServletRequestImplStartAsyncInterceptor.java
  plugins/undertow/src/main/resources/META-INF/services/com.navercorp.pinpoint.bootstrap.plugin.ProfilerPlugin
  plugins/undertow/src/main/resources/META-INF/services/com.navercorp.pinpoint.common.trace.TraceMetadataProvider
Labels: enhancement, module:plugin

#4448 [#noissue] Fix Dubbo Testcase
  agent/src/test/java/com/navercorp/pinpoint/plugin/dubbo/consumer/DubboConsumerIT.java
  agent/src/test/java/com/navercorp/pinpoint/plugin/dubbo/provider/DubboProviderIT.java
Labels: enhancement, module:plugin

#4449 [#noissue] Fix Spring async config
  plugins/spring/src/main/java/com/navercorp/pinpoint/plugin/spring/async/SpringAsyncConfig.java
Labels: enhancement, module:plugin

#4471 [#noissue] cleanup pom
  plugins/pom.xml
Labels: cleanup

#4475 [#1563] Fix undertow plugin
  plugins/undertow/src/main/java/com/navercorp/pinpoint/plugin/undertow/interceptor/ConnectorsExecuteRootHandlerInterceptor.java
Labels: bug

#4477 [#4474] Fix dubbo recursive invoke case
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/interceptor/SpanRecursiveAroundInterceptor.java
Labels: bug

#4479 [#cleanup test] cleanup
  collector/pom.xml
  collector/src/test/java/com/navercorp/pinpoint/collector/TestAwaitTaskUtils.java
  collector/src/test/java/com/navercorp/pinpoint/collector/TestAwaitUtils.java
  collector/src/test/java/com/navercorp/pinpoint/collector/cluster/zookeeper/ZookeeperJobWorkerTest.java
  collector/src/test/java/com/navercorp/pinpoint/collector/receiver/udp/SpanStreamUDPSenderTest.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/AgentInfoSenderTest.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/TestAwaitTaskUtils.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/sender/TcpDataSenderReconnectTest.java
  rpc/src/test/java/com/navercorp/pinpoint/rpc/TestAwaitTaskUtils.java
  rpc/src/test/java/com/navercorp/pinpoint/rpc/TestAwaitUtils.java
  rpc/src/test/java/com/navercorp/pinpoint/rpc/client/ClientMessageListenerTest.java
  rpc/src/test/java/com/navercorp/pinpoint/rpc/client/PinpointClientStateTest.java
  rpc/src/test/java/com/navercorp/pinpoint/rpc/client/ReconnectTest.java
  rpc/src/test/java/com/navercorp/pinpoint/rpc/client/RequestManagerTest.java
  rpc/src/test/java/com/navercorp/pinpoint/rpc/server/HandshakeTest.java
  rpc/src/test/java/com/navercorp/pinpoint/rpc/server/PinpointServerStateTest.java
  rpc/src/test/java/com/navercorp/pinpoint/rpc/server/PipelineFactoryTest.java
  rpc/src/test/java/com/navercorp/pinpoint/rpc/stream/StreamChannelManagerTest.java
  rpc/src/test/java/com/navercorp/pinpoint/rpc/util/IOUtils.java
  rpc/src/test/java/com/navercorp/pinpoint/test/utils/TestAwaitTaskUtils.java
  rpc/src/test/java/com/navercorp/pinpoint/test/utils/TestAwaitUtils.java
  web/pom.xml
  web/src/test/java/com/navercorp/pinpoint/web/TestAwaitTaskUtils.java
  web/src/test/java/com/navercorp/pinpoint/web/TestAwaitUtils.java
  web/src/test/java/com/navercorp/pinpoint/web/cluster/ClusterTest.java
  web/src/test/java/com/navercorp/pinpoint/web/cluster/zookeeper/ZookeeperClusterTest.java
Labels: cleanup, module:test

#4480 [#noissue] cleanup clover license
  plugins/akka-http/clover.license
  plugins/kafka/clover.license
Labels: cleanup, module:project-common

#4482 [#cleanup test] cleanup
  profiler/src/test/java/com/navercorp/pinpoint/profiler/AgentInfoSenderTest.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/sender/TcpDataSenderReconnectTest.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/sender/TcpDataSenderTest.java
  rpc/src/test/java/com/navercorp/pinpoint/rpc/client/ClientMessageListenerTest.java
  rpc/src/test/java/com/navercorp/pinpoint/rpc/client/HealthCheckTest.java
  rpc/src/test/java/com/navercorp/pinpoint/rpc/client/PinpointClientFactoryTest.java
  rpc/src/test/java/com/navercorp/pinpoint/rpc/client/PinpointClientStateTest.java
  rpc/src/test/java/com/navercorp/pinpoint/rpc/client/ReconnectTest.java
  rpc/src/test/java/com/navercorp/pinpoint/rpc/server/ControlPacketServerTest.java
  rpc/src/test/java/com/navercorp/pinpoint/rpc/server/EventHandlerTest.java
  rpc/src/test/java/com/navercorp/pinpoint/rpc/server/HandshakeTest.java
  rpc/src/test/java/com/navercorp/pinpoint/rpc/server/PinpointServerSocketTest.java
  rpc/src/test/java/com/navercorp/pinpoint/rpc/server/PinpointServerStateTest.java
  rpc/src/test/java/com/navercorp/pinpoint/rpc/server/PipelineFactoryTest.java
  rpc/src/test/java/com/navercorp/pinpoint/rpc/stream/StreamChannelManagerTest.java
  rpc/src/test/java/com/navercorp/pinpoint/rpc/util/PinpointRPCTestUtils.java
  rpc/src/test/java/com/navercorp/pinpoint/test/client/TestPinpointClient.java
  rpc/src/test/java/com/navercorp/pinpoint/test/client/TestRawSocket.java
  rpc/src/test/java/com/navercorp/pinpoint/test/server/TestPinpointServerAcceptor.java
  web/src/test/java/com/navercorp/pinpoint/web/cluster/ClusterTest.java
Labels: cleanup, module:test

#4487 [#cleanup test] cleanup
  profiler/src/test/java/com/navercorp/pinpoint/profiler/sender/TcpDataSenderTest.java
  rpc/src/test/java/com/navercorp/pinpoint/rpc/client/ClientMessageListenerTest.java
  rpc/src/test/java/com/navercorp/pinpoint/rpc/client/HealthCheckTest.java
  rpc/src/test/java/com/navercorp/pinpoint/rpc/client/PinpointClientFactoryTest.java
  rpc/src/test/java/com/navercorp/pinpoint/rpc/client/PinpointClientStateTest.java
  rpc/src/test/java/com/navercorp/pinpoint/rpc/client/ReconnectTest.java
  rpc/src/test/java/com/navercorp/pinpoint/rpc/server/CountCheckServerMessageListenerFactory.java
  rpc/src/test/java/com/navercorp/pinpoint/rpc/server/EchoServerMessageListenerFactory.java
  rpc/src/test/java/com/navercorp/pinpoint/rpc/server/EventHandlerTest.java
  rpc/src/test/java/com/navercorp/pinpoint/rpc/server/HandshakeTest.java
  rpc/src/test/java/com/navercorp/pinpoint/rpc/server/PinpointServerStateTest.java
  rpc/src/test/java/com/navercorp/pinpoint/rpc/stream/StreamChannelManagerTest.java
  rpc/src/test/java/com/navercorp/pinpoint/rpc/util/ListUtilsTest.java
  rpc/src/test/java/com/navercorp/pinpoint/rpc/util/PinpointRPCTestUtils.java
  rpc/src/test/java/com/navercorp/pinpoint/test/server/TestServerMessageListenerFactory.java
Labels: cleanup, module:test

#4543 [#3829] akka http plugin
  plugins/akka-http/src/main/java/com/navercorp/pinpoint/plugin/akka/http/interceptor/AsyncContextSpanEventEndPointInterceptor.java
  plugins/akka-http/src/main/java/com/navercorp/pinpoint/plugin/akka/http/interceptor/DirectivesInterceptor.java
Labels: cleanup, module:plugin

#4544 [#3829] Change default akka_http enable option
  agent/src/main/resources-local/pinpoint.config
  agent/src/main/resources-release/pinpoint.config
Labels: configuration, module:plugin

#4535 [#3835] kafka plugin
  agent/src/main/resources-local/pinpoint.config
  agent/src/main/resources-release/pinpoint.config
  plugins/kafka/src/main/java/com/navercorp/pinpoint/plugin/kafka/interceptor/ConsumerRecordEntryPointInterceptor.java
Labels: enhancement, module:plugin

#4547 [#3835] Fixed NoClassDefFoundError error
  plugins/kafka/src/main/java/com/navercorp/pinpoint/plugin/kafka/interceptor/ConsumerRecordEntryPointInterceptor.java
  plugins/kafka/src/main/java/com/navercorp/pinpoint/plugin/kafka/interceptor/ProducerSendInterceptor.java
Labels: enhancement, module:plugin

#4559 [#4557] Change default hbase option
  collector/src/main/resources/applicationContext-hbase.xml
  collector/src/main/resources/hbase.properties
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/HBaseAsyncOperationFactory.java
  flink/src/main/resources/applicationContext-hbase.xml
  quickstart/collector/src/main/resources/hbase.properties
  web/src/main/resources/applicationContext-hbase.xml
Labels: configuration, module:collector
