Repository pinpoint-apm/pinpoint, pull requests merged in 2018-11, with the labels that each got.

#4831 [#4597] change default config in flinkCheckJob
  web/src/main/resources/batch/applicationContext-flinkCheckJob.xml
Labels: configuration, module:web

#4832 [#noissue] Add IOUtils
  profiler-test/src/main/java/com/navercorp/pinpoint/test/classloader/TransformClassLoader.java
  profiler-test/src/main/java/com/navercorp/pinpoint/test/util/BytecodeUtils.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/instrument/ASMClassNodeAdapter.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/instrument/ASMClassWriter.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/instrument/classreading/ClassReaderWrapper.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/util/IOUtils.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/instrument/ASMAspectWeaverTest.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/instrument/ASMClassNodeLoader.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/util/BytecodeUtils.java
Labels: module:agent

#4845 [#4841] Change the version of hbase client library
  pom.xml
Labels: bug, module:project-common

#4844 [#4843] Add LettucePlugin
  plugins/bom/pom.xml
  plugins/redis/pom.xml
  plugins/redis/src/main/java/com/navercorp/pinpoint/plugin/redis/LettuceMethodNameFilter.java
  plugins/redis/src/main/java/com/navercorp/pinpoint/plugin/redis/jedis/JedisMethodNameFilter.java
  plugins/redis/src/main/java/com/navercorp/pinpoint/plugin/redis/jedis/RedisPlugin.java
  plugins/redis/src/main/java/com/navercorp/pinpoint/plugin/redis/jedis/interceptor/AttachEndPointInterceptor.java
  plugins/redis/src/main/java/com/navercorp/pinpoint/plugin/redis/jedis/interceptor/JedisMethodInterceptor.java
  plugins/redis/src/main/java/com/navercorp/pinpoint/plugin/redis/jedis/interceptor/ProtocolSendCommandAndReadMethodInterceptor.java
  plugins/redis/src/main/java/com/navercorp/pinpoint/plugin/redis/jedis/interceptor/SetEndPointInterceptor.java
  plugins/redis/src/main/java/com/navercorp/pinpoint/plugin/redis/lettuce/LettucePlugin.java
  plugins/redis/src/main/java/com/navercorp/pinpoint/plugin/redis/lettuce/StatefulConnectionGetter.java
  plugins/redis/src/main/java/com/navercorp/pinpoint/plugin/redis/lettuce/interceptor/AttachEndPointInterceptor.java
  plugins/redis/src/main/java/com/navercorp/pinpoint/plugin/redis/lettuce/interceptor/LettuceMethodInterceptor.java
  plugins/redis/src/main/java/com/navercorp/pinpoint/plugin/redis/lettuce/interceptor/RedisClientConstructorInterceptor.java
  plugins/redis/src/main/resources/META-INF/services/com.navercorp.pinpoint.bootstrap.plugin.ProfilerPlugin
Labels: enhancement, module:plugin

#4858 [#4737] Refactor Mongodb plugin
  plugins/mongodb/pom.xml
  plugins/mongodb/src/main/java/com/navercorp/pinpoint/plugin/mongo/MongoUtil.java
  plugins/mongodb/src/main/java/com/navercorp/pinpoint/plugin/mongo/MongoWriteConcernMapper.java
  plugins/mongodb/src/main/java/com/navercorp/pinpoint/plugin/mongo/StringJoiner.java
  plugins/mongodb/src/test/java/com/navercorp/pinpoint/plugin/mongo/MongoUtilTest.java
  plugins/mongodb/src/test/java/com/navercorp/pinpoint/plugin/mongo/StringJoinerTest.java
  plugins/mongodb/src/test/resources/log4j.xml
Labels: module:plugin

#4856 [#4852] Change Zookeeper Client management to use Curator
  collector/src/main/java/com/navercorp/pinpoint/collector/cluster/flink/FlinkClusterService.java
  collector/src/main/java/com/navercorp/pinpoint/collector/cluster/zookeeper/DefaultZookeeperClient.java
  collector/src/main/java/com/navercorp/pinpoint/collector/cluster/zookeeper/ZookeeperClient.java
  collector/src/main/java/com/navercorp/pinpoint/collector/cluster/zookeeper/ZookeeperClusterManager.java
  collector/src/main/java/com/navercorp/pinpoint/collector/cluster/zookeeper/ZookeeperClusterService.java
  collector/src/main/java/com/navercorp/pinpoint/collector/cluster/zookeeper/ZookeeperJobWorker.java
  collector/src/main/java/com/navercorp/pinpoint/collector/cluster/zookeeper/ZookeeperProfilerClusterManager.java
  collector/src/main/java/com/navercorp/pinpoint/collector/cluster/zookeeper/ZookeeperUtils.java
  collector/src/test/java/com/navercorp/pinpoint/collector/cluster/zookeeper/ZookeeperJobWorkerTest.java
  commons-server/pom.xml
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/cluster/zookeeper/CuratorZookeeperClient.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/cluster/zookeeper/CuratorZookeeperConnectionManager.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/cluster/zookeeper/PinpointZookeeperConnectionStateListener.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/cluster/zookeeper/ZookeeperClient.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/cluster/zookeeper/ZookeeperConnectionManager.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/cluster/zookeeper/ZookeeperConstants.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/cluster/zookeeper/ZookeeperExceptionResolver.java
  commons-server/src/test/java/com/navercorp/pinpoint/common/server/cluster/zookeeper/ConnectionTest.java
  commons-server/src/test/java/com/navercorp/pinpoint/common/server/cluster/zookeeper/CuratorZookeeperClientTest.java
  commons-server/src/test/java/com/navercorp/pinpoint/common/server/util/TestAwaitTaskUtils.java
  commons-server/src/test/java/com/navercorp/pinpoint/common/server/util/TestAwaitUtils.java
  flink/src/main/java/com/navercorp/pinpoint/flink/cluster/FlinkServerRegister.java
  pom.xml
  web/src/main/java/com/navercorp/pinpoint/web/cluster/CollectorClusterInfoRepository.java
  web/src/main/java/com/navercorp/pinpoint/web/cluster/zookeeper/ZookeeperClient.java
  web/src/main/java/com/navercorp/pinpoint/web/cluster/zookeeper/ZookeeperClusterDataManager.java
  web/src/main/java/com/navercorp/pinpoint/web/cluster/zookeeper/ZookeeperClusterDataManagerHelper.java
  web/src/main/java/com/navercorp/pinpoint/web/cluster/zookeeper/ZookeeperUtils.java
Labels: enhancement, module:project-common

#4868 [#4852] Change Zookeeper Client management to use Curator
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/cluster/zookeeper/CuratorZookeeperConnectionManager.java
Labels: enhancement, module:project-common

#4886 [#noissue] Fix occasionally test failure
  commons-server/src/test/java/com/navercorp/pinpoint/common/server/cluster/zookeeper/CuratorZookeeperClientTest.java
Labels: module:test

#4887 #4702 ASM version update
  pom.xml
  profiler-optional/profiler-optional-jdk7/pom.xml
  profiler-test/pom.xml
  profiler/pom.xml
Labels: module:agent

#4889 [#4802] javassist dependency cleanup
  profiler/pom.xml
Labels: module:agent

#4899 [#4898] Fixed to read jar added to bootstrap cl
  plugins/spring/src/main/java/com/navercorp/pinpoint/plugin/spring/beans/SpringBeansPlugin.java
  profiler-optional/profiler-optional-jdk8/src/test/java/com/navercorp/test/pinpoint/jdk8/interfaces/MethodInterfaceTest.java
  profiler-test/src/main/java/com/navercorp/pinpoint/test/TestProfilerPluginClassLoader.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/module/config/ConfigModule.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/PluginContextLoadResultProvider.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/plugin/ProfilerPluginLoader.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/instrument/ASMClass.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/instrument/ASMClassNodeAdapter.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/instrument/BootstrapPackage.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/instrument/classloading/BootstrapClassLoaderHandler.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/instrument/classloading/BootstrapCore.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/instrument/classloading/ClassInjector.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/instrument/classloading/ClassInjectorFactory.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/instrument/classloading/DebugTransformerClassInjector.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/instrument/classloading/JarProfilerPluginClassInjector.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/instrument/classloading/PlainClassLoaderHandler.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/instrument/classloading/URLClassLoaderHandler.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/instrument/scanner/ClassLoaderScanner.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/instrument/scanner/DirectoryScanner.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/instrument/scanner/JarFileRepository.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/instrument/scanner/JarFileScanner.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/instrument/scanner/Scanner.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/plugin/DefaultPluginContextLoadResult.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/plugin/DefaultPluginSetup.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/plugin/PluginInstrumentContext.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/instrument/ASMClassNodeAdapterTest.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/instrument/classloading/JarProfilerPluginClassInjectorTest.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/instrument/classloading/PlainClassLoaderHandlerTest.java
Labels: bug, module:agent

#4909 [#4737] code cleanup & bug fix
  plugins/mongodb/src/main/java/com/navercorp/pinpoint/plugin/mongo/MongoUtil.java
Labels: module:plugin

#4916 [#noissue] Change handling method if method is not available
  plugins/netty/src/main/java/com/navercorp/pinpoint/plugin/netty/NettyPlugin.java
Labels: cleanup, module:plugin
