Repository pinpoint-apm/pinpoint, pull requests merged in 2018-06, with the labels that each got.

#4174 [#4127] bug fix
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/AgentEventHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/AgentInfoHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/AgentStatHandlerV2.java
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/SpanChunkHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/SpanHandler.java
  collector/src/test/java/com/navercorp/pinpoint/collector/receiver/DispatchHandlerTest.java
Labels: bug, module:collector

#4185 [#github_4182] Makes each PinpointServer has its own ServerMessageLis…
  collector/src/main/java/com/navercorp/pinpoint/collector/cluster/connection/ClusterServerMessageListenerFactory.java
  collector/src/main/java/com/navercorp/pinpoint/collector/cluster/connection/CollectorClusterAcceptor.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/tcp/AgentBaseDataReceiver.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/tcp/AgentBaseDataReceiverServerMessageListenerFactory.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/tcp/TCPReceiver.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/tcp/TCPReceiverServerMessageListenerFactory.java
  collector/src/test/java/com/navercorp/pinpoint/collector/receiver/tcp/TCPReceiverTest.java
  profiler/pom.xml
  profiler/src/test/java/com/navercorp/pinpoint/profiler/AgentInfoSenderTest.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/sender/TcpDataSenderReconnectTest.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/sender/TcpDataSenderTest.java
  rpc/src/main/java/com/navercorp/pinpoint/rpc/server/LoggingServerMessageListenerFactory.java
  rpc/src/main/java/com/navercorp/pinpoint/rpc/server/PinpointServerAcceptor.java
  rpc/src/main/java/com/navercorp/pinpoint/rpc/server/ServerMessageListenerFactory.java
  rpc/src/main/java/com/navercorp/pinpoint/rpc/server/SimpleServerMessageListener.java
  rpc/src/test/java/com/navercorp/pinpoint/rpc/client/ClientMessageListenerTest.java
  rpc/src/test/java/com/navercorp/pinpoint/rpc/client/HealthCheckTest.java
  rpc/src/test/java/com/navercorp/pinpoint/rpc/client/PinpointClientFactoryTest.java
  rpc/src/test/java/com/navercorp/pinpoint/rpc/client/PinpointClientStateTest.java
  rpc/src/test/java/com/navercorp/pinpoint/rpc/client/ReconnectTest.java
  rpc/src/test/java/com/navercorp/pinpoint/rpc/server/ControlPacketServerTest.java
  rpc/src/test/java/com/navercorp/pinpoint/rpc/server/CountCheckServerMessageListenerFactory.java
  rpc/src/test/java/com/navercorp/pinpoint/rpc/server/EchoServerMessageListenerFactory.java
  rpc/src/test/java/com/navercorp/pinpoint/rpc/server/EventHandlerTest.java
  rpc/src/test/java/com/navercorp/pinpoint/rpc/server/HandshakeTest.java
  rpc/src/test/java/com/navercorp/pinpoint/rpc/server/HandshakeVerifyMessageListenerFactory.java
  rpc/src/test/java/com/navercorp/pinpoint/rpc/server/PinpointServerStateTest.java
  rpc/src/test/java/com/navercorp/pinpoint/rpc/stream/StreamChannelManagerTest.java
  rpc/src/test/java/com/navercorp/pinpoint/rpc/util/PinpointRPCTestUtils.java
  web/src/main/java/com/navercorp/pinpoint/web/cluster/connection/ClusterAcceptor.java
  web/src/main/java/com/navercorp/pinpoint/web/cluster/connection/ClusterAcceptorMessageListenerFactory.java
Labels: enhancement, module:project-common

#4189 [#4188] Add jar location for debugging
  profiler/src/main/java/com/navercorp/pinpoint/profiler/BaseClassFileTransformer.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/util/LocationUtils.java
Labels: enhancement, module:agent

#4194 [#4190] Improve IBM J9 compatibility
  bootstrap-core-optional/src/main/java/com/navercorp/pinpoint/bootstrap/classloader/ParallelClassLoader.java
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/classloader/BootLoaderFactory.java
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/classloader/J9BootLoader.java
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/classloader/Java6ClassLoader.java
  bootstrap-core/src/test/java/com/navercorp/pinpoint/bootstrap/classloader/BootLoaderTest.java
Labels: enhancement, module:agent

#4191 [#github_4127] Allows ServerRequest to be handled in RequestResponseH…
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/AgentInfoHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/ApiMetaDataHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/RequestResponseHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/SqlMetaDataHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/StringMetaDataHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/AbstractDispatchHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/DispatchHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/DispatchHandlerWrapper.java
  collector/src/test/java/com/navercorp/pinpoint/collector/receiver/DataReceiverGroupTest.java
  collector/src/test/java/com/navercorp/pinpoint/collector/receiver/DispatchHandlerTest.java
Labels: enhancement, module:collector

#4200 [#github_4199] Change TCPReceiver to interface
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/TCPReceiverBean.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/tcp/DefaultTCPReceiver.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/tcp/TCPReceiver.java
Labels: enhancement, module:collector

#4201 [#4081] java9 module system support
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/module/JavaModuleFactory.java
  bootstrap-java9/src/main/java/com/navercorp/pinpoint/bootstrap/java9/module/DefaultJavaModuleFactory.java
  bootstrap-java9/src/main/java/com/navercorp/pinpoint/bootstrap/java9/module/RedefineModuleUtils.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/javamodule/ClassFileTransformerModuleHandler.java
Labels: module:agent

#4206 [#4205] Refactor InterceptorInvokerHelper
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/interceptor/ExceptionHandleApiIdAwareAroundInterceptor.java
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/interceptor/ExceptionHandleAroundInterceptor.java
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/interceptor/ExceptionHandleAroundInterceptor0.java
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/interceptor/ExceptionHandleAroundInterceptor1.java
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/interceptor/ExceptionHandleAroundInterceptor2.java
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/interceptor/ExceptionHandleAroundInterceptor3.java
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/interceptor/ExceptionHandleAroundInterceptor4.java
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/interceptor/ExceptionHandleAroundInterceptor5.java
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/interceptor/ExceptionHandleStaticAroundInterceptor.java
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/interceptor/ExceptionHandler.java
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/interceptor/InterceptorInvokerHelper.java
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/interceptor/scope/ExceptionHandleScopedApiIdAwareAroundInterceptor.java
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/interceptor/scope/ExceptionHandleScopedInterceptor.java
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/interceptor/scope/ExceptionHandleScopedInterceptor0.java
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/interceptor/scope/ExceptionHandleScopedInterceptor1.java
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/interceptor/scope/ExceptionHandleScopedInterceptor2.java
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/interceptor/scope/ExceptionHandleScopedInterceptor3.java
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/interceptor/scope/ExceptionHandleScopedInterceptor4.java
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/interceptor/scope/ExceptionHandleScopedInterceptor5.java
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/interceptor/scope/ExceptionHandleScopedStaticAroundInterceptor.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/DefaultAgent.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/module/ApplicationContextModule.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/ExceptionHandlerFactoryProvider.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/ObjectBinderFactoryProvider.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/instrument/ASMMethod.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/instrument/JavassistMethod.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/instrument/interceptor/InvokeAfterCodeGenerator.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/instrument/interceptor/InvokeBeforeCodeGenerator.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/instrument/interceptor/InvokeCodeGenerator.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/interceptor/factory/AnnotatedInterceptorFactory.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/interceptor/factory/ExceptionHandlerFactory.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/interceptor/factory/GuardExceptionHandler.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/interceptor/factory/RethrowExceptionHandler.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/objectfactory/ObjectBinderFactory.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/instrument/ASMClassTest.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/instrument/ASMMethodNodeAdapterAddInterceptorTest.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/plugin/AnnotatedInterceptorFactoryTest.java
Labels: module:agent

#4207 [#4081] java9 module system support
  bootstrap-java9/src/main/java/com/navercorp/pinpoint/bootstrap/java9/module/ModuleSupport.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/javamodule/ClassFileTransformerModuleHandler.java
Labels: module:agent

#4279 [#noissue] cleanup collector's zookeepr code
  collector/src/main/java/com/navercorp/pinpoint/collector/cluster/zookeeper/DefaultZookeeperClient.java
  collector/src/main/java/com/navercorp/pinpoint/collector/cluster/zookeeper/ZookeeperClient.java
  collector/src/main/java/com/navercorp/pinpoint/collector/cluster/zookeeper/ZookeeperJobWorker.java
  collector/src/main/java/com/navercorp/pinpoint/collector/cluster/zookeeper/ZookeeperUtils.java
  collector/src/test/java/com/navercorp/pinpoint/collector/cluster/zookeeper/ZookeeperJobWorkerTest.java
Labels: cleanup

#4281 [#noissue] cleanup spring bean name
  collector/src/main/resources/applicationContext-collector.xml
Labels: cleanup, module:collector

#4295 [#4293] Fix Class conflicts
  web/pom.xml
Labels: bug, module:web

#4307 [#4271] Rename RequestTrace to RequestWrapper
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/plugin/RequestWrapper.java
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/plugin/proxy/ProxyHttpHeaderRecorder.java
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/plugin/request/ClientRequestRecorder.java
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/plugin/request/ClientRequestWrapper.java
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/plugin/request/RequestTraceReader.java
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/plugin/request/RequestTraceWriter.java
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/plugin/request/ServerRequestRecorder.java
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/plugin/request/ServerRequestWrapper.java
  bootstrap-core/src/test/java/com/navercorp/pinpoint/bootstrap/plugin/proxy/ProxyHttpHeaderRecorderTest.java
  bootstrap-core/src/test/java/com/navercorp/pinpoint/bootstrap/plugin/request/RequestWrapperReaderTest.java
  bootstrap-core/src/test/java/com/navercorp/pinpoint/bootstrap/plugin/request/ServerRequestRecorderTest.java
  plugins/httpclient3/src/main/java/com/navercorp/pinpoint/plugin/httpclient3/HttpClient3RequestWrapper.java
  plugins/httpclient3/src/main/java/com/navercorp/pinpoint/plugin/httpclient3/interceptor/HttpMethodBaseExecuteMethodInterceptor.java
  plugins/httpclient4/src/main/java/com/navercorp/pinpoint/plugin/httpclient4/HttpClient4RequestWrapper.java
  plugins/httpclient4/src/main/java/com/navercorp/pinpoint/plugin/httpclient4/interceptor/DefaultClientExchangeHandlerImplStartMethodInterceptor.java
  plugins/httpclient4/src/main/java/com/navercorp/pinpoint/plugin/httpclient4/interceptor/HttpRequestExecutorExecuteMethodInterceptor.java
  plugins/jboss/src/main/java/com/navercorp/pinpoint/plugin/jboss/JbossServerRequestWrapper.java
  plugins/jboss/src/main/java/com/navercorp/pinpoint/plugin/jboss/interceptor/StandardHostValveInvokeInterceptor.java
  plugins/jdk-http/src/main/java/com/navercorp/pinpoint/plugin/jdk/http/JdkHttpClientRequestWrapper.java
  plugins/jdk-http/src/main/java/com/navercorp/pinpoint/plugin/jdk/http/interceptor/HttpURLConnectionInterceptor.java
  plugins/jetty/src/main/java/com/navercorp/pinpoint/plugin/jetty/JettyServerRequestWrapper.java
  plugins/jetty/src/main/java/com/navercorp/pinpoint/plugin/jetty/interceptor/AbstractServerHandleInterceptor.java
  plugins/jetty/src/main/java/com/navercorp/pinpoint/plugin/jetty/interceptor/Jetty8ServerHandleInterceptor.java
  plugins/jetty/src/main/java/com/navercorp/pinpoint/plugin/jetty/interceptor/Jetty8xServerHandleInterceptor.java
  plugins/jetty/src/main/java/com/navercorp/pinpoint/plugin/jetty/interceptor/ServerHandleInterceptor.java
  plugins/netty/src/main/java/com/navercorp/pinpoint/plugin/netty/NettyClientRequestWrapper.java
  plugins/netty/src/main/java/com/navercorp/pinpoint/plugin/netty/interceptor/http/HttpEncoderInterceptor.java
  plugins/ning-asynchttpclient/src/main/java/com/navercorp/pinpoint/plugin/ning/asynchttpclient/NingAsyncHttpClientRequestWrapperV1.java
  plugins/ning-asynchttpclient/src/main/java/com/navercorp/pinpoint/plugin/ning/asynchttpclient/NingAsyncHttpClientRequestWrapperV2.java
  plugins/ning-asynchttpclient/src/main/java/com/navercorp/pinpoint/plugin/ning/asynchttpclient/interceptor/ExecuteInterceptor.java
  plugins/ning-asynchttpclient/src/main/java/com/navercorp/pinpoint/plugin/ning/asynchttpclient/interceptor/ExecuteRequestInterceptor.java
  plugins/okhttp/src/main/java/com/navercorp/pinpoint/plugin/okhttp/v2/OkHttpClientRequestBuilderWrapper.java
  plugins/okhttp/src/main/java/com/navercorp/pinpoint/plugin/okhttp/v2/OkHttpClientRequestWrapper.java
  plugins/okhttp/src/main/java/com/navercorp/pinpoint/plugin/okhttp/v2/interceptor/AbstractRequestBuilderBuildMethodInterceptor.java
  plugins/okhttp/src/main/java/com/navercorp/pinpoint/plugin/okhttp/v2/interceptor/HttpEngineSendRequestMethodInterceptor.java
  plugins/okhttp/src/main/java/com/navercorp/pinpoint/plugin/okhttp/v3/OkHttpClientRequestBuilderWrapper.java
  plugins/okhttp/src/main/java/com/navercorp/pinpoint/plugin/okhttp/v3/OkHttpClientRequestWrapper.java
  plugins/okhttp/src/main/java/com/navercorp/pinpoint/plugin/okhttp/v3/interceptor/BridgeInterceptorInterceptMethodInterceptor.java
  plugins/okhttp/src/main/java/com/navercorp/pinpoint/plugin/okhttp/v3/interceptor/HttpEngineSendRequestMethodInterceptor.java
  plugins/okhttp/src/main/java/com/navercorp/pinpoint/plugin/okhttp/v3/interceptor/RequestBuilderBuildMethodInterceptor.java
  plugins/resin/src/main/java/com/navercorp/pinpoint/plugin/resin/ResinServerRequestWrapper.java
  plugins/resin/src/main/java/com/navercorp/pinpoint/plugin/resin/interceptor/ServletInvocationInterceptor.java
  plugins/tomcat/src/main/java/com/navercorp/pinpoint/plugin/tomcat/TomcatServerRequestWrapper.java
  plugins/tomcat/src/main/java/com/navercorp/pinpoint/plugin/tomcat/interceptor/StandardHostValveInvokeInterceptor.java
  plugins/vertx/src/main/java/com/navercorp/pinpoint/plugin/vertx/VertxHttpClientRequestWrapper.java
  plugins/vertx/src/main/java/com/navercorp/pinpoint/plugin/vertx/VertxHttpServerServerRequestWrapper.java
  plugins/vertx/src/main/java/com/navercorp/pinpoint/plugin/vertx/interceptor/HttpClientImplDoRequestInterceptor.java
  plugins/vertx/src/main/java/com/navercorp/pinpoint/plugin/vertx/interceptor/HttpClientStreamInterceptor.java
  plugins/vertx/src/main/java/com/navercorp/pinpoint/plugin/vertx/interceptor/ServerConnectionHandleRequestInterceptor.java
  plugins/weblogic/src/main/java/com/navercorp/pinpoint/plugin/weblogic/WeblogicServerRequestWrapper.java
  plugins/weblogic/src/main/java/com/navercorp/pinpoint/plugin/weblogic/interceptor/AbstractServerHandleInterceptor.java
  plugins/websphere/src/main/java/com/navercorp/pinpoint/plugin/websphere/WebsphereServerRequestWrapper.java
  plugins/websphere/src/main/java/com/navercorp/pinpoint/plugin/websphere/interceptor/AbstractServerHandleInterceptor.java
Labels: enhancement, module:plugin
