Repository pinpoint-apm/pinpoint, pull requests merged in 2019-11, with the labels that each got.

#6149 [#fix] Fix problems that are not traced
  plugins/kafka/src/main/java/com/navercorp/pinpoint/plugin/kafka/interceptor/ConsumerRecordEntryPointInterceptor.java
Labels: bug, module:plugin

#6151 [#6150] Adds support Kafka 2.2.0+
  plugins/kafka/src/main/java/com/navercorp/pinpoint/plugin/kafka/KafkaPlugin.java
  plugins/kafka/src/main/java/com/navercorp/pinpoint/plugin/kafka/interceptor/ProducerConstructorInterceptor.java
Labels: enhancement, module:plugin

#6153 [#6152] Allows to set queueSize in the TcpDataSender
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/thrift/SpanDataSenderProvider.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/thrift/StatDataSenderProvider.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/sender/TcpDataSender.java
Labels: bug, module:agent

#6154 [#backport] Fix problems that are not traced
  plugins/kafka/src/main/java/com/navercorp/pinpoint/plugin/kafka/interceptor/ConsumerRecordEntryPointInterceptor.java
Labels: bug, module:plugin

#6155 [#backport] Adds support Kafka 2.2.0+
  plugins/kafka/src/main/java/com/navercorp/pinpoint/plugin/kafka/KafkaPlugin.java
  plugins/kafka/src/main/java/com/navercorp/pinpoint/plugin/kafka/interceptor/ProducerConstructorInterceptor.java
Labels: enhancement, module:plugin

#6158 [#backport] Allows to set queueSize in the TcpDataSender
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/SpanDataSenderProvider.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/StatDataSenderProvider.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/sender/TcpDataSender.java
Labels: bug, module:agent

#6171 [#6156] Configuration cleanup
  flink/src/main/java/com/navercorp/pinpoint/flink/config/FlinkConfiguration.java
  flink/src/main/resources/applicationContext-flink.xml
Labels: module:flink

#6208 [#6156] set default value for `flink.cluster.enable`
  collector/src/main/java/com/navercorp/pinpoint/collector/config/FlinkConfiguration.java
  flink/src/main/java/com/navercorp/pinpoint/flink/config/FlinkConfiguration.java
Labels: enhancement, module:collector

#6212 [#6210] Remove agent project in quickstart
  quickstart/agent/pom.xml
  quickstart/agent/src/assembly/distribution.xml
  quickstart/agent/src/main/resources/lib/log4j.xml
  quickstart/bin/quickstart.cmd
  quickstart/bin/start-testapp.sh
  quickstart/conf/pinpoint.config
  quickstart/testapp/pom.xml
Labels: cleanup, module:project-common

#6214 [#4558] Enhance missing exception handling
  profiler/src/main/java/com/navercorp/pinpoint/profiler/sender/grpc/ReconnectExecutor.java
Labels: bug, module:agent

#6219 [#4558] change default transport type
  agent/src/main/resources-local/pinpoint.config
  agent/src/main/resources-release/pinpoint.config
  quickstart/collector/pom.xml
  quickstart/collector/src/main/resources/log4j.xml
  quickstart/conf/pinpoint.config
Labels: configuration, module:agent

#6233 [#cleanup] cleanup duplicate code
  plugins/fastjson/src/main/java/com/navercorp/pinpoint/plugin/fastjson/interceptor/ParseArrayInterceptor.java
  plugins/fastjson/src/main/java/com/navercorp/pinpoint/plugin/fastjson/interceptor/ParseInterceptor.java
  plugins/fastjson/src/main/java/com/navercorp/pinpoint/plugin/fastjson/interceptor/ToJavaObjectInterceptor.java
  plugins/fastjson/src/main/java/com/navercorp/pinpoint/plugin/fastjson/interceptor/ToJsonBytesInterceptor.java
  plugins/fastjson/src/main/java/com/navercorp/pinpoint/plugin/fastjson/interceptor/ToJsonInterceptor.java
  plugins/fastjson/src/main/java/com/navercorp/pinpoint/plugin/fastjson/interceptor/ToJsonStringInterceptor.java
  plugins/fastjson/src/main/java/com/navercorp/pinpoint/plugin/fastjson/interceptor/WriteJsonStringInterceptor.java
  plugins/jackson/src/main/java/com/navercorp/pinpoint/plugin/jackson/interceptor/WriteValueAsBytesInterceptor.java
  plugins/json-lib/src/main/java/com/navercorp/pinpoint/plugin/json_lib/interceptor/ParsingInterceptor.java
  plugins/json-lib/src/main/java/com/navercorp/pinpoint/plugin/json_lib/interceptor/ToStringInterceptor.java
  plugins/netty/src/main/java/com/navercorp/pinpoint/plugin/netty/interceptor/BootstrapConnectInterceptor.java
  plugins/netty/src/main/java/com/navercorp/pinpoint/plugin/netty/interceptor/ChannelPromiseAddListenerInterceptor.java
Labels: cleanup, module:plugin

#6234 [#cleanup] cleanup duplicate code
  plugins/google-httpclient/src/main/java/com/navercorp/pinpoint/plugin/google/httpclient/interceptor/HttpRequestExecuteAsyncMethodInterceptor.java
  plugins/httpclient3/src/main/java/com/navercorp/pinpoint/plugin/httpclient3/interceptor/ExecuteInterceptor.java
  plugins/httpclient3/src/main/java/com/navercorp/pinpoint/plugin/httpclient3/interceptor/RetryMethodInterceptor.java
  plugins/httpclient4/src/main/java/com/navercorp/pinpoint/plugin/httpclient4/interceptor/DefaultHttpRequestRetryHandlerRetryRequestMethodInterceptor.java
  plugins/httpclient4/src/main/java/com/navercorp/pinpoint/plugin/httpclient4/interceptor/HttpAsyncClientExecuteMethodInterceptor.java
  plugins/jboss/src/main/java/com/navercorp/pinpoint/plugin/jboss/interceptor/RequestStartAsyncInterceptor.java
  plugins/resin/src/main/java/com/navercorp/pinpoint/plugin/resin/interceptor/HttpServletRequestImplInterceptor.java
  plugins/spring/src/main/java/com/navercorp/pinpoint/plugin/spring/async/interceptor/AsyncTaskExecutorSubmitInterceptor.java
  plugins/undertow-servlet/src/main/java/com/navercorp/pinpoint/plugin/undertowservlet/interceptor/HttpServletRequestImplStartAsyncInterceptor.java
  plugins/vertx/src/main/java/com/navercorp/pinpoint/plugin/vertx/interceptor/ContextImplExecuteBlockingInterceptor.java
  plugins/vertx/src/main/java/com/navercorp/pinpoint/plugin/vertx/interceptor/ContextImplRunOnContextInterceptor.java
  plugins/weblogic/src/main/java/com/navercorp/pinpoint/plugin/weblogic/interceptor/ServletRequestImplStartAsyncInterceptor.java
  plugins/websphere/src/main/java/com/navercorp/pinpoint/plugin/websphere/interceptor/WCCRequestImplStartAsyncInterceptor.java
Labels: cleanup, module:plugin

#6242 [#cleanup] remove disabled setting
  collector/src/main/resources/servlet-context.xml
Labels: configuration, module:collector

#6246 [#cleanup] remove unnecessary code
  plugins/mongodb/src/main/java/com/navercorp/pinpoint/plugin/mongo/interceptor/MongoCUDSessionInterceptor.java
  plugins/mongodb/src/main/java/com/navercorp/pinpoint/plugin/mongo/interceptor/MongoRSessionInterceptor.java
Labels: cleanup, module:plugin

#6250 [#6249] add interface to hdfs security logic
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/ConnectionFactoryBean.java
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/EmptyHbaseSecurityInterceptor.java
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/HbaseSecurityInterceptor.java
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/HbaseSecurityInterceptorFactory.java
  web/src/main/resources/applicationContext-web-hbase.xml
Labels: enhancement, module:project-common
