Repository pinpoint-apm/pinpoint, pull requests merged in 2019-10, with the labels that each got.

#6049 [#fixtest] fix plugin test
  agent-it/src/test/java/com/navercorp/pinpoint/plugin/jdk7/rabbitmq/spring/SpringAmqpRabbit_2_1_x_to_2_x_IT.java
Labels: module:test

#6051 [#fixtest] fix plugin test's version range
  agent-it/src/test/java/com/navercorp/pinpoint/plugin/hikaricp/HikariCpIT.java
  agent-it/src/test/java/com/navercorp/pinpoint/plugin/jdk7/rabbitmq/spring/SpringAmqpRabbit_2_1_x_to_2_x_IT.java
Labels: module:test

#6052 [#fixtest] fix plugin test's version range
  agent-it/src/test/java/com/navercorp/pinpoint/plugin/hikaricp/HikariCpIT.java
Labels: module:test

#6073 [#noissue] Add grpc config
  agent/src/main/resources-release/pinpoint-real-env-lowoverhead-sample.config
  agent/src/main/resources-release/pinpoint.config
  collector/src/main/resources/pinpoint-collector.properties
Labels: enhancement, module:agent

#6097 [#4558] Upgrade grpc-java netty version to 4.1.42
  collector/src/test/java/com/navercorp/pinpoint/collector/receiver/grpc/SpanServerTestMain.java
  grpc/pom.xml
Labels: enhancement, module:agent, module:collector

#6069 add missing server map icon for UI v2
  web/src/main/webapp/images/servermap/PHP.png
  web/src/main/webapp/images/servermap/QUEUE.png
  web/src/main/webapp/images/servermap/QUEUE_GROUP.png
  web/src/main/webapp/v2/src/assets/img/servermap/ACTIVEMQ_CLIENT.png
  web/src/main/webapp/v2/src/assets/img/servermap/APACHE.png
  web/src/main/webapp/v2/src/assets/img/servermap/ARCUS.png
  web/src/main/webapp/v2/src/assets/img/servermap/BACKEND.png
  web/src/main/webapp/v2/src/assets/img/servermap/BLOC.png
  web/src/main/webapp/v2/src/assets/img/servermap/CASSANDRA.png
  web/src/main/webapp/v2/src/assets/img/servermap/COUCHDB.png
  web/src/main/webapp/v2/src/assets/img/servermap/COUCHDB_GROUP.png
  web/src/main/webapp/v2/src/assets/img/servermap/CUBRID.png
  web/src/main/webapp/v2/src/assets/img/servermap/DUBBO.png
  web/src/main/webapp/v2/src/assets/img/servermap/DUBBO_PROVIDER.png
  web/src/main/webapp/v2/src/assets/img/servermap/DUBBO_PROVIDER_GROUP.png
  web/src/main/webapp/v2/src/assets/img/servermap/ERROR.png
  web/src/main/webapp/v2/src/assets/img/servermap/FILTER.png
  web/src/main/webapp/v2/src/assets/img/servermap/FILTER_s.png
  web/src/main/webapp/v2/src/assets/img/servermap/HBASE_CLIENT_GROUP.png
  web/src/main/webapp/v2/src/assets/img/servermap/JAVA.png
  web/src/main/webapp/v2/src/assets/img/servermap/JBOSS.png
  web/src/main/webapp/v2/src/assets/img/servermap/JETTY.png
  web/src/main/webapp/v2/src/assets/img/servermap/MARIADB.png
  web/src/main/webapp/v2/src/assets/img/servermap/MEMCACHED.png
  web/src/main/webapp/v2/src/assets/img/servermap/MONGO.png
  web/src/main/webapp/v2/src/assets/img/servermap/MONGODB.png
  web/src/main/webapp/v2/src/assets/img/servermap/MONGO_GROUP.png
  web/src/main/webapp/v2/src/assets/img/servermap/MSSQLSERVER.png
  web/src/main/webapp/v2/src/assets/img/servermap/NBASE.png
  web/src/main/webapp/v2/src/assets/img/servermap/NBASE_ARC.png
  web/src/main/webapp/v2/src/assets/img/servermap/NBASE_T.png
  web/src/main/webapp/v2/src/assets/img/servermap/NGINX.png
  web/src/main/webapp/v2/src/assets/img/servermap/NODE_GROUP.png
  web/src/main/webapp/v2/src/assets/img/servermap/OPENWHISK_CONTROLLER_GROUP.png
  web/src/main/webapp/v2/src/assets/img/servermap/OPENWHISK_INVOKER_GROUP.png
  web/src/main/webapp/v2/src/assets/img/servermap/ORACLE.png
  web/src/main/webapp/v2/src/assets/img/servermap/PHP.png
  web/src/main/webapp/v2/src/assets/img/servermap/POSTGRESQL.png
  web/src/main/webapp/v2/src/assets/img/servermap/QUEUE.png
  web/src/main/webapp/v2/src/assets/img/servermap/QUEUE_GROUP.png
  web/src/main/webapp/v2/src/assets/img/servermap/REDIS.png
  web/src/main/webapp/v2/src/assets/img/servermap/SPRING_BOOT.png
  web/src/main/webapp/v2/src/assets/img/servermap/TOMCAT.png
  web/src/main/webapp/v2/src/assets/img/servermap/UNAUTHORIZED.png
  web/src/main/webapp/v2/src/assets/img/servermap/UNDEFINED.png
  web/src/main/webapp/v2/src/assets/img/servermap/UNKNOWN.png
  web/src/main/webapp/v2/src/assets/img/servermap/UNKNOWN_GROUP.png
  web/src/main/webapp/v2/src/assets/img/servermap/USER.png
Labels: waiting for review
