Repository pinpoint-apm/pinpoint, pull requests merged in 2019-05, with the labels that each got.

#5550 [#4558] Add Stream function in profiler module using grpc
  grpc/src/main/proto/Cmd.proto
  grpc/src/main/proto/Service.proto
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/thrift/CommandGrpcToThriftMessageConverter.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/thrift/CommandThriftToGrpcMessageConverter.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/receiver/grpc/ActiveThreadCountStreamSocket.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/receiver/grpc/GrpcActiveThreadCountService.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/receiver/grpc/GrpcCommandDispatcher.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/receiver/grpc/GrpcProfilerStreamSocket.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/receiver/grpc/GrpcStreamService.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/receiver/grpc/PinpointClientResponseObserver.java
Labels: enhancement, module:agent

#5553 [#4558] Add ClientStreamChannel for grpc
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/GrpcClientStreamChannel.java
  collector/src/test/java/com/navercorp/pinpoint/collector/receiver/grpc/GrpcClientStreamChannelTest.java
  rpc/src/main/java/com/navercorp/pinpoint/rpc/stream/AbstractStreamChannel.java
  rpc/src/main/java/com/navercorp/pinpoint/rpc/stream/NettyClientStreamChannel.java
  rpc/src/main/java/com/navercorp/pinpoint/rpc/stream/ServerStreamChannel.java
  rpc/src/main/java/com/navercorp/pinpoint/rpc/stream/StreamChannelManager.java
  rpc/src/main/java/com/navercorp/pinpoint/rpc/stream/StreamChannelState.java
Labels: enhancement, module:collector

#5556 [#noissue] fix test
  collector/src/test/java/com/navercorp/pinpoint/collector/receiver/grpc/GrpcClientStreamChannelTest.java
Labels: module:test

#5554 [#4558] Change stat-collector type of Agent
  profiler-test/src/test/java/com/navercorp/pinpoint/test/monitor/AgentStatMonitorTest.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/module/GrpcModule.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/module/StatConverter.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/module/ThriftModule.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/module/ThriftStatsModule.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/SpanDataSenderProvider.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/StatDataSenderProvider.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/stat/activethread/ActiveTraceMetricCollectorProvider.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/stat/buffer/BufferMetricCollectorProvider.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/stat/cpu/CpuLoadMetricCollectorProvider.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/stat/datasource/DataSourceMetricCollectorProvider.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/stat/deadlock/DeadlockMetricCollectorProvider.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/stat/filedescriptor/FileDescriptorMetricCollectorProvider.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/stat/jvmgc/JvmGcMetricCollectorProvider.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/stat/response/ResponseTimeMetricCollectorProvider.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/stat/transaction/TransactionMetricCollectorProvider.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/thrift/StatThriftMessageConverter.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/thrift/StatThriftMessageConverterProvider.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/thrift/ThreadDumpThriftMessageConverter.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/thrift/ThreadStateThriftMessageConverter.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/monitor/CollectJob.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/monitor/DefaultAgentStatMonitor.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/monitor/collector/AgentStatCollector.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/monitor/collector/activethread/DefaultActiveTraceMetricCollector.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/monitor/collector/buffer/DefaultBufferMetricCollector.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/monitor/collector/cpu/DefaultCpuLoadMetricCollector.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/monitor/collector/datasource/DefaultDataSourceMetricCollector.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/monitor/collector/deadlock/DefaultDeadlockMetricCollector.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/monitor/collector/filedescriptor/DefaultFileDescriptorMetricCollector.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/monitor/collector/jvmgc/BasicJvmGcMetricCollector.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/monitor/collector/jvmgc/DetailedJvmGcMetricCollector.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/monitor/collector/response/DefaultResponseTimeMetricCollector.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/monitor/collector/transaction/DefaultTransactionMetricCollector.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/monitor/metric/AgentStatMetricSnapshot.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/monitor/metric/AgentStatMetricSnapshotBatch.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/monitor/metric/JvmGcDetailedMetricSnapshot.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/monitor/metric/JvmGcMetricSnapshot.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/monitor/metric/datasource/DataSourceMetricSnapshot.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/monitor/metric/deadlock/DeadlockMetricSnapshot.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/monitor/metric/deadlock/MonitorInfoMetricSnapshot.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/monitor/metric/deadlock/ThreadDumpMetricSnapshot.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/receiver/service/ActiveThreadDumpService.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/receiver/service/ActiveThreadLightDumpService.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/sender/TcpDataSender.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/sender/UdpDataSenderFactory.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/util/ThreadDumpUtils.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/monitor/CollectJobTest.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/monitor/collector/response/DefaultResponseTimeMetricCollectorTest.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/util/ThreadDumpUtilsTest.java
  web/src/test/java/com/navercorp/pinpoint/web/view/AgentActiveThreadDumpListSerializerTest.java
  web/src/test/java/com/navercorp/pinpoint/web/vo/AgentActiveThreadDumpListTest.java
Labels: enhancement, module:agent

#5557 [#4558] Change AgentInfo type of Agent
  profiler/src/main/java/com/navercorp/pinpoint/profiler/AgentInfoSender.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/module/GrpcModule.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/module/ResultConverter.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/module/ThriftModule.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/AgentInfoSenderProvider.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/thrift/MetadataMessageConverter.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/thrift/ThriftMessageToResultConverter.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/thrift/ThriftMessageToResultConverterProvider.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/metadata/AgentInfo.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/sender/ResultResponse.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/util/AgentInfoFactory.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/AgentInfoSenderTest.java
Labels: enhancement, module:agent

#5567 [#4558] enhance grpc handler
  collector/src/main/java/com/navercorp/pinpoint/collector/cluster/GrpcAgentConnection.java
  collector/src/main/java/com/navercorp/pinpoint/collector/cluster/route/StreamRouteHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/PinpointGrpcServer.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/command/ActiveThreadCountService.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/command/EchoService.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/command/GrpcCommandService.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/command/GrpcSimpleCommandService.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/command/GrpcStreamCommandService.java
  collector/src/test/java/com/navercorp/pinpoint/collector/cluster/zookeeper/InMemoryZookeeperClient.java
  collector/src/test/java/com/navercorp/pinpoint/collector/cluster/zookeeper/ZookeeperJobWorkerTest.java
  collector/src/test/java/com/navercorp/pinpoint/collector/receiver/grpc/GrpcClientStreamChannelTest.java
  collector/src/test/java/com/navercorp/pinpoint/collector/receiver/grpc/PinpointGrpcServerTest.java
  collector/src/test/java/com/navercorp/pinpoint/collector/receiver/grpc/RecordedStreamObserver.java
  collector/src/test/java/com/navercorp/pinpoint/collector/receiver/grpc/command/GrpcCommandServiceTest.java
  rpc/src/main/java/com/navercorp/pinpoint/rpc/common/SocketState.java
  rpc/src/main/java/com/navercorp/pinpoint/rpc/stream/StreamChannelManager.java
  rpc/src/main/java/com/navercorp/pinpoint/rpc/stream/StreamChannelRepository.java
Labels: enhancement, module:collector

#5569 [#noissue] Fix hystrix api type
  plugins/hystrix/src/main/java/com/navercorp/pinpoint/plugin/hystrix/descriptor/HystrixCircuitBreakerMethodDescriptor.java
  plugins/hystrix/src/main/java/com/navercorp/pinpoint/plugin/hystrix/descriptor/HystrixCollapserMetricsMethodDescriptor.java
  plugins/hystrix/src/main/java/com/navercorp/pinpoint/plugin/hystrix/descriptor/HystrixCommandMetricsMethodDescriptor.java
  plugins/hystrix/src/main/java/com/navercorp/pinpoint/plugin/hystrix/descriptor/HystrixCommandTimeoutTimerMethodDescriptor.java
  plugins/hystrix/src/main/java/com/navercorp/pinpoint/plugin/hystrix/descriptor/HystrixThreadPoolMetricsMethodDescriptor.java
Labels: bug

#5573 [#test] fix test
  collector/src/test/java/com/navercorp/pinpoint/collector/receiver/grpc/PinpointGrpcServerTest.java
Labels: module:test

#5576 [#4558] add grpc command service
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/AgentServer.java
  collector/src/main/resources/applicationContext-collector.xml
  profiler/src/main/java/com/navercorp/pinpoint/profiler/receiver/grpc/GrpcCommandService.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/sender/grpc/AgentGrpcDataSender.java
Labels: enhancement, module:agent

#5579 [#4558] grpc command
  profiler/src/main/java/com/navercorp/pinpoint/profiler/receiver/grpc/GrpcCommandService.java
Labels: enhancement

#5586 [#4558] Fix SpanChunk handle of Collector
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/grpc/GrpcSpanChunkHandler.java
Labels: enhancement, module:collector

#5584 [#4558] add grpc command
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/grpc/AgentGrpcDataSenderProvider.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/sender/grpc/AgentGrpcDataSender.java
Labels: enhancement, module:agent

#5587 [#noissue] Add request-handler config for Vert.x 3.6 ~ 3.7
  agent/src/main/resources-local/pinpoint.config
  agent/src/main/resources-release/pinpoint.config
Labels: enhancement, module:plugin

#5591 [#test] fix test
  collector/src/test/java/com/navercorp/pinpoint/collector/receiver/thrift/tcp/AgentEventAsyncTaskServiceTest.java
  collector/src/test/java/com/navercorp/pinpoint/collector/receiver/thrift/tcp/AgentLifeCycleAsyncTaskServiceTest.java
Labels: module:test

#5593 [#4558] Adjust the reconnection interval
  profiler/src/main/java/com/navercorp/pinpoint/profiler/receiver/grpc/GrpcCommandService.java
Labels: enhancement, module:agent

#5601 [#4558] add lightDumpService command
  collector/src/main/java/com/navercorp/pinpoint/collector/cluster/GrpcAgentConnection.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/PinpointGrpcServer.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/command/ActiveThreadLightDumpService.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/command/GrpcCommandService.java
  grpc/src/main/proto/Cmd.proto
  grpc/src/main/proto/Service.proto
  grpc/src/main/proto/ThreadDump.proto
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/grpc/CommandThriftToGrpcMessageConverter.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/thrift/CommandGrpcToThriftMessageConverter.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/receiver/grpc/EmptyStreamObserver.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/receiver/grpc/GrpcActiveThreadLightDumpService.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/receiver/grpc/GrpcCommandDispatcher.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/receiver/grpc/GrpcEchoService.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/receiver/service/ThreadDumpRequest.java
Labels: enhancement, module:agent

#5603 [#4558] enhance grpc reconnect
  profiler/src/main/java/com/navercorp/pinpoint/profiler/receiver/grpc/GrpcCommandService.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/sender/grpc/ExponentialBackoffReconnectJob.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/sender/grpc/GrpcDataSender.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/sender/grpc/ReconnectJob.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/sender/grpc/SpanGrpcDataSender.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/sender/grpc/StatGrpcDataSender.java
Labels: enhancement, module:agent

#5606 [#cleanup] cleanup unused code
  collector/src/main/resources/applicationContext-collector.xml
  thrift/src/main/java/com/navercorp/pinpoint/thrift/io/AgentEventHeaderTBaseSerializerFactory.java
Labels: cleanup

#5605 [#5555] refactoring flink cluster code
  collector/src/main/java/com/navercorp/pinpoint/collector/cluster/flink/FlinkClusterService.java
  collector/src/main/java/com/navercorp/pinpoint/collector/cluster/flink/TcpDataSenderRepository.java
  collector/src/main/java/com/navercorp/pinpoint/collector/config/CollectorConfiguration.java
  collector/src/main/java/com/navercorp/pinpoint/collector/config/FlinkConfiguration.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/TraceDao.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/HbaseTraceDaoV2.java
  collector/src/main/java/com/navercorp/pinpoint/collector/service/SendAgentStatService.java
  collector/src/main/java/com/navercorp/pinpoint/collector/service/SendDataToFlinkService.java
  collector/src/main/resources/applicationContext-collector.xml
  flink/src/main/java/com/navercorp/pinpoint/flink/Bootstrap.java
  flink/src/main/java/com/navercorp/pinpoint/flink/cluster/FlinkServerRegister.java
  flink/src/main/java/com/navercorp/pinpoint/flink/receiver/AgentStatHandler.java
  flink/src/main/java/com/navercorp/pinpoint/flink/receiver/SourceContextManager.java
  flink/src/main/java/com/navercorp/pinpoint/flink/receiver/TcpDispatchHandler.java
  flink/src/main/java/com/navercorp/pinpoint/flink/receiver/TcpSourceFunction.java
  flink/src/main/resources/applicationContext-flink.xml
Labels: enhancement, module:collector, module:flink

#5610 [#cleanup] cleanup
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/PinpointGrpcServer.java
  collector/src/main/resources/applicationContext-collector.xml
  profiler/src/main/java/com/navercorp/pinpoint/profiler/receiver/CommandDispatcher.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/receiver/CommandSerializer.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/receiver/service/ActiveThreadCountService.java
  thrift/src/main/java/com/navercorp/pinpoint/thrift/io/CommandHeaderTBaseDeserializerFactory.java
  thrift/src/main/java/com/navercorp/pinpoint/thrift/io/CommandHeaderTBaseSerializerFactory.java
  web/src/main/java/com/navercorp/pinpoint/web/controller/CommandController.java
  web/src/main/resources/applicationContext-web.xml
  web/src/test/resources/applicationContext-test.xml
Labels: cleanup

#5616 [#4558] add grpc threaddump service
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/PinpointGrpcServer.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/command/ActiveThreadDumpService.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/command/GrpcCommandService.java
  grpc/src/main/proto/Cmd.proto
  grpc/src/main/proto/Service.proto
  grpc/src/main/proto/ThreadDump.proto
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/grpc/CommandThriftToGrpcMessageConverter.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/grpc/GrpcThreadDumpMessageConverter.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/thrift/CommandGrpcToThriftMessageConverter.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/receiver/grpc/GrpcActiveThreadDumpService.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/receiver/grpc/GrpcCommandDispatcher.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/receiver/service/ThreadDumpRequest.java
Labels: enhancement, module:agent

#5621 [#4558] integrate-grpc-server
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/GrpcReceiver.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/SpanServer.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/StatServer.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/command/GrpcCommandService.java
  collector/src/main/resources/applicationContext-collector.xml
  collector/src/test/java/com/navercorp/pinpoint/collector/receiver/grpc/AgentServerTestMain.java
  collector/src/test/java/com/navercorp/pinpoint/collector/receiver/grpc/SpanServerTestMain.java
  collector/src/test/java/com/navercorp/pinpoint/collector/receiver/grpc/StatServerTestMain.java
  collector/src/test/java/com/navercorp/pinpoint/collector/receiver/grpc/command/GrpcCommandServiceTest.java
Labels: enhancement, module:collector

#5625 [#4558] Add mapper for JvmGcType & ThreadState
  collector/src/main/java/com/navercorp/pinpoint/collector/mapper/grpc/GrpcJvmInfoBoMapper.java
  collector/src/main/java/com/navercorp/pinpoint/collector/mapper/grpc/event/GrpcAgentEventBatchMapper.java
  collector/src/main/java/com/navercorp/pinpoint/collector/mapper/grpc/event/GrpcAgentEventMapper.java
  collector/src/main/java/com/navercorp/pinpoint/collector/mapper/grpc/event/GrpcDeadlockBoMapper.java
  collector/src/main/java/com/navercorp/pinpoint/collector/mapper/grpc/event/GrpcThreadDumpBoMapper.java
  collector/src/main/java/com/navercorp/pinpoint/collector/mapper/grpc/event/GrpcThreadStateMapper.java
  collector/src/main/java/com/navercorp/pinpoint/collector/mapper/grpc/stat/GrpcJvmGcBoMapper.java
  collector/src/main/java/com/navercorp/pinpoint/collector/mapper/grpc/stat/GrpcJvmGcTypeMapper.java
  collector/src/main/java/com/navercorp/pinpoint/collector/mapper/thrift/ThriftJvmInfoBoMapper.java
  collector/src/main/java/com/navercorp/pinpoint/collector/mapper/thrift/event/ThriftThreadDumpBoMapper.java
  collector/src/main/java/com/navercorp/pinpoint/collector/mapper/thrift/event/ThriftThreadStateMapper.java
  collector/src/main/java/com/navercorp/pinpoint/collector/mapper/thrift/stat/ThriftJvmGcBoMapper.java
  collector/src/main/java/com/navercorp/pinpoint/collector/mapper/thrift/stat/ThriftJvmGcTypeMapper.java
Labels: enhancement, module:collector

#5634 [#noissue] Fix okhttp test version
  agent-it/src/test/java/com/navercorp/pinpoint/plugin/jdk7/okhttp/OkHttpClient_3_4_0_to_3_x_IT.java
Labels: module:test

#5635 [#5628] add alarm Open File Descriptor
  web/src/main/java/com/navercorp/pinpoint/web/alarm/CheckerCategory.java
  web/src/main/java/com/navercorp/pinpoint/web/alarm/DataCollectorFactory.java
  web/src/main/java/com/navercorp/pinpoint/web/alarm/checker/FileDescriptorChecker.java
  web/src/main/java/com/navercorp/pinpoint/web/alarm/collector/FileDescriptorDataCollector.java
  web/src/test/java/com/navercorp/pinpoint/web/alarm/collector/FileDescriptorDataCollectorTest.java
Labels: enhancement, module:web

#5637 [#5448] edit name length to validate value
  web/src/main/java/com/navercorp/pinpoint/web/util/ValueValidator.java
  web/src/test/java/com/navercorp/pinpoint/web/util/ValueValidatorTest.java
Labels: enhancement, module:web
