Repository pinpoint-apm/pinpoint, pull requests merged in 2019-09, with the labels that each got.

#5954 [#4558] Enable some function of netty when using jdk9 and above
  agent/src/main/resources-local/pinpoint.config
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/grpc/GrpcTransportConfig.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/module/ApplicationContextModuleFactory.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/module/GrpcModule.java
Labels: enhancement, module:agent

#5961 [#4558] Fixes that the Collector is not running
  collector/src/main/java/com/navercorp/pinpoint/collector/cluster/ClusterPointStateChangedEventHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/cluster/DisabledProfilerClusterManager.java
  collector/src/main/java/com/navercorp/pinpoint/collector/cluster/ProfilerClusterManager.java
  collector/src/main/java/com/navercorp/pinpoint/collector/cluster/zookeeper/ZookeeperClusterService.java
  collector/src/main/java/com/navercorp/pinpoint/collector/cluster/zookeeper/ZookeeperProfilerClusterManager.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/command/GrpcCommandService.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/thrift/tcp/AgentBaseDataReceiver.java
  collector/src/test/java/com/navercorp/pinpoint/collector/cluster/zookeeper/ZookeeperJobWorkerTest.java
Labels: bug, module:collector

#5976 update agent-it for log4j2
  agent-it/pom.xml
  agent-it/src/test/java/com/navercorp/pinpoint/plugin/log4j2/Log4j2IT.java
Labels: module:plugin

#5978 [#5971] add guide for log4j2 in per request logging doc
  doc/per-request_feature_guide.md
Labels: document

#5977 [#4558] Allows to set the TransportFilter in GrpcReceiver using sprin…
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/GrpcReceiver.java
Labels: enhancement, module:collector

#5979 [#5971] add guide for log4j2 in per request logging doc
  doc/per-request_feature_guide.md
Labels: document

#5983 [#4558] Add grpc client interceptor of SpanGrpcDataSender
  profiler/src/main/java/com/navercorp/pinpoint/profiler/sender/grpc/SpanGrpcDataSender.java
Labels: enhancement, module:agent

#5985 [#5971] add target profiling class
  plugins/log4j2/src/main/java/com/navercorp/pinpoint/plugin/log4j2/Log4j2Plugin.java
Labels: module:plugin

#5986 [#4558] Fix grpc client interceptor of SpanGrpcDataSender
  profiler/src/main/java/com/navercorp/pinpoint/profiler/sender/grpc/SpanGrpcDataSender.java
Labels: enhancement, module:agent

#5989 add IT for log4j2 async logger
  agent-it/src/test/java/com/navercorp/pinpoint/plugin/log4j2/Log4j2ForAsyncLoggerIT.java
Labels: module:plugin

#5992 [#5971] fix test code fail
  agent-it/src/test/java/com/navercorp/pinpoint/plugin/log4j2/Log4j2ForAsyncLoggerIT.java
  agent-it/src/test/java/com/navercorp/pinpoint/plugin/log4j2/Log4j2IT.java
Labels: module:plugin

#5991 backport log4j2 plugin to 1.8.x
  agent-it/pom.xml
  agent-it/src/test/java/com/navercorp/pinpoint/plugin/log4j2/Log4j2ForAsyncLoggerIT.java
  agent-it/src/test/java/com/navercorp/pinpoint/plugin/log4j2/Log4j2IT.java
  agent-it/src/test/resources/pinpoint-grpc-plugin-test.config
  agent-it/src/test/resources/pinpoint-spring-bean-test.config
  agent/src/main/resources-local/pinpoint.config
  agent/src/main/resources-release/pinpoint.config
  doc/per-request_feature_guide.md
  plugins/log4j2/.gitignore
  plugins/log4j2/pom.xml
  plugins/log4j2/src/main/java/com/navercorp/pinpoint/plugin/log4j2/Log4j2Config.java
  plugins/log4j2/src/main/java/com/navercorp/pinpoint/plugin/log4j2/Log4j2Plugin.java
  plugins/log4j2/src/main/java/com/navercorp/pinpoint/plugin/log4j2/interceptor/LogEventFactoryInterceptor.java
  plugins/log4j2/src/main/resources/META-INF/services/com.navercorp.pinpoint.bootstrap.plugin.ProfilerPlugin
  plugins/log4j2/src/test/java/com/navercorp/pinpoint/plugin/log4j2/Log4j2ConfigTest.java
  plugins/log4j2/src/test/java/com/navercorp/pinpoint/plugin/log4j2/Log4j2PluginTest.java
  plugins/log4j2/src/test/java/com/navercorp/pinpoint/plugin/log4j2/interceptor/LogEventFactoryInterceptorTest.java
  plugins/pom.xml
Labels: module:plugin

#5996 expose spanId and applicationName to log.page.url for customization
  web/src/main/java/com/navercorp/pinpoint/web/controller/BusinessTransactionController.java
  web/src/main/java/com/navercorp/pinpoint/web/view/TransactionInfoViewModel.java
Labels: enhancement, module:web

#6004 [#4558] Add grpc context executor of collector - IT
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/SpanService.java
  collector/src/main/resources/applicationContext-collector.xml
  collector/src/test/java/com/navercorp/pinpoint/collector/receiver/grpc/SpanClientMock.java
  collector/src/test/java/com/navercorp/pinpoint/collector/receiver/grpc/SpanClientTestMain.java
  collector/src/test/java/com/navercorp/pinpoint/collector/receiver/grpc/SpanServerTestMain.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/client/ChannelFactory.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/client/ClientOption.java
  grpc/src/test/java/com/navercorp/pinpoint/grpc/client/ClientOptionTest.java
Labels: enhancement, module:collector

#6005 [#4558] Allows to set the ServerInterceptor using spring configuration
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/GrpcReceiver.java
Labels: enhancement

#6020 [#4558] Add grpc server executor of collector
  collector/src/main/java/com/navercorp/pinpoint/collector/config/AgentBaseDataReceiverConfiguration.java
  collector/src/main/java/com/navercorp/pinpoint/collector/config/SpanReceiverConfiguration.java
  collector/src/main/java/com/navercorp/pinpoint/collector/config/StatReceiverConfiguration.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/AgentService.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/MetadataService.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/ServerRequestFactory.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/SpanService.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/StatService.java
  collector/src/main/resources/applicationContext-collector.xml
  collector/src/main/resources/pinpoint-collector.properties
  collector/src/test/java/com/navercorp/pinpoint/collector/config/AgentBaseDataReceiverConfigurationTest.java
  collector/src/test/java/com/navercorp/pinpoint/collector/config/SpanReceiverConfigurationTest.java
  collector/src/test/java/com/navercorp/pinpoint/collector/config/StatReceiverConfigurationTest.java
  collector/src/test/java/com/navercorp/pinpoint/collector/receiver/grpc/AgentServerTestMain.java
  collector/src/test/java/com/navercorp/pinpoint/collector/receiver/grpc/StatServerTestMain.java
  collector/src/test/resources/test-pinpoint-collector.properties
Labels: enhancement, module:collector

#6036 [#4939] Supports spring-integration-kafka via option within the kafka…
  plugins/kafka/src/main/java/com/navercorp/pinpoint/plugin/kafka/KafkaPlugin.java
Labels: enhancement, module:plugin

#6040 [#6037] add stepexecution object in parameter of alarm sender method
  web/src/main/java/com/navercorp/pinpoint/web/alarm/AlarmMessageSender.java
  web/src/main/java/com/navercorp/pinpoint/web/alarm/AlarmWriter.java
  web/src/main/java/com/navercorp/pinpoint/web/alarm/DefaultAlarmMessageSender.java
  web/src/main/java/com/navercorp/pinpoint/web/alarm/EmptySmsSender.java
  web/src/main/java/com/navercorp/pinpoint/web/alarm/MailSender.java
  web/src/main/java/com/navercorp/pinpoint/web/alarm/SmsSender.java
  web/src/main/java/com/navercorp/pinpoint/web/alarm/SpringSmtpMailSender.java
Labels: enhancement, module:web

#6041 [#4558] cleanup unnecessary code
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/command/ActiveThreadCountService.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/command/GrpcCommandService.java
Labels: cleanup, module:collector

#6043 [#6042] split spring configuration file contained sender bean object
  web/src/main/resources/batch/applicationContext-batch-schedule.xml
  web/src/main/resources/batch/applicationContext-batch-sender.xml
Labels: enhancement, module:web
