Repository pinpoint-apm/pinpoint, pull requests merged in 2019-07, with the labels that each got.

#5760 [#4558] Add gRPC collector config
  collector/src/main/java/com/navercorp/pinpoint/collector/config/AgentBaseDataReceiverConfiguration.java
  collector/src/main/java/com/navercorp/pinpoint/collector/config/GrpcPropertiesServerOptionBuilder.java
  collector/src/main/java/com/navercorp/pinpoint/collector/config/GrpcSpanServerConfiguration.java
  collector/src/main/java/com/navercorp/pinpoint/collector/config/SpanReceiverConfiguration.java
  collector/src/main/java/com/navercorp/pinpoint/collector/config/StatReceiverConfiguration.java
  collector/src/main/resources/applicationContext-collector.xml
  collector/src/main/resources/pinpoint-collector.properties
  collector/src/test/java/com/navercorp/pinpoint/collector/config/AgentBaseDataReceiverConfigurationTest.java
  collector/src/test/java/com/navercorp/pinpoint/collector/config/SpanReceiverConfigurationTest.java
  collector/src/test/java/com/navercorp/pinpoint/collector/config/StatReceiverConfigurationTest.java
  collector/src/test/java/com/navercorp/pinpoint/collector/receiver/grpc/AgentClientTestMain.java
  collector/src/test/java/com/navercorp/pinpoint/collector/receiver/grpc/SpanClientMock.java
  collector/src/test/java/com/navercorp/pinpoint/collector/receiver/grpc/SpanClientTestMain.java
  collector/src/test/resources/test-pinpoint-collector.properties
  grpc/src/main/java/com/navercorp/pinpoint/grpc/server/ServerOption.java
  grpc/src/test/java/com/navercorp/pinpoint/grpc/server/ServerOptionTest.java
Labels: enhancement, module:collector

#5762 [#5761] Add an option to import collector cluster data periodically
  web/src/main/java/com/navercorp/pinpoint/web/cluster/zookeeper/ZookeeperClusterDataManager.java
  web/src/main/java/com/navercorp/pinpoint/web/config/WebConfig.java
  web/src/main/resources/pinpoint-web.properties
  web/src/test/java/com/navercorp/pinpoint/web/cluster/zookeeper/ZookeeperClusterTest.java
Labels: enhancement, module:web

#5764 [#4558] Add protocol buffers message
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/SpanService.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/StatService.java
  collector/src/test/java/com/navercorp/pinpoint/collector/receiver/grpc/SpanClientMock.java
  collector/src/test/java/com/navercorp/pinpoint/collector/receiver/grpc/StatClientMock.java
  grpc/src/main/proto/Service.proto
  grpc/src/main/proto/Span.proto
  grpc/src/main/proto/Stat.proto
  grpc/src/test/java/com/navercorp/pinpoint/grpc/ChannelFactoryTest.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/sender/grpc/AgentGrpcDataSender.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/sender/grpc/SpanGrpcDataSender.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/sender/grpc/StatGrpcDataSender.java
Labels: enhancement, module:agent, module:collector

#5768 [#cleanup] cleanup zookeeper code
  collector/src/main/java/com/navercorp/pinpoint/collector/cluster/zookeeper/ZookeeperJobWorker.java
  collector/src/test/java/com/navercorp/pinpoint/collector/cluster/zookeeper/InMemoryZookeeperClient.java
  collector/src/test/java/com/navercorp/pinpoint/collector/cluster/zookeeper/ZookeeperJobWorkerTest.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/cluster/zookeeper/CreateNodeMessage.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/cluster/zookeeper/CuratorZookeeperClient.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/cluster/zookeeper/ZookeeperClient.java
  commons-server/src/test/java/com/navercorp/pinpoint/common/server/cluster/zookeeper/CuratorZookeeperClientTest.java
  flink/src/main/java/com/navercorp/pinpoint/flink/cluster/FlinkServerRegister.java
  web/src/main/java/com/navercorp/pinpoint/web/cluster/zookeeper/PushZnodeJob.java
  web/src/main/java/com/navercorp/pinpoint/web/cluster/zookeeper/ZookeeperClusterDataManager.java
  web/src/main/java/com/navercorp/pinpoint/web/cluster/zookeeper/ZookeeperClusterDataManagerHelper.java
Labels: cleanup, module:web

#5772 [#5672] Adds a function to warmup connection cache
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/ConnectionFactoryBean.java
Labels: enhancement, module:collector

#5773 [#cleanup] cleanup log
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/SpanBo.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/SpanEventBo.java
Labels: cleanup

#5777 [#4558] Change gRPC client/server options
  collector/src/main/java/com/navercorp/pinpoint/collector/config/GrpcPropertiesServerOptionBuilder.java
  collector/src/test/java/com/navercorp/pinpoint/collector/config/AgentBaseDataReceiverConfigurationTest.java
  collector/src/test/java/com/navercorp/pinpoint/collector/config/SpanReceiverConfigurationTest.java
  collector/src/test/java/com/navercorp/pinpoint/collector/config/StatReceiverConfigurationTest.java
  collector/src/test/resources/test-pinpoint-collector.properties
  grpc/src/main/java/com/navercorp/pinpoint/grpc/client/ClientOption.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/server/ServerFactory.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/server/ServerOption.java
  grpc/src/test/java/com/navercorp/pinpoint/grpc/client/ClientOptionTest.java
  grpc/src/test/java/com/navercorp/pinpoint/grpc/server/ServerOptionTest.java
Labels: enhancement, module:agent, module:collector

#5788 [#4558] Add metdata gRPC data sender
  collector/src/test/java/com/navercorp/pinpoint/collector/receiver/grpc/AgentServerTestMain.java
  collector/src/test/java/com/navercorp/pinpoint/collector/receiver/grpc/MetadataClientMock.java
  collector/src/test/java/com/navercorp/pinpoint/collector/receiver/grpc/MetadataClientTestMain.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/client/ChannelFactory.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/grpc/GrpcTransportConfig.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/module/AgentDataSender.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/module/GrpcModule.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/module/GrpcModuleLifeCycle.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/module/MetadataDataSender.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/module/ThriftModule.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/module/ThriftModuleLifeCycle.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/AgentInfoSenderProvider.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/ApiMetaDataServiceProvider.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/grpc/MetadataGrpcDataSenderProvider.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/metadata/DefaultSqlMetaDataService.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/metadata/DefaultStringMetaDataService.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/sender/grpc/AgentGrpcDataSender.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/sender/grpc/GrpcDataSender.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/sender/grpc/MetadataGrpcDataSender.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/context/module/DefaultApplicationContextTest.java
Labels: enhancement, module:agent

#5791 [#NO-ISSUE] add dependency
  flink/pom.xml
Labels: module:flink

#5794 [#5785] Improve memory usage in 'transactionmetadata' rest api
  web/src/main/java/com/navercorp/pinpoint/web/vo/SpanHint.java
Labels: bug

#5801 [#4558] Fit agentGrpcDataSender
  profiler/src/main/java/com/navercorp/pinpoint/profiler/AgentInfoSender.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/grpc/AgentGrpcDataSenderProvider.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/sender/grpc/AgentGrpcDataSender.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/sender/grpc/GrpcDataSender.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/sender/grpc/PingStreamContext.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/sender/grpc/StatGrpcDataSender.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/sender/grpc/AgentGrpcDataSenderTestMain.java
Labels: enhancement, module:agent

#5808 [#5807] Shows all the Consumers derived from the request
  web/src/main/java/com/navercorp/pinpoint/web/calltree/span/LinkMap.java
  web/src/main/java/com/navercorp/pinpoint/web/calltree/span/LinkedCallTree.java
  web/src/main/java/com/navercorp/pinpoint/web/calltree/span/SpanAligner.java
  web/src/main/java/com/navercorp/pinpoint/web/service/SpanServiceImpl.java
  web/src/test/java/com/navercorp/pinpoint/web/calltree/span/SpanAlignerTest.java
Labels: enhancement, module:web
