Repository pinpoint-apm/pinpoint, pull requests merged in 2019-08, with the labels that each got.

#5816 [#5815] Change the http protocol for Google Analytics
  doc/faq.md
  quickstart/web/src/main/webapp/scripts/extra/google-analytics.js
  web/src/main/webapp/scripts/extra/google-analytics.js
Labels: ui

#5838 [#4558] Add gRPC StatusError
  grpc/src/main/java/com/navercorp/pinpoint/grpc/StatusError.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/StatusErrors.java
  grpc/src/test/java/com/navercorp/pinpoint/grpc/StatusErrorsTest.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/receiver/grpc/GrpcCommandService.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/sender/grpc/PingStreamContext.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/sender/grpc/ResponseStreamObserver.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/sender/grpc/RetryResponseStreamObserver.java
Labels: enhancement, module:agent

#5863 [#4558] Add gRPC StatusError of Collector
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/AgentService.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/SpanService.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/StatService.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/command/GrpcCommandService.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/StatusErrors.java
Labels: enhancement, module:collector

#5867 [#5862] Multiple alarms of the same can be saved.
  web/src/main/java/com/navercorp/pinpoint/web/alarm/AlarmWriter.java
  web/src/main/java/com/navercorp/pinpoint/web/alarm/vo/CheckerResult.java
  web/src/main/java/com/navercorp/pinpoint/web/dao/AlarmDao.java
  web/src/main/java/com/navercorp/pinpoint/web/dao/memory/MemoryAlarmDao.java
  web/src/main/java/com/navercorp/pinpoint/web/dao/mysql/MysqlAlarmDao.java
  web/src/main/java/com/navercorp/pinpoint/web/service/AlarmServiceImpl.java
  web/src/main/resources/mapper/AlarmMapper.xml
  web/src/main/resources/sql/CreateTableStatement-mysql.sql
Labels: enhancement, module:web

#5866 [#5865] Remove the link that appears to be linked by zero in the serv…
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/DefaultApplicationMap.java
Labels: enhancement, module:web

#5872 [#noissue] Add gRpc configuration
  agent/src/main/resources-local/pinpoint.config
Labels: configuration

#5873 [#4558] Fix log format of gRPC message
  collector/src/main/java/com/navercorp/pinpoint/collector/cluster/route/filter/LoggingFilter.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/PinpointGrpcServer.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/command/GrpcCommandService.java
  collector/src/main/java/com/navercorp/pinpoint/collector/service/async/AgentLifeCycleAsyncTaskService.java
  web/src/main/java/com/navercorp/pinpoint/web/controller/ScatterChartController.java
  web/src/main/java/com/navercorp/pinpoint/web/websocket/ActiveThreadCountHandler.java
  web/src/main/java/com/navercorp/pinpoint/web/websocket/ActiveThreadCountWorker.java
  web/src/main/java/com/navercorp/pinpoint/web/websocket/WorkerActiveManager.java
Labels: enhancement, module:collector, module:web

#5875 [#5874] Support to trace api related transaction in Kafka plugin
  plugins/kafka/src/main/java/com/navercorp/pinpoint/plugin/kafka/KafkaPlugin.java
Labels: enhancement, module:plugin

#5881 [#5879] Dubbo plugin is missing the remote address
  plugins/dubbo/src/main/java/com/navercorp/pinpoint/plugin/dubbo/DubboConstants.java
  plugins/dubbo/src/main/java/com/navercorp/pinpoint/plugin/dubbo/interceptor/DubboConsumerInterceptor.java
  plugins/dubbo/src/main/java/com/navercorp/pinpoint/plugin/dubbo/interceptor/DubboProviderInterceptor.java
Labels: bug

#5882 [#5880] Apache Dubbo plugin is missing the remote address
  plugins/apache-dubbo/src/main/java/com/navercorp/pinpoint/plugin/apache/dubbo/ApacheDubboConstants.java
  plugins/apache-dubbo/src/main/java/com/navercorp/pinpoint/plugin/apache/dubbo/interceptor/ApacheDubboConsumerInterceptor.java
  plugins/apache-dubbo/src/main/java/com/navercorp/pinpoint/plugin/apache/dubbo/interceptor/ApacheDubboProviderInterceptor.java
Labels: bug

#5888 [#noissue] add grpc integration test for 1.23 version
  agent-it/src/test/java/com/navercorp/pinpoint/plugin/jdk7/grpc/GrpcITBase.java
  agent-it/src/test/java/com/navercorp/pinpoint/plugin/jdk7/grpc/Grpc_1_21_0_to_IT.java
  agent-it/src/test/java/com/navercorp/pinpoint/plugin/jdk7/grpc/Grpc_1_23_0_to_IT.java
Labels: module:test

#5893 [#4558] Change collector gRPC options for byte unit
  collector/src/main/java/com/navercorp/pinpoint/collector/config/AgentBaseDataReceiverConfiguration.java
  collector/src/main/java/com/navercorp/pinpoint/collector/config/GrpcPropertiesServerOptionBuilder.java
  collector/src/main/java/com/navercorp/pinpoint/collector/config/SpanReceiverConfiguration.java
  collector/src/main/java/com/navercorp/pinpoint/collector/config/StatReceiverConfiguration.java
  collector/src/main/resources/pinpoint-collector.properties
  collector/src/test/java/com/navercorp/pinpoint/collector/config/AgentBaseDataReceiverConfigurationTest.java
  collector/src/test/java/com/navercorp/pinpoint/collector/config/SpanReceiverConfigurationTest.java
  collector/src/test/java/com/navercorp/pinpoint/collector/config/StatReceiverConfigurationTest.java
  collector/src/test/resources/test-pinpoint-collector.properties
  grpc/src/main/java/com/navercorp/pinpoint/grpc/server/ServerOption.java
Labels: enhancement, module:collector

#5900 [#4558] Fix annotation value mapper of gRPC
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/grpc/GrpcAnnotationValueMapper.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/context/grpc/GrpcAnnotationValueMapperTest.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/callstacks/AnnotationRecordFormatter.java
Labels: enhancement, module:agent, module:web

#5913 [#noissue] Fix MethodDescriptor of GrpcStreamListener
  plugins/grpc/src/main/java/com/navercorp/pinpoint/plugin/grpc/GrpcClientPlugin.java
  plugins/grpc/src/main/java/com/navercorp/pinpoint/plugin/grpc/descriptor/GrpcStreamListenerResultMethodDescriptor.java
Labels: bug

#5926 [#noissue] fix it test
  agent-it/src/test/java/com/navercorp/pinpoint/plugin/jdk7/grpc/GrpcITBase.java
Labels: module:test

#5943 [#4558] Support grpc transport in agent when using java9 and above
  bootstrap-java9/src/main/java/com/navercorp/pinpoint/bootstrap/java9/module/ModuleSupport.java
Labels: enhancement, module:agent
