Repository pinpoint-apm/pinpoint, pull requests merged in 2019-12, with the labels that each got.

#6257 [#6249] add interface to hdfs security logic
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/ConnectionFactoryBean.java
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/HbaseSecurityInterceptorFactory.java
  web/src/main/resources/applicationContext-web-hbase.xml
Labels: module:project-common

#6264 [#6263] update batch doc for how to execute batch and setting value of properties
  doc/alarm.md
Labels: document, module:web

#6266 [#6156] remove constructor config
  flink/src/main/resources/applicationContext-flink.xml
Labels: enhancement, module:flink

#6262 [#6260] Update ASM version 7.1 to 7.2
  bootstrap-java9/src/main/java/com/navercorp/pinpoint/bootstrap/java9/module/ModuleSupport.java
  commons/src/main/java/com/navercorp/pinpoint/common/util/JvmVersion.java
  pom.xml
  profiler-optional/profiler-optional-jdk9/pom.xml
  profiler-optional/profiler-optional-jdk9/src/main/java/com/navercorp/pinpoint/profiler/instrument/classloading/Java9DefineClass.java
  profiler-optional/profiler-optional-jdk9/src/main/java/com/navercorp/pinpoint/profiler/instrument/classloading/JavaLangAccessHelper.java
  profiler-optional/profiler-optional-jdk9/src/main/java/com/navercorp/pinpoint/profiler/shutdown/Java9ShutdownHookRegister.java
  profiler-optional/profiler-optional-jdk9/src/test/java/com/navercorp/pinpoint/profiler/instrument/classloading/JavaLangAccessHelperTest.java
  profiler-optional/profiler-optional-jdk9/src/test/java/com/navercorp/pinpoint/profiler/shutdown/Java9ShutdownHookRegisterTest.java
Labels: enhancement, module:agent

#6267 [#6244] Add CompletableFuture Plugin
  agent/src/main/resources/pinpoint.config
  commons/src/main/java/com/navercorp/pinpoint/common/trace/ServiceType.java
  plugins/assembly/pom.xml
  plugins/jdk-completable-future/pom.xml
  plugins/jdk-completable-future/src/main/java/com/navercorp/pinpoint/plugin/jdk/completable/JdkCompletableFutureConstants.java
  plugins/jdk-completable-future/src/main/java/com/navercorp/pinpoint/plugin/jdk/completable/JdkCompletableFuturePlugin.java
  plugins/jdk-completable-future/src/main/java/com/navercorp/pinpoint/plugin/jdk/completable/JdkCompletableFuturePluginConfig.java
  plugins/jdk-completable-future/src/main/java/com/navercorp/pinpoint/plugin/jdk/completable/interceptor/CompletableFutureMethodInterceptor.java
  plugins/jdk-completable-future/src/main/resources/META-INF/pinpoint/type-provider.yml
  plugins/jdk-completable-future/src/main/resources/META-INF/services/com.navercorp.pinpoint.bootstrap.plugin.ProfilerPlugin
  plugins/pom.xml
  profiler/src/main/java/com/navercorp/pinpoint/profiler/UnmodifiableClassFilter.java
Labels: enhancement, module:plugin

#6269 [#6268] Reduce unnecessary Span data using Hbase Filter
  web/src/main/java/com/navercorp/pinpoint/web/dao/hbase/HbaseTraceDaoV2.java
Labels: enhancement, module:web

#6275 [#noissue] Improve handler logs on collector
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/grpc/GrpcAgentEventHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/grpc/GrpcAgentStatHandlerV2.java
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/thrift/ThriftAgentEventHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/thrift/ThriftAgentInfoHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/thrift/ThriftAgentStatHandlerV2.java
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/thrift/ThriftApiMetaDataHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/thrift/ThriftSpanChunkHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/thrift/ThriftSpanHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/thrift/ThriftSqlMetaDataHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/thrift/ThriftStringMetaDataHandler.java
Labels: enhancement, module:collector

#6282 [#cleanup] remove unnecessary code
  plugins/jboss/src/main/java/com/navercorp/pinpoint/plugin/jboss/interceptor/ContextInvocationInterceptor.java
  plugins/rabbitmq/src/main/java/com/navercorp/pinpoint/plugin/rabbitmq/client/interceptor/ChannelBasicPublishInterceptor.java
Labels: cleanup, module:plugin

#6277 [#noissue] Add readme for webflux/reactor-netty
  agent/src/main/resources/pinpoint.config
  plugins/reactor-netty/README.md
  plugins/spring-webflux/README.md
  web/src/main/webapp/images/icons/REACTOR_NETTY.png
  web/src/main/webapp/images/icons/REACTOR_NETTY_GROUP.png
Labels: enhancement, module:plugin

#6283 [#noissue] Update error event of reactor
  agent/src/main/resources/pinpoint.config
  plugins/reactor/README.md
  plugins/reactor/src/main/java/com/navercorp/pinpoint/plugin/reactor/ReactorPluginConfig.java
  plugins/reactor/src/main/java/com/navercorp/pinpoint/plugin/reactor/interceptor/CoreSubscriberInterceptor.java
Labels: enhancement, module:plugin

#6284 [#6156] edit file name
  web/src/main/resources/applicationContext-web.xml
Labels: enhancement, module:web

#6289 [#cleanup] remove unnecessary code in Interceptor
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/interceptor/SpanEventSimpleAroundInterceptorForPlugin.java
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/plugin/jdbc/interceptor/PreparedStatementExecuteQueryInterceptor.java
  plugins/arcus/src/main/java/com/navercorp/pinpoint/plugin/arcus/interceptor/FrontCacheGetFutureGetInterceptor.java
  plugins/jackson/src/main/java/com/navercorp/pinpoint/plugin/jackson/interceptor/ReadValueInterceptor.java
  plugins/jackson/src/main/java/com/navercorp/pinpoint/plugin/jackson/interceptor/WriteValueAsStringInterceptor.java
  plugins/jboss/src/main/java/com/navercorp/pinpoint/plugin/jboss/interceptor/ContextInvocationInterceptor.java
  plugins/resttemplate/src/main/java/com/navercorp/pinpoint/plugin/resttemplate/interceptor/AsyncHttpRequestInterceptor.java
  plugins/resttemplate/src/main/java/com/navercorp/pinpoint/plugin/resttemplate/interceptor/HttpRequestInterceptor.java
Labels: cleanup, module:plugin

#6290 [#noissue] Improve rejected execution messages of ThreadPoolExecutor
  collector/src/main/java/com/navercorp/pinpoint/collector/monitor/LoggingRejectedExecutionHandler.java
  collector/src/test/java/com/navercorp/pinpoint/collector/monitor/LoggingRejectedExecutionHandlerTest.java
Labels: enhancement, module:collector

#6291 [#noissue] Update transform condition of elasticsearch plugin
  plugins/elasticsearch/src/main/java/com/navercorp/pinpoint/plugin/elasticsearch/ElasticsearchPlugin.java
Labels: enhancement, module:plugin

#6296 [#4843] Add async/reactive of lettuce plugin
  plugins/redis-lettuce/src/main/java/com/navercorp/pinpoint/plugin/redis/lettuce/LettucePlugin.java
  plugins/redis-lettuce/src/main/java/com/navercorp/pinpoint/plugin/redis/lettuce/interceptor/LettuceMethodInterceptor.java
Labels: enhancement, module:plugin

#6299 [#6294] Can't reference PropertySourcesPlaceholderConfigurer in controller applicationcontext.
  collector/src/main/java/com/navercorp/pinpoint/collector/manage/controller/AuthInterceptor.java
  collector/src/main/resources/servlet-context.xml
  web/src/main/resources/applicationContext-web.xml
  web/src/main/resources/servlet-context.xml
Labels: enhancement, module:web

#6304 [#5378] Update async and reactive of redission plugin
  plugins/redis-redisson/src/main/java/com/navercorp/pinpoint/plugin/redis/redisson/RedissonConstants.java
  plugins/redis-redisson/src/main/java/com/navercorp/pinpoint/plugin/redis/redisson/RedissonPlugin.java
  plugins/redis-redisson/src/main/java/com/navercorp/pinpoint/plugin/redis/redisson/interceptor/ReactiveMethodInterceptor.java
  plugins/redis-redisson/src/main/resources/META-INF/pinpoint/type-provider.yml
Labels: enhancement, module:plugin

#6312 [#6310] Change the way how to handle SpanChunk
  collector/src/main/java/com/navercorp/pinpoint/collector/service/TraceService.java
Labels: enhancement, module:collector

#6314 [#6303] Apply spring profile to flink
  flink/src/main/java/com/navercorp/pinpoint/flink/Bootstrap.java
  flink/src/main/java/com/navercorp/pinpoint/flink/StatStreamingVer2Job.java
  flink/src/test/java/com/navercorp/pinpoint/flink/process/TBaseFlatMapperTest.java
Labels: enhancement, module:flink

#6316 [#6124] SpanEvents with negative sequence should be filtered
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/filter/SequenceSpanEventFilter.java
Labels: bug, module:collector

#6317 [#cleanup] remove unused code
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/filter/SequenceSpanEventFilter.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/filter/SpanEventFilter.java
  collector/src/test/java/com/navercorp/pinpoint/collector/dao/hbase/filter/SequenceSpanEventFilterTest.java
Labels: cleanup, module:collector

#6318 [#6303] Apply spring profile to flink
  flink/src/main/resources/applicationContext-flink.xml
Labels: module:flink

#6325 [#6324] Fixes a problem when the sequence value of SpanEvent is negative
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/serializer/trace/v2/SpanDecoderV0.java
Labels: bug, module:web

#6326 [#6260] Update rabbitmq transform for ASM 7.2
  plugins/rabbitmq/src/main/java/com/navercorp/pinpoint/plugin/rabbitmq/client/aspect/BasicPropertiesHelper.java
  plugins/rabbitmq/src/main/java/com/navercorp/pinpoint/plugin/rabbitmq/client/aspect/ChannelAspect.java
Labels: enhancement, module:plugin

#6340 [#6339] HBase client 1.2.6.1 -> 1.2.12
  agent-it/pom.xml
  doc/hbase-upgrade.md
  plugins/bom/pom.xml
  plugins/hbase/pom.xml
  pom.xml
Labels: lib-update, module:project-common

#6345 [#6343] Adds support Kafka 2.3.0+
  plugins/kafka/src/main/java/com/navercorp/pinpoint/plugin/kafka/KafkaPlugin.java
Labels: enhancement, module:plugin

#6350 [#noissue] Update plugin java version
  plugins/grpc/pom.xml
  plugins/grpc/src/main/java/com/navercorp/pinpoint/plugin/grpc/GrpcConstants.java
  plugins/grpc/src/main/java/com/navercorp/pinpoint/plugin/grpc/GrpcMetadataProvider.java
  plugins/grpc/src/main/resources/META-INF/pinpoint/type-provider.yml
  plugins/grpc/src/main/resources/META-INF/services/com.navercorp.pinpoint.common.trace.TraceMetadataProvider
  plugins/jdk-completable-future/pom.xml
  plugins/reactor-netty/pom.xml
  plugins/redis-lettuce/pom.xml
  plugins/redis-lettuce/src/main/java/com/navercorp/pinpoint/plugin/redis/lettuce/LettuceConstants.java
  plugins/redis-lettuce/src/main/java/com/navercorp/pinpoint/plugin/redis/lettuce/LettuceTypeProvider.java
  plugins/redis-lettuce/src/main/resources/META-INF/pinpoint/type-provider.yml
  plugins/redis-lettuce/src/main/resources/META-INF/services/com.navercorp.pinpoint.common.trace.TraceMetadataProvider
  plugins/redis-redisson/pom.xml
Labels: enhancement, module:plugin

#6353 [#noissue] Fix grpc testcase
  agent-it/src/test/java/com/navercorp/pinpoint/plugin/jdk7/grpc/GrpcITBase.java
Labels: enhancement, module:test

#6354 [#6321] Fix spanid duplicate in dubbo
  plugins/apache-dubbo/src/main/java/com/navercorp/pinpoint/plugin/apache/dubbo/interceptor/ApacheDubboProviderInterceptor.java
Labels: enhancement, module:plugin

#6371 [#6156] add configuration for properties file
  collector/src/main/resources/applicationContext-collector.xml
  collector/src/main/resources/jdbc.properties
  collector/src/main/resources/profiles/local/jdbc-env.properties
  collector/src/main/resources/profiles/release/jdbc-env.properties
Labels: enhancement, module:collector
