Repository pinpoint-apm/pinpoint, pull requests merged in 2019-06, with the labels that each got.

#5657 [#noissue] Add gitignore of elasticsearch-bboss plugin
  plugins/elasticsearch-bboss/.gitignore
Labels: configuration, module:plugin

#5659 [#5651] Avoid storing excessive buffers when using the TcpDataSender
  agent/src/main/resources-local/pinpoint.config
  agent/src/main/resources-release/pinpoint-real-env-lowoverhead-sample.config
  agent/src/main/resources-release/pinpoint.config
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/config/DefaultProfilerConfig.java
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/config/ProfilerConfig.java
  commons/src/main/java/com/navercorp/pinpoint/common/util/ByteSizeUnit.java
  commons/src/test/java/com/navercorp/pinpoint/common/util/ByteSizeUnitTest.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/module/DefaultApplicationContext.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/module/RpcModule.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/module/SpanClientFactory.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/module/SpanStatChannelFactory.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/module/SpanStatConnectTimer.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/module/StatClientFactory.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/AbstractClientFactoryProvider.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/PinpointClientFactoryProvider.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/SpanClientFactoryProvider.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/SpanDataSenderProvider.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/SpanStatChannelFactoryProvider.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/SpanStatConnectTimerProvider.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/StatClientFactoryProvider.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/StatDataSenderProvider.java
  rpc/src/main/java/com/navercorp/pinpoint/rpc/client/DefaultPinpointClientFactory.java
  rpc/src/main/java/com/navercorp/pinpoint/rpc/client/DefaultPinpointClientHandler.java
  rpc/src/main/java/com/navercorp/pinpoint/rpc/client/PinpointClientFactory.java
  rpc/src/main/java/com/navercorp/pinpoint/rpc/client/SocketOption.java
Labels: enhancement

#5671 [#5666] add alarm for system cpu used rate
  web/src/main/java/com/navercorp/pinpoint/web/alarm/CheckerCategory.java
  web/src/main/java/com/navercorp/pinpoint/web/alarm/checker/SystemCpuUsageRateChecker.java
  web/src/main/java/com/navercorp/pinpoint/web/alarm/collector/AgentStatDataCollector.java
Labels: enhancement

#5674 [#5669] Cleanup HBaseTables class
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/HbaseColumnFamily.java
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/HbaseTable.java
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/HbaseTableConstatns.java
Labels: cleanup, module:project-common

#5678 [#5448] edit name length to validate value
  web/src/test/java/com/navercorp/pinpoint/web/alarm/checker/FileDescriptorCheckerTest.java
  web/src/test/java/com/navercorp/pinpoint/web/alarm/checker/SystemCpuUsageRateCheckerTest.java
Labels: enhancement, module:web

#5679 [#5448] edit role name file descriptor
  web/src/main/java/com/navercorp/pinpoint/web/alarm/CheckerCategory.java
Labels: enhancement, module:web

#5680 [#5666] edit role name file descriptor
  web/src/main/java/com/navercorp/pinpoint/web/alarm/CheckerCategory.java
Labels: enhancement, module:web

#5677 [#5672] Adds a function to warmup connection cache
  collector/src/main/resources/applicationContext-hbase.xml
  collector/src/main/resources/hbase.properties
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/ConnectionFactoryBean.java
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/HbaseTableNameProvider.java
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/TableNameProvider.java
  web/src/test/java/com/navercorp/pinpoint/web/dao/hbase/HbaseAgentLifeCycleDaoTest.java
Labels: enhancement, module:collector

#5686 [#5672] Adds a function to warmup connection cache
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/ConnectionFactoryBean.java
Labels: enhancement, module:collector

#5687 [#5666] edit alarm document
  doc/alarm.md
Labels: enhancement, module:web

#5691 [#5669] Cleanup HBaseTables class
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/HbaseColumnFamily.java
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/HbaseDao.java
  web/src/main/java/com/navercorp/pinpoint/web/dao/hbase/AbstractHbaseDao.java
  web/src/main/java/com/navercorp/pinpoint/web/dao/hbase/HbaseAgentEventDao.java
  web/src/main/java/com/navercorp/pinpoint/web/dao/hbase/HbaseAgentInfoDao.java
  web/src/main/java/com/navercorp/pinpoint/web/dao/hbase/HbaseAgentLifeCycleDao.java
  web/src/main/java/com/navercorp/pinpoint/web/dao/hbase/HbaseApiMetaDataDao.java
  web/src/main/java/com/navercorp/pinpoint/web/dao/hbase/HbaseApplicationIndexDao.java
  web/src/main/java/com/navercorp/pinpoint/web/dao/hbase/HbaseApplicationStatDaoOperations.java
  web/src/main/java/com/navercorp/pinpoint/web/dao/hbase/HbaseApplicationTraceIndexDao.java
  web/src/main/java/com/navercorp/pinpoint/web/dao/hbase/HbaseHostApplicationMapDao.java
  web/src/main/java/com/navercorp/pinpoint/web/dao/hbase/HbaseMapResponseTimeDao.java
  web/src/main/java/com/navercorp/pinpoint/web/dao/hbase/HbaseMapStatisticsCalleeDao.java
  web/src/main/java/com/navercorp/pinpoint/web/dao/hbase/HbaseMapStatisticsCallerDao.java
  web/src/main/java/com/navercorp/pinpoint/web/dao/hbase/HbaseSqlMetaDataDao.java
  web/src/main/java/com/navercorp/pinpoint/web/dao/hbase/HbaseStringMetaDataDao.java
  web/src/main/java/com/navercorp/pinpoint/web/dao/hbase/HbaseTraceDaoV2.java
  web/src/main/java/com/navercorp/pinpoint/web/dao/hbase/stat/v2/HbaseAgentStatDaoOperationsV2.java
  web/src/main/java/com/navercorp/pinpoint/web/mapper/AgentInfoMapper.java
  web/src/main/java/com/navercorp/pinpoint/web/mapper/AgentLifeCycleMapper.java
  web/src/main/java/com/navercorp/pinpoint/web/mapper/ApiMetaDataMapper.java
  web/src/main/java/com/navercorp/pinpoint/web/mapper/HostApplicationMapper.java
  web/src/main/java/com/navercorp/pinpoint/web/mapper/HostApplicationMapperVer2.java
  web/src/main/java/com/navercorp/pinpoint/web/mapper/ResponseTimeMapper.java
  web/src/main/java/com/navercorp/pinpoint/web/mapper/SpanMapperV2.java
  web/src/main/java/com/navercorp/pinpoint/web/mapper/SqlMetaDataMapper.java
  web/src/main/java/com/navercorp/pinpoint/web/mapper/StringMetaDataMapper.java
  web/src/main/java/com/navercorp/pinpoint/web/mapper/TraceIndexScatterMapper.java
  web/src/main/java/com/navercorp/pinpoint/web/mapper/TraceIndexScatterMapper2.java
  web/src/main/java/com/navercorp/pinpoint/web/mapper/TraceIndexScatterMapper3.java
  web/src/main/java/com/navercorp/pinpoint/web/mapper/stat/AgentStatMapperV2.java
  web/src/main/java/com/navercorp/pinpoint/web/mapper/stat/ApplicationStatMapper.java
  web/src/test/java/com/navercorp/pinpoint/web/mapper/stat/AgentStatMapperV2Test.java
Labels: cleanup, module:web

#5694 [#5669] Cleanup HBaseTables class
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/AbstractHbaseDao.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/HbaseAgentEventDao.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/HbaseAgentInfoDao.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/HbaseAgentLifeCycleDao.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/HbaseApiMetaDataDao.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/HbaseApplicationIndexDao.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/HbaseApplicationTraceIndexDao.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/HbaseHostApplicationMapDao.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/HbaseMapResponseTimeDao.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/HbaseMapStatisticsCalleeDao.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/HbaseMapStatisticsCallerDao.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/HbaseSqlMetaDataDao.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/HbaseStringMetaDataDao.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/HbaseTraceDaoV2.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/stat/HbaseActiveTraceDao.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/stat/HbaseCpuLoadDao.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/stat/HbaseDataSourceListDao.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/stat/HbaseDeadlockThreadCountDao.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/stat/HbaseDirectBufferDao.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/stat/HbaseFileDescriptorDao.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/stat/HbaseJvmGcDao.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/stat/HbaseJvmGcDetailedDao.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/stat/HbaseResponseTimeDao.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/stat/HbaseTransactionDao.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/statistics/RowKeyMerge.java
  collector/src/main/resources/applicationContext-collector.xml
  collector/src/test/java/com/navercorp/pinpoint/collector/dao/hbase/HbaseHostApplicationMapDaoTest.java
  commons-hbase/src/test/java/com/navercorp/pinpoint/common/hbase/HbaseTableTest.java
Labels: cleanup, module:collector

#5701 [#5669] Cleanup HBaseTables class
  collector/src/main/resources/applicationContext-collector.xml
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/HBaseTables.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/serializer/stat/AgentStatHbaseOperationFactory.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/serializer/stat/AgentStatRowKeyDecoder.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/serializer/stat/AgentStatRowKeyEncoder.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/serializer/stat/AgentStatSerializer.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/serializer/stat/AgentStatUtils.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/serializer/stat/ApplicationStatHbaseOperationFactory.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/serializer/stat/ApplicationStatRowKeyDecoder.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/serializer/stat/ApplicationStatRowKeyEncoder.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/serializer/stat/join/ApplicationStatSerializer.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/serializer/trace/v2/SpanChunkSerializerV2.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/serializer/trace/v2/SpanSerializerV2.java
  commons-server/src/test/java/com/navercorp/pinpoint/common/server/bo/serializer/stat/AgentStatHbaseOperationFactoryTest.java
  commons-server/src/test/java/com/navercorp/pinpoint/common/server/bo/serializer/stat/AgentStatUtilsTest.java
  flink/src/main/java/com/navercorp/pinpoint/flink/dao/hbase/ActiveTraceDao.java
  flink/src/main/java/com/navercorp/pinpoint/flink/dao/hbase/CpuLoadDao.java
  flink/src/main/java/com/navercorp/pinpoint/flink/dao/hbase/DataSourceDao.java
  flink/src/main/java/com/navercorp/pinpoint/flink/dao/hbase/DirectBufferDao.java
  flink/src/main/java/com/navercorp/pinpoint/flink/dao/hbase/FileDescriptorDao.java
  flink/src/main/java/com/navercorp/pinpoint/flink/dao/hbase/MemoryDao.java
  flink/src/main/java/com/navercorp/pinpoint/flink/dao/hbase/ResponseTimeDao.java
  flink/src/main/java/com/navercorp/pinpoint/flink/dao/hbase/TransactionDao.java
  flink/src/main/java/com/navercorp/pinpoint/flink/process/ApplicationCache.java
  web/src/main/java/com/navercorp/pinpoint/web/mapper/SpanMapperV2.java
Labels: cleanup, module:project-common

#5708 [#noissue] updated README.md for kafka plugin
  agent/src/main/resources-local/pinpoint.config
  agent/src/main/resources-release/pinpoint-real-env-lowoverhead-sample.config
  agent/src/main/resources-release/pinpoint.config
  doc/images/plugin/kafka/servermap1.png
  doc/images/plugin/kafka/servermap2.png
  plugins/kafka/README.md
  quickstart/agent/src/main/resources/pinpoint.config
Labels: configuration, document

#5723 [#4558] Fixed to cleanup observer when the agent stops
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/command/GrpcCommandService.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/receiver/grpc/GrpcCommandService.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/sender/grpc/AgentGrpcDataSender.java
Labels: bug, module:project-common

#5730 [#2536] refactoring code
  web/src/main/java/com/navercorp/pinpoint/web/controller/ApplicationStatController.java
Labels: enhancement, module:web

#5729 [#4558] support deadline option for unary message
  agent/src/main/resources-local/pinpoint.config
  grpc/src/main/java/com/navercorp/pinpoint/grpc/client/ChannelFactory.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/client/ChannelFactoryOption.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/client/UnaryCallDeadlineInterceptor.java
  grpc/src/test/java/com/navercorp/pinpoint/grpc/ChannelFactoryTest.java
  grpc/src/test/java/com/navercorp/pinpoint/grpc/client/UnaryCallDeadlineInterceptorTest.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/grpc/GrpcTransportConfig.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/grpc/AgentGrpcDataSenderProvider.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/grpc/SpanGrpcDataSenderProvider.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/grpc/StatGrpcDataSenderProvider.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/sender/grpc/AgentGrpcDataSender.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/sender/grpc/GrpcDataSender.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/sender/grpc/SpanGrpcDataSender.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/sender/grpc/StatGrpcDataSender.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/sender/grpc/AgentGrpcDataSenderTestMain.java
Labels: enhancement, module:agent

#5736 [#noissue] cleanup duplicate logs
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/thrift/ThriftAgentEventHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/thrift/ThriftAgentInfoHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/thrift/ThriftAgentStatHandlerV2.java
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/thrift/ThriftApiMetaDataHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/thrift/ThriftSpanChunkHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/thrift/ThriftSpanHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/thrift/ThriftSqlMetaDataHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/thrift/ThriftStringMetaDataHandler.java
Labels: cleanup

#5737 [#4558] Add gRPC ClientOption
  collector/src/main/java/com/navercorp/pinpoint/collector/config/AgentBaseDataReceiverConfiguration.java
  collector/src/main/java/com/navercorp/pinpoint/collector/config/SpanReceiverConfiguration.java
  collector/src/main/java/com/navercorp/pinpoint/collector/config/StatReceiverConfiguration.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/GrpcReceiver.java
  collector/src/main/resources/applicationContext-collector.xml
  collector/src/main/resources/pinpoint-collector.properties
  collector/src/test/java/com/navercorp/pinpoint/collector/config/AgentBaseDataReceiverConfigurationTest.java
  collector/src/test/java/com/navercorp/pinpoint/collector/config/SpanReceiverConfigurationTest.java
  collector/src/test/java/com/navercorp/pinpoint/collector/config/StatReceiverConfigurationTest.java
  collector/src/test/java/com/navercorp/pinpoint/collector/receiver/grpc/AgentClientMock.java
  collector/src/test/java/com/navercorp/pinpoint/collector/receiver/grpc/AgentServerTestMain.java
  collector/src/test/java/com/navercorp/pinpoint/collector/receiver/grpc/SpanClientMock.java
  collector/src/test/java/com/navercorp/pinpoint/collector/receiver/grpc/SpanClientTestMain.java
  collector/src/test/java/com/navercorp/pinpoint/collector/receiver/grpc/SpanServerTestMain.java
  collector/src/test/java/com/navercorp/pinpoint/collector/receiver/grpc/StatServerTestMain.java
  commons/src/main/java/com/navercorp/pinpoint/common/util/PinpointThreadFactory.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/client/ChannelFactory.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/client/ChannelFactoryOption.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/client/ClientOption.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/server/ServerFactory.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/server/ServerOption.java
  grpc/src/test/java/com/navercorp/pinpoint/grpc/ChannelFactoryTest.java
  grpc/src/test/java/com/navercorp/pinpoint/grpc/client/ClientOptionTest.java
  grpc/src/test/java/com/navercorp/pinpoint/grpc/server/ServerOptionTest.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/grpc/GrpcTransportConfig.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/grpc/AgentGrpcDataSenderProvider.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/grpc/SpanGrpcDataSenderProvider.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/grpc/StatGrpcDataSenderProvider.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/sender/grpc/AgentGrpcDataSender.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/sender/grpc/GrpcDataSender.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/sender/grpc/SpanGrpcDataSender.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/sender/grpc/StatGrpcDataSender.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/sender/grpc/AgentGrpcDataSenderTestMain.java
Labels: enhancement, module:agent, module:collector

#5740 [#noissue] cleanup unnecessary log
  rpc/src/main/java/com/navercorp/pinpoint/rpc/server/PinpointServerAcceptor.java
Labels: cleanup

#5749 [#5448] parameter validation
  web/src/main/java/com/navercorp/pinpoint/web/controller/UserGroupController.java
Labels: module:web

#5752 [#4558] Change gRPC transport config
  grpc/src/main/java/com/navercorp/pinpoint/grpc/client/ChannelFactory.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/client/ClientOption.java
  grpc/src/test/java/com/navercorp/pinpoint/grpc/client/ClientOptionTest.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/grpc/GrpcTransportConfig.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/grpc/AgentGrpcDataSenderProvider.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/grpc/SpanGrpcDataSenderProvider.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/grpc/StatGrpcDataSenderProvider.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/context/grpc/GrpcTransportConfigTest.java
  profiler/src/test/resources/pinpoint.config
Labels: enhancement, module:agent

#5754 [#noissue] fix invalid configuration
  collector/src/main/resources/applicationContext-collector.xml
Labels: bug

#5755 [#noissue] fix invalid configuration (backport)
  collector/src/main/resources/applicationContext-collector.xml
Labels: bug
