Repository pinpoint-apm/pinpoint, pull requests merged in 2019-01, with the labels that each got.

#5075 [#5071] Move the location of some IntegrationTests
  agent-it/src/test/java/com/navercorp/pinpoint/plugin/jdk7/hbase/HbaseClientIT.java
Labels: cleanup, module:test

#5081 [#noissue] fix grpc integration test
  agent-it/src/test/java/com/navercorp/pinpoint/plugin/grpc/Grpc_1_8_0_to_IT.java
Labels: cleanup, module:test

#5084 [#noissue] Remove duplicated code
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/plugin/request/DefaultTraceHeaderReader.java
Labels: cleanup, module:agent

#5085 [#noissue] change comment characters to sharp at pinpoint.config
  agent/src/main/resources-local/pinpoint.config
  agent/src/main/resources-release/pinpoint.config
Labels: cleanup

#5088 [#noissue] fix grpc integration test
  agent-it/src/test/java/com/navercorp/pinpoint/plugin/jdk7/grpc/Grpc_1_8_0_to_IT.java
  agent-it/src/test/java/com/navercorp/pinpoint/plugin/jdk7/grpc/HelloWorldClient.java
  agent-it/src/test/java/com/navercorp/pinpoint/plugin/jdk7/grpc/HelloWorldServer.java
  agent-it/src/test/java/com/navercorp/pinpoint/plugin/jdk7/grpc/HelloWorldSimpleClient.java
  agent-it/src/test/java/com/navercorp/pinpoint/plugin/jdk7/grpc/HelloWorldSimpleServer.java
  agent-it/src/test/java/com/navercorp/pinpoint/plugin/jdk7/grpc/HelloWorldStreamClient.java
  agent-it/src/test/java/com/navercorp/pinpoint/plugin/jdk7/grpc/HelloWorldStreamServer.java
Labels: cleanup, module:test

#5093 [#noissue] Refactor ClassInjector
  profiler/src/main/java/com/navercorp/pinpoint/profiler/instrument/classloading/BootstrapClassLoaderHandler.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/instrument/classloading/BootstrapCore.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/instrument/classloading/JarProfilerPluginClassInjector.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/instrument/classloading/PlainClassLoaderHandler.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/instrument/classloading/URLClassLoaderHandler.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/instrument/classloading/JarProfilerPluginClassInjectorTest.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/instrument/classloading/PlainClassLoaderHandlerTest.java
Labels: cleanup, module:agent

#5008 [#5007] Bytecode search based on ProtectionDomain
  profiler-optional/profiler-optional-jdk8/src/test/java/com/navercorp/test/pinpoint/jdk8/interfaces/MethodInterfaceTest.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/instrument/ASMClass.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/instrument/ASMClassNodeAdapter.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/instrument/ASMEngine.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/instrument/ASMNestedClass.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/instrument/scanner/ClassScannerFactory.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/instrument/ASMAspectWeaverTest.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/instrument/ASMClassNodeAdapterTest.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/instrument/ASMClassTest.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/instrument/ASMMethodNodeAdapterTestMain.java
Labels: enhancement, module:agent

#5117 [#5111] Add api in PluginTestVerifier for to resolve timing issue
  agent-it/src/test/java/com/navercorp/pinpoint/plugin/hystrix/HystrixCommand_1_4_0_to_1_5_2_IT.java
  agent-it/src/test/java/com/navercorp/pinpoint/plugin/hystrix/HystrixCommand_1_5_3_to_1_5_x_IT.java
  agent-it/src/test/java/com/navercorp/pinpoint/plugin/hystrix/HystrixObservableCommand_1_4_0_to_1_5_2_IT.java
  agent-it/src/test/java/com/navercorp/pinpoint/plugin/hystrix/HystrixObservableCommand_1_5_3_to_1_5_x_IT.java
  agent-it/src/test/java/com/navercorp/pinpoint/plugin/jdk7/activemq/client/ActiveMQClientITBase.java
  agent-it/src/test/java/com/navercorp/pinpoint/plugin/jdk7/grpc/Grpc_1_8_0_to_IT.java
  agent-it/src/test/java/com/navercorp/pinpoint/plugin/jdk7/okhttp/OkHttpClient_2_x_IT.java
  agent-it/src/test/java/com/navercorp/pinpoint/plugin/jdk7/okhttp/OkHttpClient_3_0_0_to_3_3_x_IT.java
  agent-it/src/test/java/com/navercorp/pinpoint/plugin/jdk7/okhttp/OkHttpClient_3_4_0_to_3_x_IT.java
  agent-it/src/test/java/com/navercorp/pinpoint/plugin/rxjava/runners/GroupedObservableTestRunner.java
  agent-it/src/test/java/com/navercorp/pinpoint/plugin/spring/web/RestTemplateIT.java
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/plugin/test/PluginTestVerifier.java
  profiler-test/src/main/java/com/navercorp/pinpoint/test/PluginVerifierExternalAdaptor.java
Labels: enhancement, module:test

#5124 [#5118] Change method of create process in IT
  test/src/main/java/com/navercorp/pinpoint/test/plugin/DelegateSupportedPinpointPluginTestInstance.java
  test/src/main/java/com/navercorp/pinpoint/test/plugin/PinpointPluginTestSuite.java
Labels: enhancement, module:test

#5115 [#5114] Fix UndertowPlugin for Spring Boot & Wildfly
  agent/src/main/resources-local/pinpoint.config
  agent/src/main/resources-release/pinpoint.config
  plugins/pom.xml
  plugins/undertow-servlet/src/main/resources/META-INF/services/com.navercorp.pinpoint.common.trace.TraceMetadataProvider
  plugins/undertow/src/main/java/com/navercorp/pinpoint/plugin/undertow/UndertowConfig.java
  plugins/undertow/src/main/java/com/navercorp/pinpoint/plugin/undertow/UndertowPlugin.java
  plugins/undertow/src/main/java/com/navercorp/pinpoint/plugin/undertow/interceptor/ConnectorsExecuteRootHandlerInterceptor.java
Labels: bug, module:plugin

#5132 Kafka 2.0.0+ support
  plugins/kafka/src/main/java/com/navercorp/pinpoint/plugin/kafka/KafkaPlugin.java
Labels: enhancement, module:plugin

#5146 [#4999] Remove unused constants
  plugins/jackson/src/main/java/com/navercorp/pinpoint/plugin/jackson/JacksonConstants.java
Labels: module:plugin

#5152 [#5114] Fix UndertowPlugin for Spring Boot & Wildfly
  agent/src/main/resources-local/pinpoint.config
  agent/src/main/resources-release/pinpoint.config
  plugins/pom.xml
  plugins/undertow-servlet/src/main/resources/META-INF/services/com.navercorp.pinpoint.common.trace.TraceMetadataProvider
  plugins/undertow/src/main/java/com/navercorp/pinpoint/plugin/undertow/UndertowConfig.java
  plugins/undertow/src/main/java/com/navercorp/pinpoint/plugin/undertow/UndertowPlugin.java
  plugins/undertow/src/main/java/com/navercorp/pinpoint/plugin/undertow/interceptor/ConnectorsExecuteRootHandlerInterceptor.java
Labels: bug, module:plugin

#5150 [#5067] Cleanup mongodb plugin
  agent-it/src/test/java/com/navercorp/pinpoint/plugin/mongodb/MongoDBBase.java
  commons/src/main/java/com/navercorp/pinpoint/common/util/StringStringValue.java
  plugins/mongodb/src/main/java/com/navercorp/pinpoint/plugin/mongo/MongoConstants.java
  plugins/mongodb/src/main/java/com/navercorp/pinpoint/plugin/mongo/MongoPlugin.java
  plugins/mongodb/src/main/java/com/navercorp/pinpoint/plugin/mongo/MongoUtil.java
  plugins/mongodb/src/main/java/com/navercorp/pinpoint/plugin/mongo/NormalizedBson.java
  plugins/mongodb/src/main/java/com/navercorp/pinpoint/plugin/mongo/interceptor/DatabaseInfoUtils.java
  plugins/mongodb/src/main/java/com/navercorp/pinpoint/plugin/mongo/interceptor/MongoCUDSessionInterceptor.java
  plugins/mongodb/src/main/java/com/navercorp/pinpoint/plugin/mongo/interceptor/MongoDriverGetCollectionInterceptor.java
  plugins/mongodb/src/main/java/com/navercorp/pinpoint/plugin/mongo/interceptor/MongoDriverGetDatabaseInterceptor.java
  plugins/mongodb/src/main/java/com/navercorp/pinpoint/plugin/mongo/interceptor/MongoRSessionInterceptor.java
  plugins/mongodb/src/main/java/com/navercorp/pinpoint/plugin/mongo/interceptor/MongoReadPreferenceInterceptor.java
  plugins/mongodb/src/main/java/com/navercorp/pinpoint/plugin/mongo/interceptor/MongoWriteConcernInterceptor.java
  plugins/mongodb/src/test/java/com/navercorp/pinpoint/plugin/mongo/WritecontextTest.java
  plugins/mongodb/src/test/java/com/navercorp/pinpoint/plugin/mongo/interceptor/DatabaseInfoUtilsTest.java
Labels: cleanup, module:plugin

#5166 [#5165] Change Quickstart will to use cargo
  quickstart/bin/quickstart.cmd
  quickstart/bin/start-collector.sh
  quickstart/bin/start-testapp.sh
  quickstart/bin/start-web.sh
  quickstart/collector/pom.xml
  quickstart/conf/quickstart.properties
  quickstart/testapp/pom.xml
  quickstart/web/pom.xml
Labels: enhancement, module:project-common

#5174 [#5173] Update dependency
  agent/pom.xml
  plugins/pom.xml
  pom.xml
  quickstart/agent/pom.xml
Labels: cleanup

#5175 [#noissue] Remove unused test
  profiler-test/src/test/java/com/navercorp/pinpoint/test/plugin/DefaultClassEditorBuilderTest.java
  profiler-test/src/test/java/com/navercorp/pinpoint/test/plugin/TestInterceptor.java
Labels: cleanup

#5177 [#5173] Update dependency
  web/pom.xml
  web/src/package.json
Labels: cleanup

#5178 [#5173] Update dependency
  pom.xml
  thrift/pom.xml
  web/pom.xml
Labels: cleanup

#5181 [#noissue] Reduce memory usage
  web/src/main/java/com/navercorp/pinpoint/web/calltree/span/SpanAligner.java
Labels: cleanup
