Repository pinpoint-apm/pinpoint, pull requests merged in 2020-05, with the labels that each got.

#6755 [#6759] auto group agent if pinpoint.container.auto is set
  bootstrap/src/main/java/com/navercorp/pinpoint/bootstrap/ContainerResolver.java
  bootstrap/src/test/java/com/navercorp/pinpoint/bootstrap/ContainerResolverTest.java
Labels: enhancement, module:agent, waiting for review

#6782 [#noissue] fix test
  web/src/test/java/com/navercorp/pinpoint/web/servlet/RewriteForV2FilterTest.java
Labels: test

#6781 [#noissue] Remove system.out.println()
  collector/src/main/java/com/navercorp/pinpoint/collector/cluster/ClusterAddressProvider.java
  commons/src/main/java/com/navercorp/pinpoint/common/util/AgentUuidUtils.java
Labels: cleanup, module:collector

#6768 fix Filter Transaction Wizard transaction result filter
  web/src/main/angular/src/app/core/components/filter-transaction-wizard-popup/filter-transaction-wizard-popup.component.ts
  web/src/main/angular/src/app/core/models/filter.ts
Labels: bug, module:web

#6802 [#noissue] Escape call-tree title of web
  web/src/main/java/com/navercorp/pinpoint/web/view/TransactionInfoViewModel.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/callstacks/RecordFactory.java
Labels: enhancement, module:web
