Repository pinpoint-apm/pinpoint, pull requests merged in 2020-12, with the labels that each got.

#7461 [#6609] Implement data send side
  grpc/src/main/proto/Stat.proto
  profiler-test/src/test/java/com/navercorp/pinpoint/test/monitor/AgentStatMonitorTest.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/grpc/GrpcStatMessageConverter.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/grpc/GrpcUriStatMessageConverter.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/storage/AsyncQueueingUriStatStorage.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/storage/DisabledUriStatStorage.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/storage/UriStatStorage.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/monitor/DefaultAgentStatMonitor.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/monitor/StatMonitorJob.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/monitor/UriStatCollectingJob.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/sender/grpc/StatGrpcDataSender.java
Labels: enhancement, module:project-common

#7476 [#6609] Change URI stat histogram bucket
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/config/DefaultProfilerConfig.java
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/config/ProfilerConfig.java
  grpc/src/main/proto/Stat.proto
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/grpc/GrpcUriStatMessageConverter.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/UriStatStorageProvider.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/storage/AsyncQueueingUriStatStorage.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/monitor/metric/uri/AgentUriStatData.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/monitor/metric/uri/UriStatHistogram.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/monitor/metric/uri/UriStatHistogramBucket.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/context/monitor/metric/uri/UriStatHistogramSchemaTest.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/context/monitor/metric/uri/UriStatHistogramTest.java
Labels: enhancement, module:project-common

#7477 [#6609] Add URI stat handler in Collector
  collector/src/main/java/com/navercorp/pinpoint/collector/config/CollectorConfiguration.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/AgentUriStatDao.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/HbaseAgentUriStatDao.java
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/grpc/GrpcAgentEventHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/grpc/GrpcAgentStatHandlerV2.java
  collector/src/main/java/com/navercorp/pinpoint/collector/mapper/grpc/stat/GrpcAgentUriStatMapper.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/StatDispatchHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/StatService.java
  collector/src/main/java/com/navercorp/pinpoint/collector/service/AgentUriStatService.java
  collector/src/main/java/com/navercorp/pinpoint/collector/service/HBaseAgentUriStatService.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/stat/AgentUriStatBo.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/stat/EachUriStatBo.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/stat/UriStatHistogram.java
  commons/src/main/java/com/navercorp/pinpoint/common/trace/UriStatHistogramBucket.java
  commons/src/test/java/com/navercorp/pinpoint/common/trace/UriStatHistogramTest.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/grpc/GrpcUriStatMessageConverter.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/monitor/metric/uri/UriStatHistogram.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/sender/grpc/StatGrpcDataSender.java
  thrift/src/main/java/com/navercorp/pinpoint/thrift/io/DefaultTBaseLocator.java
Labels: enhancement, module:project-common

#7480 [#6609] Add URI stat table and codec
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/HbaseAgentUriStatDao.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/TableDescriptorConfig.java
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/ConnectionFactoryBean.java
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/HbaseColumnFamily.java
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/HbaseTable.java
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/TableDescriptors.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/codec/stat/AgentUriStatDecoder.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/codec/stat/AgentUriStatEncoder.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/codec/stat/v2/AgentUriStatCodecV2.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/codec/stat/v2/EachUriStatCodecV2.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/serializer/stat/AgentUriStatSerializer.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/stat/AgentStatType.java
  commons-server/src/test/java/com/navercorp/pinpoint/common/server/bo/codec/stat/TestAgentStatFactory.java
  commons-server/src/test/java/com/navercorp/pinpoint/common/server/bo/codec/stat/v2/AgentUriStatCodecV2Test.java
Labels: enhancement, module:project-common

#7482 [#6609] Add Controller in Web
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/stat/AgentUriStatBo.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/stat/EachUriStatBo.java
  commons/src/main/java/com/navercorp/pinpoint/common/trace/UriStatHistogramBucket.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/sender/grpc/StatGrpcDataSender.java
  web/src/main/java/com/navercorp/pinpoint/web/controller/AgentStatController.java
  web/src/main/java/com/navercorp/pinpoint/web/dao/hbase/TableDescriptorConfig.java
  web/src/main/java/com/navercorp/pinpoint/web/dao/hbase/stat/AgentStatDaoFactory.java
  web/src/main/java/com/navercorp/pinpoint/web/dao/hbase/stat/v2/HbaseAgentUriStatDaoOperationsV2.java
  web/src/main/java/com/navercorp/pinpoint/web/dao/hbase/stat/v2/HbaseAgentUriStatDaoV2.java
  web/src/main/java/com/navercorp/pinpoint/web/dao/stat/AgentUriStatDao.java
  web/src/main/java/com/navercorp/pinpoint/web/mapper/stat/AgentStatMapperV2.java
  web/src/main/java/com/navercorp/pinpoint/web/service/stat/AgentUriStatChartService.java
  web/src/main/java/com/navercorp/pinpoint/web/service/stat/AgentUriStatService.java
Labels: enhancement, module:project-common

#7483 [#7478] Change minimum value (30 -> 7)
  web/src/main/java/com/navercorp/pinpoint/web/batch/BatchConfiguration.java
Labels: enhancement, module:batch

#7487 [#6609] Add UriStatChartService
  commons/src/main/java/com/navercorp/pinpoint/common/trace/UriStatHistogramBucket.java
  web/src/main/java/com/navercorp/pinpoint/web/controller/AgentStatController.java
  web/src/main/java/com/navercorp/pinpoint/web/dao/hbase/stat/SampledAgentStatDaoFactory.java
  web/src/main/java/com/navercorp/pinpoint/web/dao/hbase/stat/v2/HbaseSampledAgentUriStatDaoV2.java
  web/src/main/java/com/navercorp/pinpoint/web/dao/stat/SampledAgentUriStatDao.java
  web/src/main/java/com/navercorp/pinpoint/web/mapper/stat/SampledUriStatResultExtractor.java
  web/src/main/java/com/navercorp/pinpoint/web/mapper/stat/sampling/sampler/AgentStatPointFactory.java
  web/src/main/java/com/navercorp/pinpoint/web/mapper/stat/sampling/sampler/AgentUriStatSampler.java
  web/src/main/java/com/navercorp/pinpoint/web/service/stat/AgentUriStatChartService.java
  web/src/main/java/com/navercorp/pinpoint/web/view/UriStatHistogramPointSerializer.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/stat/SampledAgentUriStat.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/stat/SampledEachUriStatBo.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/stat/SampledUriStatHistogramBo.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/stat/chart/agent/AgentUriStatChart.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/stat/chart/agent/UriStatHistogramPoint.java
Labels: enhancement, module:project-common

#7496 [#6609] Add test
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/grpc/GrpcAgentStatHandlerV2.java
  collector/src/test/java/com/navercorp/pinpoint/collector/handler/grpc/GrpcAgentUriStatHandlerV2Test.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/storage/AsyncQueueingUriStatStorage.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/storage/UriStatStorage.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/context/grpc/GrpcUriStatMessageConverterTest.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/context/storage/AsyncQueueingUriStatStorageTest.java
  web/src/test/java/com/navercorp/pinpoint/web/view/UriStatHistogramPointSerializerTest.java
Labels: test

#7497 [#7463] Fix Reactor-Netty HTTP client plugin
  agent-testweb/reactor-netty-plugin-testweb/src/main/java/com/pinpoint/test/plugin/ReactorNettyPluginTestController.java
  plugins/reactor-netty/src/main/java/com/navercorp/pinpoint/plugin/reactor/netty/ReactorNettyPlugin.java
  plugins/reactor-netty/src/main/java/com/navercorp/pinpoint/plugin/reactor/netty/interceptor/HttpClientHandlerConstructorInterceptor.java
  plugins/reactor-netty/src/main/java/com/navercorp/pinpoint/plugin/reactor/netty/interceptor/HttpClientHandlerRequestWithBodyInterceptor.java
  plugins/reactor-netty/src/main/java/com/navercorp/pinpoint/plugin/reactor/netty/interceptor/HttpClientOperationsSendInterceptor.java
Labels: bug, module:plugin

#7503 [#7463] Fix Reactor-Netty HTTP client plugin
  plugins/reactor-netty/src/main/java/com/navercorp/pinpoint/plugin/reactor/netty/ReactorNettyPlugin.java
Labels: module:plugin

#7508 [#7507] Fix unused data condition when checking Datasource alarm
  batch/src/main/java/com/navercorp/pinpoint/batch/alarm/collector/DataSourceDataCollector.java
  web/src/main/java/com/navercorp/pinpoint/web/alarm/collector/DataSourceDataCollector.java
Labels: bug, module:web

#7519 [#7213] file name change. add dependency for batch
  batch/src/main/resources/applicationContext-batch-dao-config.xml
  batch/src/main/resources/batch-mybatis-config.xml
  pom.xml
Labels: enhancement, module:batch
