Repository pinpoint-apm/pinpoint, pull requests merged in 2020-09, with the labels that each got.

#7203 [#noissue] Fix klocwork critical level
  rpc/src/main/java/com/navercorp/pinpoint/rpc/client/PinpointClientHandshaker.java
  rpc/src/main/java/com/navercorp/pinpoint/rpc/server/DefaultPinpointServer.java
Labels: enhancement, module:agent

#7204 [#noissue] Fix klocwork critical level
  rpc/src/main/java/com/navercorp/pinpoint/rpc/client/PinpointClientHandshaker.java
  rpc/src/main/java/com/navercorp/pinpoint/rpc/server/DefaultPinpointServer.java
Labels: enhancement, module:agent

#7199 Reduce memory usage of getAgentList
  web/src/main/java/com/navercorp/pinpoint/web/batch/job/AgentCountReader.java
  web/src/main/java/com/navercorp/pinpoint/web/controller/AgentInfoController.java
  web/src/main/java/com/navercorp/pinpoint/web/dao/hbase/HbaseAgentLifeCycleDao.java
  web/src/main/java/com/navercorp/pinpoint/web/service/AgentInfoService.java
  web/src/main/java/com/navercorp/pinpoint/web/service/AgentInfoServiceImpl.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/AgentInfoFilter.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/AgentInfoFilterChain.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/AgentStatus.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/ApplicationAgentsList.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/DefaultAgentInfoFilter.java
  web/src/test/java/com/navercorp/pinpoint/web/applicationmap/ApplicationMapBuilderTest.java
  web/src/test/java/com/navercorp/pinpoint/web/vo/AgentInfoFilterChainTest.java
  web/src/test/java/com/navercorp/pinpoint/web/vo/ApplicationAgentsListTest.java
  web/src/test/java/com/navercorp/pinpoint/web/vo/timeline/inspector/AgentStatusTimelineBuilderTest.java
  web/src/test/java/com/navercorp/pinpoint/web/vo/timeline/inspector/AgentStatusTimelineTest.java
Labels: module:web

#7226 [#noissue] Add servermap icon
  web/src/main/angular/src/assets/img/icons/TEST_STAND_ALONE.png
  web/src/main/angular/src/assets/img/servermap/TEST_STAND_ALONE.png
Labels: module:web

#7273 agent, use SizeBasedTriggeringPolicy for logging
  agent/src/main/resources/profiles/release/log4j2.xml
Labels: module:agent

#7278 [#NOISSUE] add interceptor for writer
  web/src/main/java/com/navercorp/pinpoint/web/alarm/AlarmWriter.java
  web/src/main/java/com/navercorp/pinpoint/web/alarm/AlarmWriterInterceptor.java
  web/src/main/java/com/navercorp/pinpoint/web/alarm/DefaultAlarmWriterInterceptor.java
  web/src/test/java/com/navercorp/pinpoint/web/alarm/AlarmWriterIsolationTest.java
Labels: module:web

#7274 collector, update local stat log filename format
  collector/src/main/resources/profiles/local/log4j2.xml
Labels: configuration

#7285 [#7283] Fixes the problem of setting the wrong EndPoint in Kafka Plugin
  plugins/kafka/src/main/java/com/navercorp/pinpoint/plugin/kafka/KafkaPlugin.java
  plugins/kafka/src/main/java/com/navercorp/pinpoint/plugin/kafka/field/accessor/EndPointFieldAccessor.java
  plugins/kafka/src/main/java/com/navercorp/pinpoint/plugin/kafka/field/accessor/SocketChannelListFieldAccessor.java
  plugins/kafka/src/main/java/com/navercorp/pinpoint/plugin/kafka/field/getter/SelectorGetter.java
  plugins/kafka/src/main/java/com/navercorp/pinpoint/plugin/kafka/interceptor/ConsumerMultiRecordEntryPointInterceptor.java
  plugins/kafka/src/main/java/com/navercorp/pinpoint/plugin/kafka/interceptor/ConsumerRecordEntryPointInterceptor.java
  plugins/kafka/src/main/java/com/navercorp/pinpoint/plugin/kafka/interceptor/ConsumerRecordsDesc.java
  plugins/kafka/src/main/java/com/navercorp/pinpoint/plugin/kafka/interceptor/ConsumerRecordsInterceptor.java
  plugins/kafka/src/main/java/com/navercorp/pinpoint/plugin/kafka/interceptor/NetworkClientPollInterceptor.java
  plugins/kafka/src/main/java/com/navercorp/pinpoint/plugin/kafka/interceptor/SocketChannelRegisterInterceptor.java
Labels: bug, module:plugin

#7286 [#noissue] Polishing
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/serializer/stat/AgentStatHbaseOperationFactory.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/serializer/stat/ApplicationStatHbaseOperationFactory.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/stat/join/JoinActiveTraceBo.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/stat/join/JoinApplicationStatBo.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/stat/join/JoinCpuLoadBo.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/stat/join/JoinDataSourceBo.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/stat/join/JoinDataSourceListBo.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/stat/join/JoinFileDescriptorBo.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/stat/join/JoinLoadedClassBo.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/stat/join/JoinMemoryBo.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/stat/join/JoinTransactionBo.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/stat/join/StatType.java
  web/src/main/java/com/navercorp/pinpoint/web/service/AdminServiceImpl.java
  web/src/main/java/com/navercorp/pinpoint/web/service/AgentInfoServiceImpl.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/AgentActiveThreadDumpList.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/ApplicationAgentHostList.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/BusinessTransactions.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/timeline/inspector/AgentEventMarker.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/timeline/inspector/AgentEventTimelineBuilder.java
Labels: cleanup

#7290 [#7212] Fixes invalid link when Kafka has multi-child
  web/src/main/java/com/navercorp/pinpoint/web/service/map/FilteredMapBuilder.java
Labels: bug, module:web

#7292 [#noissue] Reduce time complexity of Scatter chart
  web/src/main/java/com/navercorp/pinpoint/web/scatter/DotGroups.java
  web/src/main/java/com/navercorp/pinpoint/web/scatter/ScatterData.java
  web/src/main/java/com/navercorp/pinpoint/web/scatter/ScatterDataBuilder.java
  web/src/main/java/com/navercorp/pinpoint/web/view/ScatterDataSerializer.java
  web/src/test/java/com/navercorp/pinpoint/web/dao/hbase/HbaseApplicationTraceIndexDaoTest.java
  web/src/test/java/com/navercorp/pinpoint/web/scatter/ScatterDataTest.java
Labels: module:web

#7294 [#noissue] Add PerformanceLoggingInterceptor
  web/src/main/java/com/navercorp/pinpoint/web/controller/ScatterChartController.java
  web/src/main/java/com/navercorp/pinpoint/web/interceptor/PerformanceLoggingInterceptor.java
  web/src/main/resources/applicationContext-web.xml
Labels: module:web
