Repository pinpoint-apm/pinpoint, pull requests merged in 2020-04, with the labels that each got.

#6675 [#6656] Add end-point methods of Reactor Netty Plugin
  agent/src/main/resources/profiles/local/pinpoint-env.config
  agent/src/main/resources/profiles/release/pinpoint-env.config
  plugins/netty/src/main/java/com/navercorp/pinpoint/plugin/netty/NettyConfig.java
  plugins/netty/src/main/java/com/navercorp/pinpoint/plugin/netty/NettyPlugin.java
  plugins/netty/src/main/java/com/navercorp/pinpoint/plugin/netty/interceptor/ChannelCloseMethodInterceptor.java
  plugins/reactor-netty/src/main/java/com/navercorp/pinpoint/plugin/reactor/netty/ReactorNettyPlugin.java
  plugins/reactor-netty/src/main/java/com/navercorp/pinpoint/plugin/reactor/netty/ReactorNettyPluginConfig.java
  plugins/reactor-netty/src/main/java/com/navercorp/pinpoint/plugin/reactor/netty/interceptor/AbstractHttpServerHandleInterceptor.java
  plugins/reactor-netty/src/main/java/com/navercorp/pinpoint/plugin/reactor/netty/interceptor/ChannelOperationsChannelMethodInterceptor.java
  plugins/reactor-netty/src/main/java/com/navercorp/pinpoint/plugin/reactor/netty/interceptor/HttpServerHandleHttpServerStateInterceptor.java
  plugins/reactor-netty/src/main/java/com/navercorp/pinpoint/plugin/reactor/netty/interceptor/HttpServerHandleStateInterceptor.java
  plugins/spring-webflux/src/main/java/com/navercorp/pinpoint/plugin/spring/webflux/interceptor/DispatchHandlerHandleMethodInterceptor.java
Labels: bug, module:plugin

#6410 [#3077] add add column 'phone_country_code' puser table
  web/src/main/java/com/navercorp/pinpoint/web/controller/UserController.java
  web/src/main/java/com/navercorp/pinpoint/web/dao/UserGroupDao.java
  web/src/main/java/com/navercorp/pinpoint/web/dao/memory/MemoryUserGroupDao.java
  web/src/main/java/com/navercorp/pinpoint/web/dao/mysql/MysqlUserGroupDao.java
  web/src/main/java/com/navercorp/pinpoint/web/service/UserGroupService.java
  web/src/main/java/com/navercorp/pinpoint/web/service/UserGroupServiceImpl.java
  web/src/main/java/com/navercorp/pinpoint/web/service/UserServiceImpl.java
  web/src/main/java/com/navercorp/pinpoint/web/util/DefaultUserInfoDecoder.java
  web/src/main/java/com/navercorp/pinpoint/web/util/UserInfoDecoder.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/User.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/UserPhoneInfo.java
  web/src/main/resources/mapper/UserGroupMapper.xml
  web/src/main/resources/mapper/UserMapper.xml
  web/src/main/resources/mybatis-config.xml
  web/src/main/resources/sql/CreateTableStatement-mysql.sql
  web/src/test/java/com/navercorp/pinpoint/web/controller/ConfigControllerTest.java
  web/src/test/java/com/navercorp/pinpoint/web/controller/UserGroupControllerTest.java
  web/src/test/java/com/navercorp/pinpoint/web/util/ValueValidatorTest.java
Labels: enhancement, module:web

#6681 [#NOISSUE] code refactoring
  web/src/main/java/com/navercorp/pinpoint/web/service/UserGroupServiceImpl.java
  web/src/main/java/com/navercorp/pinpoint/web/service/UserServiceImpl.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/User.java
  web/src/test/java/com/navercorp/pinpoint/web/service/UserGroupServiceImplTest.java
  web/src/test/java/com/navercorp/pinpoint/web/service/UserServiceImplTest.java
Labels: module:web

#6684 [#6683] Fixing a plugin version conflict problem in a web module
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/util/ServerTraceMetadataLoaderService.java
  plugins-loader/src/main/java/com/navercorp/pinpoint/loader/plugins/trace/TraceMetadataProviderLoader.java
Labels: bug, module:web

#6689 [#6683] Fixing a plugin version conflict problem in a web module
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/util/ServerTraceMetadataLoaderService.java
  commons/src/main/java/com/navercorp/pinpoint/common/util/Filter.java
  plugins-loader/src/main/java/com/navercorp/pinpoint/loader/plugins/trace/TraceMetadataProviderLoader.java
Labels: bug, module:web

#6634 New feature Informix JDBC plugin
  commons/src/main/java/com/navercorp/pinpoint/common/trace/ServiceType.java
  plugins-it/activemq-it/src/test/resources/activemq/client/pinpoint-activemq-client.config
  plugins-it/cxf-it/src/test/resources/cxf/pinpoint-cxf-test.config
  plugins-it/druid-it/src/test/resources/druid/pinpoint-druid-test.config
  plugins-it/fastjson-it/src/test/resources/fastjson/pinpoint-fastjson-test.config
  plugins-it/google-grpc-it/src/test/resources/pinpoint-grpc-plugin-test.config
  plugins-it/hbase-it/src/test/resources/hbase/pinpoint-hbase-test.config
  plugins-it/hystrix-it/src/test/resources/hystrix/pinpoint-hystrix.config
  plugins-it/log4j-it/src/test/resources/pinpoint-spring-bean-test.config
  plugins-it/log4j2-it/src/test/resources/pinpoint-spring-bean-test.config
  plugins-it/log4j2-jdk8-it/src/test/resources/pinpoint-spring-bean-test.config
  plugins-it/logback-it/src/test/resources/pinpoint-spring-bean-test.config
  plugins-it/netty-it/src/test/resources/pinpoint-netty-plugin-test.config
  plugins-it/spring-it/src/test/resources/pinpoint-disabled-plugin-test.config
  plugins-it/spring-it/src/test/resources/pinpoint-spring-bean-test.config
  plugins/akka-http/src/test/resources/pinpoint.config
  plugins/assembly/pom.xml
  plugins/google-httpclient/src/test/resources/pinpoint.config
  plugins/httpclient3/src/test/resources/pinpoint.config
  plugins/httpclient4/src/test/resources/pinpoint.config
  plugins/informix-jdbc/pom.xml
  plugins/informix-jdbc/src/main/java/com/navercorp/pinpoint/plugin/jdbc/informix/InformixConfig.java
  plugins/informix-jdbc/src/main/java/com/navercorp/pinpoint/plugin/jdbc/informix/InformixConstants.java
  plugins/informix-jdbc/src/main/java/com/navercorp/pinpoint/plugin/jdbc/informix/InformixJdbcUrlParser.java
  plugins/informix-jdbc/src/main/java/com/navercorp/pinpoint/plugin/jdbc/informix/InformixPlugin.java
  plugins/informix-jdbc/src/main/java/com/navercorp/pinpoint/plugin/jdbc/informix/InformixTypeProvider.java
  plugins/informix-jdbc/src/main/java/com/navercorp/pinpoint/plugin/jdbc/informix/interceptor/InformixPreparedStatementCreateInterceptor.java
  plugins/informix-jdbc/src/main/java/com/navercorp/pinpoint/plugin/jdbc/informix/interceptor/InformixStatementCreateInterceptor.java
  plugins/informix-jdbc/src/main/java/com/navercorp/pinpoint/plugin/jdbc/informix/interceptor/getter/ConnectionInfoGetter.java
  plugins/informix-jdbc/src/main/java/com/navercorp/pinpoint/plugin/jdbc/informix/interceptor/getter/DatabaseNameGetter.java
  plugins/informix-jdbc/src/main/resources/META-INF/services/com.navercorp.pinpoint.bootstrap.plugin.ProfilerPlugin
  plugins/informix-jdbc/src/main/resources/META-INF/services/com.navercorp.pinpoint.common.trace.TraceMetadataProvider
  plugins/informix-jdbc/src/test/java/com/navercorp/pinpoint/plugin/jdbc/informix/InformixConnectionStringParserTest.java
  plugins/jboss/src/test/resources/pinpoint.config
  plugins/jsp/src/test/resources/pinpoint.config
  plugins/pom.xml
  plugins/redis/src/test/resources/pinpoint.config
  plugins/tomcat/src/test/resources/pinpoint.config
  plugins/user/src/test/resources/pinpoint.config
  plugins/vertx/src/test/resources/pinpoint.config
  plugins/weblogic/src/test/resources/pinpoint.config
  profiler-optional/profiler-optional-jdk8/src/test/resources/pinpoint-lambda-test.config
  profiler/src/test/resources/pinpoint-spring-bean-test.config
  profiler/src/test/resources/pinpoint.config
  quickstart/conf/pinpoint.config
  web/src/main/angular/src/assets/img/icons/INFORMIX.png
  web/src/main/angular/src/assets/img/icons/INFORMIX_GROUP.png
  web/src/main/angular/src/assets/img/servermap/INFORMIX.png
  web/src/main/angular/src/assets/img/servermap/INFORMIX_GROUP.png
Labels: enhancement, module:plugin

#6639 [#6682] JBoss 4 support patch
  plugins/jboss/src/main/java/com/navercorp/pinpoint/plugin/jboss/interceptor/StandardHostValveInvokeInterceptor.java
  plugins/jboss/src/main/java/com/navercorp/pinpoint/plugin/jboss/util/Servlet2ApiHelper.java
  plugins/jboss/src/main/java/com/navercorp/pinpoint/plugin/jboss/util/Servlet3ApiHelper.java
  plugins/jboss/src/main/java/com/navercorp/pinpoint/plugin/jboss/util/ServletApiHelper.java
Labels: enhancement

#6695 [#noissue] add default ProtectionDomain for BasePinpointTest
  profiler-test/src/main/java/com/navercorp/pinpoint/test/classloader/TransformClassLoader.java
Labels: enhancement, module:test

#6698 [#6697] Add informix jdbc IT
  plugins-it/informix-jdbc-it/pom.xml
  plugins-it/informix-jdbc-it/src/test/java/com/navercorp/pinpoint/plugin/jdbc/informix/InformixConnectionIT.java
  plugins-it/informix-jdbc-it/src/test/java/com/navercorp/pinpoint/plugin/jdbc/informix/InformixJDBCDriverClass.java
  plugins-it/informix-jdbc-it/src/test/resources/log4j.xml
  plugins-it/informix-jdbc-it/src/test/resources/pinpoint-informix.config
  plugins-it/pom.xml
Labels: module:plugin, test

#6703 [#NOISSUE] Changed to use connection pool in hbase connection factory
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/ConnectionFactoryBean.java
Labels: module:project-common

#6706 [#6696] Fix parameter extractor of WebSpherePlugin
  plugins/websphere/src/main/java/com/navercorp/pinpoint/plugin/websphere/IRequestParameterExtractor.java
Labels: bug, module:plugin

#6705 [#6704] Add agentId and applicationName inspection logic
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/HbaseAgentEventDao.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/HbaseAgentInfoDao.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/HbaseAgentLifeCycleDao.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/HbaseApiMetaDataDao.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/HbaseApplicationIndexDao.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/HbaseApplicationTraceIndexDao.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/HbaseHostApplicationMapDao.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/HbaseMapResponseTimeDao.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/HbaseSqlMetaDataDao.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/HbaseStringMetaDataDao.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/HbaseTraceDaoV2.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/stat/HbaseActiveTraceDao.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/stat/HbaseCpuLoadDao.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/stat/HbaseDataSourceListDao.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/stat/HbaseDeadlockThreadCountDao.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/stat/HbaseDirectBufferDao.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/stat/HbaseFileDescriptorDao.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/stat/HbaseJvmGcDao.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/stat/HbaseJvmGcDetailedDao.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/stat/HbaseResponseTimeDao.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/stat/HbaseTransactionDao.java
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/thrift/ThriftAgentEventHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/util/CollectorUtils.java
Labels: enhancement, module:collector

#6713 [#6712] collector support to connect multiple address
  collector/src/main/java/com/navercorp/pinpoint/collector/cluster/ClusterAddressProvider.java
  collector/src/main/java/com/navercorp/pinpoint/collector/cluster/connection/CollectorClusterConnector.java
  collector/src/main/java/com/navercorp/pinpoint/collector/cluster/zookeeper/ZookeeperClusterManager.java
  collector/src/main/java/com/navercorp/pinpoint/collector/util/AddressParser.java
  collector/src/main/java/com/navercorp/pinpoint/collector/util/MultipleAddress.java
  collector/src/test/java/com/navercorp/pinpoint/collector/cluster/ClusterAddressProviderTest.java
  rpc/src/main/java/com/navercorp/pinpoint/rpc/util/ClientFactoryUtils.java
Labels: enhancement, module:collector

#6719 [#noissue] cleanup duplicated log message
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/grpc/GrpcSpanChunkHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/grpc/GrpcSpanHandler.java
Labels: cleanup, module:collector

#6721 [#noissue] cleanup tostring message
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/SpanEventBo.java
Labels: cleanup, module:collector

#6731 [#noissue] reduce shade range for tomcat plugin
  plugins/tomcat/pom.xml
  plugins/tomcat/src/test/java/com/navercorp/pinpoint/plugin/tomcat/DependencyVerifierTest.java
Labels: enhancement, module:plugin

#6732 [#noissue] remove unnecessary config
  plugins/tomcat/pom.xml
Labels: cleanup, module:plugin

#6733 [#noissue] fix logging object
  rpc/src/main/java/com/navercorp/pinpoint/rpc/server/ChannelPropertiesFactory.java
Labels: log, module:collector

#6739 [#noissue] change informix plugin config in release environment
  agent/src/main/resources/profiles/release/pinpoint-env.config
Labels: configuration, module:plugin
