Repository pinpoint-apm/pinpoint, pull requests merged in 2020-02, with the labels that each got.

#6474 [#3141] Improve api for extends
  hbase/hbase-schema/src/main/java/com/navercorp/pinpoint/hbase/schema/service/HbaseSchemaServiceImpl.java
Labels: enhancement, module:project-common

#6479 [#6478] Update MongoPlugin for Reactive Streams
  commons/src/main/java/com/navercorp/pinpoint/common/trace/ServiceType.java
  plugins/mongodb/src/main/java/com/navercorp/pinpoint/plugin/mongo/MongoConstants.java
  plugins/mongodb/src/main/java/com/navercorp/pinpoint/plugin/mongo/MongoPlugin.java
  plugins/mongodb/src/main/java/com/navercorp/pinpoint/plugin/mongo/MongoTypeProvider.java
  plugins/mongodb/src/main/java/com/navercorp/pinpoint/plugin/mongo/interceptor/MongoCUDSessionInterceptor.java
  plugins/mongodb/src/main/java/com/navercorp/pinpoint/plugin/mongo/interceptor/MongoRSessionInterceptor.java
  plugins/mongodb/src/main/java/com/navercorp/pinpoint/plugin/mongo/interceptor/PublisherInterceptor.java
  web/src/main/angular/src/assets/img/icons/MONGO.png
  web/src/main/angular/src/assets/img/icons/MONGO_GROUP.png
Labels: enhancement, module:plugin

#6485 [#6369] Change mssql plugin's service type description
  plugins/mssql-jdbc/src/main/resources/META-INF/pinpoint/type-provider.yml
Labels: module:plugin

#6491 [#noissue] Fix transform of MongoPlugin & ReactorPlugin
  plugins/mongodb/src/main/java/com/navercorp/pinpoint/plugin/mongo/MongoPlugin.java
  plugins/reactor/src/main/java/com/navercorp/pinpoint/plugin/reactor/ReactorPlugin.java
Labels: bug, module:plugin

#6493 [#noissue] Fix NPE of KafkaPlugin
  plugins/kafka/src/main/java/com/navercorp/pinpoint/plugin/kafka/KafkaPlugin.java
Labels: enhancement, module:plugin

#6494 [#noissue] Fix log message of interceptor-registry
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/interceptor/registry/DefaultInterceptorRegistryAdaptor.java
Labels: enhancement, module:agent

#6499 [#noissue] Change the Span.acceptorHost value to be saved
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/grpc/GrpcSpanMessageConverter.java
Labels: enhancement, module:agent

#6501 [#noissue] Add icon for UnknownDB
  web/src/main/angular/src/assets/img/icons/UNKNOWN_DB.png
  web/src/main/angular/src/assets/img/servermap/UNKNOWN_DB.png
Labels: module:web, ui

#6503 [#noissue] Fix default main class of reactor-netty plugin
  plugins/reactor-netty/src/main/java/com/navercorp/pinpoint/plugin/reactor/netty/ReactorNettyDetector.java
Labels: enhancement, module:plugin

#6508 [#6507] Fix problem that do not set some fields when an exception occurs
  plugins/kafka/src/main/java/com/navercorp/pinpoint/plugin/kafka/interceptor/ProducerSendInterceptor.java
Labels: bug, module:plugin

#6509 [#noissue] Improved Accuracy of AgentPathFinder
  bootstrap/src/main/java/com/navercorp/pinpoint/bootstrap/PinpointBootStrap.java
  bootstrap/src/main/java/com/navercorp/pinpoint/bootstrap/PinpointStarter.java
  bootstrap/src/main/java/com/navercorp/pinpoint/bootstrap/agentdir/JavaAgentPathResolver.java
  bootstrap/src/test/java/com/navercorp/pinpoint/bootstrap/agentdir/JavaAgentPathResolverTest.java
Labels: enhancement, module:agent

#6506 [#6396] Increase capacity of API-META-DATA resources
  collector/src/main/resources/profiles/release/pinpoint-collector-grpc-env.properties
Labels: module:collector

#6510 [#noissue] Fix destinationId of rabbitmq plugin
  plugins/rabbitmq/src/main/java/com/navercorp/pinpoint/plugin/rabbitmq/client/interceptor/ChannelBasicPublishInterceptor.java
Labels: bug, module:plugin

#6517 [#noissue] Fix boot dir path of agent
  bootstrap/src/main/java/com/navercorp/pinpoint/bootstrap/agentdir/JavaAgentPathResolver.java
  bootstrap/src/test/java/com/navercorp/pinpoint/bootstrap/agentdir/JavaAgentPathResolverTest.java
Labels: module:agent

#6522 [#noissue] Chnage keep-alive time of grpc
  agent/src/main/resources/pinpoint.config
  collector/src/main/resources/pinpoint-collector-grpc.properties
  grpc/src/main/java/com/navercorp/pinpoint/grpc/client/ClientOption.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/server/ServerOption.java
Labels: configuration, module:agent, module:collector

#6536 [#noissue] Fix waiting asyn operations message of collector
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/HbaseTemplate2.java
Labels: enhancement, module:agent

#6551 [#noissue] fix creating invalid random value
  commons-server/src/test/java/com/navercorp/pinpoint/common/server/bo/codec/stat/TestAgentStatDataPointFactory.java
Labels: test
