Repository pinpoint-apm/pinpoint, pull requests merged in 2020-08, with the labels that each got.

#7081 [#NOISSUE] add interface to expose the metric
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/ApplicationMapBuilder.java
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/ApplicationMapBuilderFactory.java
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/appender/metric/DBMetric.java
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/appender/metric/DatabaseType.java
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/appender/metric/DefaultMetricInfoAppender.java
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/appender/metric/DefaultMetricInfoAppenderFactory.java
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/appender/metric/MetricInfoAppender.java
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/appender/metric/MetricInfoAppenderFactory.java
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/nodes/Node.java
  web/src/main/java/com/navercorp/pinpoint/web/view/NodeSerializer.java
  web/src/main/resources/applicationContext-web.xml
  web/src/test/java/com/navercorp/pinpoint/web/applicationmap/ApplicationMapBuilderTestHelper.java
  web/src/test/java/com/navercorp/pinpoint/web/service/FilteredMapServiceImplTest.java
Labels: module:web

#7094 [#7057] Fix log message of reactor plugin
  plugins/reactor-netty/src/main/java/com/navercorp/pinpoint/plugin/reactor/netty/interceptor/CorePublisherInterceptor.java
  plugins/reactor-netty/src/main/java/com/navercorp/pinpoint/plugin/reactor/netty/interceptor/SubscribeOrReturnMethodInterceptor.java
  plugins/reactor/src/main/java/com/navercorp/pinpoint/plugin/reactor/interceptor/CorePublisherInterceptor.java
  plugins/reactor/src/main/java/com/navercorp/pinpoint/plugin/reactor/interceptor/SchedulerAndWorkerScheduleMethodInterceptor.java
  plugins/reactor/src/main/java/com/navercorp/pinpoint/plugin/reactor/interceptor/SchedulerAndWorkerTaskRunMethodInterceptor.java
  plugins/reactor/src/main/java/com/navercorp/pinpoint/plugin/reactor/interceptor/SubscribeOrReturnMethodInterceptor.java
Labels: bug, module:plugin

#7095 [#noissue] Fix log4j2 space
  profiler-logging/src/main/java/com/navercorp/pinpoint/profiler/logging/AbstractLoggerAdapter.java
Labels: module:project-common

#7100 [#noissue] Fix log4j lib of agent
  agent/pom.xml
Labels: configuration, module:agent

#7108 [#noissue] Update Testcontainers version
  plugins-it/cassandra-it/pom.xml
  plugins-it/cassandra-it/src/test/java/com/navercorp/pinpoint/plugin/cassandra/CassandraDatastaxIT.java
  plugins-it/cassandra-it/src/test/java/com/navercorp/pinpoint/plugin/cassandra/CassandraDatastaxITBase.java
  plugins-it/informix-jdbc-it/src/test/java/com/navercorp/pinpoint/plugin/jdbc/informix/InformixConnectionIT.java
  plugins-it/mssql-jdbc-it/src/test/java/com/navercorp/pinpoint/plugin/jdbc/mssql/MSSSqlConnectionIT.java
  plugins-it/plugins-it-utils/src/main/java/com/navercorp/pinpoint/pluginit/utils/TestcontainersOption.java
  plugins-it/pom.xml
Labels: dependencies

#7125 [#NOISSUE] add interface to expose the metric
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/appender/metric/DatabaseType.java
Labels: module:web

#7087 [#noissue] Update quickstart guide
  doc/quickstart.md
Labels: document

#7039 Fix DB URL null:null
  plugins/informix-jdbc/src/main/java/com/navercorp/pinpoint/plugin/jdbc/informix/interceptor/InformixPreparedStatementCreateInterceptor.java
Labels: bug, module:plugin

#7137 [#7136] Fix parsing property in mssql's jdbcurl
  plugins/mssql-jdbc/src/main/java/com/navercorp/pinpoint/plugin/jdbc/mssql/MssqlJdbcUrlParser.java
  plugins/mssql-jdbc/src/test/java/com/navercorp/pinpoint/plugin/jdbc/mssql/MssqlJdbcUrlParserTest.java
Labels: bug, module:plugin

#7146 [#cleanup] remove unused configuration
  collector/src/main/resources/pinpoint-collector-root.properties
  collector/src/test/resources/test-pinpoint-collector.properties
  flink/src/main/resources/profiles/local/pinpoint-flink.properties
  flink/src/main/resources/profiles/release/pinpoint-flink.properties
Labels: cleanup, module:collector

#7148 [#noissue] Change quickstart testapp port
  quickstart/testapp/src/main/resources/application.yml
Labels: configuration

#7151 [#7149] Add CollectorMetric information to JMX
  collector/src/main/java/com/navercorp/pinpoint/collector/config/CollectorConfiguration.java
  collector/src/main/java/com/navercorp/pinpoint/collector/monitor/CollectorMetric.java
  collector/src/main/resources/pinpoint-collector-root.properties
  collector/src/test/resources/test-pinpoint-collector.properties
Labels: enhancement, module:collector

#7153 [#7152] edit flink dependency for logger
  flink/pom.xml
Labels: enhancement, module:flink

#7154 [#7149] Add CollectorMetric information to JMX
  collector/src/main/java/com/navercorp/pinpoint/collector/config/CollectorConfiguration.java
  collector/src/main/java/com/navercorp/pinpoint/collector/monitor/CollectorMetric.java
  collector/src/main/resources/pinpoint-collector-root.properties
  collector/src/test/resources/test-pinpoint-collector.properties
Labels: enhancement, module:collector

#7155 [#noissue] Upgrade ASM version 8.0.1
  pom.xml
Labels: enhancement, module:agent

#7167 [#noissue] Fix incorrect description in doc file
  doc/installation.md
  doc/main.md
Labels: document

#7170 [#7169] Add cache and etag policy for static resources in Web
  web/src/main/java/com/navercorp/pinpoint/web/WebApp.java
  web/src/main/java/com/navercorp/pinpoint/web/WebMvcConfig.java
Labels: enhancement, module:web

#7175 [#7161] Add server config
  agent/src/main/resources/pinpoint-root.config
  agent/src/main/resources/profiles/local/pinpoint.config
  agent/src/main/resources/profiles/release/pinpoint.config
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/config/ServerConfig.java
  bootstrap-core/src/test/java/com/navercorp/pinpoint/bootstrap/config/ServerConfigTest.java
  plugins/akka-http/src/main/java/com/navercorp/pinpoint/plugin/akka/http/AkkaHttpConfig.java
  plugins/jboss/src/main/java/com/navercorp/pinpoint/plugin/jboss/JbossConfig.java
  plugins/jetty/src/main/java/com/navercorp/pinpoint/plugin/jetty/JettyConfiguration.java
  plugins/reactor-netty/src/main/java/com/navercorp/pinpoint/plugin/reactor/netty/ReactorNettyPluginConfig.java
  plugins/resin/src/main/java/com/navercorp/pinpoint/plugin/resin/ResinConfig.java
  plugins/tomcat/src/main/java/com/navercorp/pinpoint/plugin/tomcat/TomcatConfig.java
  plugins/undertow/src/main/java/com/navercorp/pinpoint/plugin/undertow/UndertowConfig.java
  plugins/vertx/src/main/java/com/navercorp/pinpoint/plugin/vertx/VertxHttpServerConfig.java
  plugins/vertx/src/test/java/com/navercorp/pinpoint/plugin/vertx/VertxHttpServerConfigTest.java
  plugins/weblogic/src/main/java/com/navercorp/pinpoint/plugin/weblogic/WeblogicConfiguration.java
  plugins/websphere/src/main/java/com/navercorp/pinpoint/plugin/websphere/WebsphereConfiguration.java
Labels: enhancement, module:plugin

#7182 [#noissue] Add test for `plugins-it/plugins-it-utils`
  plugins-it/plugins-it-utils/src/test/java/com/navercorp/pinpoint/pluginit/utils/SocketUtilsTest.java
  plugins-it/plugins-it-utils/src/test/java/com/navercorp/pinpoint/pluginit/utils/WebServerTest.java
Labels: test

#7193 [#7044] Update stable version in README.md file
  README.md
Labels: document
