Repository pinpoint-apm/pinpoint, pull requests merged in 2020-11, with the labels that each got.

#7363 [#7362] Add kafka client plugin IT
  plugins-it/kafka-it/pom.xml
  plugins-it/kafka-it/src/test/java/com/navercorp/pinpoint/plugin/kafka/KafkaClientITBase.java
  plugins-it/kafka-it/src/test/java/com/navercorp/pinpoint/plugin/kafka/KafkaClient_0_11_x_IT.java
  plugins-it/kafka-it/src/test/java/com/navercorp/pinpoint/plugin/kafka/KafkaClient_1_0_x_IT.java
  plugins-it/kafka-it/src/test/java/com/navercorp/pinpoint/plugin/kafka/KafkaClient_1_1_x_IT.java
  plugins-it/kafka-it/src/test/java/com/navercorp/pinpoint/plugin/kafka/KafkaClient_2_0_x_IT.java
  plugins-it/kafka-it/src/test/java/com/navercorp/pinpoint/plugin/kafka/KafkaClient_2_2_x_IT.java
  plugins-it/kafka-it/src/test/java/com/navercorp/pinpoint/plugin/kafka/KafkaClient_2_3_0_IT.java
  plugins-it/kafka-it/src/test/java/com/navercorp/pinpoint/plugin/kafka/KafkaClient_2_3_1_to_max_IT.java
  plugins-it/kafka-it/src/test/java/com/navercorp/pinpoint/plugin/kafka/KafkaClient_2_4_x_IT.java
  plugins-it/kafka-it/src/test/java/com/navercorp/pinpoint/plugin/kafka/KafkaClient_2_5_x_IT.java
  plugins-it/kafka-it/src/test/java/com/navercorp/pinpoint/plugin/kafka/KafkaClient_2_6_x_IT.java
  plugins-it/kafka-it/src/test/java/test/pinpoint/plugin/kafka/KafkaITConstants.java
  plugins-it/kafka-it/src/test/java/test/pinpoint/plugin/kafka/KafkaUnitServer.java
  plugins-it/kafka-it/src/test/java/test/pinpoint/plugin/kafka/OffsetStore.java
  plugins-it/kafka-it/src/test/java/test/pinpoint/plugin/kafka/TestConsumer.java
  plugins-it/kafka-it/src/test/java/test/pinpoint/plugin/kafka/TestConsumerRecordEntryPoint.java
  plugins-it/kafka-it/src/test/java/test/pinpoint/plugin/kafka/TestProducer.java
  plugins-it/kafka-it/src/test/java/test/pinpoint/plugin/kafka/ZookeeperUnitServer.java
  plugins-it/kafka-it/src/test/resources/pinpoint-kafka-client.config
  plugins-it/pom.xml
Labels: module:plugin, test

#7392 [#7375] Add recovery.message.count config of collector
  collector/src/main/resources/profiles/local/pinpoint-collector-grpc.properties
  collector/src/main/resources/profiles/release/pinpoint-collector-grpc.properties
Labels: configuration, module:collector

#7394 [#7375] Add DiscardLimiter
  agent/src/main/resources/pinpoint-root.config
  collector/src/test/java/com/navercorp/pinpoint/collector/receiver/grpc/SpanClientMock.java
  collector/src/test/java/com/navercorp/pinpoint/collector/receiver/grpc/SpanClientTestMain.java
  collector/src/test/java/com/navercorp/pinpoint/collector/receiver/grpc/SpanServerTestMain.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/client/interceptor/DiscardClientCall.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/client/interceptor/DiscardClientInterceptor.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/client/interceptor/DiscardLimiter.java
  grpc/src/test/java/com/navercorp/pinpoint/grpc/client/interceptor/DiscardClientInterceptorTest.java
  grpc/src/test/java/com/navercorp/pinpoint/grpc/client/interceptor/DiscardLimiterTest.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/grpc/GrpcTransportConfig.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/grpc/SpanGrpcDataSenderProvider.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/sender/grpc/ResponseStreamObserver.java
Labels: enhancement, module:agent

#7406 [#NOISSUE] Alarm logic improvements
  web/src/main/java/com/navercorp/pinpoint/web/alarm/AlarmMailTemplate.java
  web/src/main/java/com/navercorp/pinpoint/web/alarm/AlarmWriter.java
Labels: module:web

#7404 [#7375] Add request immediately of collector
  grpc/src/main/java/com/navercorp/pinpoint/grpc/server/StreamExecutorRejectedExecutionRequestScheduler.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/server/StreamExecutorServerInterceptor.java
Labels: module:collector

#7407 [#7402] Support that reuse string value in SpanDecoder
  commons-buffer/src/main/java/com/navercorp/pinpoint/common/buffer/FixedBuffer.java
  commons-buffer/src/main/java/com/navercorp/pinpoint/common/buffer/StringCacheableBuffer.java
  commons/src/main/java/com/navercorp/pinpoint/common/util/LRUCache.java
  web/src/main/java/com/navercorp/pinpoint/web/dao/hbase/HbaseTraceDaoV2.java
  web/src/main/java/com/navercorp/pinpoint/web/mapper/SpanMapperV2.java
  web/src/main/resources/pinpoint-web-root.properties
Labels: enhancement, module:web

#7416 [#noissue] Polishing
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/AsyncPutHbaseTemplate2.java
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/HbaseOperations2.java
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/HbaseTemplate2.java
Labels: cleanup

#7439 [#6609] Add structure that profiler stores URI
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/plugin/ProfilerPluginSetupContext.java
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/plugin/request/ServletRequestListener.java
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/plugin/request/ServletRequestListenerBuilder.java
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/plugin/uri/DisabledUriStatRecorder.java
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/plugin/uri/UriExtractor.java
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/plugin/uri/UriExtractorChain.java
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/plugin/uri/UriExtractorProvider.java
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/plugin/uri/UriExtractorProviderLocator.java
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/plugin/uri/UriExtractorProviderRegistry.java
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/plugin/uri/UriExtractorService.java
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/plugin/uri/UriMappingExtractorProvider.java
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/plugin/uri/UriStatRecorder.java
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/plugin/uri/UriStatRecorderFactory.java
  bootstrap-core/src/test/java/com/navercorp/pinpoint/bootstrap/plugin/uri/UriExtractorProviderRegistryTest.java
  commons/src/main/java/com/navercorp/pinpoint/common/trace/UriExtractorType.java
  plugins/common-servlet/src/main/java/com/navercorp/pinpoint/plugin/common/servlet/ServletRequestAttributesMappingExtractor.java
  plugins/common-servlet/src/main/java/com/navercorp/pinpoint/plugin/common/servlet/ServletRequestUriExtractorService.java
  plugins/spring/src/main/java/com/navercorp/pinpoint/plugin/spring/web/SpringWebMvcConfig.java
  plugins/spring/src/main/java/com/navercorp/pinpoint/plugin/spring/web/SpringWebMvcConstants.java
  plugins/spring/src/main/java/com/navercorp/pinpoint/plugin/spring/web/SpringWebMvcPlugin.java
  plugins/tomcat/src/main/java/com/navercorp/pinpoint/plugin/tomcat/interceptor/StandardHostValveInvokeInterceptor.java
  profiler-test/src/main/java/com/navercorp/pinpoint/test/MockPluginContextLoadResult.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/module/ApplicationContextModule.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/ObjectBinderFactoryProvider.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/UriExtractorProviderLocatorProvider.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/UriStatRecorderFactoryProvider.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/recorder/DefaultUriStatRecorder.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/recorder/DefaultUriStatRecorderFactory.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/interceptor/factory/AnnotatedInterceptorFactory.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/objectfactory/InterceptorArgumentProvider.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/objectfactory/ObjectBinderFactory.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/plugin/DefaultPluginContextLoadResult.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/plugin/DefaultProfilerPluginSetupContext.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/plugin/GuardProfilerPluginSetupContext.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/plugin/PluginContextLoadResult.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/plugin/PluginSetupResult.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/instrument/ASMClassTest.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/plugin/AnnotatedInterceptorFactoryTest.java
Labels: enhancement, module:project-common

#7441 [#backport_7365] Fix getting localAddress when SocketChannel state is…
  plugins/kafka/src/main/java/com/navercorp/pinpoint/plugin/kafka/interceptor/NetworkClientPollInterceptor.java
Labels: bug, module:plugin

#7440 [#7365] Fix getting localAddress when SocketChannel state is connecting
  plugins/kafka/src/main/java/com/navercorp/pinpoint/plugin/kafka/interceptor/NetworkClientPollInterceptor.java
Labels: bug, module:plugin

#7452 [#6609] Allow empty extractor
  plugins/common-servlet/src/main/java/com/navercorp/pinpoint/plugin/common/servlet/ServletRequestUriExtractorService.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/recorder/DefaultUriStatRecorderFactory.java
Labels: enhancement, module:plugin

#7456 [#7455] The order of variable assignment is incorrect
  profiler/src/main/java/com/navercorp/pinpoint/profiler/sender/grpc/PingStreamContext.java
Labels: bug, module:agent

#7458 [#7457] The order of variable assignment is incorrect
  profiler/src/main/java/com/navercorp/pinpoint/profiler/sender/grpc/PingStreamContext.java
Labels: bug, module:agent
