Repository pinpoint-apm/pinpoint, pull requests merged in 2020-03, with the labels that each got.

#6565 [#6564] Supports REUSE_PORT option in UDP
  collector/src/main/java/com/navercorp/pinpoint/collector/config/DataReceiverGroupConfiguration.java
  collector/src/main/java/com/navercorp/pinpoint/collector/config/SpanReceiverConfiguration.java
  collector/src/main/java/com/navercorp/pinpoint/collector/config/StatReceiverConfiguration.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/thrift/UDPReceiverBean.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/thrift/udp/ReusePortSocketOptionHolder.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/thrift/udp/UDPReceiver.java
  collector/src/main/resources/applicationContext-collector.xml
  collector/src/main/resources/pinpoint-collector.properties
Labels: enhancement, module:collector

#6567 [#6564] Supports REUSE_PORT option in UDP
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/thrift/udp/ReusePortSocketOptionHolder.java
  collector/src/main/resources/applicationContext-collector.xml
Labels: enhancement, module:collector

#6561 [#6558] refactoring hbase Security logic
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/ConnectionFactoryBean.java
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/HbaseSecurityInterceptorFactory.java
  web/src/main/resources/applicationContext-web-hbase.xml
Labels: module:collector, module:project-common

#6580 [#cleanup] cleanup unused import
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/stat/HbaseDataSourceListDao.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/ServerRequestFactory.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/thrift/UDPReceiverBean.java
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/EmptyHbaseSecurityInterceptor.java
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/HBaseAsyncOperationFactory.java
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/TableDescriptor.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/Header.java
  plugins/hikaricp/src/main/java/com/navercorp/pinpoint/plugin/hikaricp/interceptor/DataSourceConstructorInterceptor.java
  web/src/main/java/com/navercorp/pinpoint/web/dao/hbase/HbaseApplicationActiveTraceDao.java
  web/src/main/java/com/navercorp/pinpoint/web/dao/hbase/HbaseApplicationMemoryDao.java
  web/src/main/java/com/navercorp/pinpoint/web/dao/hbase/HbaseApplicationTransactionDao.java
Labels: cleanup

#6583 [#6564] Add log when could not use option
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/thrift/udp/ReusePortSocketOptionHolder.java
Labels: enhancement, module:collector

#6594 [#6592] The agent explicitly loads ServiceProvider
  bootstrap-java9/src/main/java/com/navercorp/pinpoint/bootstrap/java9/module/ModuleSupport.java
  bootstrap-java9/src/main/java/com/navercorp/pinpoint/bootstrap/java9/module/ModuleSupportFactory.java
Labels: bug, module:agent

#6633 [#6632] Fix incorrect recording of response time in Grpc Plugin
  plugins/grpc/src/main/java/com/navercorp/pinpoint/plugin/grpc/GrpcServerPlugin.java
  plugins/grpc/src/main/java/com/navercorp/pinpoint/plugin/grpc/GrpcUtils.java
  plugins/grpc/src/main/java/com/navercorp/pinpoint/plugin/grpc/interceptor/server/GrpcAsyncContextSpanEventEndPointInterceptor.java
  plugins/grpc/src/main/java/com/navercorp/pinpoint/plugin/grpc/interceptor/server/ServerHalfCloseListenerInterceptor.java
Labels: bug, module:plugin

#6636 [#noissue] change collector's permit keepalivetime
  collector/src/main/resources/pinpoint-collector-grpc.properties
  grpc/src/main/java/com/navercorp/pinpoint/grpc/server/ServerOption.java
Labels: configuration, module:collector

#6654 [#6652] Support CIDR address format in collector.l4.ip configuration
  collector/src/main/resources/pinpoint-collector.properties
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/util/CidrAddressFilter.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/util/IgnoreAddressFilter.java
  commons-server/src/test/java/com/navercorp/pinpoint/common/server/util/IgnoreAddressFilterTest.java
Labels: enhancement, module:collector

#6660 change config. Because class name was changed and Constructor was changed
  flink/src/main/resources/applicationContext-flink.xml
  flink/src/main/resources/applicationContext-hbase.xml
Labels: module:flink

#6663 [#6662] Fix problems that do not retry when data transfer fails
  collector/src/test/java/com/navercorp/pinpoint/collector/receiver/grpc/MetadataClientMock.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/sender/grpc/MetadataGrpcDataSender.java
Labels: bug, module:agent
