Repository pinpoint-apm/pinpoint, pull requests merged in 2020-07, with the labels that each got.

#6965 [#6952] Simplify process of command channel initialization
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/command/GrpcCommandService.java
  collector/src/test/java/com/navercorp/pinpoint/collector/receiver/grpc/command/GrpcCommandServiceTest.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/Header.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/client/SupportCommandCodeClientInterceptor.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/server/AgentHeaderReader.java
  grpc/src/main/proto/Service.proto
  profiler/src/main/java/com/navercorp/pinpoint/profiler/receiver/grpc/GrpcCommandService.java
Labels: enhancement, module:agent

#6989 [#6988] Fixed not tracking ConsumerRecords when sampling is not 100% …
  plugins/kafka/src/main/java/com/navercorp/pinpoint/plugin/kafka/interceptor/ConsumerMultiRecordEntryPointInterceptor.java
  plugins/kafka/src/main/java/com/navercorp/pinpoint/plugin/kafka/interceptor/ConsumerRecordEntryPointInterceptor.java
Labels: bug, module:plugin

#6990 [backport_#6988] Fixed not tracking ConsumerRecords when sampling is …
  plugins/kafka/src/main/java/com/navercorp/pinpoint/plugin/kafka/interceptor/ConsumerMultiRecordEntryPointInterceptor.java
  plugins/kafka/src/main/java/com/navercorp/pinpoint/plugin/kafka/interceptor/ConsumerRecordEntryPointInterceptor.java
Labels: bug, module:plugin

#6996 Clarify milliseconds is a 13 digit number
  doc/proxy-http-header.md
Labels: document

#6960 lettuce plugin support redis cluster.
  plugins/redis-lettuce/src/main/java/com/navercorp/pinpoint/plugin/redis/lettuce/LettucePlugin.java
  plugins/redis-lettuce/src/main/java/com/navercorp/pinpoint/plugin/redis/lettuce/interceptor/LettuceMethodInterceptor.java
  plugins/redis-lettuce/src/main/java/com/navercorp/pinpoint/plugin/redis/lettuce/interceptor/RedisClusterClientConstructorInterceptor.java
Labels: module:plugin

#7003 [#noissue] Fix incorrect objectType
  web/src/main/java/com/navercorp/pinpoint/web/dao/hbase/stat/AgentStatDaoFactory.java
Labels: bug, module:web

#7008 [#6952] Fixed GrpcCommandDispatcher closing in wrong situation
  profiler/src/main/java/com/navercorp/pinpoint/profiler/receiver/grpc/GrpcCommandService.java
Labels: bug, module:agent

#6995 [#noissue] Upgrade spring5
  collector/pom.xml
  commons-server/pom.xml
  flink/pom.xml
  pom.xml
  web/pom.xml
  web/src/test/java/com/navercorp/pinpoint/web/vo/AgentDownloadInfoTest.java
Labels: dependencies, module:collector, module:flink, module:web

#7024 [#test] Clean up resources in NettyIT
  plugins-it/netty-it/src/test/java/com/navercorp/pinpoint/plugin/netty/NettyIT.java
Labels: cleanup, test

#7026 [#backrpot_test] Clean up resources in NettyIT
  plugins-it/netty-it/src/test/java/com/navercorp/pinpoint/plugin/netty/NettyIT.java
Labels: test

#7023 #7022 Spring-boot migration
  .gitignore
  collector/pom.xml
  collector/src/main/java/com/navercorp/pinpoint/collector/CollectorApp.java
  collector/src/main/java/com/navercorp/pinpoint/collector/CollectorStarter.java
  collector/src/main/java/com/navercorp/pinpoint/collector/ProfileApplicationListener.java
  collector/src/main/java/com/navercorp/pinpoint/collector/config/PinpointCollectorApplicationInitializer.java
  collector/src/main/resources/application.yml
  collector/src/main/resources/profiles/local/log4j2.xml
  collector/src/main/resources/profiles/release/log4j2.xml
  collector/src/main/resources/servlet-context.xml
  collector/src/main/resources/static/monitor/l7check.html
  collector/src/main/script/sample-collector-start.sh
  collector/src/main/webapp/WEB-INF/web.xml
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/profile/Log4j2ProfileProperty.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/profile/ProfileApplicationInitializer.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/util/ServerBootLogger.java
  flink/pom.xml
  plugins/spring-webflux/pom.xml
  pom.xml
  web/pom.xml
Labels: enhancement, module:collector

#7037 [#7036] Supports function to get the information of the active agent
  web/src/main/java/com/navercorp/pinpoint/web/controller/ApplicationController.java
  web/src/main/java/com/navercorp/pinpoint/web/service/AgentInfoService.java
  web/src/main/java/com/navercorp/pinpoint/web/service/AgentInfoServiceImpl.java
Labels: enhancement, module:web

#7049 [#noissue] Update spring beans plugin
  agent/src/main/resources/profiles/local/pinpoint.config
  agent/src/main/resources/profiles/release/pinpoint.config
Labels: configuration, module:plugin

#7051 [#6826] Change hours log format
  collector/src/main/resources/profiles/local/log4j2.xml
  collector/src/main/resources/profiles/release/log4j2.xml
  web/src/main/resources/profiles/local/log4j2.xml
  web/src/main/resources/profiles/release/log4j2.xml
Labels: configuration, module:collector, module:web

#7065 [#noissue] Cleanup logger that record unused packages
  collector/src/main/resources/profiles/local/log4j2.xml
  collector/src/main/resources/profiles/release/log4j2.xml
  web/src/main/resources/profiles/local/log4j.xml
  web/src/main/resources/profiles/local/log4j2.xml
  web/src/main/resources/profiles/release/log4j.xml
  web/src/main/resources/profiles/release/log4j2.xml
Labels: cleanup, module:web

#7068 [#7067] Fix incorrectly selecting node when acquiring CallStack
  web/src/main/java/com/navercorp/pinpoint/web/calltree/span/LinkMap.java
Labels: bug, module:web
