Repository pinpoint-apm/pinpoint, pull requests merged in 2020-10, with the labels that each got.

#7296 [#noissue] Add log of DiscardClientCall
  collector/src/test/java/com/navercorp/pinpoint/collector/receiver/grpc/SpanServerTestMain.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/client/interceptor/DiscardClientCall.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/client/interceptor/DiscardEventListener.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/client/interceptor/LoggingDiscardEventListener.java
  grpc/src/test/java/com/navercorp/pinpoint/grpc/client/interceptor/DiscardClientInterceptorTest.java
Labels: enhancement, module:agent

#7339 [#7338] Fix problems that do not delete cluster information
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/PinpointGrpcServer.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/command/GrpcCommandService.java
  collector/src/test/java/com/navercorp/pinpoint/collector/receiver/grpc/PinpointGrpcServerTest.java
Labels: bug, module:collector

#7337 [#7333] Fix asyncListener of tomcat plugin
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/plugin/request/AsyncListenerInterceptor.java
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/plugin/request/AsyncListenerInterceptorHelper.java
  plugins/tomcat/src/main/java/com/navercorp/pinpoint/plugin/tomcat/TomcatAsyncListener.java
  plugins/tomcat/src/main/java/com/navercorp/pinpoint/plugin/tomcat/TomcatConstants.java
  plugins/tomcat/src/main/java/com/navercorp/pinpoint/plugin/tomcat/interceptor/RequestStartAsyncInterceptor.java
  plugins/tomcat/src/main/java/com/navercorp/pinpoint/plugin/tomcat/interceptor/StandardHostValveInvokeInterceptor.java
Labels: bug, module:plugin

#7340 [#7313] Add limiter on the number of link data and on build time
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/ApplicationMapBuilder.java
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/appender/histogram/DefaultNodeHistogramAppender.java
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/appender/histogram/NodeHistogramAppender.java
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/appender/server/DefaultServerInfoAppender.java
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/appender/server/ServerInfoAppender.java
  web/src/main/java/com/navercorp/pinpoint/web/service/FilteredMapServiceImpl.java
  web/src/main/java/com/navercorp/pinpoint/web/service/LinkDataLimiter.java
  web/src/main/java/com/navercorp/pinpoint/web/service/MapServiceImpl.java
  web/src/main/resources/pinpoint-web-root.properties
  web/src/test/java/com/navercorp/pinpoint/web/applicationmap/ApplicationMapBuilderTest.java
  web/src/test/java/com/navercorp/pinpoint/web/applicationmap/appender/histogram/NodeHistogramAppenderTest.java
  web/src/test/java/com/navercorp/pinpoint/web/applicationmap/appender/server/ServerInfoAppenderTest.java
  web/src/test/java/com/navercorp/pinpoint/web/service/LinkDataLimiterTest.java
Labels: enhancement, module:web

#7342 [#noissue] Add comment to tomcat plugin
  plugins/tomcat/src/main/java/com/navercorp/pinpoint/plugin/tomcat/interceptor/StandardHostValveInvokeInterceptor.java
Labels: document

#7353 [#7352] Applies TestContainer to paho-mqtt-it
  plugins-it/paho-mqtt-it/pom.xml
  plugins-it/paho-mqtt-it/src/test/java/com/navercorp/pinpoint/plugin/paho/mqtt/PahoMqttContainer.java
  plugins-it/paho-mqtt-it/src/test/java/com/navercorp/pinpoint/plugin/paho/mqtt/PahoMqttV3ClientIT.java
  plugins-it/paho-mqtt-it/src/test/java/com/navercorp/pinpoint/plugin/paho/mqtt/PahoMqttV5ClientIT.java
Labels: bug, test

#7354 [#NOISSUE] add method to get transactionMetadata
  web/src/main/java/com/navercorp/pinpoint/web/service/ScatterChartService.java
  web/src/main/java/com/navercorp/pinpoint/web/service/ScatterChartServiceImpl.java
Labels: module:web

#7358 [#noissue] Add README.md in spring boot plugin
  plugins/spring-boot/README.md
Labels: document, module:plugin

#7360 [#7359] Fixes wrong datasource size checking
  collector/src/main/java/com/navercorp/pinpoint/collector/mapper/thrift/stat/ThriftDataSourceBoMapper.java
Labels: bug, module:collector

#7361 [#noissue] updates modules.md
  doc/modules.md
Labels: document

#7366 [#7365] Determining whether to insert a header according to the broke…
  plugins/kafka/src/main/java/com/navercorp/pinpoint/plugin/kafka/KafkaPlugin.java
  plugins/kafka/src/main/java/com/navercorp/pinpoint/plugin/kafka/field/getter/ApiVersionsGetter.java
  plugins/kafka/src/main/java/com/navercorp/pinpoint/plugin/kafka/interceptor/ProducerAddHeaderInterceptor.java
  plugins/kafka/src/main/java/com/navercorp/pinpoint/plugin/kafka/interceptor/ProducerSendInterceptor.java
  plugins/kafka/src/test/java/com/navercorp/pinpoint/plugin/kafka/interceptor/ProducerAddHeaderInterceptorTest.java
  plugins/kafka/src/test/java/com/navercorp/pinpoint/plugin/kafka/interceptor/ProducerSendInterceptorTest.java
Labels: enhancement, module:plugin
