Repository pinpoint-apm/pinpoint, pull requests merged in 2020-06, with the labels that each got.

#6810 [#6809] Support the function of storing custom metrics
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/config/DefaultProfilerConfig.java
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/config/ProfilerConfig.java
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/plugin/monitor/metric/CustomMetric.java
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/plugin/monitor/metric/CustomMetricRegistry.java
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/plugin/monitor/metric/DoubleGauge.java
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/plugin/monitor/metric/IntCount.java
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/plugin/monitor/metric/IntGauge.java
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/plugin/monitor/metric/LongCount.java
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/plugin/monitor/metric/LongGauge.java
  grpc/src/main/proto/CustomMetric.proto
  profiler-test/src/test/java/com/navercorp/pinpoint/test/monitor/AgentStatMonitorTest.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/grpc/GrpcCustomMetricMessageConverter.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/grpc/GrpcStatMessageConverter.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/module/ApplicationContextModule.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/module/DefaultApplicationContext.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/monitor/metric/AbstractCustomMetricWrapper.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/monitor/metric/CustomMetricIdGenerator.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/monitor/metric/CustomMetricRegistryAdaptor.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/monitor/metric/CustomMetricRegistryFilter.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/monitor/metric/CustomMetricRegistryService.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/monitor/metric/CustomMetricWrapper.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/monitor/metric/CustomMetricWrapperFactory.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/monitor/metric/DefaultCustomMetricRegistryFilter.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/monitor/metric/DefaultCustomMetricRegistryService.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/monitor/metric/DisabledCustomMetricRegistryService.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/monitor/metric/DoubleGaugeWrapper.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/monitor/metric/IntCountWrapper.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/monitor/metric/IntGaugeWrapper.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/monitor/metric/LongCountWrapper.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/monitor/metric/LongGaugeWrapper.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/ObjectBinderFactoryProvider.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/metric/CustomMetricRegistryServiceProvider.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/interceptor/factory/AnnotatedInterceptorFactory.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/monitor/CustomMetricCollectingJob.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/monitor/DefaultAgentStatMonitor.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/monitor/StatMonitorJob.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/monitor/collector/AgentCustomMetricCollector.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/monitor/metric/AgentCustomMetricSnapshot.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/monitor/metric/AgentCustomMetricSnapshotBatch.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/monitor/metric/custom/AbstractCustomMetricVo.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/monitor/metric/custom/CustomMetricVo.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/monitor/metric/custom/DoubleGaugeMetricVo.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/monitor/metric/custom/IntCountMetricVo.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/monitor/metric/custom/IntGaugeMetricVo.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/monitor/metric/custom/LongCountMetricVo.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/monitor/metric/custom/LongGaugeMetricVo.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/objectfactory/InterceptorArgumentProvider.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/objectfactory/ObjectBinderFactory.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/sender/grpc/StatGrpcDataSender.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/context/monitor/metric/CustomMetricRegistryServiceTest.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/instrument/ASMClassTest.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/monitor/metric/CustomMetricRegistryFilterTest.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/plugin/AnnotatedInterceptorFactoryTest.java
Labels: enhancement, module:project-common

#6850 [#noissue] Reduce memory copy
  web/src/main/java/com/navercorp/pinpoint/web/mapper/AgentEventMapper.java
  web/src/main/java/com/navercorp/pinpoint/web/mapper/AgentIdMapper.java
  web/src/main/java/com/navercorp/pinpoint/web/mapper/ApiMetaDataMapper.java
  web/src/main/java/com/navercorp/pinpoint/web/mapper/ApplicationNameMapper.java
  web/src/main/java/com/navercorp/pinpoint/web/mapper/ResponseTimeMapper.java
  web/src/main/java/com/navercorp/pinpoint/web/mapper/SpanMapperV2.java
  web/src/main/java/com/navercorp/pinpoint/web/mapper/TraceIndexScatterMapper3.java
Labels: enhancement, module:web

#6858 [#6809] Change classname
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/plugin/monitor/metric/CustomMetric.java
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/plugin/monitor/metric/CustomMetricRegistry.java
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/plugin/monitor/metric/IntCounter.java
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/plugin/monitor/metric/LongCounter.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/monitor/metric/CustomMetricRegistryAdaptor.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/monitor/metric/CustomMetricRegistryService.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/monitor/metric/CustomMetricWrapperFactory.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/monitor/metric/DefaultCustomMetricRegistryFilter.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/monitor/metric/DefaultCustomMetricRegistryService.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/monitor/metric/DisabledCustomMetricRegistryService.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/monitor/metric/IntCounterWrapper.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/monitor/metric/LongCounterWrapper.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/monitor/metric/custom/IntCountMetricVo.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/monitor/metric/custom/LongCountMetricVo.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/context/monitor/metric/CustomMetricRegistryServiceTest.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/monitor/metric/CustomMetricRegistryFilterTest.java
Labels: cleanup

#6860 [document] update quickstart's README for windows
  doc/quickstart.md
  quickstart/README.Win.en.md
  quickstart/README.Win.ko.md
Labels: document

#6853 [#noissue] Unexpected Charset can be set for String encoding
  collector/src/main/java/com/navercorp/pinpoint/collector/cluster/zookeeper/ZookeeperClusterManager.java
Labels: bug

#6868 Copy the quickstart window guide file to doc directory for the follow…
  doc/quickstart.Win.en.md
  doc/quickstart.Win.ko.md
  doc/quickstart.md
  quickstart/README.md
Labels: document

#6874 [#6871] Remove unnecessary batch.enable setting
  doc/alarm.md
  web/src/main/java/com/navercorp/pinpoint/web/batch/BatchConfiguration.java
  web/src/main/resources/applicationContext-web-profile.xml
  web/src/main/resources/batch.properties
  web/src/test/java/com/navercorp/pinpoint/web/batch/BatchConfigurationTest.java
Labels: cleanup, module:web

#6881 [#noissue] Fix module provider filtering
  bootstrap-java9/src/main/java/com/navercorp/pinpoint/bootstrap/java9/module/ModuleSupport.java
Labels: bug, module:agent

#6897 [#noissue] Change access modifier in KeepAliveService
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/KeepAliveService.java
Labels: enhancement, module:collector

#6901 [#noissue] Add properties field for Header class
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/KeepAliveService.java
  collector/src/main/resources/applicationContext-collector-grpc.xml
  grpc/src/main/java/com/navercorp/pinpoint/grpc/Header.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/server/AgentHeaderReader.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/server/HeaderPropagationInterceptor.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/server/ServerFactory.java
Labels: enhancement, module:collector

#6907 [#6906] Encryption of user personal information
  web/src/main/java/com/navercorp/pinpoint/web/service/UserGroupServiceImpl.java
  web/src/main/java/com/navercorp/pinpoint/web/service/UserServiceImpl.java
  web/src/main/java/com/navercorp/pinpoint/web/util/DefaultUserInfoDecoder.java
  web/src/main/java/com/navercorp/pinpoint/web/util/DefaultUserInfoEncoder.java
  web/src/main/java/com/navercorp/pinpoint/web/util/UserInfoDecoder.java
  web/src/main/java/com/navercorp/pinpoint/web/util/UserInfoEncoder.java
  web/src/test/java/com/navercorp/pinpoint/web/service/UserGroupServiceImplTest.java
  web/src/test/java/com/navercorp/pinpoint/web/service/UserServiceImplTest.java
Labels: module:web

#6918 [#noissue] Add agentRootPath in properties
  bootstrap/src/main/java/com/navercorp/pinpoint/bootstrap/agentdir/AgentDirectory.java
  bootstrap/src/main/java/com/navercorp/pinpoint/bootstrap/config/ProfilePropertyLoader.java
Labels: enhancement, module:agent

#6922 [#noissue] Upgrade dependencies
  flink/pom.xml
  plugins/bom/pom.xml
  pom.xml
  web/pom.xml
Labels: dependencies

#6925 [#6923] Enhance the Hint of TransactionMetadata
  web/src/main/java/com/navercorp/pinpoint/web/mapper/TargetSpanDecoder.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/GetTraceInfoParser.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/SpanHint.java
  web/src/test/java/com/navercorp/pinpoint/web/mapper/TargetSpanDecoderTest.java
Labels: bug, module:web

#6924 [#noissue] Upgrade dependencies
  commons-buffer/pom.xml
  commons-buffer/src/test/java/com/navercorp/pinpoint/common/buffer/AutomaticBufferTest.java
  commons-buffer/src/test/java/com/navercorp/pinpoint/common/buffer/FixedBufferTest.java
  plugins/mybatis/pom.xml
  pom.xml
  profiler/pom.xml
  profiler/src/test/java/com/navercorp/pinpoint/profiler/context/thrift/SpanThriftMessageConverterTest.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/monitor/metric/datasource/DefaultDataSourceMetricTest.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/sender/NioUdpDataSenderTest.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/sender/UdpDataSenderTest.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/util/RandomExUtils.java
  thrift/pom.xml
  thrift/src/test/java/com/navercorp/pinpoint/thrift/io/TBaseStreamTest.java
Labels: dependencies

#6916 [#6882] Support function to cleanup inacitve agents using batch
  web/src/main/java/com/navercorp/pinpoint/web/batch/BatchConfiguration.java
  web/src/main/java/com/navercorp/pinpoint/web/batch/BatchJobLauncher.java
  web/src/main/java/com/navercorp/pinpoint/web/batch/job/CleanupInactiveAgentsTasklet.java
  web/src/main/resources/batch.properties
  web/src/main/resources/batch/applicationContext-batch-schedule.xml
  web/src/main/resources/batch/applicationContext-cleanupInactiveAgentsJob.xml
  web/src/test/java/com/navercorp/pinpoint/web/batch/BatchConfigurationTest.java
Labels: enhancement, module:web

#6926 [#noissue] Remove deprecated API
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/config/DefaultProfilerConfig.java
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/instrument/InstrumentClass.java
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/instrument/InstrumentMethod.java
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/instrument/transformer/TransformUtils.java
  commons-buffer/src/main/java/com/navercorp/pinpoint/common/buffer/FixedBuffer.java
  commons/src/main/java/com/navercorp/pinpoint/common/util/BytesUtils.java
  plugins/thrift/src/main/java/com/navercorp/pinpoint/plugin/thrift/ThriftPlugin.java
  profiler-test/src/test/java/com/navercorp/pinpoint/test/MockApplicationContextModuleTest.java
  profiler-test/src/test/java/com/navercorp/pinpoint/test/javasssit/JavassistClassTest.java
  profiler-test/src/test/java/com/navercorp/pinpoint/test/javasssit/accessor/AccessorInjectionTest.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/SpanEvent.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/instrument/ASMClass.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/instrument/ASMMethod.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/instrument/ASMNestedClass.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/instrument/ASMClassTest.java
Labels: cleanup

#6909 Fix the incorrect behavior of collecting old gen gc info in DetailedG…
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/stat/jvmgc/DetailedGarbageCollectorMetricProvider.java
Labels: bug, module:agent

#6948 [#6947] Add ProfilerCommandService for Grpc
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/grpc/AgentGrpcDataSenderProvider.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/receiver/DefaultProfilerCommandServiceLocator.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/receiver/ProfilerCommandServiceLocator.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/receiver/grpc/GrpcActiveThreadCountService.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/receiver/grpc/GrpcActiveThreadDumpService.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/receiver/grpc/GrpcActiveThreadLightDumpService.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/receiver/grpc/GrpcCommandDispatcher.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/receiver/grpc/GrpcCommandService.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/receiver/grpc/GrpcEchoService.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/receiver/grpc/ProfilerGrpcCommandService.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/sender/grpc/AgentGrpcDataSender.java
Labels: cleanup, module:agent

#6944 [#6943] Remove duplicated code of Point class
  web/src/main/java/com/navercorp/pinpoint/web/view/ActiveTracePointSerializer.java
  web/src/main/java/com/navercorp/pinpoint/web/view/DataSourcePointSerializer.java
  web/src/main/java/com/navercorp/pinpoint/web/view/DirectBufferPointSerializer.java
  web/src/main/java/com/navercorp/pinpoint/web/view/DoubleApplicationStatSerializer.java
  web/src/main/java/com/navercorp/pinpoint/web/view/FileDescriptorPointSerializer.java
  web/src/main/java/com/navercorp/pinpoint/web/view/IntApplicationStatSerializer.java
  web/src/main/java/com/navercorp/pinpoint/web/view/LongApplicationStatSerializer.java
  web/src/main/java/com/navercorp/pinpoint/web/view/MemoryPointSerializer.java
  web/src/main/java/com/navercorp/pinpoint/web/view/TotalThreadCountPointSerializer.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/stat/chart/application/ActiveTracePoint.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/stat/chart/application/ApplicationActiveTraceChart.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/stat/chart/application/ApplicationCpuLoadChart.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/stat/chart/application/ApplicationDataSourceChart.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/stat/chart/application/ApplicationDirectBufferChart.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/stat/chart/application/ApplicationFileDescriptorChart.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/stat/chart/application/ApplicationMemoryChart.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/stat/chart/application/ApplicationResponseTimeChart.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/stat/chart/application/ApplicationStatPoint.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/stat/chart/application/ApplicationTotalThreadCountChart.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/stat/chart/application/ApplicationTransactionChart.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/stat/chart/application/CpuLoadPoint.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/stat/chart/application/DataSourcePoint.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/stat/chart/application/DirectBufferPoint.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/stat/chart/application/DoubleApplicationStatPoint.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/stat/chart/application/FileDescriptorPoint.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/stat/chart/application/IntApplicationStatPoint.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/stat/chart/application/LongApplicationStatPoint.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/stat/chart/application/MemoryPoint.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/stat/chart/application/ResponseTimePoint.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/stat/chart/application/TotalThreadCountPoint.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/stat/chart/application/TransactionPoint.java
  web/src/test/java/com/navercorp/pinpoint/web/vo/stat/chart/application/ApplicationActiveTraceChartGroupTest.java
  web/src/test/java/com/navercorp/pinpoint/web/vo/stat/chart/application/ApplicationCpuLoadChartGroupTest.java
  web/src/test/java/com/navercorp/pinpoint/web/vo/stat/chart/application/ApplicationDataSourceChartGroupTest.java
  web/src/test/java/com/navercorp/pinpoint/web/vo/stat/chart/application/ApplicationDirectBufferChartGroupTest.java
  web/src/test/java/com/navercorp/pinpoint/web/vo/stat/chart/application/ApplicationFileDescriptorChartGroupTest.java
  web/src/test/java/com/navercorp/pinpoint/web/vo/stat/chart/application/ApplicationMemoryChartGroupTest.java
  web/src/test/java/com/navercorp/pinpoint/web/vo/stat/chart/application/ApplicationResponseTimeChartGroupTest.java
  web/src/test/java/com/navercorp/pinpoint/web/vo/stat/chart/application/ApplicationTotalThreadCountChartGroupTest.java
  web/src/test/java/com/navercorp/pinpoint/web/vo/stat/chart/application/ApplicationTransactionChartGroupTest.java
Labels: cleanup, module:web

#6955 [#6952] Simplify process of command channel initialization
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/command/GrpcCommandService.java
  collector/src/test/java/com/navercorp/pinpoint/collector/receiver/grpc/command/GrpcCommandServiceTest.java
  commons-server/src/test/java/com/navercorp/pinpoint/common/server/bo/grpc/CollectorGrpcSpanFactoryTest.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/Header.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/client/SupportCommandCodeClientInterceptor.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/server/AgentHeaderReader.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/receiver/grpc/GrpcCommandService.java
Labels: enhancement, module:agent, module:collector
