Repository pinpoint-apm/pinpoint, pull requests merged in 2020-01, with the labels that each got.

#6376 [#cleanup] remove unnecessaryCode
  plugins/cxf/src/main/java/com/navercorp/pinpoint/plugin/cxf/interceptor/CxfClientHandleMessageMethodInterceptor.java
  plugins/cxf/src/main/java/com/navercorp/pinpoint/plugin/cxf/interceptor/CxfClientInvokeSyncMethodInterceptor.java
  plugins/cxf/src/test/java/com/navercorp/pinpoint/plugin/cxf/interceptor/CxfClientHandleMessageMethodInterceptorTest.java
  plugins/cxf/src/test/java/com/navercorp/pinpoint/plugin/cxf/interceptor/CxfClientInvokeSyncMethodInterceptorTest.java
  plugins/netty/src/main/java/com/navercorp/pinpoint/plugin/netty/interceptor/http/HttpEncoderInterceptor.java
Labels: cleanup, module:plugin

#6379 [#fix] misused logic
  plugins/grpc/src/main/java/com/navercorp/pinpoint/plugin/grpc/interceptor/client/ClientCallStartInterceptor.java
  plugins/kafka/src/main/java/com/navercorp/pinpoint/plugin/kafka/interceptor/ProducerSendInterceptor.java
  plugins/kafka/src/test/java/com/navercorp/pinpoint/plugin/kafka/interceptor/ProducerSendInterceptorTest.java
Labels: bug, module:plugin

#6392 [#6303] Apply spring profile to flink
  doc/application-inspector.md
Labels: document

#6394 [#noissue] Update spring webflux readme
  plugins/spring-webflux/README.md
Labels: enhancement, module:plugin

#6396 [#NOISSUE] update to supported Modules
  README.md
  doc/modules.md
Labels: document

#6395 [#6156] apply profile to quickstart
  quickstart/collector/pom.xml
  quickstart/collector/src/main/resources/hbase.properties
  quickstart/collector/src/main/resources/pinpoint-collector.properties
  quickstart/collector/src/main/resources/profiles/local/pinpoint-collector-env.properties
  quickstart/collector/src/main/resources/profiles/release/pinpoint-collector-env.properties
  quickstart/web/pom.xml
  quickstart/web/src/main/resources/hbase.properties
  quickstart/web/src/main/resources/jdbc.properties
  quickstart/web/src/main/resources/log4j.xml
  quickstart/web/src/main/resources/pinpoint-web.properties
  quickstart/web/src/main/resources/profiles/local/pinpoint-web-env.properties
  quickstart/web/src/main/resources/profiles/release/pinpoint-web-env.properties
Labels: cleanup

#6397 [#cleanup] remove unused code
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/HBaseTables.java
  commons-hbase/src/test/java/com/navercorp/pinpoint/common/hbase/HbaseTableTest.java
Labels: cleanup, module:project-common

#6411 [#4558] Change to flush immediately in agent
  profiler/src/main/java/com/navercorp/pinpoint/profiler/receiver/grpc/GrpcStreamService.java
Labels: bug, module:agent

#6422 [#6421] Do not allow rewrite when use rest api
  web/src/main/java/com/navercorp/pinpoint/web/servlet/RewriteForV2Filter.java
  web/src/test/java/com/navercorp/pinpoint/web/servlet/RewriteForV2FilterTest.java
Labels: bug, module:web

#6430 [#4558] Fix missing inserting information
  collector/src/main/java/com/navercorp/pinpoint/collector/cluster/ClusterPointRepository.java
  collector/src/main/java/com/navercorp/pinpoint/collector/cluster/GrpcAgentConnection.java
Labels: bug, module:collector

#6457 [#6456] Update reactor plugin for scheduler
  agent/src/main/resources/profiles/local/pinpoint-env.config
  agent/src/main/resources/profiles/release/pinpoint-env.config
  plugins/reactor/src/main/java/com/navercorp/pinpoint/plugin/reactor/ReactorConstants.java
  plugins/reactor/src/main/java/com/navercorp/pinpoint/plugin/reactor/ReactorPeriodicSchedulerMethodDescriptor.java
  plugins/reactor/src/main/java/com/navercorp/pinpoint/plugin/reactor/ReactorPlugin.java
  plugins/reactor/src/main/java/com/navercorp/pinpoint/plugin/reactor/ReactorPluginConfig.java
  plugins/reactor/src/main/java/com/navercorp/pinpoint/plugin/reactor/interceptor/PeriodicSchedulerTaskRunMethodInterceptor.java
  plugins/reactor/src/main/java/com/navercorp/pinpoint/plugin/reactor/interceptor/SchedulerAndWorkerScheduleMethodInterceptor.java
  plugins/reactor/src/main/java/com/navercorp/pinpoint/plugin/reactor/interceptor/SchedulerAndWorkerTaskRunMethodInterceptor.java
  plugins/reactor/src/main/resources/META-INF/pinpoint/type-provider.yml
Labels: enhancement, module:plugin

#6463 [#noissue] Fix span record of UserPlugin
  plugins/user/src/main/java/com/navercorp/pinpoint/plugin/user/interceptor/UserIncludeMethodInterceptor.java
Labels: enhancement, module:plugin

#6465 [#6456] Add onError () error filtering of ReactorPlugin
  agent/src/main/resources/profiles/local/pinpoint-env.config
  agent/src/main/resources/profiles/release/pinpoint-env.config
  plugins/reactor/src/main/java/com/navercorp/pinpoint/plugin/reactor/ReactorPlugin.java
  plugins/reactor/src/main/java/com/navercorp/pinpoint/plugin/reactor/ReactorPluginConfig.java
  plugins/reactor/src/main/java/com/navercorp/pinpoint/plugin/reactor/interceptor/CoreSubscriberInterceptor.java
Labels: enhancement, module:plugin
