Repository pinpoint-apm/pinpoint, pull requests merged in 2021-01, with the labels that each got.

#7530 [#7375] Fix NPE of ChannelzServerTransportFilter.transportTerminated()
  grpc/src/main/java/com/navercorp/pinpoint/grpc/channelz/ChannelzServerTransportFilter.java
Labels: bug

#7532 [#7531] Fix Potential OOM in ObjectPool of UDPReceiver
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/thrift/udp/UDPReceiver.java
  collector/src/main/resources/applicationContext-collector.xml
Labels: bug, module:collector

#7535 [#noissue] record log in GrpcCommandService
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/PinpointGrpcServer.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/command/GrpcCommandService.java
Labels: log, module:collector

#7540 [#7539] Fix bug that does not delete GrpcServer in CommandService
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/PinpointGrpcServer.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/command/GrpcCommandService.java
Labels: bug, module:collector

#7544 [#7543] GrpcCluster monitoring and checking API in collector
  collector/src/main/java/com/navercorp/pinpoint/collector/controller/ClusterPointController.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/PinpointGrpcServer.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/command/GrpcCommandService.java
Labels: enhancement, module:collector

#7533 Agent adds configuration parameters to support environment variables
  bootstrap/src/main/java/com/navercorp/pinpoint/bootstrap/AgentIdResolver.java
  bootstrap/src/main/java/com/navercorp/pinpoint/bootstrap/AgentIdResolverBuilder.java
  bootstrap/src/main/java/com/navercorp/pinpoint/bootstrap/AgentIdSourceType.java
  bootstrap/src/main/java/com/navercorp/pinpoint/bootstrap/PinpointStarter.java
  bootstrap/src/main/java/com/navercorp/pinpoint/bootstrap/config/ProfilePropertyLoader.java
  bootstrap/src/main/java/com/navercorp/pinpoint/bootstrap/config/PropertyLoaderFactory.java
  bootstrap/src/test/java/com/navercorp/pinpoint/bootstrap/config/ProfilePropertyLoaderTest.java
  commons/src/main/java/com/navercorp/pinpoint/common/util/OsEnvSimpleProperty.java
  commons/src/test/java/com/navercorp/pinpoint/common/util/OsEnvSimplePropertyTest.java
  commons/src/test/java/com/navercorp/pinpoint/common/util/PropertyUtilsTest.java
Labels: configuration, enhancement, module:agent

#7547 [#7463] Update Reactor-Netty HTTP client plugin
  agent-testweb/pinpoint-spring-cloud-gateway-plugin-testweb/pom.xml
  agent-testweb/pinpoint-spring-cloud-gateway-plugin-testweb/src/main/java/com/pinpoint/test/plugin/SpringCloudGatewayPluginTestStarter.java
  agent-testweb/pinpoint-spring-cloud-gateway-plugin-testweb/src/main/resources/application.yml
  agent-testweb/spring-webflux-plugin-testweb/pom.xml
  agent-testweb/spring-webflux-plugin-testweb/src/main/java/com/pinpoint/test/plugin/SpringWebfluxPluginController.java
  agent-testweb/spring-webflux-plugin-testweb/src/main/java/com/pinpoint/test/plugin/SpringWebfluxPluginTestStarter.java
  agent-testweb/spring-webflux-plugin-testweb/src/main/resources/application.yml
  plugins/reactor-netty/src/main/java/com/navercorp/pinpoint/plugin/reactor/netty/ReactorNettyPlugin.java
  plugins/reactor-netty/src/main/java/com/navercorp/pinpoint/plugin/reactor/netty/interceptor/AbstractHttpServerHandleInterceptor.java
  plugins/reactor-netty/src/main/java/com/navercorp/pinpoint/plugin/reactor/netty/interceptor/HttpClientRequestWrapper.java
Labels: enhancement, module:plugin

#7558 [#7213] add spring boot config
  batch/pom.xml
Labels: module:batch

#7572 [#noissue] Upgrade Spring version
  pom.xml
Labels: dependencies

#7575 [#7573] Add filter for finding Inactive agent
  web/src/main/java/com/navercorp/pinpoint/web/service/AdminServiceImpl.java
  web/src/test/java/com/navercorp/pinpoint/web/service/AdminServiceImplTest.java
Labels: enhancement, module:web

#7576 [#7573] Add filter for finding Inactive agent
  web/src/main/java/com/navercorp/pinpoint/web/service/AdminServiceImpl.java
  web/src/main/java/com/navercorp/pinpoint/web/service/AgentInfoService.java
  web/src/main/java/com/navercorp/pinpoint/web/service/AgentInfoServiceImpl.java
  web/src/test/java/com/navercorp/pinpoint/web/service/AdminServiceImplTest.java
Labels: enhancement, module:web

#7580 [#7579] Improve the performance of finding active agents
  web/src/main/java/com/navercorp/pinpoint/web/service/AdminServiceImpl.java
  web/src/main/java/com/navercorp/pinpoint/web/service/AgentInfoServiceImpl.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/Range.java
Labels: enhancement, module:web

#7581 [#7102] Add service type to grpc header
  collector/src/test/java/com/navercorp/pinpoint/collector/handler/grpc/GrpcAgentUriStatHandlerV2Test.java
  collector/src/test/java/com/navercorp/pinpoint/collector/receiver/grpc/AgentClientMock.java
  collector/src/test/java/com/navercorp/pinpoint/collector/receiver/grpc/MetadataClientMock.java
  collector/src/test/java/com/navercorp/pinpoint/collector/receiver/grpc/SpanClientMock.java
  collector/src/test/java/com/navercorp/pinpoint/collector/receiver/grpc/StatClientMock.java
  collector/src/test/java/com/navercorp/pinpoint/collector/receiver/grpc/command/GrpcCommandServiceTest.java
  commons-server/src/test/java/com/navercorp/pinpoint/common/server/bo/grpc/CollectorGrpcSpanFactoryTest.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/AgentHeaderFactory.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/Header.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/server/AgentHeaderReader.java
  grpc/src/test/java/com/navercorp/pinpoint/grpc/ChannelFactoryTest.java
  grpc/src/test/java/com/navercorp/pinpoint/grpc/server/AgentHeaderReaderTest.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/grpc/AgentHeaderFactoryProvider.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/sender/grpc/AgentGrpcDataSenderTestMain.java
Labels: enhancement, module:agent, module:collector

#7577 [#noissue] Upgrade google guice, guava
  commons-buffer/pom.xml
  commons-buffer/src/test/java/com/navercorp/pinpoint/common/buffer/FixedBufferTest.java
  commons-buffer/src/test/java/com/navercorp/pinpoint/common/util/BytesUtilsTest.java
  commons-hbase/pom.xml
  commons-profiler/pom.xml
  commons-server/pom.xml
  commons/pom.xml
  commons/src/test/java/com/navercorp/pinpoint/common/util/CollectionUtilsTest.java
  plugins-it/plugins-it-utils/src/test/java/com/navercorp/pinpoint/pluginit/utils/WebServerTest.java
  pom.xml
  profiler/pom.xml
  test/pom.xml
Labels: dependencies

#7583 [#7543] Reinforce checking connection status
  collector/src/main/java/com/navercorp/pinpoint/collector/controller/ClusterPointController.java
Labels: enhancement, module:collector

#7585 [#noissue] Update snakeyaml
  agent/pom.xml
  plugins-loader/pom.xml
  pom.xml
Labels: dependencies
