Repository pinpoint-apm/pinpoint, pull requests merged in 2021-02, with the labels that each got.

#7613 [#7612] Add metric for CachedStatisticsDao
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/HbaseMapResponseTimeDao.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/HbaseMapStatisticsCalleeDao.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/HbaseMapStatisticsCallerDao.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/MonitoredCachedStatisticsDao.java
  collector/src/main/java/com/navercorp/pinpoint/collector/monitor/CachedStatisticsDaoMetrics.java
  collector/src/main/java/com/navercorp/pinpoint/collector/monitor/CollectorMetric.java
  collector/src/main/resources/applicationContext-collector.xml
Labels: enhancement, module:collector

#7621 [#6821] Improves server map performance
  collector/src/main/java/com/navercorp/pinpoint/collector/config/CollectorConfiguration.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/AgentInfoDao.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/MapResponseTimeDao.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/HbaseAgentInfoDao.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/HbaseMapResponseTimeDao.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/mapper/AgentInfoMapper.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/mapper/AgentInfoResultsExtractor.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/AgentLifecycleListener.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/AgentService.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/KeepAliveService.java
  collector/src/main/java/com/navercorp/pinpoint/collector/service/AgentInfoService.java
  collector/src/main/java/com/navercorp/pinpoint/collector/service/StatisticsService.java
  collector/src/main/java/com/navercorp/pinpoint/collector/service/async/AgentLifeCycleAsyncTaskService.java
  collector/src/main/java/com/navercorp/pinpoint/collector/service/async/AgentProperty.java
  collector/src/main/java/com/navercorp/pinpoint/collector/service/async/AgentPropertyChannelAdaptor.java
  collector/src/main/java/com/navercorp/pinpoint/collector/service/async/DefaultAgentProperty.java
  collector/src/main/resources/pinpoint-collector-root.properties
  collector/src/test/java/com/navercorp/pinpoint/collector/receiver/thrift/tcp/AgentLifeCycleAsyncTaskServiceTest.java
  commons-profiler/src/main/java/com/navercorp/pinpoint/common/profiler/util/ApplicationMapStatisticsUtils.java
  commons/src/main/java/com/navercorp/pinpoint/common/trace/BaseHistogramSchema.java
  commons/src/main/java/com/navercorp/pinpoint/common/trace/HistogramSchema.java
  commons/src/main/java/com/navercorp/pinpoint/common/trace/SlotType.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/server/lifecycle/DefaultPingEventHandler.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/server/lifecycle/PingEventHandler.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/server/lifecycle/PingSession.java
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/appender/server/StatisticsServerInstanceListFactory.java
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/histogram/Histogram.java
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/nodes/NodeListFactory.java
  web/src/main/java/com/navercorp/pinpoint/web/controller/BusinessTransactionController.java
  web/src/main/java/com/navercorp/pinpoint/web/controller/FilteredMapController.java
  web/src/main/java/com/navercorp/pinpoint/web/controller/MapController.java
  web/src/main/java/com/navercorp/pinpoint/web/dao/hbase/HbaseMapResponseTimeDao.java
  web/src/main/java/com/navercorp/pinpoint/web/service/FilteredMapService.java
  web/src/main/java/com/navercorp/pinpoint/web/service/FilteredMapServiceImpl.java
  web/src/main/java/com/navercorp/pinpoint/web/service/FilteredMapServiceOption.java
  web/src/main/java/com/navercorp/pinpoint/web/service/MapService.java
  web/src/main/java/com/navercorp/pinpoint/web/service/MapServiceImpl.java
  web/src/main/java/com/navercorp/pinpoint/web/service/MapServiceOption.java
  web/src/main/java/com/navercorp/pinpoint/web/service/ResponseTimeHistogramService.java
  web/src/main/java/com/navercorp/pinpoint/web/service/ResponseTimeHistogramServiceImpl.java
  web/src/main/java/com/navercorp/pinpoint/web/service/ResponseTimeHistogramServiceOption.java
  web/src/test/java/com/navercorp/pinpoint/web/service/FilteredMapServiceImplTest.java
Labels: enhancement, module:agent, module:collector, module:web

#7626 [#7625] Divide the metrics of the monitoring thread
  collector/src/main/java/com/navercorp/pinpoint/collector/config/GrpcAgentDataReceiverConfiguration.java
  collector/src/main/java/com/navercorp/pinpoint/collector/config/GrpcSpanReceiverConfiguration.java
  collector/src/main/java/com/navercorp/pinpoint/collector/config/GrpcStatReceiverConfiguration.java
  collector/src/main/java/com/navercorp/pinpoint/collector/monitor/DisabledMonitoredRunnableDecorator.java
  collector/src/main/java/com/navercorp/pinpoint/collector/monitor/MonitoredRunnableDecorator.java
  collector/src/main/java/com/navercorp/pinpoint/collector/monitor/MonitoredThreadPoolExecutor.java
  collector/src/main/java/com/navercorp/pinpoint/collector/monitor/RunnableDecoratorFactory.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/thrift/ExecutorFactoryBean.java
  collector/src/main/resources/applicationContext-collector-grpc.xml
  collector/src/main/resources/profiles/local/pinpoint-collector-grpc.properties
  collector/src/main/resources/profiles/release/pinpoint-collector-grpc.properties
Labels: enhancement, module:collector

#7633 [#7462] Add C/C++ servertype
  commons/src/main/java/com/navercorp/pinpoint/common/trace/ServiceType.java
  plugins/external/src/main/resources/META-INF/pinpoint/type-providers/cpp-type-provider.yml
Labels: enhancement, module:plugin

#7634 [#7462] fix the bug of config profile.include not worked
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/config/DefaultProfilerConfig.java
Labels: bug, module:agent

#7637 [#7462] Add C/C++ servertype
  commons/src/main/java/com/navercorp/pinpoint/common/trace/ServiceType.java
  plugins/external/src/main/resources/META-INF/pinpoint/type-providers/cpp-type-provider.yml
Labels: enhancement, module:plugin

#7636 [#7635] Defense of issues that window logic cannot handle
  flink/src/main/java/com/navercorp/pinpoint/flink/process/TBaseFlatMapper.java
Labels: enhancement, module:flink

#7642 [#7625] Remove the duration metric in collector thread
  collector/src/main/java/com/navercorp/pinpoint/collector/config/GrpcAgentDataReceiverConfiguration.java
  collector/src/main/java/com/navercorp/pinpoint/collector/config/GrpcSpanReceiverConfiguration.java
  collector/src/main/java/com/navercorp/pinpoint/collector/config/GrpcStatReceiverConfiguration.java
  collector/src/main/java/com/navercorp/pinpoint/collector/monitor/BypassRunnableDecorator.java
  collector/src/main/java/com/navercorp/pinpoint/collector/monitor/MonitoredRunnableDecorator.java
  collector/src/main/java/com/navercorp/pinpoint/collector/monitor/MonitoredThreadPoolExecutor.java
  collector/src/main/java/com/navercorp/pinpoint/collector/monitor/RunnableDecoratorFactory.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/thrift/ExecutorFactoryBean.java
  collector/src/main/resources/applicationContext-collector-grpc.xml
  collector/src/main/resources/profiles/local/pinpoint-collector-grpc.properties
  collector/src/test/java/com/navercorp/pinpoint/collector/monitor/MonitoredThreadPoolExecutorTest.java
Labels: cleanup, module:collector

#7652 [#7651] Separate sender logic into separate xml file
  batch/src/main/resources/applicationContext-batch-common.xml
  batch/src/main/resources/applicationContext-batch-sender.xml
Labels: module:batch

#7650 [cleanup] cleanup unused import
  agent-testweb/thread-plugin-testweb/src/main/java/com/pinpointest/plugin/ThreadPluginTestStarter.java
  bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/config/DefaultProfilerConfig.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/statistics/BulkIncrementer.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/statistics/SizeLimitedBulkUpdater.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/KeepAliveService.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/codec/stat/join/TotalThreadCountCodec.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/stat/join/JoinLoadedClassBo.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/stat/join/JoinTotalThreadCountBo.java
  flink/src/main/java/com/navercorp/pinpoint/flink/mapper/thrift/stat/JoinDataSourceListBoMapper.java
  flink/src/main/java/com/navercorp/pinpoint/flink/mapper/thrift/stat/JoinResponseTimeBoMapper.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/grpc/GrpcStatMessageConverter.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/module/ThriftStatsModule.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/ObjectBinderFactoryProvider.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/recorder/DefaultUriStatRecorder.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/storage/DisabledUriStatStorage.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/interceptor/factory/AnnotatedInterceptorFactory.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/monitor/UriStatCollectingJob.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/monitor/metric/loadedclass/DefaultLoadedClassMetric.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/objectfactory/InterceptorArgumentProvider.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/objectfactory/ObjectBinderFactory.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/sender/grpc/stream/StreamExecutorFactory.java
  test/src/main/java/com/navercorp/pinpoint/test/plugin/util/FileUtils.java
  web/src/main/java/com/navercorp/pinpoint/web/alarm/AlarmPartitioner.java
  web/src/main/java/com/navercorp/pinpoint/web/alarm/AlarmReader.java
  web/src/main/java/com/navercorp/pinpoint/web/dao/ApplicationTraceIndexDao.java
  web/src/main/java/com/navercorp/pinpoint/web/dao/hbase/stat/v2/HbaseSampledAgentUriStatDaoV2.java
  web/src/main/java/com/navercorp/pinpoint/web/mapper/stat/AgentStatMapperV2.java
  web/src/main/java/com/navercorp/pinpoint/web/mapper/stat/sampling/sampler/TransactionSampler.java
  web/src/main/java/com/navercorp/pinpoint/web/service/AlarmServiceImpl.java
  web/src/main/java/com/navercorp/pinpoint/web/service/FilteredMapServiceOption.java
  web/src/main/java/com/navercorp/pinpoint/web/service/MapService.java
  web/src/main/java/com/navercorp/pinpoint/web/service/UserServiceImpl.java
  web/src/main/java/com/navercorp/pinpoint/web/view/ScatterDataSerializer.java
  web/src/main/java/com/navercorp/pinpoint/web/view/UriStatHistogramPointSerializer.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/stat/chart/DownSampler.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/stat/chart/agent/LoadedClassCountChart.java
Labels: cleanup

#7648 [#7647] Includes raw data of related datasource alarm
  batch/src/main/java/com/navercorp/pinpoint/batch/alarm/checker/DataSourceConnectionUsageRateChecker.java
  batch/src/main/java/com/navercorp/pinpoint/batch/alarm/collector/DataSourceDataCollector.java
  batch/src/main/java/com/navercorp/pinpoint/batch/alarm/vo/DataSourceAlarmVO.java
  batch/src/main/java/com/navercorp/pinpoint/batch/alarm/vo/DataSourceAlarmVOSerializer.java
Labels: enhancement, module:batch

#7662 [#7659] Fix endpoint of reactor-netty plugin
  plugins/reactor-netty/src/main/java/com/navercorp/pinpoint/plugin/reactor/netty/interceptor/HttpRequestAdaptor.java
Labels: bug, module:plugin

#7663 [#7659] Fix endpoint of reactor-netty plugin
  plugins/reactor-netty/src/main/java/com/navercorp/pinpoint/plugin/reactor/netty/interceptor/HttpRequestAdaptor.java
Labels: bug, module:plugin

#7667 [#7559] Removes possibility of duplicate puts.
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/HbaseTemplate2.java
Labels: enhancement, module:collector

#7672 [#noissue] Change the log location of channelConnected method
  rpc/src/main/java/com/navercorp/pinpoint/rpc/server/PinpointServerAcceptor.java
Labels: log

#7680 [#7679] Fix assert class of retransform
  profiler/src/main/java/com/navercorp/pinpoint/profiler/transformer/DynamicTransformService.java
Labels: bug, module:agent

#7681 [#7679] Fix assert class of retransform
  profiler/src/main/java/com/navercorp/pinpoint/profiler/transformer/DynamicTransformService.java
Labels: bug, module:agent

#7684 [#noissue] remove unnecessary log
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/command/GrpcCommandService.java
Labels: log

#7695 [#7694] Skip handling, If there is no cpuload data in thrift stat
  collector/src/main/java/com/navercorp/pinpoint/collector/mapper/thrift/stat/ThriftCpuLoadBoMapper.java
Labels: bug, module:collector
