Repository pinpoint-apm/pinpoint, pull requests merged in 2021-12, with the labels that each got.

#8451 [#NOISSUE] cache name constant, fix typo
  web/src/main/java/com/navercorp/pinpoint/web/cache/CacheConfiguration.java
  web/src/main/java/com/navercorp/pinpoint/web/dao/hbase/HbaseApiMetaDataDao.java
  web/src/main/java/com/navercorp/pinpoint/web/service/CacheService.java
  web/src/main/java/com/navercorp/pinpoint/web/service/CacheServiceImpl.java
Labels: module:web

#8453 [#NOISSUE] cache name constant, fix typo in flink
  flink/src/main/java/com/navercorp/pinpoint/flink/cache/FlinkCacheConfiguration.java
  flink/src/main/java/com/navercorp/pinpoint/flink/process/ApplicationCache.java
Labels: enhancement, module:flink

#8447 [#6821] Fix servermap instance list factory
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/appender/server/StatisticsServerInstanceListFactory.java
  web/src/main/java/com/navercorp/pinpoint/web/service/FilteredMapServiceImpl.java
  web/src/main/java/com/navercorp/pinpoint/web/service/MapServiceImpl.java
  web/src/main/java/com/navercorp/pinpoint/web/service/ResponseTimeHistogramServiceImpl.java
Labels: bug, module:web

#8475 [#8472] Support Kotlin Coroutines Plugin
  agent/src/main/resources/profiles/local/pinpoint.config
  agent/src/main/resources/profiles/release/pinpoint.config
  plugins/assembly/pom.xml
  plugins/kotlin-coroutines/pom.xml
  plugins/kotlin-coroutines/src/main/java/com/navercorp/pinpoint/plugin/kotlinx/coroutines/CoroutinesConfig.java
  plugins/kotlin-coroutines/src/main/java/com/navercorp/pinpoint/plugin/kotlinx/coroutines/CoroutinesConstants.java
  plugins/kotlin-coroutines/src/main/java/com/navercorp/pinpoint/plugin/kotlinx/coroutines/CoroutinesMetadataProvider.java
  plugins/kotlin-coroutines/src/main/java/com/navercorp/pinpoint/plugin/kotlinx/coroutines/CoroutinesPlugin.java
  plugins/kotlin-coroutines/src/main/java/com/navercorp/pinpoint/plugin/kotlinx/coroutines/interceptor/CopyAsyncContextInterceptor.java
  plugins/kotlin-coroutines/src/main/java/com/navercorp/pinpoint/plugin/kotlinx/coroutines/interceptor/DispatchInterceptor.java
  plugins/kotlin-coroutines/src/main/java/com/navercorp/pinpoint/plugin/kotlinx/coroutines/interceptor/ExecuteTaskInterceptor.java
  plugins/kotlin-coroutines/src/main/resources/META-INF/services/com.navercorp.pinpoint.bootstrap.plugin.ProfilerPlugin
  plugins/kotlin-coroutines/src/main/resources/META-INF/services/com.navercorp.pinpoint.common.trace.TraceMetadataProvider
  plugins/pom.xml
Labels: enhancement, module:plugin

#8479 [#8472] Update description for Coroutines plugin
  agent/src/main/resources/profiles/local/pinpoint.config
  agent/src/main/resources/profiles/release/pinpoint.config
Labels: document

#8482 [#8472] Support Kotlin Coroutines Plugin IT
  plugins-it/kotlin-coroutines-it/pom.xml
  plugins-it/kotlin-coroutines-it/src/test/java/com/navercorp/pinpoint/plugin/kotlinx/coroutines/CoroutinesIT.java
  plugins-it/kotlin-coroutines-it/src/test/java/com/navercorp/pinpoint/plugin/kotlinx/coroutines/CoroutinesLaunch.kt
  plugins-it/kotlin-coroutines-it/src/test/resources/pinpoint-coroutines.config
  plugins-it/pom.xml
Labels: module:plugin, test

#8520 [#8519] Bump log4j 2.16.2 for JDK7
  pom.xml
Labels: security, module:agent, dependencies

#8522 [#8521] Backport : Bump log4j 2.16.2 for JDK7
  pom.xml
Labels: security, module:agent, dependencies

#8531 [#8510] Backport : Bump Log4j 2.17.0
  pom.xml
Labels: security, module:collector, module:web, module:flink, dependencies, module:batch

#8530 [#8509] Bump Log4j 2.17.0
  pom.xml
Labels: security, module:collector, module:web, module:flink, dependencies, module:batch

#8535 [#8519] Bump log4j 2.12.3 for JDK7
  pom.xml
Labels: security, module:agent, dependencies

#8537 [#8521] Backport: Bump log4j 2.12.3 for JDK7
  pom.xml
Labels: security, module:agent, dependencies

#8545 [#8543] Fix app proxy header
  agent-plugins/proxy-app/src/main/java/com/navercorp/pinpoint/agent/plugin/proxy/app/AppRequestParser.java
  agent-plugins/proxy-app/src/test/java/com/navercorp/pinpoint/agent/plugin/proxy/app/AppRequestParserTest.java
Labels: enhancement, module:agent

#8569 [#8472] Remove unnecessary log
  plugins/kotlin-coroutines/src/main/java/com/navercorp/pinpoint/plugin/kotlinx/coroutines/interceptor/CopyAsyncContextInterceptor.java
Labels: module:plugin
