Repository pinpoint-apm/pinpoint, pull requests merged in 2021-04, with the labels that each got.

#7771 [#7770] Add spring webflux invoke method trace
  plugins/spring-webflux/src/main/java/com/navercorp/pinpoint/plugin/spring/webflux/SpringWebFluxPlugin.java
  plugins/spring-webflux/src/main/java/com/navercorp/pinpoint/plugin/spring/webflux/interceptor/InvocableHandlerMethodInterceptor.java
Labels: enhancement, module:plugin

#7773 [#7770] Add spring webflux invoke method trace
  plugins/spring-webflux/src/main/java/com/navercorp/pinpoint/plugin/spring/webflux/SpringWebFluxPlugin.java
  plugins/spring-webflux/src/main/java/com/navercorp/pinpoint/plugin/spring/webflux/interceptor/InvocableHandlerMethodInterceptor.java
Labels: enhancement, module:plugin

#7772 [#7758] Update for reactor netty 1.x
  plugins/reactor-netty/src/main/java/com/navercorp/pinpoint/plugin/reactor/netty/ReactorNettyPlugin.java
  plugins/reactor-netty/src/main/java/com/navercorp/pinpoint/plugin/reactor/netty/interceptor/ChannelOperationsOnInboundCompleteMethodInterceptor.java
Labels: enhancement, module:plugin

#7231 [#7205] Support very simple authentication on Web
  pom.xml
  web/pom.xml
  web/src/main/angular/angular.json
  web/src/main/angular/src/not_authorized.html
  web/src/main/java/com/navercorp/pinpoint/web/PinpointBasicLoginConfig.java
  web/src/main/java/com/navercorp/pinpoint/web/WebApp.java
  web/src/main/java/com/navercorp/pinpoint/web/config/BasicLoginConfig.java
  web/src/main/java/com/navercorp/pinpoint/web/security/login/BasicLoginConstants.java
  web/src/main/java/com/navercorp/pinpoint/web/security/login/BasicLoginService.java
  web/src/main/java/com/navercorp/pinpoint/web/security/login/JwtRequestFilter.java
  web/src/main/java/com/navercorp/pinpoint/web/security/login/JwtService.java
  web/src/main/java/com/navercorp/pinpoint/web/security/login/PinpointMemoryUserDetailsService.java
  web/src/main/java/com/navercorp/pinpoint/web/security/login/PreAuthenticationCheckFilter.java
  web/src/main/java/com/navercorp/pinpoint/web/security/login/SaveJwtTokenAuthenticationSuccessHandler.java
  web/src/main/resources/applicationContext-web.xml
  web/src/main/resources/pinpoint-web-root.properties
Labels: enhancement, module:web

#7782 [#7781] bump grpc from 1.35.0 to 1.36.1
  collector/src/test/java/com/navercorp/pinpoint/collector/receiver/grpc/AgentClientMock.java
  grpc/pom.xml
  grpc/src/main/java/io/grpc/netty/PinpointNettyServerBuilder.java
Labels: dependencies, module:project-common

#7784 [#7781_backport] bump grpc from 1.33.1 to 1.36.1
  collector/src/test/java/com/navercorp/pinpoint/collector/receiver/grpc/AgentClientMock.java
  grpc/pom.xml
  grpc/src/main/java/io/grpc/netty/PinpointNettyServerBuilder.java
  pom.xml
Labels: dependencies, module:project-common

#7785 [#noissue] reinforce log message
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/KeepAliveService.java
Labels: log

#7793 [#6821] Removes insert unnecessary link data
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/HbaseMapResponseTimeDao.java
Labels: module:collector

#7794 [#noissue] change openStream timeout in collector
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/PinpointGrpcServer.java
Labels: configuration

#7810 [#noissue] Fixes test
  web/src/test/java/com/navercorp/pinpoint/web/cluster/ClusterTest.java
Labels: test

#7812 [#noissue] Bump mockito-cre version to 2.28.2 for test
  pom.xml
Labels: test

#7818 [#7817] Adds hostAddress option for ClusterAcceptor in web module
  web/src/main/java/com/navercorp/pinpoint/web/cluster/connection/ClusterConnectionManager.java
  web/src/main/java/com/navercorp/pinpoint/web/config/WebConfig.java
  web/src/main/resources/pinpoint-web-root.properties
  web/src/test/java/com/navercorp/pinpoint/web/cluster/ClusterTest.java
Labels: enhancement, module:web

#7827 [#7821] Update spring web and tomcat plugin
  plugins/spring/pom.xml
  plugins/spring/src/main/java/com/navercorp/pinpoint/plugin/spring/web/SpringWebMvcPlugin.java
  plugins/spring/src/main/java/com/navercorp/pinpoint/plugin/spring/web/interceptor/InvocableHandlerMethodInvokeForRequestMethodInterceptor.java
  plugins/tomcat/src/main/java/com/navercorp/pinpoint/plugin/tomcat/TomcatPlugin.java
  plugins/tomcat/src/main/java/com/navercorp/pinpoint/plugin/tomcat/interceptor/ApplicationHttpRequestConstructor.java
  plugins/tomcat/src/main/java/com/navercorp/pinpoint/plugin/tomcat/interceptor/RequestStartAsyncInterceptor.java
Labels: enhancement, module:plugin

#7830 [#7821] Update spring web and tomcat plugin
  plugins/spring/pom.xml
  plugins/spring/src/main/java/com/navercorp/pinpoint/plugin/spring/web/SpringWebMvcPlugin.java
  plugins/spring/src/main/java/com/navercorp/pinpoint/plugin/spring/web/interceptor/InvocableHandlerMethodInvokeForRequestMethodInterceptor.java
  plugins/tomcat/src/main/java/com/navercorp/pinpoint/plugin/tomcat/TomcatPlugin.java
  plugins/tomcat/src/main/java/com/navercorp/pinpoint/plugin/tomcat/interceptor/ApplicationHttpRequestConstructor.java
  plugins/tomcat/src/main/java/com/navercorp/pinpoint/plugin/tomcat/interceptor/RequestStartAsyncInterceptor.java
Labels: enhancement, module:plugin

#7840 [#7821] Update spring security
  plugins/spring/src/main/java/com/navercorp/pinpoint/plugin/spring/web/SpringWebMvcPlugin.java
  plugins/spring/src/main/java/com/navercorp/pinpoint/plugin/spring/web/interceptor/InvocableHandlerMethodInvokeForRequestMethodInterceptor.java
  plugins/spring/src/main/java/com/navercorp/pinpoint/plugin/spring/web/interceptor/StrictHttpFirewallGetFirewalledRequestInterceptor.java
Labels: enhancement, module:plugin
