Repository pinpoint-apm/pinpoint, pull requests merged in 2021-06, with the labels that each got.

#7917 [#7895] Fix jedis plugin for java compatibility
  plugins/bom/pom.xml
  plugins/redis/src/main/java/com/navercorp/pinpoint/plugin/redis/jedis/interceptor/SetEndPointInterceptor.java
Labels: bug, known-issue, module:plugin

#7918 [#7885] Fix default async task of spring async plugin.
  plugins/spring/src/main/java/com/navercorp/pinpoint/plugin/spring/async/SpringAsyncPlugin.java
Labels: bug, module:plugin

#7937 [#7770] Update tomcat and spring web plugin for async error
  plugins/spring/src/main/java/com/navercorp/pinpoint/plugin/spring/web/SpringWebMvcPlugin.java
  plugins/spring/src/main/java/com/navercorp/pinpoint/plugin/spring/web/interceptor/InvocableHandlerMethodInvokeForRequestMethodInterceptor.java
  plugins/tomcat/src/main/java/com/navercorp/pinpoint/plugin/tomcat/TomcatPlugin.java
  plugins/tomcat/src/main/java/com/navercorp/pinpoint/plugin/tomcat/interceptor/ApplicationHttpRequestConstructor.java
  plugins/tomcat/src/main/java/com/navercorp/pinpoint/plugin/tomcat/interceptor/RequestStartAsyncInterceptor.java
Labels: enhancement, module:plugin

#7939 [#6783] Fix some agent config properties is not works
  bootstraps/bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/config/DefaultProfilerConfig.java
Labels: bug, module:agent

#7952 [#7951] fix start error about bean loading
  batch/src/main/resources/applicationContext-batch-hbase.xml
Labels: module:batch

#7953 [#noissue] Adds version properties in pom.xml
  pom.xml
Labels: cleanup

#7960 [#7959] Fixes curator does not reconnect to zookeeper in specific cir…
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/cluster/zookeeper/CuratorZookeeperClient.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/cluster/zookeeper/CuratorZookeeperConnectionManager.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/cluster/zookeeper/NotConnectedStatus.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/cluster/zookeeper/PinpointZookeeperConnectionStateListener.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/cluster/zookeeper/ReconnectCondition.java
  commons-server/src/test/java/com/navercorp/pinpoint/common/server/cluster/zookeeper/ReconnectConditionTest.java
Labels: bug, module:collector

#7967 [#7963] Fix nextSpanId is duplicated.
  web/src/main/java/com/navercorp/pinpoint/web/calltree/span/SpanAlign.java
  web/src/main/java/com/navercorp/pinpoint/web/calltree/span/SpanAligner.java
  web/src/main/java/com/navercorp/pinpoint/web/calltree/span/SpanEventAlign.java
  web/src/test/java/com/navercorp/pinpoint/web/calltree/span/SpanAlignerTest.java
Labels: bug, module:web

#7969 [#noissue] Change the directory name.
  agent-testweb/spring-cloud-gateway-plugin-testweb/pom.xml
  agent-testweb/spring-cloud-gateway-plugin-testweb/src/main/java/com/pinpoint/test/plugin/SpringCloudGatewayPluginTestStarter.java
  agent-testweb/spring-cloud-gateway-plugin-testweb/src/main/resources/application.yml
Labels: configuration, module:test

#7973 [#noissue] Add agent testweb for testing dubbo plugin
  agent-testweb/dubbo-plugin-testweb/README.md
  agent-testweb/dubbo-plugin-testweb/pom.xml
  agent-testweb/dubbo-plugin-testweb/src/main/java/com/pinpoint/test/plugin/api/GreetingsService.java
  agent-testweb/dubbo-plugin-testweb/src/main/java/com/pinpoint/test/plugin/client/DubboConsumerPluginTestController.java
  agent-testweb/dubbo-plugin-testweb/src/main/java/com/pinpoint/test/plugin/client/DubboConsumerPluginTestStarter.java
  agent-testweb/dubbo-plugin-testweb/src/main/java/com/pinpoint/test/plugin/provider/DubboProviderApplication.java
  agent-testweb/dubbo-plugin-testweb/src/main/java/com/pinpoint/test/plugin/provider/GreetingsServiceImpl.java
  agent-testweb/dubbo-plugin-testweb/src/main/resources/application.yml
  agent-testweb/pom.xml
Labels: module:test

#7996 [#7995] Change Agent lookup time in RealTime
  web/src/main/java/com/navercorp/pinpoint/web/websocket/ActiveThreadCountResponseAggregator.java
  web/src/main/java/com/navercorp/pinpoint/web/websocket/WorkerActiveManager.java
Labels: enhancement
