Repository pinpoint-apm/pinpoint, pull requests merged in 2021-09, with the labels that each got.

#8175 [#github_8128] TLS for grpc client
  agent/src/main/resources/pinpoint-root.config
  collector/src/main/resources/profiles/local/pinpoint-collector-grpc.properties
  collector/src/main/resources/profiles/release/pinpoint-collector-grpc.properties
  grpc/src/main/java/com/navercorp/pinpoint/grpc/client/ChannelFactoryBuilder.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/client/DefaultChannelFactory.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/client/DefaultChannelFactoryBuilder.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/client/config/SslOption.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/security/SslClientConfig.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/security/SslContextFactory.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/security/SslOption.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/util/FileSystemResource.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/grpc/config/GrpcTransportConfig.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/grpc/AgentGrpcDataSenderProvider.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/grpc/MetadataGrpcDataSenderProvider.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/grpc/SpanGrpcDataSenderProvider.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/grpc/StatGrpcDataSenderProvider.java
Labels: enhancement, module:agent

#8187 [#8186] Replace Ehcache with Caffeine
  flink/pom.xml
  flink/src/main/java/com/navercorp/pinpoint/flink/cache/FlinkCacheConfiguration.java
  flink/src/main/java/com/navercorp/pinpoint/flink/process/ApplicationCache.java
  flink/src/main/resources/applicationContext-cache.xml
  flink/src/main/resources/ehcache.xml
  plugins/bom/pom.xml
  pom.xml
  web/pom.xml
  web/src/main/java/com/navercorp/pinpoint/web/cache/CacheConfiguration.java
  web/src/main/java/com/navercorp/pinpoint/web/dao/hbase/HbaseApiMetaDataDao.java
  web/src/main/resources/applicationContext-web-cache.xml
  web/src/main/resources/ehcache.xml
Labels: module:web, module:flink, configuration

#8195 [#8194] Fixes not running when `cluster.enable=false` in Collector
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/thrift/tcp/AgentBaseDataReceiver.java
Labels: bug, module:collector

#8204 [#noissue] Remove unnecessary dependencies of process plugin
  plugins/process/pom.xml
Labels: module:plugin, cleanup

#8207 [#noissue] Update testcontainers version
  plugins-it/paho-mqtt-it/src/test/java/com/navercorp/pinpoint/plugin/paho/mqtt/PahoMqttV3ClientIT.java
  plugins-it/paho-mqtt-it/src/test/java/com/navercorp/pinpoint/plugin/paho/mqtt/PahoMqttV5ClientIT.java
  plugins-it/plugins-it-utils/src/main/java/com/navercorp/pinpoint/pluginit/utils/TestcontainersOption.java
Labels: module:plugin, dependencies

#8197 [#8196] Supports vert.x version 3.9.x
  agent-testweb/pom.xml
  agent-testweb/vertx-3-plugin-testweb/README.md
  agent-testweb/vertx-3-plugin-testweb/pom.xml
  agent-testweb/vertx-3-plugin-testweb/src/main/java/com/pinpoint/test/plugin/VertxPluginTestStarter.java
  plugins/vertx/src/main/java/com/navercorp/pinpoint/plugin/vertx/VertxPlugin.java
  plugins/vertx/src/main/java/com/navercorp/pinpoint/plugin/vertx/interceptor/Http1xClientConnectionCreateRequestInterceptor.java
Labels: enhancement, module:plugin

#8224 [#8223]Support externalized configuration for log config path
  bootstraps/bootstrap/src/main/java/com/navercorp/pinpoint/bootstrap/config/ProfilePropertyLoader.java
Labels: enhancement, module:agent

#8225 [#8223] Support PinpointLogLocationConfig Annotation for IT
  test/src/main/java/com/navercorp/pinpoint/test/plugin/AbstractPinpointPluginTestSuite.java
  test/src/main/java/com/navercorp/pinpoint/test/plugin/DefaultProcessManager.java
  test/src/main/java/com/navercorp/pinpoint/test/plugin/PinpointLogLocationConfig.java
  test/src/main/java/com/navercorp/pinpoint/test/plugin/PluginTestContext.java
  test/src/main/java/com/navercorp/pinpoint/test/plugin/shared/SharedProcessManager.java
Labels: enhancement, module:test

#8226 [#8223] Apply logLocation for MariaDBIT
  plugins-it/mariadb-jdbc-it/src/test/java/com/navercorp/pinpoint/plugin/jdbc/MariaDB_1_3_x_IT.java
  plugins-it/mariadb-jdbc-it/src/test/java/com/navercorp/pinpoint/plugin/jdbc/MariaDB_1_4_x_to_1_6_0_IT.java
  plugins-it/mariadb-jdbc-it/src/test/java/com/navercorp/pinpoint/plugin/jdbc/MariaDB_1_6_x_to_1_8_0_IT.java
  plugins-it/mariadb-jdbc-it/src/test/java/com/navercorp/pinpoint/plugin/jdbc/MariaDB_1_8_0_to_2_0_0_IT.java
  plugins-it/mariadb-jdbc-it/src/test/java/com/navercorp/pinpoint/plugin/jdbc/MariaDB_2_0_1_to_2_4_0_IT.java
  plugins-it/mariadb-jdbc-it/src/test/java/com/navercorp/pinpoint/plugin/jdbc/MariaDB_2_4_x_IT.java
  plugins-it/mariadb-jdbc-it/src/test/resources/log4j2.xml
Labels: test

#8230 [#noissue] Enable some of postgreIT
  plugins-it/postgresql-jdbc-it/src/test/java/com/navercorp/pinpoint/plugin/jdbc/postgresql/PostgreSql_9_4_1207_IT.java
  plugins-it/postgresql-jdbc-it/src/test/java/com/navercorp/pinpoint/plugin/jdbc/postgresql/PostgreSql_9_x_to_9_4_1207_IT.java
Labels: module:plugin, test

#8237 [#8236] Supports plugins classpath in IT
  test/src/main/java/com/navercorp/pinpoint/test/plugin/PluginClassLoading.java
Labels: bug, module:test

#8238 [#8004] support multi grouping by tag data
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/model/MetricValueGroup.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/model/SystemMetricData.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/model/basic/metric/group/GroupingRule.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/model/basic/metric/group/MatchingRule.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/service/SystemMetricBasicGroupManager.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/service/SystemMetricDataServiceImpl.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/service/SystemMetricHostInfoServiceImpl.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/view/SystemMetricChartSerializer.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/view/SystemMetricDataSerializer.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/view/SystemMetricView.java
Labels: module:metric

#8242 [#8241] exclude unnecessary bean object when batch starts
  batch/src/main/resources/applicationContext-batch-hbase.xml
Labels: enhancement, module:batch

#8255 [#8236] Supports plugins classpath in IT
  bootstraps/bootstrap-core/src/test/java/com/navercorp/pinpoint/bootstrap/util/AntPathMatcherTest.java
  test/src/main/java/com/navercorp/pinpoint/test/plugin/AbstractPinpointPluginTestSuite.java
  test/src/main/java/com/navercorp/pinpoint/test/plugin/PluginClassLoading.java
Labels: module:test

#8264 [#8257] Changes ant matcher to glob matcher
  test/src/main/java/com/navercorp/pinpoint/test/plugin/AbstractPinpointPluginTestSuite.java
  test/src/main/java/com/navercorp/pinpoint/test/plugin/LibraryFilter.java
  test/src/main/java/com/navercorp/pinpoint/test/plugin/PluginClassLoading.java
  test/src/test/java/com/navercorp/pinpoint/test/plugin/LibraryFinderTest.java
Labels: enhancement, module:test

#8258 [#8257] Supports Test that is shared in Integration Test
  test/src/main/java/com/navercorp/pinpoint/test/plugin/shared/AfterSharedClass.java
  test/src/main/java/com/navercorp/pinpoint/test/plugin/shared/BeforeSharedClass.java
  test/src/main/java/com/navercorp/pinpoint/test/plugin/shared/ExecuteSharedThread.java
  test/src/main/java/com/navercorp/pinpoint/test/plugin/shared/MethodFilter.java
  test/src/main/java/com/navercorp/pinpoint/test/plugin/shared/MethodUtils.java
  test/src/main/java/com/navercorp/pinpoint/test/plugin/shared/SharedPinpointPluginTest.java
  test/src/test/java/com/navercorp/pinpoint/test/plugin/shared/ExecuteSharedThreadTest.java
Labels: enhancement, module:test

#8265 [#8257] Apply shared integration test for some of plugin-it
  plugins-it/cassandra-it/src/test/java/com/navercorp/pinpoint/plugin/cassandra/CassandraDatastaxITBase.java
  plugins-it/cassandra-it/src/test/java/com/navercorp/pinpoint/plugin/cassandra/CassandraDatastax_2_0_x_IT.java
  plugins-it/cassandra-it/src/test/java/com/navercorp/pinpoint/plugin/cassandra/CassandraDatastax_2_1_x_IT.java
  plugins-it/cassandra-it/src/test/java/com/navercorp/pinpoint/plugin/cassandra/CassandraDatastax_2_2_x_IT.java
  plugins-it/cassandra-it/src/test/java/com/navercorp/pinpoint/plugin/cassandra/CassandraDatastax_3_0_x_IT.java
  plugins-it/cxf-it/src/test/java/com/navercorp/pinpoint/plugin/cxf/CxfClientIT.java
  plugins-it/elasticsearch-bbose-it/src/test/java/com/navercorp/pinpoint/plugin/elasticsearchbboss/ElasticsearchExecutorIT.java
  plugins-it/elasticsearch-it/src/test/java/com/navercorp/pinpoint/plugin/elasticsearch/ElasticsearchITBase.java
  plugins-it/mariadb-jdbc-it/src/test/java/com/navercorp/pinpoint/plugin/jdbc/MariaDB_IT_Base.java
  plugins-it/mssql-jdbc-it/src/test/java/com/navercorp/pinpoint/plugin/jdbc/mssql/MSSqlIT.java
  plugins-it/oracledb-it/src/test/java/com/navercorp/pinpoint/plugin/jdbc/oracle/Oracle11_Ojdbc6_IT.java
  plugins-it/oracledb-it/src/test/java/com/navercorp/pinpoint/plugin/jdbc/oracle/Oracle12_18_Ojdbc8_IT.java
  plugins-it/oracledb-it/src/test/java/com/navercorp/pinpoint/plugin/jdbc/oracle/Oracle19_Ojdbc10_IT.java
  plugins-it/oracledb-it/src/test/java/com/navercorp/pinpoint/plugin/jdbc/oracle/Oracle19_Ojdbc10_IT_ConnectWithGssCredential_IT.java
  plugins-it/oracledb-it/src/test/java/com/navercorp/pinpoint/plugin/jdbc/oracle/Oracle19_Ojdbc8_ConnectWithGssCredential_IT.java
  plugins-it/oracledb-it/src/test/java/com/navercorp/pinpoint/plugin/jdbc/oracle/Oracle19_Ojdbc8_IT.java
  plugins-it/oracledb-it/src/test/java/com/navercorp/pinpoint/plugin/jdbc/oracle/Oracle_IT_Base.java
  plugins-it/postgresql-jdbc-it/src/test/java/com/navercorp/pinpoint/plugin/jdbc/postgresql/PostgreSqlBase.java
  plugins-it/postgresql-jdbc-it/src/test/java/com/navercorp/pinpoint/plugin/jdbc/postgresql/PostgreSql_9_4_1207_IT.java
  plugins-it/postgresql-jdbc-it/src/test/java/com/navercorp/pinpoint/plugin/jdbc/postgresql/PostgreSql_9_x_to_9_4_1207_IT.java
  plugins-it/postgresql-jdbc-it/src/test/java/com/navercorp/pinpoint/plugin/jdbc/postgresql/PostgreSql_Post_9_4_1208_IT.java
  plugins-it/rabbitmq-it/src/test/java/com/navercorp/pinpoint/plugin/rabbitmq/RabbitMQClientITBase.java
  plugins-it/rabbitmq-it/src/test/java/com/navercorp/pinpoint/plugin/rabbitmq/spring/SpringAmqpRabbitITBase.java
  plugins-it/rabbitmq-it/src/test/java/com/navercorp/pinpoint/plugin/rabbitmq/spring/SpringAmqpRabbit_1_3_3_to_1_4_2_IT.java
  plugins-it/rabbitmq-it/src/test/java/com/navercorp/pinpoint/plugin/rabbitmq/spring/SpringAmqpRabbit_1_4_2_to_1_7_0_IT.java
  plugins-it/rabbitmq-it/src/test/java/com/navercorp/pinpoint/plugin/rabbitmq/spring/SpringAmqpRabbit_1_7_0_to_1_7_7_IT.java
  plugins-it/rabbitmq-it/src/test/java/com/navercorp/pinpoint/plugin/rabbitmq/spring/SpringAmqpRabbit_1_7_7_to_2_0_0_IT.java
  plugins-it/rabbitmq-it/src/test/java/com/navercorp/pinpoint/plugin/rabbitmq/spring/SpringAmqpRabbit_2_0_0_to_2_0_3_IT.java
  plugins-it/rabbitmq-it/src/test/java/com/navercorp/pinpoint/plugin/rabbitmq/spring/SpringAmqpRabbit_2_0_3_to_2_1_0_IT.java
  plugins-it/rabbitmq-it/src/test/java/com/navercorp/pinpoint/plugin/rabbitmq/spring/SpringAmqpRabbit_2_1_x_to_2_x_IT.java
  test/src/main/java/com/navercorp/pinpoint/test/plugin/shared/SharedPinpointPluginTest.java
Labels: test

#8268 [#noissue] Fix okhttp IT not working over 3.13 version
  plugins-it/okhttp-it/src/test/java/com/navercorp/pinpoint/plugin/okhttp/OkHttpClient_3_13_0_to_3_x_IT.java
  plugins-it/okhttp-it/src/test/java/com/navercorp/pinpoint/plugin/okhttp/OkHttpClient_3_4_0_BaseIT.java
  plugins-it/okhttp-it/src/test/java/com/navercorp/pinpoint/plugin/okhttp/OkHttpClient_3_4_0_to_3_12_x_IT.java
Labels: bug, test

#8271 [#noissue] cleanup mongodb IT
  plugins-it/mongodb-it/src/test/java/com/navercorp/pinpoint/plugin/mongodb/MongoDBITBase.java
  plugins-it/mongodb-it/src/test/java/com/navercorp/pinpoint/plugin/mongodb/MongoDBITConstants.java
  plugins-it/mongodb-it/src/test/java/com/navercorp/pinpoint/plugin/mongodb/MongoDBIT_3_0_x_IT.java
  plugins-it/mongodb-it/src/test/java/com/navercorp/pinpoint/plugin/mongodb/MongoDBIT_3_2_x_IT.java
  plugins-it/mongodb-it/src/test/java/com/navercorp/pinpoint/plugin/mongodb/MongoDBIT_3_4_x_IT.java
  plugins-it/mongodb-it/src/test/java/com/navercorp/pinpoint/plugin/mongodb/MongoDBIT_3_7_x_IT.java
Labels: cleanup, test

#8276 [#8257] Apply shared integration test for some of plugin-it
  plugins-it/httpclient3-it/src/test/java/com/navercorp/pinpoint/plugin/httpclient3/HttpClientIT.java
  plugins-it/httpclient4-it/src/test/java/com/navercorp/pinpoint/plugin/httpclient4/CloaeableHttpClientIT.java
  plugins-it/httpclient4-it/src/test/java/com/navercorp/pinpoint/plugin/httpclient4/ClosableAsyncHttpClientIT.java
  plugins-it/httpclient4-it/src/test/java/com/navercorp/pinpoint/plugin/httpclient4/HttpClientIT.java
  plugins-it/httpclient4-it/src/test/java/com/navercorp/pinpoint/plugin/httpclient4/HttpClientITBase.java
  plugins-it/spring-it/src/test/java/com/navercorp/pinpoint/plugin/spring/web/RestTemplateIT.java
Labels: test
