Repository pinpoint-apm/pinpoint, pull requests merged in 2021-08, with the labels that each got.

#8121 [#8109] Change the time histogram format
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/FilterMapWrap.java
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/MapWrap.java
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/histogram/AgentTimeHistogram.java
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/histogram/ApplicationTimeHistogram.java
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/histogram/LoadHistogram.java
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/histogram/NodeHistogram.java
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/histogram/TimeHistogramFormat.java
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/link/Link.java
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/link/LinkHistogramSummary.java
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/nodes/Node.java
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/nodes/NodeHistogramSummary.java
  web/src/main/java/com/navercorp/pinpoint/web/controller/BusinessTransactionController.java
  web/src/main/java/com/navercorp/pinpoint/web/controller/FilteredMapController.java
  web/src/main/java/com/navercorp/pinpoint/web/controller/MapController.java
  web/src/main/java/com/navercorp/pinpoint/web/view/AgentResponseTimeViewModel.java
  web/src/main/java/com/navercorp/pinpoint/web/view/ApplicationTimeHistogramViewModel.java
  web/src/main/java/com/navercorp/pinpoint/web/view/LinkHistogramSummarySerializer.java
  web/src/main/java/com/navercorp/pinpoint/web/view/LinkSerializer.java
  web/src/main/java/com/navercorp/pinpoint/web/view/LoadHistogramSerializer.java
  web/src/main/java/com/navercorp/pinpoint/web/view/LoadTimeViewModel.java
  web/src/main/java/com/navercorp/pinpoint/web/view/NodeHistogramSummarySerializer.java
  web/src/main/java/com/navercorp/pinpoint/web/view/NodeSerializer.java
  web/src/main/java/com/navercorp/pinpoint/web/view/ResponseTimeViewModel.java
  web/src/main/java/com/navercorp/pinpoint/web/view/TimeViewModel.java
  web/src/main/java/com/navercorp/pinpoint/web/view/TransactionInfoViewModel.java
  web/src/test/java/com/navercorp/pinpoint/web/applicationmap/histogram/AgentTimeHistogramTest.java
  web/src/test/java/com/navercorp/pinpoint/web/applicationmap/histogram/ApplicationTimeHistogramTest.java
  web/src/test/java/com/navercorp/pinpoint/web/service/FilteredMapServiceImplTest.java
Labels: enhancement

#8124 [#8123] Fixes to do not initialize when connecting Stream for ActiveT…
  web/src/main/java/com/navercorp/pinpoint/web/websocket/ActiveThreadCountWorker.java
Labels: bug, module:web

#8130 [#noissue] Reformat code
  plugins/redis-lettuce/src/main/java/com/navercorp/pinpoint/plugin/redis/lettuce/interceptor/AttachEndPointInterceptor.java
Labels: module:plugin, cleanup

#8158 [#8004] Changed api to use metricDefinitionId
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/controller/SystemMetricController.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/service/SystemMetricBasicGroupManager.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/service/SystemMetricHostInfoServiceImpl.java
Labels: module:metric

#8164 [#8128] TLS for server side
  collector/src/main/java/com/navercorp/pinpoint/collector/grpc/config/GrpcSslConfiguration.java
  collector/src/test/java/com/navercorp/pinpoint/collector/grpc/config/GrpcAgentDataSslReceiverConfigurationTest.java
  collector/src/test/java/com/navercorp/pinpoint/collector/grpc/config/GrpcSpanSslReceiverConfigurationTest.java
  collector/src/test/java/com/navercorp/pinpoint/collector/grpc/config/GrpcStatSslReceiverConfigurationTest.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/security/SslContextFactory.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/security/SslServerConfig.java
Labels: enhancement, module:collector

#8173 [#8171] agent boot logger level can be configured
  bootstraps/bootstrap/src/main/java/com/navercorp/pinpoint/bootstrap/BootLogLevel.java
  bootstraps/bootstrap/src/main/java/com/navercorp/pinpoint/bootstrap/BootLogger.java
  bootstraps/bootstrap/src/test/java/com/navercorp/pinpoint/bootstrap/BootLogLevelTest.java
Labels: enhancement, module:agent
