Repository pinpoint-apm/pinpoint, pull requests merged in 2021-11, with the labels that each got.

#8359 [#8358] Add metaOperationTimeout option for hbase client
  batch/src/main/resources/applicationContext-batch-hbase.xml
  batch/src/main/resources/hbase-root.properties
  collector/src/main/resources/applicationContext-collector-hbase.xml
  collector/src/main/resources/hbase-root.properties
  flink/src/main/resources/applicationContext-hbase.xml
  flink/src/main/resources/profiles/local/hbase.properties
  flink/src/main/resources/profiles/release/hbase.properties
  hbase/hbase-schema-manager/src/main/java/com/navercorp/pinpoint/hbase/manager/config/HbaseConfig.java
  hbase/hbase-schema-manager/src/main/resources/hbase.properties
  web/src/main/resources/applicationContext-web-hbase.xml
  web/src/main/resources/hbase-root.properties
Labels: enhancement, module:project-common

#8368 [#8004] improve grouping By Tag logic, fix problem initing metricIdMap in YMLSystemMetricBasicGroupManager
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/service/SystemMetricDataServiceImpl.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/service/YMLSystemMetricBasicGroupManager.java
Labels: module:metric

#8370 [#8341] Fix missing ','
  collector/src/main/resources/applicationContext-collector.xml
Labels: bug, module:collector

#8379 [#noissue] Fix test
  bootstraps/bootstrap-core/src/test/java/com/navercorp/pinpoint/bootstrap/util/AntPathMatcherTest.java
Labels: test

#8384 [noissue] update package-lock.json
  web/src/main/angular/package-lock.json
Labels: dependencies

#8396 [#8394] Fix the collector for Hbase2 does not work
  hbase2-module/hbase2-collector/src/main/java/com/navercorp/pinpoint/collector/Hbase2CollectorApp.java
Labels: bug, module:collector

#8398 [#backport_8394] Fix the collector for Hbase2 does not work
  hbase2-module/hbase2-collector/src/main/java/com/navercorp/pinpoint/collector/Hbase2CollectorApp.java
Labels: bug, module:collector

#8401 [#noissue] Fix grpc it
  plugins-it/google-grpc-it/src/test/java/com/navercorp/pinpoint/plugin/grpc/HelloWorldSimpleClient.java
  plugins-it/google-grpc-it/src/test/java/com/navercorp/pinpoint/plugin/grpc/HelloWorldSimpleServer.java
  plugins-it/google-grpc-it/src/test/java/com/navercorp/pinpoint/plugin/grpc/HelloWorldStreamClient.java
  plugins-it/google-grpc-it/src/test/java/com/navercorp/pinpoint/plugin/grpc/HelloWorldStreamServer.java
Labels: bug, test

#8426 [#8407] Update Spring-boot 2.4.13 - > 2.5.7
  collector/src/main/java/com/navercorp/pinpoint/collector/CollectorApp.java
  pom.xml
Labels: dependencies

#8430 Fix show progress when complete in callstack
  web/src/main/java/com/navercorp/pinpoint/web/calltree/span/SpanAligner.java
Labels: bug, module:web
