Repository pinpoint-apm/pinpoint, pull requests merged in 2021-07, with the labels that each got.

#8005 [#8003] Clarify the error message on RealtimeService
  batch/src/main/java/com/navercorp/pinpoint/batch/web/EmptyClusterManager.java
  rpc/src/main/java/com/navercorp/pinpoint/rpc/packet/stream/StreamCode.java
  web/src/main/java/com/navercorp/pinpoint/web/cluster/ClusterManager.java
  web/src/main/java/com/navercorp/pinpoint/web/service/AgentServiceImpl.java
  web/src/main/java/com/navercorp/pinpoint/web/websocket/ActiveThreadCountErrorType.java
Labels: enhancement

#8017 [#7205, #8016] Fixes getUserId for simpleAuth
  web/src/main/java/com/navercorp/pinpoint/web/service/UserServiceImpl.java
Labels: bug

#8031 [#8030] add apiParserProvider bean definiation in batch config
  batch/src/main/resources/applicationContext-batch-common.xml
Labels: module:batch

#8078 [#6821] Adds server map performance improvements as an experimental f…
  collector/src/main/resources/pinpoint-collector-root.properties
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/appender/server/StatisticsServerInstanceListFactory.java
  web/src/main/java/com/navercorp/pinpoint/web/controller/BusinessTransactionController.java
  web/src/main/java/com/navercorp/pinpoint/web/controller/FilteredMapController.java
  web/src/main/java/com/navercorp/pinpoint/web/controller/MapController.java
  web/src/main/java/com/navercorp/pinpoint/web/service/FilteredMapServiceImpl.java
  web/src/main/java/com/navercorp/pinpoint/web/service/FilteredMapServiceOption.java
  web/src/main/java/com/navercorp/pinpoint/web/service/MapServiceImpl.java
  web/src/main/java/com/navercorp/pinpoint/web/service/MapServiceOption.java
  web/src/main/java/com/navercorp/pinpoint/web/service/ResponseTimeHistogramServiceImpl.java
  web/src/main/java/com/navercorp/pinpoint/web/service/ResponseTimeHistogramServiceOption.java
Labels: enhancement, module:web
