Repository pinpoint-apm/pinpoint, pull requests merged in 2022-06, with the labels that each got.

#8907 [#8906] Bump PMD plugin from 3.15.0 to 3.16.0
  pom.xml
Labels: dependencies

#8943 [#noissue] Replace embedded-elasticsearch with testcontainers-elasticsearch
  plugins-it/elasticsearch-7.16-it/pom.xml
  plugins-it/elasticsearch-7.16-it/src/test/java/com/navercorp/pinpoint/plugin/elasticsearch/ESServerContainerFactory.java
  plugins-it/elasticsearch-7.16-it/src/test/java/com/navercorp/pinpoint/plugin/elasticsearch/ElasticsearchITBase.java
  plugins-it/elasticsearch-7.16-it/src/test/java/com/navercorp/pinpoint/plugin/elasticsearch/ElasticsearchIT_7_16_x_IT.java
  plugins-it/elasticsearch-it/pom.xml
  plugins-it/elasticsearch-it/src/test/java/com/navercorp/pinpoint/plugin/elasticsearch/ESServerContainerFactory.java
  plugins-it/elasticsearch-it/src/test/java/com/navercorp/pinpoint/plugin/elasticsearch/ElasticsearchITBase.java
  plugins-it/elasticsearch-it/src/test/java/com/navercorp/pinpoint/plugin/elasticsearch/ElasticsearchIT_6_0_x_IT.java
  plugins-it/elasticsearch-it/src/test/java/com/navercorp/pinpoint/plugin/elasticsearch/ElasticsearchIT_6_4_x_IT.java
  plugins-it/elasticsearch-it/src/test/java/com/navercorp/pinpoint/plugin/elasticsearch/ElasticsearchIT_7_0_x_IT.java
  plugins-it/plugins-it-utils/src/main/java/com/navercorp/pinpoint/pluginit/utils/TestcontainersOption.java
Labels: module:test

#8948 [#8941] Update reactor plugin for subscribeOrReturn method.
  bootstraps/bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/plugin/reactor/FluxAndMonoConstructorInterceptor.java
  bootstraps/bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/plugin/reactor/FluxAndMonoSubscribeOrReturnInterceptor.java
  bootstraps/bootstrap-core/src/test/java/com/navercorp/pinpoint/bootstrap/plugin/reactor/CoreSubscriberConstructorInterceptorTest.java
  bootstraps/bootstrap-core/src/test/java/com/navercorp/pinpoint/bootstrap/plugin/reactor/FluxAndMonoConstructorInterceptorTest.java
  bootstraps/bootstrap-core/src/test/java/com/navercorp/pinpoint/bootstrap/plugin/reactor/FluxAndMonoOperatorConstructorInterceptorTest.java
  bootstraps/bootstrap-core/src/test/java/com/navercorp/pinpoint/bootstrap/plugin/reactor/FluxAndMonoOperatorSubscribeInterceptorTest.java
  bootstraps/bootstrap-core/src/test/java/com/navercorp/pinpoint/bootstrap/plugin/reactor/FluxAndMonoSubscribeInterceptorTest.java
  bootstraps/bootstrap-core/src/test/java/com/navercorp/pinpoint/bootstrap/plugin/reactor/FluxAndMonoSubscribeOrReturnInterceptorTest.java
  bootstraps/bootstrap-core/src/test/java/com/navercorp/pinpoint/bootstrap/plugin/reactor/MockAsyncContextAndReactorContextImpl.java
  bootstraps/bootstrap-core/src/test/java/com/navercorp/pinpoint/bootstrap/plugin/reactor/ReactorContextAccessorUtilsTest.java
  plugins/reactor-netty/src/main/java/com/navercorp/pinpoint/plugin/reactor/netty/ReactorNettyPlugin.java
  plugins/reactor/src/main/java/com/navercorp/pinpoint/plugin/reactor/ReactorPlugin.java
Labels: enhancement, module:plugin

#8951 [#noissue] Add jetty plugin testweb
  agent-testweb/jetty-plugin-testweb/README.md
  agent-testweb/jetty-plugin-testweb/pom.xml
  agent-testweb/jetty-plugin-testweb/src/main/java/com/pinpoint/test/plugin/AsyncServlet.java
  agent-testweb/jetty-plugin-testweb/src/main/java/com/pinpoint/test/plugin/BlockingServlet.java
  agent-testweb/jetty-plugin-testweb/src/main/java/com/pinpoint/test/plugin/JettyServerStarterMain.java
  agent-testweb/pom.xml
Labels: module:test

#8962 [#8004] Modify the test code to bypass the build failure.
  metric-module/metric/src/test/java/com/navercorp/pinpoint/metric/collector/dao/mysql/MysqlMetricTagDaoTest.java
  metric-module/metric/src/test/java/com/navercorp/pinpoint/metric/collector/dao/mysql/MysqlSystemMetricDataTypeDaoTest.java
  metric-module/metric/src/test/java/com/navercorp/pinpoint/metric/collector/dao/pinot/PinotSystemMetricDaoTest.java
Labels: module:metric

#8968 [#4851] fix test fail
  metric-module/metric/src/test/java/com/navercorp/pinpoint/metric/collector/dao/mysql/MysqlMetricTagDaoTest.java
  metric-module/metric/src/test/java/com/navercorp/pinpoint/metric/collector/dao/mysql/MysqlSystemMetricDataTypeDaoTest.java
  metric-module/metric/src/test/java/com/navercorp/pinpoint/metric/collector/dao/mysql/MysqlTestConfig.java
  metric-module/metric/src/test/java/com/navercorp/pinpoint/metric/collector/dao/pinot/PinotSystemMetricDaoTest.java
Labels: module:metric
