Repository pinpoint-apm/pinpoint, pull requests merged in 2022-08, with the labels that each got.

#9097 [#9038][backport]Added property to set "zookeeper.znode.parent" of hbase
  flink/src/main/resources/applicationContext-hbase.xml
Labels: module:flink

#9100 [#noissue] Fix spring data r2dbc plugin testweb
  agent-testweb/spring-data-r2dbc-plugin-testweb/src/test/java/com/pinpoint/test/plugin/spring/data/r2dbc/R2dbcH2Test.java
  agent-testweb/spring-data-r2dbc-plugin-testweb/src/test/java/com/pinpoint/test/plugin/spring/data/r2dbc/R2dbcMariadbTest.java
  agent-testweb/spring-data-r2dbc-plugin-testweb/src/test/java/com/pinpoint/test/plugin/spring/data/r2dbc/R2dbcMssqlTest.java
  agent-testweb/spring-data-r2dbc-plugin-testweb/src/test/java/com/pinpoint/test/plugin/spring/data/r2dbc/R2dbcMysqlTest.java
  agent-testweb/spring-data-r2dbc-plugin-testweb/src/test/java/com/pinpoint/test/plugin/spring/data/r2dbc/R2dbcOracleTest.java
  agent-testweb/spring-data-r2dbc-plugin-testweb/src/test/java/com/pinpoint/test/plugin/spring/data/r2dbc/R2dbcPostgresqlTest.java
Labels: module:plugin, module:test, test

#9088 [#9078] Stable cleanup
  batch/src/main/java/com/navercorp/pinpoint/batch/job/CleanupInactiveAgentsTasklet.java
  batch/src/main/resources/job/applicationContext-cleanupInactiveAgentsJob.xml
  web/src/main/java/com/navercorp/pinpoint/web/service/AdminService.java
  web/src/main/java/com/navercorp/pinpoint/web/service/AdminServiceImpl.java
  web/src/test/java/com/navercorp/pinpoint/web/service/AdminServiceImplTest.java
Labels: module:batch

#9112 [#9111] Fix NPE bug in mongo-plugin
  plugins/mongodb/src/main/java/com/navercorp/pinpoint/plugin/mongo/interceptor/MongoClientConstructorInterceptor.java
Labels: bug, module:plugin

#9096 [#9086] Lightened agentCountJob
  batch/src/main/java/com/navercorp/pinpoint/batch/job/AgentCountProcessor.java
  batch/src/main/java/com/navercorp/pinpoint/batch/job/AgentCountReader.java
  batch/src/main/java/com/navercorp/pinpoint/batch/job/AgentCountWriter.java
  batch/src/main/resources/job/applicationContext-agentCountJob.xml
  web/src/main/java/com/navercorp/pinpoint/web/controller/AgentStatisticsController.java
  web/src/main/java/com/navercorp/pinpoint/web/dao/AgentStatisticsDao.java
  web/src/main/java/com/navercorp/pinpoint/web/dao/memory/MemoryAgentStatisticsDao.java
  web/src/main/java/com/navercorp/pinpoint/web/dao/mysql/MysqlAgentStatisticsDao.java
  web/src/main/java/com/navercorp/pinpoint/web/service/AgentStatisticsService.java
  web/src/main/java/com/navercorp/pinpoint/web/service/AgentStatisticsServiceImpl.java
  web/src/main/resources/mapper/AgentStaticsMapper.xml
  web/src/test/java/com/navercorp/pinpoint/web/dao/memory/MemoryAgentStatisticsDaoTest.java
Labels: module:batch

#9118 [#noissue] Fix port range in grpc it
  plugins-it/google-grpc-it/src/test/java/com/navercorp/pinpoint/plugin/grpc/HelloWorldSimpleServer.java
  plugins-it/google-grpc-it/src/test/java/com/navercorp/pinpoint/plugin/grpc/HelloWorldStreamServer.java
Labels: module:plugin, module:test, test

#9119 [#noissue] Fix port range in thrift it
  plugins-it/thrift-it/src/test/java/com/navercorp/pinpoint/plugin/thrift/common/TestEnvironment.java
Labels: module:plugin, module:test, test

#9121 [#9120] Backport: fix npe bug in mongo plugin
  plugins/mongodb/src/main/java/com/navercorp/pinpoint/plugin/mongo/interceptor/MongoClientConstructorInterceptor.java
Labels: bug, module:plugin

#9116 [#9115] Improve legacyCompatibilityCheck
  web/src/main/java/com/navercorp/pinpoint/web/calltree/span/SpanFilters.java
  web/src/main/java/com/navercorp/pinpoint/web/dao/hbase/SpanQueryBuilder.java
  web/src/main/java/com/navercorp/pinpoint/web/service/HeatMapServiceImpl.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/SpanHint.java
  web/src/test/java/com/navercorp/pinpoint/web/dao/hbase/SpanQueryBuilderTest.java
  web/src/test/java/com/navercorp/pinpoint/web/service/HeatMapServiceImplTest.java
Labels: module:web

#9004 [#noissue] Fix some typos
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/AsyncPutHbaseTemplate2.java
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/HbaseOperations2.java
  commons-server/src/test/java/com/navercorp/pinpoint/common/server/bo/codec/stat/TestAgentStatDataPointFactory.java
  metric-module/metric/src/main/telegraf/pinpoint-telegraf.conf
Labels: cleanup

#9140 [#9139] Enable user can modify mybatis error marking rule
  agent/src/main/resources/profiles/local/pinpoint.config
  agent/src/main/resources/profiles/release/pinpoint.config
  plugins/mybatis/src/main/java/com/navercorp/pinpoint/plugin/mybatis/MyBatisPluginConfig.java
  plugins/mybatis/src/main/java/com/navercorp/pinpoint/plugin/mybatis/interceptor/SqlSessionOperationInterceptor.java
Labels: module:plugin

#9155 [#9148] activeThreadCountWorkerRepository uses ClusterKey as key type
  web/src/main/java/com/navercorp/pinpoint/web/websocket/ActiveThreadCountResponseAggregator.java
Labels: module:web

#9161 [#NOISSUE] edit table config
  metric-module/metric/src/main/pinot/pinot-dataType-table.json
  metric-module/metric/src/main/pinot/pinot-tag-table.json
Labels: module:metric

#9162 [#NOISSUE] change port
  metric-module/collector-starter/src/main/java/com/navercorp/pinpoint/collector/starter/multi/application/MultiApplication.java
Labels: module:metric
