Repository pinpoint-apm/pinpoint, pull requests merged in 2022-05, with the labels that each got.

#8824 [#noissue] Fix reactor netty pulgin testweb
  agent-testweb/reactor-netty-plugin-testweb/src/main/java/com/pinpoint/test/plugin/ReactorNettyPluginTestController.java
Labels: module:test

#8823 [#noissue] Fix mongodb plugin testweb
  agent-testweb/mongodb-plugin-testweb/src/main/java/com/pinpoint/test/plugin/MongoPluginController.java
  agent-testweb/mongodb-plugin-testweb/src/main/java/com/pinpoint/test/plugin/MongoServer.java
  agent-testweb/mongodb-reactive-plugin-testweb/src/main/java/com/pinpoint/test/plugin/MongoReactivePluginController.java
  agent-testweb/mongodb-reactive-plugin-testweb/src/main/java/com/pinpoint/test/plugin/MongoServer.java
Labels: module:test

#8854 [#NOISSUE] edit flink compatibility table
  README.md
Labels: enhancement

#8859 [#NOISSUE] Improved explicit binding of beans
  collector/src/main/java/com/navercorp/pinpoint/collector/service/SendAgentStatService.java
  collector/src/main/java/com/navercorp/pinpoint/collector/service/SendDataToFlinkService.java
  collector/src/main/resources/applicationContext-collector-flink.xml
Labels: enhancement, module:collector

#8884 [#8883] Fix return incorrect values when executing getAsyncContext() …
  bootstraps/bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/plugin/reactor/FluxAndMonoOperatorSubscribeInterceptor.java
  bootstraps/bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/plugin/reactor/FluxAndMonoSubscribeInterceptor.java
  plugins/reactor/src/test/java/com/navercorp/pinpoint/plugin/reactor/interceptor/FluxAndMonoOperatorSubscribeInterceptorTest.java
  plugins/reactor/src/test/java/com/navercorp/pinpoint/plugin/reactor/interceptor/FluxAndMonoSubscribeInterceptorTest.java
Labels: bug

#8889 [#8883] Rollback reactor plugin PR
  bootstraps/bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/plugin/reactor/FluxAndMonoOperatorSubscribeInterceptor.java
  bootstraps/bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/plugin/reactor/FluxAndMonoSubscribeInterceptor.java
  plugins/reactor/src/test/java/com/navercorp/pinpoint/plugin/reactor/interceptor/FluxAndMonoOperatorSubscribeInterceptorTest.java
  plugins/reactor/src/test/java/com/navercorp/pinpoint/plugin/reactor/interceptor/FluxAndMonoSubscribeInterceptorTest.java
Labels: known-issue
