Repository pinpoint-apm/pinpoint, pull requests merged in 2022-07, with the labels that each got.

#9039 [#9038][backport] Added property to set "zookeeper.znode.parent" of hbase
  flink/src/main/resources/applicationContext-hbase.xml
Labels: module:flink

#9040 [#9037] Added property to set "zookeeper.znode.parent" of hbase
  flink/src/main/resources/applicationContext-hbase.xml
Labels: enhancement, module:flink

#9061 [#9054][Backport] to fix hbase error(ClassNotFoundException).
  batch/pom.xml
Labels: module:batch

#9064 [#9063] Added option to operate only metric module
  metric-module/collector-starter/src/main/java/com/navercorp/pinpoint/collector/starter/multi/application/MultiApplication.java
Labels: enhancement, module:metric

#9075 [#9074] Add setting for exception handling
  metric-module/web-starter/src/main/resources/application.yml
Labels: enhancement, module:metric

#9077 [#9052] Improve AlarmJob performance
  batch/src/main/java/com/navercorp/pinpoint/batch/alarm/AlarmProcessor.java
  batch/src/main/java/com/navercorp/pinpoint/batch/alarm/AlarmReader.java
  batch/src/main/java/com/navercorp/pinpoint/batch/alarm/AlarmWriter.java
  batch/src/main/java/com/navercorp/pinpoint/batch/alarm/DataCollectorFactory.java
  batch/src/main/java/com/navercorp/pinpoint/batch/alarm/collector/AgentEventDataCollector.java
  batch/src/main/java/com/navercorp/pinpoint/batch/alarm/collector/AgentStatDataCollector.java
  batch/src/main/java/com/navercorp/pinpoint/batch/alarm/collector/DataSourceDataCollector.java
  batch/src/main/java/com/navercorp/pinpoint/batch/alarm/collector/FileDescriptorDataCollector.java
  batch/src/main/java/com/navercorp/pinpoint/batch/alarm/vo/AppAlarmChecker.java
  batch/src/main/resources/applicationContext-batch-datasource-config.xml
  batch/src/main/resources/job/applicationContext-alarmJob.xml
  batch/src/test/java/com/navercorp/pinpoint/batch/alarm/AlarmProcessorTest.java
  batch/src/test/java/com/navercorp/pinpoint/batch/alarm/AlarmReaderTest.java
  batch/src/test/java/com/navercorp/pinpoint/batch/alarm/AlarmWriterIsolationTest.java
  batch/src/test/java/com/navercorp/pinpoint/batch/alarm/AlarmWriterTest.java
  batch/src/test/java/com/navercorp/pinpoint/batch/alarm/checker/DataSourceConnectionUsageRateCheckerTest.java
  batch/src/test/java/com/navercorp/pinpoint/batch/alarm/checker/DeadlockCheckerTest.java
  batch/src/test/java/com/navercorp/pinpoint/batch/alarm/checker/HeapUsageRateCheckerTest.java
  batch/src/test/java/com/navercorp/pinpoint/batch/alarm/checker/JvmCpuUsageRateCheckerTest.java
  batch/src/test/java/com/navercorp/pinpoint/batch/alarm/collector/FileDescriptorDataCollectorTest.java
  web/src/main/java/com/navercorp/pinpoint/web/alarm/DataCollectorCategory.java
  web/src/main/java/com/navercorp/pinpoint/web/dao/AlarmDao.java
  web/src/main/java/com/navercorp/pinpoint/web/dao/memory/MemoryAlarmDao.java
  web/src/main/java/com/navercorp/pinpoint/web/dao/mysql/MysqlAlarmDao.java
  web/src/main/java/com/navercorp/pinpoint/web/service/AlarmService.java
  web/src/main/java/com/navercorp/pinpoint/web/service/AlarmServiceImpl.java
  web/src/main/resources/mapper/AlarmMapper.xml
Labels: enhancement, module:batch

#9084 [#noissue] Refactor HbaseTable enum class
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/ConnectionFactoryBean.java
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/HbaseTable.java
Labels: cleanup
