Repository pinpoint-apm/pinpoint, pull requests merged in 2022-04, with the labels that each got.

#8733 [#8730] Update postgresql plugin
  plugins/postgresql-jdbc/src/main/java/com/navercorp/pinpoint/plugin/jdbc/postgresql/interceptor/PostgreSQLConnectionCreateInterceptor.java
Labels: enhancement, module:plugin

#8758 [#8726] Add elasticsearch8 plugin
  agent-testweb/elasticsearch-8-plugin-testweb/pom.xml
  agent-testweb/elasticsearch-8-plugin-testweb/src/main/java/com/pinpoint/test/plugin/ElasticSearch8PluginController.java
  agent-testweb/elasticsearch-8-plugin-testweb/src/main/java/com/pinpoint/test/plugin/ElasticSearch8PluginTestStarter.java
  agent-testweb/elasticsearch-8-plugin-testweb/src/main/resources/application.yml
  agent-testweb/pom.xml
  commons/src/main/java/com/navercorp/pinpoint/common/trace/AnnotationKey.java
  commons/src/main/java/com/navercorp/pinpoint/common/trace/ServiceType.java
  plugins/assembly/pom.xml
  plugins/bom/pom.xml
  plugins/elasticsearch8/README.md
  plugins/elasticsearch8/pom.xml
  plugins/elasticsearch8/src/main/java/com/navercorp/pinpoint/plugin/elasticsearch8/Elasticsearch8Constants.java
  plugins/elasticsearch8/src/main/java/com/navercorp/pinpoint/plugin/elasticsearch8/Elasticsearch8Plugin.java
  plugins/elasticsearch8/src/main/java/com/navercorp/pinpoint/plugin/elasticsearch8/Elasticsearch8PluginConfig.java
  plugins/elasticsearch8/src/main/java/com/navercorp/pinpoint/plugin/elasticsearch8/accessor/ClusterInfoAccessor.java
  plugins/elasticsearch8/src/main/java/com/navercorp/pinpoint/plugin/elasticsearch8/accessor/EndPointAccessor.java
  plugins/elasticsearch8/src/main/java/com/navercorp/pinpoint/plugin/elasticsearch8/interceptor/ElasticsearchClientConstructorInterceptor.java
  plugins/elasticsearch8/src/main/java/com/navercorp/pinpoint/plugin/elasticsearch8/interceptor/ElasticsearchClientMethodInterceptor.java
  plugins/elasticsearch8/src/main/resources/META-INF/pinpoint/type-provider.yml
  plugins/elasticsearch8/src/main/resources/META-INF/services/com.navercorp.pinpoint.bootstrap.plugin.ProfilerPlugin
  plugins/pom.xml
Labels: enhancement, module:plugin

#8789 [#noissue] Add undertow plugin testweb
  agent-testweb/bom/pom.xml
  agent-testweb/pom.xml
  agent-testweb/undertow-plugin-testweb/README.md
  agent-testweb/undertow-plugin-testweb/pom.xml
  agent-testweb/undertow-plugin-testweb/src/main/java/com/pinpoint/test/plugin/UndertowPluginTestStarter.java
Labels: enhancement, module:plugin, module:test

#8797 [#noissue] Cleanup unnecessary netty dependencies
  pom.xml
Labels: dependencies

#8816 [#noissue] Fix potential NPE
  plugins/reactor-netty/src/main/java/com/navercorp/pinpoint/plugin/reactor/netty/ReactorNettyPlugin.java
  plugins/reactor/src/main/java/com/navercorp/pinpoint/plugin/reactor/ReactorPlugin.java
Labels: cleanup

#8821 [#noissue] Fix postgresql plugin testweb warning
  agent-testweb/postgresql-plugin-testweb/src/main/java/com/pinpoint/test/plugin/PostgresqlPluginController.java
Labels: module:test
