Repository pinpoint-apm/pinpoint, pull requests merged in 2022-11, with the labels that each got.

#9342 [#9340] Add url statistics for vertx
  agent-testweb/vertx-3-plugin-testweb/src/main/java/com/pinpoint/test/plugin/VertxPluginTestStarter.java
  agent-testweb/vertx-4-plugin-testweb/src/main/java/com/pinpoint/test/plugin/Vertx4PluginTestStarter.java
  bootstraps/bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/plugin/uri/BypassingUriExtractor.java
  bootstraps/bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/plugin/uri/BypassingUriExtractorService.java
  commons/src/main/java/com/navercorp/pinpoint/common/trace/UriExtractorType.java
  plugins/vertx/pom.xml
  plugins/vertx/src/main/java/com/navercorp/pinpoint/plugin/vertx/VertxConfig.java
  plugins/vertx/src/main/java/com/navercorp/pinpoint/plugin/vertx/VertxConstants.java
  plugins/vertx/src/main/java/com/navercorp/pinpoint/plugin/vertx/VertxPlugin.java
  plugins/vertx/src/main/java/com/navercorp/pinpoint/plugin/vertx/interceptor/RoutingContextPutInterceptor.java
  plugins/vertx/src/main/java/com/navercorp/pinpoint/plugin/vertx/interceptor/ServerConnectionHandleRequestInterceptor.java
  plugins/vertx/src/main/java/com/navercorp/pinpoint/plugin/vertx/interceptor/VertxUrlTemplate.java
Labels: module:plugin

#9356 [#9355] Bump mockito from 2.82.2 to 4.8.1
  collector/src/test/java/com/navercorp/pinpoint/collector/cluster/route/filter/AgentEventHandlingFilterTest.java
  collector/src/test/java/com/navercorp/pinpoint/collector/handler/thrift/ThriftAgentStatHandlerV2Test.java
  collector/src/test/java/com/navercorp/pinpoint/collector/receiver/DispatchHandlerTest.java
  collector/src/test/java/com/navercorp/pinpoint/collector/receiver/thrift/tcp/AgentEventAsyncTaskServiceTest.java
  hbase/hbase-schema/src/test/java/com/navercorp/pinpoint/hbase/schema/service/HbaseSchemaServiceImplTest.java
  hbase/hbase-schema/src/test/java/com/navercorp/pinpoint/hbase/schema/service/SchemaChangeLogServiceImplTest.java
  metric-module/metric/src/test/java/com/navercorp/pinpoint/metric/collector/dao/pinot/PinotSystemMetricDaoTest.java
  metric-module/metric/src/test/java/com/navercorp/pinpoint/metric/collector/service/SystemMetricFilterTest.java
  plugins-it/dubbo-it/src/test/java/com/navercorp/pinpoint/plugin/dubbo/consumer/DubboConsumerIT.java
  plugins-it/dubbo-it/src/test/java/com/navercorp/pinpoint/plugin/dubbo/provider/DubboProviderIT.java
  plugins-it/hbase-it/src/test/java/com/navercorp/pinpoint/plugin/hbase/HbaseClientIT.java
  plugins-it/ibatis-it/src/test/java/com/navercorp/pinpoint/plugin/ibatis/SqlMapClientIT.java
  plugins-it/ibatis-it/src/test/java/com/navercorp/pinpoint/plugin/ibatis/SqlMapClientTemplateIT.java
  plugins-it/ibatis-it/src/test/java/com/navercorp/pinpoint/plugin/ibatis/SqlMapExecutorTestBase.java
  plugins-it/ibatis-it/src/test/java/com/navercorp/pinpoint/plugin/ibatis/SqlMapSessionIT.java
  plugins-it/mybatis-it/src/test/java/com/navercorp/pinpoint/plugin/mybatis/DefaultSqlSessionIT.java
  plugins-it/mybatis-it/src/test/java/com/navercorp/pinpoint/plugin/mybatis/SqlSessionTemplateITBase.java
  plugins-it/mybatis-it/src/test/java/com/navercorp/pinpoint/plugin/mybatis/SqlSessionTemplate_1_1_x_IT.java
  plugins-it/mybatis-it/src/test/java/com/navercorp/pinpoint/plugin/mybatis/SqlSessionTemplate_1_2_x_IT.java
  plugins-it/mybatis-it/src/test/java/com/navercorp/pinpoint/plugin/mybatis/SqlSessionTemplate_1_3_x_IT.java
  plugins/jboss/src/test/java/com/navercorp/pinpoint/plugin/jboss/InvokeMethodInterceptorTest.java
  plugins/mongodb/src/main/java/com/navercorp/pinpoint/plugin/mongo/WriteContext.java
  plugins/tomcat/src/test/java/com/navercorp/pinpoint/plugin/tomcat/StandardServiceModifierTest.java
  pom.xml
  profiler-test/src/test/java/com/navercorp/pinpoint/test/monitor/AgentStatMonitorTest.java
  web/src/test/java/com/navercorp/pinpoint/web/applicationmap/appender/histogram/NodeHistogramAppenderTest.java
  web/src/test/java/com/navercorp/pinpoint/web/applicationmap/appender/server/ServerInfoAppenderTest.java
  web/src/test/java/com/navercorp/pinpoint/web/dao/hbase/HbaseAgentLifeCycleDaoTest.java
  web/src/test/java/com/navercorp/pinpoint/web/dao/hbase/HbaseApplicationTraceIndexDaoTest.java
  web/src/test/java/com/navercorp/pinpoint/web/mapper/stat/SampledAgentStatResultExtractorTest.java
  web/src/test/java/com/navercorp/pinpoint/web/vo/stat/chart/agent/DataSourceChartGroupTest.java
  web/src/test/java/com/navercorp/pinpoint/web/websocket/ActiveThreadCountResponseAggregatorTest.java
Labels: dependencies

#9362 [#9361] Bump commons-lang3 from 3.8.1 to 3.12.0
  pom.xml
Labels: dependencies

#9364 [#9363] Bump commons-codec from 1.14 to 1.15
  pom.xml
Labels: dependencies

#9345 [#9344] Fix incorrect bytes encoding in ZookeeperClusterManager
  collector/src/main/java/com/navercorp/pinpoint/collector/cluster/zookeeper/ZookeeperClusterManager.java
Labels: bug, module:web

#9375 [#9374] Bump awaitility from 3.1.5 to 4.2.0
  pom.xml
Labels: dependencies

#9349 [#9348] Add lambda expression matcher
  bootstraps/bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/instrument/matcher/LambdaExpressionMatcher.java
  bootstraps/bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/instrument/matcher/Matchers.java
  bootstraps/bootstrap-core/src/test/java/com/navercorp/pinpoint/bootstrap/instrument/matcher/LambdaExpressionMatcherTest.java
  plugins/spring-data-r2dbc/src/main/java/com/navercorp/pinpoint/plugin/spring/r2dbc/SpringDataR2dbcPlugin.java
Labels: enhancement, module:agent

#9381 [#noissue] Fix junit testcase import
  bootstraps/bootstrap-core/src/test/java/com/navercorp/pinpoint/bootstrap/instrument/matcher/LambdaExpressionMatcherTest.java
Labels: module:test

#9391 [#5249] Add namespace file for tenant
  metric-module/metric/src/main/resources/pinot-collector/applicationContext-collector-metric-namespace.xml
Labels: enhancement, module:metric

#9390 [#9389] Replace hamcrest into assertj
  agent/src/test/java/com/navercorp/pinpoint/plugin/trace/TraceMetadataVerifier.java
  bootstraps/bootstrap-core/src/test/java/com/navercorp/pinpoint/bootstrap/config/DefaultProfilerConfigTest.java
  bootstraps/bootstrap-core/src/test/java/com/navercorp/pinpoint/bootstrap/config/ExcludePathFilterTest.java
  bootstraps/bootstrap-core/src/test/java/com/navercorp/pinpoint/bootstrap/instrument/matcher/LambdaExpressionMatcherTest.java
  collector/src/test/java/com/navercorp/pinpoint/collector/cluster/zookeeper/ZookeeperJobWorkerTest.java
  collector/src/test/java/com/navercorp/pinpoint/collector/receiver/grpc/command/GrpcCommandServiceTest.java
  collector/src/test/java/com/navercorp/pinpoint/collector/util/CollectorUtilsTest.java
  commons-server-cluster/src/test/java/com/navercorp/pinpoint/common/server/cluster/zookeeper/ConnectionTest.java
  commons-server-cluster/src/test/java/com/navercorp/pinpoint/common/server/cluster/zookeeper/CuratorZookeeperClientTest.java
  hbase/hbase-schema/src/test/java/com/navercorp/pinpoint/hbase/schema/core/ChangeSetManagerTest.java
  hbase/hbase-schema/src/test/java/com/navercorp/pinpoint/hbase/schema/core/HtdHbaseSchemaVerifierTest.java
  hbase/hbase-schema/src/test/java/com/navercorp/pinpoint/hbase/schema/core/command/HbaseSchemaCommandManagerTest.java
  hbase/hbase-schema/src/test/java/com/navercorp/pinpoint/hbase/schema/dao/hbase/codec/SchemaChangeLogCodecTest.java
  hbase/hbase-schema/src/test/java/com/navercorp/pinpoint/hbase/schema/reader/xml/XmlHbaseSchemaParserTest.java
  hbase/hbase-schema/src/test/java/com/navercorp/pinpoint/hbase/schema/reader/xml/XmlHbaseSchemaReaderTest.java
  hbase/hbase-schema/src/test/java/com/navercorp/pinpoint/hbase/schema/service/HbaseSchemaServiceImplTest.java
  hbase/hbase-schema/src/test/java/com/navercorp/pinpoint/hbase/schema/service/SchemaChangeLogServiceImplTest.java
  plugins-it/plugins-it-utils/src/test/java/com/navercorp/pinpoint/pluginit/utils/SocketUtilsTest.java
  plugins-it/plugins-it-utils/src/test/java/com/navercorp/pinpoint/pluginit/utils/WebServerTest.java
  plugins-loader/src/test/java/com/navercorp/pinpoint/loader/plugins/trace/yaml/TraceMetadataProviderYamlParserTest.java
  pom.xml
  profiler-test/src/main/java/com/navercorp/pinpoint/test/classloader/TestClassList.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/AgentInfoSenderTest.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/cache/LRUCacheTest.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/instrument/classreading/SimpleClassMetadataReaderTest.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/receiver/service/ActiveThreadServiceTest.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/sender/TcpDataSenderReconnectTest.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/util/JarReaderTest.java
  rpc/src/test/java/com/navercorp/pinpoint/rpc/client/ClientMessageListenerTest.java
  rpc/src/test/java/com/navercorp/pinpoint/rpc/client/PinpointClientStateTest.java
  rpc/src/test/java/com/navercorp/pinpoint/rpc/client/ReconnectTest.java
  rpc/src/test/java/com/navercorp/pinpoint/rpc/server/PinpointServerStateTest.java
  rpc/src/test/java/com/navercorp/pinpoint/rpc/server/PipelineFactoryTest.java
  rpc/src/test/java/com/navercorp/pinpoint/rpc/stream/StreamChannelManagerTest.java
  rpc/src/test/java/com/navercorp/pinpoint/rpc/util/AwaitIOUtils.java
  rpc/src/test/java/com/navercorp/pinpoint/test/server/TestPinpointServerAcceptor.java
  rpc/src/test/java/com/navercorp/pinpoint/test/server/TestServerMessageListenerFactory.java
  test/src/main/java/com/navercorp/pinpoint/test/plugin/PluginClassLoading.java
  web/src/test/java/com/navercorp/pinpoint/web/TestTraceUtils.java
  web/src/test/java/com/navercorp/pinpoint/web/applicationmap/ServerGroupListTest.java
  web/src/test/java/com/navercorp/pinpoint/web/cluster/ClusterTest.java
  web/src/test/java/com/navercorp/pinpoint/web/cluster/zookeeper/ZookeeperClusterTest.java
  web/src/test/java/com/navercorp/pinpoint/web/controller/AlarmControllerTest.java
  web/src/test/java/com/navercorp/pinpoint/web/controller/ConfigControllerTest.java
  web/src/test/java/com/navercorp/pinpoint/web/controller/UserControllerTest.java
  web/src/test/java/com/navercorp/pinpoint/web/controller/UserGroupControllerTest.java
  web/src/test/java/com/navercorp/pinpoint/web/service/AdminServiceImplTest.java
Labels: test

#9368 [#9317] Change AgentListController api url
  web/src/main/java/com/navercorp/pinpoint/web/authorization/controller/AgentListController.java
Labels: module:web

#9410 [#9407] Add tenant id column for url stat
  metric-module/collector-starter/src/main/java/com/navercorp/pinpoint/collector/service/PinotAgentUriStatService.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/common/model/UriStat.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/controller/UriStatController.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/util/UriStatQueryParameter.java
  metric-module/metric/src/main/pinot/pinot-urlStat-schema.json
  metric-module/metric/src/main/resources/pinot-web/mapper/pinot/UriStatMapper.xml
Labels: module:metric

#9413 [#9317] Change AgentListController api url
  web/src/main/java/com/navercorp/pinpoint/web/authorization/controller/AgentListController.java
Labels: module:web

#9418 [#9163] Add netty-handler-proxy.jar to agent
  grpc/pom.xml
  pom.xml
Labels: bug, dependencies

#9403 [#9411] Add SecurityContextUtils
  web/src/main/java/com/navercorp/pinpoint/web/controller/WebhookSendInfoController.java
  web/src/main/java/com/navercorp/pinpoint/web/service/UserServiceImpl.java
  web/src/main/java/com/navercorp/pinpoint/web/util/SecurityContextUtils.java
  web/src/main/java/com/navercorp/pinpoint/web/websocket/PinpointWebSocketTimerTaskDecoratorFactory.java
  web/src/test/java/com/navercorp/pinpoint/web/util/SecurityContextUtilsTest.java
Labels: module:web

#9372 [#9371] Add agent load-balancer which periodically change collector server
  agent/src/main/resources/pinpoint-root.config
  grpc/src/main/java/com/navercorp/pinpoint/grpc/client/DefaultChannelFactory.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/client/config/ClientOption.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/grpc/config/GrpcTransportConfig.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/module/GrpcModule.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/grpc/SpanGrpcDataSenderProvider.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/sender/grpc/SpanGrpcDataSender.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/sender/grpc/SubconnectionExpiringLoadBalancer.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/sender/grpc/SubconnectionExpiringLoadBalancerProvider.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/sender/grpc/MockLoadBalancerHelper.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/sender/grpc/SubconnectionExpiringLoadBalancerTest.java
Labels: module:agent

#9427 [#noissue] Exclude Spring6 from plugin-test
  plugins-it/spring-it/src/test/java/com/navercorp/pinpoint/plugin/spring/web/SpringWebMvc_5_x_IT.java
Labels: test

#9432 [#9431] Bump maven-assembly-plugin to 3.4.2
  agent/pom.xml
Labels: dependencies

#9439 [#9438] Update google httpclient plugin enable option
  agent/src/main/resources/profiles/local/pinpoint.config
  agent/src/main/resources/profiles/release/pinpoint.config
  plugins/google-httpclient/src/main/java/com/navercorp/pinpoint/plugin/google/httpclient/HttpClientPlugin.java
  plugins/google-httpclient/src/main/java/com/navercorp/pinpoint/plugin/google/httpclient/HttpClientPluginConfig.java
Labels: module:plugin, configuration

#9447 ﻿[#9445] Update plugin enable option
  agent/src/main/resources/profiles/local/pinpoint.config
  agent/src/main/resources/profiles/release/pinpoint.config
  plugins/agentsdk-async/src/main/java/com/navercorp/pinpoint/plugin/sdk/AgentSdkAsyncPlugin.java
  plugins/arcus/src/main/java/com/navercorp/pinpoint/plugin/arcus/ArcusPlugin.java
  plugins/cxf/src/main/java/com/navercorp/pinpoint/plugin/cxf/CxfPlugin.java
  plugins/cxf/src/main/java/com/navercorp/pinpoint/plugin/cxf/CxfPluginConfig.java
  plugins/elasticsearch/src/main/java/com/navercorp/pinpoint/plugin/elasticsearch/ElasticsearchPlugin.java
  plugins/elasticsearch8/src/main/java/com/navercorp/pinpoint/plugin/elasticsearch8/Elasticsearch8Plugin.java
  plugins/httpclient3/src/main/java/com/navercorp/pinpoint/plugin/httpclient3/HttpClient3Plugin.java
  plugins/httpclient3/src/main/java/com/navercorp/pinpoint/plugin/httpclient3/HttpClient3PluginConfig.java
  plugins/httpclient4/src/main/java/com/navercorp/pinpoint/plugin/httpclient4/HttpClient4Plugin.java
  plugins/httpclient4/src/main/java/com/navercorp/pinpoint/plugin/httpclient4/HttpClient4PluginConfig.java
  plugins/ibatis/src/main/java/com/navercorp/pinpoint/plugin/ibatis/IBatisPlugin.java
  plugins/jsp/src/main/java/com/navercorp/pinpoint/plugin/jsp/JspPlugin.java
  plugins/kafka/src/main/java/com/navercorp/pinpoint/plugin/kafka/KafkaConfig.java
  plugins/kafka/src/main/java/com/navercorp/pinpoint/plugin/kafka/KafkaPlugin.java
  plugins/log4j2/src/main/java/com/navercorp/pinpoint/plugin/log4j2/Log4j2Plugin.java
  plugins/paho-mqtt/src/main/java/com/navercorp/pinpoint/plugin/paho/mqtt/PahoMqttPlugin.java
  plugins/redis-lettuce/src/main/java/com/navercorp/pinpoint/plugin/redis/lettuce/LettucePlugin.java
  plugins/redis-redisson/src/main/java/com/navercorp/pinpoint/plugin/redis/redisson/RedissonPlugin.java
  plugins/redis/src/main/java/com/navercorp/pinpoint/plugin/redis/jedis/JedisPlugin.java
  plugins/rocketmq/src/main/java/com/navercorp/pinpoint/plugin/rocketmq/RocketMQConfig.java
  plugins/rocketmq/src/main/java/com/navercorp/pinpoint/plugin/rocketmq/RocketMQPlugin.java
  plugins/spring-boot/src/main/java/com/navercorp/pinpoint/plugin/spring/boot/SpringBootPlugin.java
  plugins/spring/src/main/java/com/navercorp/pinpoint/plugin/spring/web/SpringWebMvcConfig.java
  plugins/spring/src/main/java/com/navercorp/pinpoint/plugin/spring/web/SpringWebMvcPlugin.java
  plugins/thread/src/main/java/com/navercorp/pinpoint/plugin/thread/ThreadConfig.java
  plugins/thread/src/main/java/com/navercorp/pinpoint/plugin/thread/ThreadPlugin.java
  plugins/thrift/src/main/java/com/navercorp/pinpoint/plugin/thrift/ThriftPlugin.java
  plugins/thrift/src/main/java/com/navercorp/pinpoint/plugin/thrift/ThriftPluginConfig.java
Labels: module:plugin, configuration

#9446 [#8934] Filter agent list to sure that the agent is truly active
  web/src/main/java/com/navercorp/pinpoint/web/authorization/controller/AgentInfoController.java
  web/src/main/java/com/navercorp/pinpoint/web/authorization/controller/AgentListController.java
  web/src/main/java/com/navercorp/pinpoint/web/service/AgentInfoService.java
  web/src/main/java/com/navercorp/pinpoint/web/service/AgentInfoServiceImpl.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/agent/AgentInfoFilterChain.java
  web/src/test/java/com/navercorp/pinpoint/web/vo/agent/AgentInfoFilterChainTest.java
Labels: module:web
