Repository pinpoint-apm/pinpoint, pull requests merged in 2022-09, with the labels that each got.

#9158 [#9157] Prevent initializing active thread workers multiple times
  web/src/main/java/com/navercorp/pinpoint/web/websocket/ActiveThreadCountResponseAggregator.java
  web/src/test/java/com/navercorp/pinpoint/web/websocket/ActiveThreadCountResponseAggregatorTest.java
Labels: bug, module:web

#9169 [#noissue] Ascended logging level of managing collector zknodes
  collector/src/main/java/com/navercorp/pinpoint/collector/cluster/zookeeper/ZookeeperJobWorker.java
Labels: module:collector

#9177 [#9176] Improved code so that connection object of pinot is reused
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/common/pinot/PinpointPinotDriver.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/mybatis/DataSourceDelegator.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/mybatis/PinotConnectionDelegator.java
  metric-module/metric/src/main/resources/pinot-web/applicationContext-web-pinot-datasource.xml
  metric-module/metric/src/main/resources/pinot-web/profiles/local/jdbc-pinot.properties
  metric-module/metric/src/main/resources/pinot-web/profiles/release/jdbc-pinot.properties
Labels: enhancement, module:metric

#9182 [#9181] Change agent's gRPC stream log level
  profiler/src/main/java/com/navercorp/pinpoint/profiler/sender/grpc/ResponseStreamObserver.java
Labels: module:agent, log

#9184 [#9183] Fix rabbitmq consumer handle
  plugins/rabbitmq/src/main/java/com/navercorp/pinpoint/plugin/rabbitmq/client/interceptor/RabbitMQConsumerHandleCompleteInboundCommandInterceptor.java
Labels: bug, module:plugin

#9186 [#9185] Fix log level of abstract method transform
  profiler/src/main/java/com/navercorp/pinpoint/profiler/instrument/ASMMethod.java
Labels: module:plugin, log

#9196 [#noissue] Increased thrift container max length
  thrift/src/main/java/com/navercorp/pinpoint/thrift/io/ProtocolFactory.java
Labels: module:collector

#9194 [#9187] Fix span dispatch failed
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/grpc/GrpcSpanMessageConverter.java
Labels: bug, module:agent

#9197 [#NOISSUE] add log for performance test
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/dao/pinot/PinotSystemMetricDoubleDao.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/service/SystemMetricDataServiceImpl.java
Labels: module:metric

#9201 [#9200] Backport: Fix agent callstack overflow log
  agent/src/main/resources/profiles/local/pinpoint.config
  agent/src/main/resources/profiles/release/pinpoint.config
  bootstraps/bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/interceptor/AsyncContextSpanEventEndPointInterceptor.java
  bootstraps/bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/interceptor/AsyncContextSpanEventSimpleAroundInterceptor.java
  plugins/akka-http/src/main/java/com/navercorp/pinpoint/plugin/akka/http/interceptor/AsyncContextSpanEventEndPointInterceptor.java
  plugins/netty/src/main/java/com/navercorp/pinpoint/plugin/netty/interceptor/http/HttpEncoderInterceptor.java
  plugins/rabbitmq/src/main/java/com/navercorp/pinpoint/plugin/rabbitmq/client/interceptor/ConsumerHandleDeliveryInterceptor.java
  plugins/user/src/main/java/com/navercorp/pinpoint/plugin/user/interceptor/MQExternalClientHandlerInterceptor.java
  plugins/vertx/src/main/java/com/navercorp/pinpoint/plugin/vertx/interceptor/AsyncContextSpanEventEndPointInterceptor.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/AsyncChildTrace.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/CallStack.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/CallStackFactoryV1.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/CallStackFactoryV2.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/CallStackOverflowListener.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/DefaultCallStack.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/DefaultCallStackOverflowListener.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/DepthCompressCallStack.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/ThrottledLogCallStackOverflowListener.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/CallStackFactoryProvider.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/instrument/config/DefaultInstrumentConfig.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/instrument/config/InstrumentConfig.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/context/CallStackFactoryV1Test.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/context/CallStackFactoryV2Test.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/context/DefaultCallStackOverflowListenerTest.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/context/DefaultTraceTest.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/context/ThrottledLogCallStackOverflowListenerTest.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/context/TraceTest.java
Labels: enhancement, module:agent

#9203 [#9202] Backport: Fix span dispatch failed
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/grpc/GrpcSpanMessageConverter.java
Labels: bug, module:agent

#9205 [#9204] Backport: Fix log level of abstract method transform
  profiler/src/main/java/com/navercorp/pinpoint/profiler/instrument/ASMMethod.java
Labels: module:plugin, log

#9207 [#9206] Backport: Fix rabbitMQ consumer handle interceptor
  plugins/rabbitmq/src/main/java/com/navercorp/pinpoint/plugin/rabbitmq/client/interceptor/RabbitMQConsumerHandleCompleteInboundCommandInterceptor.java
Labels: bug, module:plugin

#9209 [#9208] Backport: Change the agent's gRPC stream log level
  profiler/src/main/java/com/navercorp/pinpoint/profiler/sender/grpc/ResponseStreamObserver.java
Labels: module:agent, log

#9214 [#9210] Removed getStartTimestamp
  collector/src/main/java/com/navercorp/pinpoint/collector/mapper/flink/TFAgentStatBatchMapper.java
Labels: module:collector

#9216 [#9215] Fixed positions of metric measurers
  flink/src/main/java/com/navercorp/pinpoint/flink/process/TBaseFlatMapper.java
  profiler-optional/profiler-optional-jdk8/src/main/java/com/navercorp/pinpoint/profiler/monitor/metric/buffer/DefaultBufferMetric.java
  profiler-optional/profiler-optional-jdk8/src/main/java/com/navercorp/pinpoint/profiler/monitor/metric/cpu/ibm/DefaultCpuLoadMetric.java
  profiler-optional/profiler-optional-jdk8/src/main/java/com/navercorp/pinpoint/profiler/monitor/metric/cpu/oracle/DefaultCpuLoadMetric.java
  profiler-optional/profiler-optional-jdk8/src/main/java/com/navercorp/pinpoint/profiler/monitor/metric/filedescriptor/oracle/OracleFileDescriptorMetric.java
Labels: module:agent

#9218 [#9217] Change distribution logic for kafka key
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/collector/dao/pinot/PinotMetricTagDao.java
Labels: module:metric

#9222 [#9217] Change distribution logic for kafka key in collector
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/collector/dao/pinot/PinotMetricTagDao.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/collector/dao/pinot/PinotSystemMetricDoubleDao.java
Labels: module:metric

#9188 [#noissue] Cleanup Hbase plugin
  plugins/hbase/src/main/java/com/navercorp/pinpoint/plugin/hbase/HbasePluginConstants.java
  plugins/hbase/src/main/java/com/navercorp/pinpoint/plugin/hbase/interceptor/HbaseClientConstructorInterceptor.java
  plugins/hbase/src/main/java/com/navercorp/pinpoint/plugin/hbase/interceptor/HbaseTableMethodInterceptor.java
Labels: module:plugin, cleanup

#9230 [#noissue] Add more logs for collector grpc server
  collector/src/main/java/com/navercorp/pinpoint/collector/cluster/ClusterPointRepository.java
  collector/src/main/java/com/navercorp/pinpoint/collector/cluster/GrpcAgentConnection.java
  collector/src/main/java/com/navercorp/pinpoint/collector/cluster/zookeeper/ZookeeperClusterService.java
  collector/src/main/java/com/navercorp/pinpoint/collector/cluster/zookeeper/ZookeeperProfilerClusterManager.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/PinpointGrpcServer.java
Labels: module:collector

#8921 [#9229] Fix incorrect AKKA ServiceType
  commons/src/main/java/com/navercorp/pinpoint/common/trace/ServiceType.java
  plugins/akka-http/src/main/java/com/navercorp/pinpoint/plugin/akka/http/AkkaHttpConstants.java
  plugins/akka-http/src/main/java/com/navercorp/pinpoint/plugin/akka/http/AkkaHttpMetadataProvider.java
Labels: bug, module:agent

#9231 [#noissue] LoggingRejectedExecutionHandler logs first in-come
  collector/src/main/java/com/navercorp/pinpoint/collector/monitor/LoggingRejectedExecutionHandler.java
  collector/src/main/resources/applicationContext-collector-grpc.xml
Labels: module:collector
