Repository pinpoint-apm/pinpoint, pull requests merged in 2022-10, with the labels that each got.

#9245 [#9244] Improved for updating datatype save period
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/collector/dao/pinot/PinotSystemMetricDataTypeDao.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/collector/service/SystemMetricDataTypeServiceImpl.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/common/model/MetricDataName.java
  metric-module/metric/src/main/resources/pinot-collector/mapper/pinot/MetricDataTypeMapper.xml
  metric-module/metric/src/test/java/com/navercorp/pinpoint/metric/collector/service/SystemMetricDataTypeServiceImplTest.java
Labels: module:metric

#9246 [#9242] Add http client 5.x plugin
  agent-testweb/httpclient5-plugin-testweb/pom.xml
  agent-testweb/httpclient5-plugin-testweb/src/main/java/com/pinpoint/test/plugin/HttpClient5PluginController.java
  agent-testweb/httpclient5-plugin-testweb/src/main/java/com/pinpoint/test/plugin/HttpClient5PluginTestStarter.java
  agent-testweb/httpclient5-plugin-testweb/src/main/resources/application.yml
  agent-testweb/pom.xml
  agent/src/main/resources/profiles/local/pinpoint.config
  agent/src/main/resources/profiles/release/pinpoint.config
  commons/src/main/java/com/navercorp/pinpoint/common/trace/ServiceType.java
  plugins/assembly/pom.xml
  plugins/bom/pom.xml
  plugins/httpclient5/pom.xml
  plugins/httpclient5/src/main/java/com/navercorp/pinpoint/plugin/httpclient5/HostUtils.java
  plugins/httpclient5/src/main/java/com/navercorp/pinpoint/plugin/httpclient5/HttpClient5Constants.java
  plugins/httpclient5/src/main/java/com/navercorp/pinpoint/plugin/httpclient5/HttpClient5CookieExtractor.java
  plugins/httpclient5/src/main/java/com/navercorp/pinpoint/plugin/httpclient5/HttpClient5EntityExtractor.java
  plugins/httpclient5/src/main/java/com/navercorp/pinpoint/plugin/httpclient5/HttpClient5Plugin.java
  plugins/httpclient5/src/main/java/com/navercorp/pinpoint/plugin/httpclient5/HttpClient5PluginConfig.java
  plugins/httpclient5/src/main/java/com/navercorp/pinpoint/plugin/httpclient5/HttpClient5RequestWrapper.java
  plugins/httpclient5/src/main/java/com/navercorp/pinpoint/plugin/httpclient5/HttpRequest5ClientHeaderAdaptor.java
  plugins/httpclient5/src/main/java/com/navercorp/pinpoint/plugin/httpclient5/HttpRequestGetter.java
  plugins/httpclient5/src/main/java/com/navercorp/pinpoint/plugin/httpclient5/interceptor/AsyncClientConnectionManagerConnectInterceptor.java
  plugins/httpclient5/src/main/java/com/navercorp/pinpoint/plugin/httpclient5/interceptor/AsyncExecCallbackHandleResponseInterceptor.java
  plugins/httpclient5/src/main/java/com/navercorp/pinpoint/plugin/httpclient5/interceptor/BasicClientExchangeHandlerConsumeResponseInterceptor.java
  plugins/httpclient5/src/main/java/com/navercorp/pinpoint/plugin/httpclient5/interceptor/ClientConnectionManagerConnectInterceptor.java
  plugins/httpclient5/src/main/java/com/navercorp/pinpoint/plugin/httpclient5/interceptor/CloseableHttpAsyncClientDoExecuteInterceptor.java
  plugins/httpclient5/src/main/java/com/navercorp/pinpoint/plugin/httpclient5/interceptor/CloseableHttpAsyncClientExecuteImmediateMethodInterceptor.java
  plugins/httpclient5/src/main/java/com/navercorp/pinpoint/plugin/httpclient5/interceptor/DefaultAsyncClientConnectionOperatorConnectInterceptor.java
  plugins/httpclient5/src/main/java/com/navercorp/pinpoint/plugin/httpclient5/interceptor/DefaultHttpClientConnectionOperatorConnectInterceptor.java
  plugins/httpclient5/src/main/java/com/navercorp/pinpoint/plugin/httpclient5/interceptor/FutureCancelInterceptor.java
  plugins/httpclient5/src/main/java/com/navercorp/pinpoint/plugin/httpclient5/interceptor/FutureCompletedInterceptor.java
  plugins/httpclient5/src/main/java/com/navercorp/pinpoint/plugin/httpclient5/interceptor/FutureFailedInterceptor.java
  plugins/httpclient5/src/main/java/com/navercorp/pinpoint/plugin/httpclient5/interceptor/InternalHttpClientDoExecuteInterceptor.java
  plugins/httpclient5/src/main/java/com/navercorp/pinpoint/plugin/httpclient5/interceptor/MinimalHttpAsyncClientExecuteInterceptor.java
  plugins/httpclient5/src/main/resources/META-INF/pinpoint/type-provider.yml
  plugins/httpclient5/src/main/resources/META-INF/services/com.navercorp.pinpoint.bootstrap.plugin.ProfilerPlugin
  plugins/httpclient5/src/test/java/com/navercorp/pinpoint/plugin/httpclient5/HostUtilsTest.java
  plugins/pom.xml
Labels: enhancement, module:plugin

#9228 [#noissue] Refactor ApplicationAgentsList
  web/src/main/java/com/navercorp/pinpoint/web/authorization/controller/AgentInfoController.java
  web/src/main/java/com/navercorp/pinpoint/web/controller/ApplicationController.java
  web/src/main/java/com/navercorp/pinpoint/web/service/AgentInfoService.java
  web/src/main/java/com/navercorp/pinpoint/web/service/AgentInfoServiceImpl.java
  web/src/main/java/com/navercorp/pinpoint/web/view/ApplicationAgentsListSerializer.java
  web/src/main/java/com/navercorp/pinpoint/web/view/tree/SimpleTreeView.java
  web/src/main/java/com/navercorp/pinpoint/web/view/tree/SimpleTreeViewSerializer.java
  web/src/main/java/com/navercorp/pinpoint/web/view/tree/TreeNode.java
  web/src/main/java/com/navercorp/pinpoint/web/view/tree/TreeNodeView.java
  web/src/main/java/com/navercorp/pinpoint/web/view/tree/TreeView.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/ApplicationAgentList.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/ApplicationAgentsList.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/agent/AgentInfo.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/tree/AgentsList.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/tree/AgentsListMap.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/tree/AgentsListMapBuilder.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/tree/AgentsMapByApplication.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/tree/AgentsMapByHost.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/tree/ApplicationAgentHostList.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/tree/SortBy.java
  web/src/test/java/com/navercorp/pinpoint/web/vo/AgentsMapByApplicationTest.java
  web/src/test/java/com/navercorp/pinpoint/web/vo/AgentsMapByHostTest.java
  web/src/test/java/com/navercorp/pinpoint/web/vo/ApplicationAgentsListTest.java
Labels: module:web

#9251 [#noissue] Fix spotbugs warning
  agent-testweb/spring-data-r2dbc-plugin-testweb/src/main/java/com/pinpoint/test/plugin/OracleR2dbcDatabase.java
  batch/src/main/java/com/navercorp/pinpoint/batch/flink/HealthCheckTasklet.java
  batch/src/main/java/com/navercorp/pinpoint/batch/flink/HealthCheckTaskletV2.java
  bootstraps/bootstrap/src/main/java/com/navercorp/pinpoint/bootstrap/PinpointStarter.java
  bootstraps/bootstrap/src/main/java/com/navercorp/pinpoint/bootstrap/agentdir/AgentDirBaseClassPathResolver.java
  bootstraps/bootstrap/src/main/java/com/navercorp/pinpoint/bootstrap/agentdir/AgentDirectory.java
  bootstraps/bootstrap/src/main/java/com/navercorp/pinpoint/bootstrap/agentdir/BootDir.java
  collector/src/main/java/com/navercorp/pinpoint/collector/cluster/zookeeper/ZookeeperJobWorker.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/dao/hbase/mapper/AgentInfoBoResultsExtractor.java
  hbase/hbase-schema/src/main/java/com/navercorp/pinpoint/hbase/schema/reader/xml/XmlHbaseSchemaParser.java
  plugins/cubrid-jdbc/src/main/java/com/navercorp/pinpoint/plugin/jdbc/cubrid/CubridJdbcUrlParser.java
  plugins/jboss/src/main/java/com/navercorp/pinpoint/plugin/jboss/interceptor/MethodInvocationHandlerInterceptor.java
  plugins/mongodb/src/main/java/com/navercorp/pinpoint/plugin/mongo/WriteContext.java
  plugins/vertx/src/main/java/com/navercorp/pinpoint/plugin/vertx/interceptor/Http1xClientConnectionCreateRequestInterceptor.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/grpc/GrpcUriStatMessageConverter.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/instrument/classloading/BootstrapClassLoaderHandler.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/instrument/transformer/DefaultHierarchyCaches.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/jdbc/BytesConverter.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/receiver/service/ActiveThreadCountService.java
  tools/src/main/java/com/navercorp/pinpoint/tools/NetworkAvailabilityChecker.java
  web/src/main/java/com/navercorp/pinpoint/web/mapper/AgentInfoResultsExtractor.java
  web/src/main/java/com/navercorp/pinpoint/web/mapper/DetailedAgentInfoResultsExtractor.java
  web/src/main/java/com/navercorp/pinpoint/web/mapper/stat/SampledDataSourceResultExtractor.java
  web/src/main/java/com/navercorp/pinpoint/web/mapper/stat/sampling/sampler/AgentUriStatSampler.java
  web/src/main/java/com/navercorp/pinpoint/web/service/stat/AgentUriStatChartService.java
  web/src/main/java/com/navercorp/pinpoint/web/service/stat/AgentWarningStatServiceImpl.java
  web/src/main/java/com/navercorp/pinpoint/web/service/stat/DataSourceChartService.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/stat/chart/agent/AgentUriStatChart.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/stat/chart/agent/DataSourceChart.java
  web/src/main/java/com/navercorp/pinpoint/web/websocket/ActiveThreadCountHandler.java
  web/src/main/java/com/navercorp/pinpoint/web/websocket/ActiveThreadCountWorker.java
Labels: Continuous Integration

#9257 [#noissue] Fix postgresql it 42.50
  plugins-it/postgresql-jdbc-it/src/test/java/com/navercorp/pinpoint/plugin/jdbc/postgresql/PostgreSql_Post_9_4_1208_IT.java
  plugins-it/postgresql-jdbc-it/src/test/resources/pinpoint-postgresql.config
Labels: Continuous Integration

#9241 [#9240] get system metric charts seperately by tags
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/controller/SystemMetricController.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/dao/SystemMetricHostInfoDao.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/dao/model/MetricTagsSearchKey.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/dao/mysql/MysqlSystemMetricHostInfoDao.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/dao/pinot/PinotSystemMetricHostInfoDao.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/model/MetricInfo.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/service/SystemMetricDataService.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/service/SystemMetricDataServiceImpl.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/service/SystemMetricHostInfoService.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/service/SystemMetricHostInfoServiceImpl.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/service/YMLSystemMetricBasicGroupManager.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/util/TagParser.java
  metric-module/metric/src/main/resources/pinot-web/mapper/pinot/HostInfoMapper.xml
  metric-module/metric/src/main/resources/pinot-web/mybatis-pinot-config.xml
Labels: module:metric

#9265 [#noissue] Fix spring-amqp-rabbit it
  plugins-it/rabbitmq-it/src/test/java/com/navercorp/pinpoint/plugin/rabbitmq/spring/SpringAmqpRabbit_2_1_x_to_2_x_IT.java
Labels: Continuous Integration

#9266 [#9264] Guarded ping only when stream is ready
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/AgentService.java
Labels: bug, module:collector

#9271 [#NOISSUE] add log for performance test
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/service/SystemMetricDataServiceImpl.java
Labels: module:metric

#9277 [#noissue] Update rabbitmq IT
  plugins-it/plugins-it-utils/src/main/java/com/navercorp/pinpoint/pluginit/utils/TestcontainersOption.java
  plugins-it/rabbitmq-it/pom.xml
  plugins-it/rabbitmq-it/src/test/java/com/navercorp/pinpoint/plugin/rabbitmq/RabbitMQClientITBase.java
  plugins-it/rabbitmq-it/src/test/java/com/navercorp/pinpoint/plugin/rabbitmq/RabbitMQClient_2_7_0_to_3_3_0_IT.java
  plugins-it/rabbitmq-it/src/test/java/com/navercorp/pinpoint/plugin/rabbitmq/RabbitMQClient_3_3_0_to_4_0_0_IT.java
  plugins-it/rabbitmq-it/src/test/java/com/navercorp/pinpoint/plugin/rabbitmq/RabbitMQClient_4_x_IT.java
  plugins-it/rabbitmq-it/src/test/java/com/navercorp/pinpoint/plugin/rabbitmq/RabbitMQClient_5_x_IT.java
  plugins-it/rabbitmq-it/src/test/java/com/navercorp/pinpoint/plugin/rabbitmq/TestBrokerServer.java
  plugins-it/rabbitmq-it/src/test/java/com/navercorp/pinpoint/plugin/rabbitmq/spring/SpringAmqpRabbit_1_3_3_to_1_4_2_IT.java
  plugins-it/rabbitmq-it/src/test/java/com/navercorp/pinpoint/plugin/rabbitmq/spring/SpringAmqpRabbit_1_4_2_to_1_7_0_IT.java
  plugins-it/rabbitmq-it/src/test/java/com/navercorp/pinpoint/plugin/rabbitmq/spring/SpringAmqpRabbit_1_7_0_to_1_7_7_IT.java
  plugins-it/rabbitmq-it/src/test/java/com/navercorp/pinpoint/plugin/rabbitmq/spring/SpringAmqpRabbit_1_7_7_to_2_0_0_IT.java
  plugins-it/rabbitmq-it/src/test/java/com/navercorp/pinpoint/plugin/rabbitmq/spring/SpringAmqpRabbit_2_0_0_to_2_0_3_IT.java
  plugins-it/rabbitmq-it/src/test/java/com/navercorp/pinpoint/plugin/rabbitmq/spring/SpringAmqpRabbit_2_0_3_to_2_1_0_IT.java
  plugins-it/rabbitmq-it/src/test/java/com/navercorp/pinpoint/plugin/rabbitmq/spring/SpringAmqpRabbit_2_1_x_to_2_x_IT.java
  plugins-it/rabbitmq-it/src/test/java/com/navercorp/test/pinpoint/plugin/rabbitmq/spring/config/CommonConfig.java
Labels: Continuous Integration

#9279 [#noissue] Fix netty IT
  plugins-it/netty-it/src/test/java/com/navercorp/pinpoint/plugin/netty/NettyIT.java
Labels: Continuous Integration

#9282 [#9280] Matching rules have been improved
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/model/basic/metric/group/MatchingRule.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/service/SystemMetricHostInfoServiceImpl.java
  metric-module/metric/src/main/resources/pinot-web/telegraf-metric.yml
Labels: module:metric

#9283 [#noissue] Change metric groupName
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/service/SystemMetricDataServiceImpl.java
Labels: module:metric

#9287 [#noissue] remove whitespace in metric groupName
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/service/SystemMetricDataServiceImpl.java
Labels: module:metric

#9288 [#noissue] Cleanup legacy commons-lang dependency
  collector/pom.xml
  commons-buffer/pom.xml
  commons-buffer/src/test/java/com/navercorp/pinpoint/common/buffer/AutomaticBufferTest.java
  commons-buffer/src/test/java/com/navercorp/pinpoint/common/buffer/FixedBufferTest.java
  profiler/pom.xml
  profiler/src/test/java/com/navercorp/pinpoint/profiler/AgentInfoSenderTest.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/instrument/classloading/JarProfilerPluginClassInjectorTest.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/sender/UdpDataSenderTest.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/util/JarReaderTest.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/util/RandomExUtils.java
  thrift/pom.xml
  web/pom.xml
Labels: cleanup, dependencies

#9307 [#9298] Downgrade to Dubbo 2.6.11 due to workflow build failure
  plugins/bom/pom.xml
Labels: module:plugin, security, dependencies

#9301 [#noissue] Bump Apache Dubbo from 2.7.2 to 2.7.18
  plugins/bom/pom.xml
Labels: module:plugin, security, dependencies

#9310 [#noissue] Generify AgentsListMap for use in elsewhere
  web/src/main/java/com/navercorp/pinpoint/web/authorization/controller/AgentInfoController.java
  web/src/main/java/com/navercorp/pinpoint/web/service/AgentInfoServiceImpl.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/tree/AgentsListMapBuilder.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/tree/AgentsMapByApplication.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/tree/AgentsMapByHost.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/tree/InstancesList.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/tree/InstancesListMap.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/tree/InstancesListMapBuilder.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/tree/SortByAgentInfo.java
  web/src/test/java/com/navercorp/pinpoint/web/vo/AgentsMapByApplicationTest.java
  web/src/test/java/com/navercorp/pinpoint/web/vo/AgentsMapByHostTest.java
Labels: module:web, cleanup

#9313 [#9254] Update dependency of dubbo-plugin-testweb
  agent-testweb/dubbo-plugin-testweb/pom.xml
Labels: module:plugin, security, dependencies

#9312 [#noissue] Fix log level of cluster manager
  web/src/main/java/com/navercorp/pinpoint/web/cluster/ClusterManager.java
Labels: module:web, log

#9320 [#NOISSUE] cleanup code (unused code, mysql logic)
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/collector/dao/mysql/MysqlMetricTagDao.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/collector/dao/mysql/MysqlSystemMetricDataTypeDao.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/collector/dao/pinot/PinotSystemMetricLongDao.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/collector/service/SystemMetricDataTypeServiceImpl.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/collector/service/SystemMetricService.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/common/model/LongMetric.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/controller/SystemMetricController.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/dao/SystemMetricDao.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/dao/mysql/MysqlSystemMetricDataTypeDao.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/dao/mysql/MysqlSystemMetricHostInfoDao.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/dao/pinot/PinotSystemMetricDoubleDao.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/dao/pinot/PinotSystemMetricLongDao.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/service/SystemMetricDataService.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/service/SystemMetricDataServiceImpl.java
  metric-module/metric/src/main/pinot/pinpoint-pinot-start.sh
  metric-module/metric/src/main/pinot/pinpoint-pinot-stop.sh
  metric-module/metric/src/main/resources/pinot-collector/mapper/mysql/MetricDataTypeMapper.xml
  metric-module/metric/src/main/resources/pinot-collector/mapper/mysql/MetricTagMapper.xml
  metric-module/metric/src/main/resources/pinot-web/applicationContext-web-metric-mysql-dao-config.xml
  metric-module/metric/src/main/resources/pinot-web/applicationContext-web-metric-mysql-datasource.xml
  metric-module/metric/src/main/resources/pinot-web/applicationContext-web-pinot.xml
  metric-module/metric/src/main/resources/pinot-web/mapper/mysql/HostInfoMapper.xml
  metric-module/metric/src/main/resources/pinot-web/mapper/mysql/MetricDataTypeMapper.xml
  metric-module/metric/src/main/resources/pinot-web/mapper/pinot/SystemMetricLongMapper.xml
  metric-module/metric/src/main/resources/pinot-web/mybatis-mysql-config.xml
  metric-module/metric/src/main/resources/pinot-web/mybatis-pinot-config.xml
  metric-module/metric/src/main/resources/sql/SystemMetric-schema.sql
  metric-module/metric/src/test/java/com/navercorp/pinpoint/metric/collector/dao/pinot/PinotSystemMetricDaoTest.java
  metric-module/metric/src/test/java/com/navercorp/pinpoint/metric/collector/service/SystemMetricDataTypeServiceImplTest.java
  metric-module/metric/src/test/java/com/navercorp/pinpoint/metric/collector/service/SystemMetricFilterTest.java
  metric-module/metric/src/test/java/com/navercorp/pinpoint/metric/collector/service/SystemMetricTagServiceImplTest.java
  metric-module/metric/src/test/java/com/navercorp/pinpoint/metric/common/model/SystemMetricSerializerTest.java
Labels: module:metric

#9321 [#9322] Remove unnecessary guava dependencies
  plugins-it/cassandra-it/pom.xml
Labels: module:plugin, security, dependencies

#9325 [#noissue] Update jdk7 it
  plugins-it/google-httpclient-jdk7-it/pom.xml
  plugins-it/google-httpclient-jdk7-it/src/test/java/com/navercorp/pinpoint/plugin/google/httpclient/HttpRequestJDK7IT.java
  plugins-it/hikaricp-it/pom.xml
  plugins-it/hikaricp-it/src/test/java/com/navercorp/pinpoint/plugin/hikaricp/HikariCpJDK11IT.java
  plugins-it/hikaricp-it/src/test/java/com/navercorp/pinpoint/plugin/hikaricp/HikariCpJDK8IT.java
  plugins-it/hikaricp-jdk7-it/pom.xml
  plugins-it/jackson-it/src/test/java/com/navercorp/pinpoint/plugin/jackson/ObjectMapperIT.java
  plugins-it/jackson-it/src/test/java/com/navercorp/pinpoint/plugin/jackson/ObjectMapper_1_x_IT.java
  plugins-it/jackson-it/src/test/java/com/navercorp/pinpoint/plugin/jackson/ObjectReaderIT.java
  plugins-it/jackson-jdk7-it/pom.xml
  plugins-it/jackson-jdk7-it/src/test/java/com/navercorp/pinpoint/plugin/jackson/ObjectMapperJDK7IT.java
  plugins-it/jackson-jdk7-it/src/test/java/com/navercorp/pinpoint/plugin/jackson/ObjectReaderJDK7IT.java
  plugins-it/log4j2-it/src/test/java/com/navercorp/pinpoint/plugin/log4j2/Log4j2ForAsyncLoggerIT.java
  plugins-it/log4j2-it/src/test/java/com/navercorp/pinpoint/plugin/log4j2/Log4j2IT.java
  plugins-it/log4j2-it/src/test/java/com/navercorp/pinpoint/plugin/log4j2/Log4j2PatternIT.java
  plugins-it/log4j2-jdk8-it/pom.xml
  plugins-it/log4j2-jdk8-it/src/test/java/com/navercorp/pinpoint/plugin/log4j2/Log4j2ForAsyncLoggerIT.java
  plugins-it/log4j2-jdk8-it/src/test/java/com/navercorp/pinpoint/plugin/log4j2/Log4j2IT.java
  plugins-it/log4j2-jdk8-it/src/test/java/com/navercorp/pinpoint/plugin/log4j2/Log4j2PatternIT.java
  plugins-it/log4j2-jdk8-it/src/test/java/com/navercorp/pinpoint/plugin/log4j2/Log4j2TestBase.java
  plugins-it/log4j2-jdk8-it/src/test/resources/pinpoint-spring-bean-test.config
  plugins-it/pom.xml
Labels: module:test

#9303 [#noissue] Add httpclient4 testweb
  agent-testweb/httpclient4-plugin-testweb/pom.xml
  agent-testweb/httpclient4-plugin-testweb/src/main/java/com/pinpoint/test/plugin/HttpClient4PluginController.java
  agent-testweb/httpclient4-plugin-testweb/src/main/java/com/pinpoint/test/plugin/HttpClient4PluginTestStarter.java
  agent-testweb/httpclient4-plugin-testweb/src/main/resources/application.yml
  agent-testweb/pom.xml
  plugins/httpclient4/src/main/java/com/navercorp/pinpoint/plugin/httpclient4/HttpClient4RequestWrapper.java
Labels: module:plugin

#9326 [#noissue] cleanup
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/controller/SystemMetricController.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/service/SystemMetricHostInfoService.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/service/SystemMetricHostInfoServiceImpl.java
  metric-module/metric/src/main/resources/pinot-web/mapper/pinot/SystemMetricLongMapper.xml
Labels: module:metric

#9324 [#9323] GRPC server utilize call executor
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/GrpcReceiver.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/SimpleServerCallExecutorSupplier.java
  collector/src/main/resources/applicationContext-collector-grpc.xml
  grpc/src/main/java/com/navercorp/pinpoint/grpc/server/ServerFactory.java
  grpc/src/test/java/com/navercorp/pinpoint/grpc/ChannelFactoryTest.java
Labels: bug, module:collector

#9316 [#9315] Add order in collected metric info, metric host info
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/service/SystemMetricHostInfoServiceImpl.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/service/YMLSystemMetricBasicGroupManager.java
Labels: module:metric

#9347 [#9346] Bump asm to 9.4
  commons/src/main/java/com/navercorp/pinpoint/common/util/JvmVersion.java
  commons/src/test/java/com/navercorp/pinpoint/common/util/JvmVersionTest.java
  pom.xml
  profiler/src/main/java/com/navercorp/pinpoint/profiler/instrument/ASMVersion.java
Labels: module:agent, dependencies
