Repository pinpoint-apm/pinpoint, pull requests merged in 2022-12, with the labels that each got.

#9454 [#9453] Refactor Command-line Arguments of MultipleApplications to SpringBoot style
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/env/AdditionalProfileListener.java
  metric-module/collector-starter/src/main/java/com/navercorp/pinpoint/collector/starter/multi/application/MultiApplication.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/collector/CollectorType.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/collector/CollectorTypeParser.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/collector/TypeSet.java
  metric-module/metric/src/test/java/com/navercorp/pinpoint/metric/collector/CollectorTypeParserTest.java
Labels: module:collector, configuration

#9457 [#5249] send metric data including tenantId
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/collector/dao/pinot/PinotSystemMetricDoubleDao.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/collector/view/SystemMetricView.java
  metric-module/metric/src/test/java/com/navercorp/pinpoint/metric/common/model/SystemMetricSerializerTest.java
Labels: module:metric

#9458 [#9452] Add cassandra4 plugin
  agent-testweb/cassandra3-plugin-testweb/pom.xml
  agent-testweb/cassandra3-plugin-testweb/src/main/java/com/pinpoint/test/plugin/Cassandra3PluginController.java
  agent-testweb/cassandra3-plugin-testweb/src/main/java/com/pinpoint/test/plugin/Cassandra3PluginTestConstants.java
  agent-testweb/cassandra3-plugin-testweb/src/main/java/com/pinpoint/test/plugin/Cassandra3PluginTestStarter.java
  agent-testweb/cassandra3-plugin-testweb/src/main/resources/application.yml
  agent-testweb/cassandra3-plugin-testweb/src/test/java/com/pinpoint/test/plugin/cassandra/CassandraTest.java
  agent-testweb/cassandra4-plugin-testweb/pom.xml
  agent-testweb/cassandra4-plugin-testweb/src/main/java/com/pinpoint/test/plugin/Cassandra4PluginController.java
  agent-testweb/cassandra4-plugin-testweb/src/main/java/com/pinpoint/test/plugin/Cassandra4PluginTestConstants.java
  agent-testweb/cassandra4-plugin-testweb/src/main/java/com/pinpoint/test/plugin/Cassandra4PluginTestStarter.java
  agent-testweb/cassandra4-plugin-testweb/src/main/resources/application.yml
  agent-testweb/cassandra4-plugin-testweb/src/test/java/com/pinpoint/test/plugin/cassandra/CassandraTest.java
  agent-testweb/pom.xml
  commons/src/main/java/com/navercorp/pinpoint/common/trace/ServiceType.java
  plugins-it/cassandra4-it/pom.xml
  plugins-it/cassandra4-it/src/test/java/com/navercorp/pinpoint/plugin/cassandra/CassandraDatastaxITBase.java
  plugins-it/cassandra4-it/src/test/java/com/navercorp/pinpoint/plugin/cassandra/CassandraDatastax_4_0_x_IT.java
  plugins-it/cassandra4-it/src/test/java/com/navercorp/pinpoint/plugin/cassandra/CassandraITConstants.java
  plugins-it/cassandra4-it/src/test/java/com/navercorp/pinpoint/plugin/cassandra/CassandraServer.java
  plugins-it/cassandra4-it/src/test/java/com/navercorp/pinpoint/plugin/cassandra/CassandraServer3X.java
  plugins-it/cassandra4-it/src/test/java/com/navercorp/pinpoint/plugin/cassandra/CassandraTestHelper.java
  plugins-it/cassandra4-it/src/test/resources/cassandra-init.sql
  plugins-it/pom.xml
  plugins/assembly/pom.xml
  plugins/bom/pom.xml
  plugins/cassandra4/README.md
  plugins/cassandra4/pom.xml
  plugins/cassandra4/src/main/java/com/navercorp/pinpoint/plugin/cassandra4/CassandraConfig.java
  plugins/cassandra4/src/main/java/com/navercorp/pinpoint/plugin/cassandra4/CassandraConstants.java
  plugins/cassandra4/src/main/java/com/navercorp/pinpoint/plugin/cassandra4/CassandraPlugin.java
  plugins/cassandra4/src/main/java/com/navercorp/pinpoint/plugin/cassandra4/HostListAccessor.java
  plugins/cassandra4/src/main/java/com/navercorp/pinpoint/plugin/cassandra4/interceptor/DefaultPreparedStatementInterceptor.java
  plugins/cassandra4/src/main/java/com/navercorp/pinpoint/plugin/cassandra4/interceptor/DefaultSessionCloseInterceptor.java
  plugins/cassandra4/src/main/java/com/navercorp/pinpoint/plugin/cassandra4/interceptor/DefaultSessionConstructorInterceptor.java
  plugins/cassandra4/src/main/java/com/navercorp/pinpoint/plugin/cassandra4/interceptor/DefaultSessionExecuteInterceptor.java
  plugins/cassandra4/src/main/java/com/navercorp/pinpoint/plugin/cassandra4/interceptor/DefaultSessionInitInterceptor.java
  plugins/cassandra4/src/main/java/com/navercorp/pinpoint/plugin/cassandra4/interceptor/DefaultSimpleStatementConstructorInterceptor.java
  plugins/cassandra4/src/main/java/com/navercorp/pinpoint/plugin/cassandra4/interceptor/SettableByIndexSetInterceptor.java
  plugins/cassandra4/src/main/resources/META-INF/pinpoint/type-provider.yml
  plugins/cassandra4/src/main/resources/META-INF/services/com.navercorp.pinpoint.bootstrap.plugin.ProfilerPlugin
  plugins/pom.xml
Labels: enhancement, module:plugin

#9461 [#noissue] Fix cassandra4 it
  plugins-it/cassandra4-it/src/test/java/com/navercorp/pinpoint/plugin/cassandra/CassandraDatastaxITBase.java
Labels: module:plugin, test

#9464 [#noissue] Fix cassandra4 it
  plugins-it/cassandra4-it/src/test/java/com/navercorp/pinpoint/plugin/cassandra/CassandraDatastaxITBase.java
Labels: test

#9465 [#noissue] Add copyright
  plugins/cassandra4/src/main/java/com/navercorp/pinpoint/plugin/cassandra4/interceptor/DefaultPreparedStatementInterceptor.java
  plugins/cassandra4/src/main/java/com/navercorp/pinpoint/plugin/cassandra4/interceptor/DefaultSessionCloseInterceptor.java
  plugins/cassandra4/src/main/java/com/navercorp/pinpoint/plugin/cassandra4/interceptor/DefaultSessionConstructorInterceptor.java
  plugins/cassandra4/src/main/java/com/navercorp/pinpoint/plugin/cassandra4/interceptor/DefaultSessionExecuteInterceptor.java
  plugins/cassandra4/src/main/java/com/navercorp/pinpoint/plugin/cassandra4/interceptor/DefaultSessionInitInterceptor.java
  plugins/cassandra4/src/main/java/com/navercorp/pinpoint/plugin/cassandra4/interceptor/DefaultSimpleStatementConstructorInterceptor.java
  plugins/cassandra4/src/main/java/com/navercorp/pinpoint/plugin/cassandra4/interceptor/SettableByIndexSetInterceptor.java
  plugins/httpclient5/src/main/java/com/navercorp/pinpoint/plugin/httpclient5/HostUtils.java
  plugins/httpclient5/src/main/java/com/navercorp/pinpoint/plugin/httpclient5/HttpClient5Constants.java
  plugins/httpclient5/src/main/java/com/navercorp/pinpoint/plugin/httpclient5/HttpClient5CookieExtractor.java
  plugins/httpclient5/src/main/java/com/navercorp/pinpoint/plugin/httpclient5/HttpClient5EntityExtractor.java
  plugins/httpclient5/src/main/java/com/navercorp/pinpoint/plugin/httpclient5/HttpClient5Plugin.java
  plugins/httpclient5/src/main/java/com/navercorp/pinpoint/plugin/httpclient5/HttpClient5PluginConfig.java
  plugins/httpclient5/src/main/java/com/navercorp/pinpoint/plugin/httpclient5/HttpClient5RequestWrapper.java
  plugins/httpclient5/src/main/java/com/navercorp/pinpoint/plugin/httpclient5/HttpRequest5ClientHeaderAdaptor.java
  plugins/httpclient5/src/main/java/com/navercorp/pinpoint/plugin/httpclient5/HttpRequestGetter.java
  plugins/httpclient5/src/main/java/com/navercorp/pinpoint/plugin/httpclient5/interceptor/AsyncClientConnectionManagerConnectInterceptor.java
  plugins/httpclient5/src/main/java/com/navercorp/pinpoint/plugin/httpclient5/interceptor/AsyncExecCallbackHandleResponseInterceptor.java
  plugins/httpclient5/src/main/java/com/navercorp/pinpoint/plugin/httpclient5/interceptor/BasicClientExchangeHandlerConsumeResponseInterceptor.java
  plugins/httpclient5/src/main/java/com/navercorp/pinpoint/plugin/httpclient5/interceptor/ClientConnectionManagerConnectInterceptor.java
  plugins/httpclient5/src/main/java/com/navercorp/pinpoint/plugin/httpclient5/interceptor/CloseableHttpAsyncClientDoExecuteInterceptor.java
  plugins/httpclient5/src/main/java/com/navercorp/pinpoint/plugin/httpclient5/interceptor/CloseableHttpAsyncClientExecuteImmediateMethodInterceptor.java
  plugins/httpclient5/src/main/java/com/navercorp/pinpoint/plugin/httpclient5/interceptor/DefaultAsyncClientConnectionOperatorConnectInterceptor.java
  plugins/httpclient5/src/main/java/com/navercorp/pinpoint/plugin/httpclient5/interceptor/DefaultHttpClientConnectionOperatorConnectInterceptor.java
  plugins/httpclient5/src/main/java/com/navercorp/pinpoint/plugin/httpclient5/interceptor/FutureCancelInterceptor.java
  plugins/httpclient5/src/main/java/com/navercorp/pinpoint/plugin/httpclient5/interceptor/FutureCompletedInterceptor.java
  plugins/httpclient5/src/main/java/com/navercorp/pinpoint/plugin/httpclient5/interceptor/FutureFailedInterceptor.java
  plugins/httpclient5/src/main/java/com/navercorp/pinpoint/plugin/httpclient5/interceptor/InternalHttpClientDoExecuteInterceptor.java
  plugins/httpclient5/src/main/java/com/navercorp/pinpoint/plugin/httpclient5/interceptor/MinimalHttpAsyncClientExecuteInterceptor.java
Labels: document

#9467 [#9466] fix bug when processing transaction data
  metric-module/collector-starter/src/main/java/com/navercorp/pinpoint/collector/starter/multi/application/MultiApplication.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/stat/chart/application/ApplicationTransactionChart.java
  web/src/test/java/com/navercorp/pinpoint/web/vo/stat/chart/application/ApplicationTransactionChartGroupTest.java
Labels: module:web

#9471 [#noissue] Fix cassandra4 it
  plugins-it/cassandra4-it/src/test/java/com/navercorp/pinpoint/plugin/cassandra/CassandraDatastaxITBase.java
Labels: test

#9475 [#9474] Add serverCallExecutor in grpcReceiverConfiguration
  collector/src/main/java/com/navercorp/pinpoint/collector/grpc/config/GrpcAgentDataReceiverConfiguration.java
  collector/src/main/java/com/navercorp/pinpoint/collector/grpc/config/GrpcAgentDataReceiverConfigurationFactory.java
  collector/src/main/java/com/navercorp/pinpoint/collector/grpc/config/GrpcReceiverConfiguration.java
  collector/src/main/java/com/navercorp/pinpoint/collector/grpc/config/GrpcSpanReceiverConfiguration.java
  collector/src/main/java/com/navercorp/pinpoint/collector/grpc/config/GrpcSpanReceiverConfigurationFactory.java
  collector/src/main/java/com/navercorp/pinpoint/collector/grpc/config/GrpcStatReceiverConfiguration.java
  collector/src/main/java/com/navercorp/pinpoint/collector/grpc/config/GrpcStatReceiverConfigurationFactory.java
  collector/src/main/java/com/navercorp/pinpoint/collector/grpc/config/GrpcStreamReceiverConfiguration.java
  collector/src/main/resources/applicationContext-collector-grpc.xml
  collector/src/main/resources/profiles/local/pinpoint-collector-grpc.properties
  collector/src/main/resources/profiles/release/pinpoint-collector-grpc.properties
  metric-module/collector-starter/src/main/resources/profiles/local/pinpoint-collector-grpc.properties
  metric-module/collector-starter/src/main/resources/profiles/release/pinpoint-collector-grpc.properties
Labels: module:collector

#9484 [#9481] Vertx's URI Metric Support
  agent-testweb/vertx-3-plugin-testweb/src/main/java/com/pinpoint/test/plugin/Vertx3VerticalMain.java
  agent-testweb/vertx-3-plugin-testweb/src/main/java/com/pinpoint/test/plugin/VertxPluginTestStarter.java
  agent-testweb/vertx-4-plugin-testweb/src/main/java/com/pinpoint/test/plugin/Vertx4PluginTestStarter.java
  agent-testweb/vertx-4-plugin-testweb/src/main/java/com/pinpoint/test/plugin/Vertx4VerticalMain.java
  bootstraps/bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/context/Trace.java
  bootstraps/bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/plugin/http/URITemplate.java
  plugins/spring/src/main/java/com/navercorp/pinpoint/plugin/spring/web/interceptor/LookupHandlerMethodInterceptor.java
  plugins/vertx/src/main/java/com/navercorp/pinpoint/plugin/vertx/VertxPlugin.java
  plugins/vertx/src/main/java/com/navercorp/pinpoint/plugin/vertx/interceptor/RouteStateInterceptor.java
  plugins/vertx/src/main/java/com/navercorp/pinpoint/plugin/vertx/interceptor/RoutingContextPutInterceptor.java
  plugins/vertx/src/main/java/com/navercorp/pinpoint/plugin/vertx/interceptor/ServerConnectionHandleRequestInterceptor.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/AsyncChildTrace.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/AsyncTrace.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/DefaultTrace.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/DisableAsyncChildTrace.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/DisableTrace.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/recorder/DefaultUriStatRecorder.java
Labels: module:plugin

#9487 [#9477] Add ExposePathWithinMappingInterceptor to SpringWebMvcPlugin
  plugins/spring/src/main/java/com/navercorp/pinpoint/plugin/spring/web/SpringWebMvcPlugin.java
  plugins/spring/src/main/java/com/navercorp/pinpoint/plugin/spring/web/interceptor/ExposePathWithinMappingInterceptor.java
Labels: module:agent

#9492 [#noissue] add agent-plugins readme
  agent-plugins/README.md
  agent-plugins/proxy-apache/README.md
  agent-plugins/proxy-app/README.md
  agent-plugins/proxy-nginx/README.md
  agent-plugins/proxy-user/README.md
Labels: document

#9494 [#9317] Add default parameter for AgentListController
  web/src/main/java/com/navercorp/pinpoint/web/authorization/controller/AgentListController.java
Labels: module:web

#9496 [#9495] Resolving application tps data consistency issues
  flink/src/main/java/com/navercorp/pinpoint/flink/mapper/thrift/stat/JoinTransactionBoMapper.java
  flink/src/test/java/com/navercorp/pinpoint/flink/mapper/thrift/stat/JoinAgentStatBoMapperTest.java
  flink/src/test/java/com/navercorp/pinpoint/flink/mapper/thrift/stat/JoinTransactionBoMapperTest.java
  flink/src/test/java/com/navercorp/pinpoint/flink/process/TBaseFlatMapperTest.java
Labels: bug, module:flink

#9497 [#noissue] Add testcase of spring data r2dbc h2 parser
  plugins/spring-data-r2dbc/src/main/java/com/navercorp/pinpoint/plugin/spring/r2dbc/interceptor/h2/H2DatabaseInfoParser.java
  plugins/spring-data-r2dbc/src/test/java/com/navercorp/pinpoint/plugin/spring/r2dbc/interceptor/h2/H2DatabaseInfoParserTest.java
Labels: module:plugin, test

#9483 [#9482] Await termination of grpc server
  collector/src/main/java/com/navercorp/pinpoint/collector/grpc/config/GrpcPropertiesServerOptionBuilder.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/GrpcReceiver.java
  collector/src/main/resources/pinpoint-collector-grpc-root.properties
  grpc/src/main/java/com/navercorp/pinpoint/grpc/server/ServerOption.java
Labels: module:collector

#9503 [#9502] Backport: Fix path of reactor-netty server
  agent-testweb/reactor-netty-plugin-testweb/src/main/java/com/pinpoint/test/plugin/ReactorNettyPluginTestController.java
  agent-testweb/spring-webflux-plugin-testweb/src/main/java/com/pinpoint/test/plugin/SpringWebfluxPluginController.java
  plugins/reactor-netty/src/main/java/com/navercorp/pinpoint/plugin/reactor/netty/interceptor/HttpRequestAdaptor.java
  plugins/reactor-netty/src/main/java/com/navercorp/pinpoint/plugin/reactor/netty/interceptor/HttpServerParameterExtractor.java
  plugins/reactor-netty/src/main/java/com/navercorp/pinpoint/plugin/reactor/netty/interceptor/UriUtils.java
  plugins/reactor-netty/src/test/java/com/navercorp/pinpoint/plugin/reactor/netty/interceptor/UriUtilsTest.java
Labels: bug, module:plugin

#9500 [#noissue] Polishing
  plugins/mongodb/src/main/java/com/navercorp/pinpoint/plugin/mongo/interceptor/MongoClientConstructorInterceptor.java
  plugins/mongodb/src/main/java/com/navercorp/pinpoint/plugin/mongo/interceptor/MongoClientImplConstructorInterceptor.java
  plugins/mongodb/src/main/java/com/navercorp/pinpoint/plugin/mongo/interceptor/MongoClientsInterceptor.java
  plugins/mongodb/src/main/java/com/navercorp/pinpoint/plugin/mongo/interceptor/MongoCollectionImplConstructorInterceptor.java
  plugins/mongodb/src/main/java/com/navercorp/pinpoint/plugin/mongo/interceptor/MongoCollectionImplReadOperationInterceptor.java
  plugins/mongodb/src/main/java/com/navercorp/pinpoint/plugin/mongo/interceptor/MongoCollectionImplWriteOperationInterceptor.java
  plugins/mongodb/src/main/java/com/navercorp/pinpoint/plugin/mongo/interceptor/MongoInternalOperatorNameInterceptor.java
  plugins/mongodb/src/main/java/com/navercorp/pinpoint/plugin/mongo/interceptor/ReactiveMongoClientImplConstructorInterceptor.java
  plugins/mongodb/src/main/java/com/navercorp/pinpoint/plugin/mongo/interceptor/ReactiveMongoCollectionImplConstructorInterceptor.java
  plugins/mongodb/src/main/java/com/navercorp/pinpoint/plugin/mongo/interceptor/ReactiveMongoOperationPublisherConstructorInterceptor.java
  plugins/mongodb/src/main/java/com/navercorp/pinpoint/plugin/mongo/interceptor/SetHostListAccessorInterceptor.java
Labels: module:plugin

#9515 [#9317] change SortByAgentInfo rules name
  web/src/main/java/com/navercorp/pinpoint/web/vo/tree/SortByAgentInfo.java
Labels: module:web

#9517 [#noissue] Add AsyncContextUtils
  bootstraps/bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/context/AsyncContextUtils.java
  bootstraps/bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/interceptor/AsyncContextSpanEventEndPointInterceptor.java
  bootstraps/bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/plugin/request/AsyncListenerInterceptorHelper.java
  bootstraps/bootstrap-core/src/test/java/com/navercorp/pinpoint/bootstrap/context/AsyncContextUtilsTest.java
  plugins/akka-http/src/main/java/com/navercorp/pinpoint/plugin/akka/http/interceptor/AsyncContextSpanEventEndPointInterceptor.java
  plugins/grpc/src/main/java/com/navercorp/pinpoint/plugin/grpc/interceptor/server/ServerHalfCloseListenerInterceptor.java
  plugins/reactor-netty/src/main/java/com/navercorp/pinpoint/plugin/reactor/netty/interceptor/AbstractHttpServerHandleInterceptor.java
  plugins/vertx/src/main/java/com/navercorp/pinpoint/plugin/vertx/interceptor/AsyncContextSpanEventEndPointInterceptor.java
Labels: module:agent, cleanup

#9450 [#9380] Supports Line number and location in Callstack
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/HbaseApiMetaDataDao.java
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/grpc/GrpcApiMetaDataHandler.java
  collector/src/test/java/com/navercorp/pinpoint/collector/dao/hbase/HbaseApiMetaDataDaoTest.java
  collector/src/test/java/com/navercorp/pinpoint/collector/handler/grpc/GrpcApiMetaDataHandlerTest.java
  collector/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/AnnotationBo.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/ApiMetaDataBo.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/SpanBo.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/SpanEventBo.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/trace/Api.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/trace/DefaultApiParser.java
  commons-server/src/test/java/com/navercorp/pinpoint/common/server/trace/DefaultApiParserTest.java
  web/src/main/java/com/navercorp/pinpoint/web/calltree/span/CallTreeNode.java
  web/src/main/java/com/navercorp/pinpoint/web/calltree/span/SpanAlign.java
  web/src/main/java/com/navercorp/pinpoint/web/calltree/span/SpanEventAlign.java
  web/src/main/java/com/navercorp/pinpoint/web/mapper/ApiMetaDataMapper.java
  web/src/main/java/com/navercorp/pinpoint/web/view/TransactionInfoCallStackSerializer.java
  web/src/main/java/com/navercorp/pinpoint/web/view/TransactionInfoViewModel.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/callstacks/BaseRecord.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/callstacks/DefaultRecord.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/callstacks/Record.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/callstacks/RecordFactory.java
  web/src/test/java/com/navercorp/pinpoint/web/mapper/ApiMetaDataMapperTest.java
  web/src/test/java/com/navercorp/pinpoint/web/vo/callstacks/RecordFactoryTest.java
Labels: module:collector, module:web

#9441 [#9424] Export the 'mail.smtp.ssl.enable' in the batch.
  batch/src/main/resources/applicationContext-batch-sender.xml
  batch/src/main/resources/batch-root.properties
Labels: module:batch

#9531 [#9474] Fix server call executor configs
  collector/src/main/resources/applicationContext-collector-grpc.xml
  collector/src/main/resources/profiles/local/pinpoint-collector-grpc.properties
  collector/src/main/resources/profiles/release/pinpoint-collector-grpc.properties
  metric-module/collector-starter/src/main/resources/profiles/local/pinpoint-collector-grpc.properties
  metric-module/collector-starter/src/main/resources/profiles/release/pinpoint-collector-grpc.properties
Labels: module:collector

#9532 [#NOISSUE] cleanup code in metric-module
  metric-module/collector-starter/src/main/java/com/navercorp/pinpoint/collector/starter/CollectorApp.java
  metric-module/collector-starter/src/main/java/com/navercorp/pinpoint/collector/starter/multi/port/EmbeddedTomcatConfiguration.java
  metric-module/collector-starter/src/main/java/com/navercorp/pinpoint/collector/starter/multi/port/MultiPortCollectorApp.java
  metric-module/collector-starter/src/main/java/com/navercorp/pinpoint/collector/starter/single/TotalCollectorApp.java
  metric-module/web-starter/src/main/java/com/navercorp/pinpoint/web/starter/WebApp.java
Labels: module:metric

#9535 [#9534] Missing maven dependency of pinpoint-test module
  test/pom.xml
  test/src/main/java/com/navercorp/pinpoint/test/plugin/PluginClassLoading.java
Labels: bug, module:test

#9539 [#9540] Add dependency zstd-jni 1.5.2-5
  metric-module/metric/pom.xml
Labels: dependencies, module:metric

#9549 [#9548] Bump springframework from 5.3.20 to 5.3.24
  pom.xml
Labels: module:collector, module:web, dependencies

#9555 [#9552] Bump spring-batch from 4.3.3 to 4.3.7
  pom.xml
Labels: dependencies

#9553 [#9552] Bump spring-security from 5.5.8 to 5.8.1
  pom.xml
Labels: dependencies

#9557 [#9556] Bump spring-boot from 2.5.12 to 2.7.7
  pom.xml
Labels: dependencies

#9559 [#9558] Configurable flink rest port
  batch/src/main/java/com/navercorp/pinpoint/batch/common/BatchConfiguration.java
  batch/src/main/java/com/navercorp/pinpoint/batch/flink/HealthCheckTaskletV2.java
  batch/src/main/resources/batch-root.properties
  batch/src/test/java/com/navercorp/pinpoint/batch/flink/HealthCheckTaskletV2Test.java
Labels: module:batch

#9565 [#noissue] Cleanup
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/AgentLifeCycleChangeEventHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/StatDispatchHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/SpanService.java
Labels: cleanup

#9564 [#9563] Dynamic loading of GrpcMetricHandler
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/grpc/GrpcAgentStatHandlerV2.java
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/grpc/GrpcMetricHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/grpc/metric/AgentMetricBatchHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/grpc/metric/AgentMetricHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/grpc/metric/AgentUriMetricHandler.java
  collector/src/test/java/com/navercorp/pinpoint/collector/handler/grpc/GrpcAgentUriMetricHandlerV2Test.java
Labels: module:collector, module:metric

#9568 [#9567] exclude kafka dependency in web-starter
  metric-module/web-starter/pom.xml
Labels: module:web

#9572 [#9571] Bump HikariCP from 4.0.3 to 5.0.1
  pom.xml
Labels: dependencies

#9574 [#noissue] Apply computeIfAbsent
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/service/SystemMetricDataServiceImpl.java
Labels: cleanup, module:metric

#9576 [#9575] Bump junit5 from 5.7.2 to 5.8.2
  pom.xml
Labels: dependencies
