Repository pinpoint-apm/pinpoint, pull requests merged in 2022-03, with the labels that each got.

#8700 [#8699] Add getLambda method
  bootstraps/bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/instrument/InstrumentClass.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/instrument/ASMClass.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/instrument/ASMNestedClass.java
Labels: enhancement, module:agent

#8703 [#noissue] Update mongodb plugin testweb
  agent-testweb/mongodb-plugin-testweb/README.md
  agent-testweb/mongodb-plugin-testweb/pom.xml
  agent-testweb/mongodb-plugin-testweb/src/main/java/com/pinpoint/test/plugin/MongoPluginController.java
  agent-testweb/mongodb-plugin-testweb/src/main/java/com/pinpoint/test/plugin/MongoPluginTestStarter.java
  agent-testweb/mongodb-plugin-testweb/src/main/resources/application.yml
  agent-testweb/mongodb-reactive-plugin-testweb/README.md
  agent-testweb/mongodb-reactive-plugin-testweb/pom.xml
  agent-testweb/mongodb-reactive-plugin-testweb/src/main/java/com/pinpoint/test/plugin/MongoReactivePluginController.java
  agent-testweb/mongodb-reactive-plugin-testweb/src/main/java/com/pinpoint/test/plugin/MongoReactivePluginTestStarter.java
  agent-testweb/mongodb-reactive-plugin-testweb/src/main/java/com/pinpoint/test/plugin/SubscriberHelpers.java
  agent-testweb/mongodb-reactive-plugin-testweb/src/main/resources/application.yml
  agent-testweb/pom.xml
Labels: module:test

#8709 ﻿[#8622] Fix thrift plugin server
  agent-testweb/pom.xml
  agent-testweb/thrift-plugin-testweb/README.md
  agent-testweb/thrift-plugin-testweb/pom.xml
  agent-testweb/thrift-plugin-testweb/src/main/java/com/pinpoint/test/plugin/TestEnvironment.java
  agent-testweb/thrift-plugin-testweb/src/main/java/com/pinpoint/test/plugin/ThriftPluginTestController.java
  agent-testweb/thrift-plugin-testweb/src/main/java/com/pinpoint/test/plugin/ThriftPluginTestStarter.java
  agent-testweb/thrift-plugin-testweb/src/main/java/com/pinpoint/test/plugin/client/AsyncEchoTestClient.java
  agent-testweb/thrift-plugin-testweb/src/main/java/com/pinpoint/test/plugin/client/EchoTestClient.java
  agent-testweb/thrift-plugin-testweb/src/main/java/com/pinpoint/test/plugin/client/HttpEchoTestClient.java
  agent-testweb/thrift-plugin-testweb/src/main/java/com/pinpoint/test/plugin/client/SyncEchoTestClient.java
  agent-testweb/thrift-plugin-testweb/src/main/java/com/pinpoint/test/plugin/dto/EchoService.java
  agent-testweb/thrift-plugin-testweb/src/main/java/com/pinpoint/test/plugin/server/AsyncEchoTestServer.java
  agent-testweb/thrift-plugin-testweb/src/main/java/com/pinpoint/test/plugin/server/EchoTestServer.java
  agent-testweb/thrift-plugin-testweb/src/main/java/com/pinpoint/test/plugin/server/HttpEchoTestServer.java
  agent-testweb/thrift-plugin-testweb/src/main/java/com/pinpoint/test/plugin/server/SyncEchoTestServer.java
  agent-testweb/thrift-plugin-testweb/src/main/java/com/pinpoint/test/plugin/server/ThriftEchoTestServer.java
  agent-testweb/thrift-plugin-testweb/src/main/resources/application.yml
  plugins/thrift/src/main/java/com/navercorp/pinpoint/plugin/thrift/ThriftClientCallContext.java
  plugins/thrift/src/main/java/com/navercorp/pinpoint/plugin/thrift/ThriftClientCallContextAttachmentFactory.java
  plugins/thrift/src/main/java/com/navercorp/pinpoint/plugin/thrift/ThriftPlugin.java
  plugins/thrift/src/main/java/com/navercorp/pinpoint/plugin/thrift/interceptor/server/ProcessFunctionProcessInterceptor.java
  plugins/thrift/src/main/java/com/navercorp/pinpoint/plugin/thrift/interceptor/server/TBaseProcessorProcessInterceptor.java
  plugins/thrift/src/main/java/com/navercorp/pinpoint/plugin/thrift/interceptor/server/async/TBaseAsyncProcessorProcessInterceptor.java
  plugins/thrift/src/main/java/com/navercorp/pinpoint/plugin/thrift/interceptor/tprotocol/server/TProtocolReadMessageBeginInterceptor.java
  plugins/thrift/src/main/java/com/navercorp/pinpoint/plugin/thrift/interceptor/tprotocol/server/TProtocolReadMessageEndInterceptor.java
Labels: enhancement, module:plugin

#8717 [#8622] Fix thrift methodUri
  plugins/thrift/src/main/java/com/navercorp/pinpoint/plugin/thrift/interceptor/tprotocol/server/TProtocolReadMessageEndInterceptor.java
Labels: bug, module:plugin

#8719 [#noissue] Fix thrift testcase
  plugins-it/thrift-it/src/test/java/com/navercorp/pinpoint/plugin/thrift/common/server/AsyncEchoTestServer.java
  plugins-it/thrift-it/src/test/java/com/navercorp/pinpoint/plugin/thrift/common/server/HttpEchoTestServer.java
  plugins-it/thrift-it/src/test/java/com/navercorp/pinpoint/plugin/thrift/common/server/SyncEchoTestServer.java
  plugins-it/thrift-it/src/test/java/com/navercorp/pinpoint/plugin/thrift/it/http/ThriftHttpIT.java
Labels: bug, module:test

#8721 [#noissue] Fix collector stream reject log
  grpc/src/main/java/com/navercorp/pinpoint/grpc/server/flowcontrol/StreamExecutorServerInterceptor.java
Labels: module:collector

#8723 [#8722] Fix a Spring 5.3 JDK compatibility issue
  plugins/netty/pom.xml
  plugins/resttemplate/pom.xml
Labels: bug

#8731 [#8730] Update postgresql plugin
  agent-testweb/pom.xml
  agent-testweb/postgresql-plugin-testweb/pom.xml
  agent-testweb/postgresql-plugin-testweb/src/main/java/com/pinpoint/test/plugin/PostgresqlPluginController.java
  agent-testweb/postgresql-plugin-testweb/src/main/java/com/pinpoint/test/plugin/PostgresqlPluginTestStarter.java
  agent-testweb/postgresql-plugin-testweb/src/main/resources/application.yml
  plugins/postgresql-jdbc/src/main/java/com/navercorp/pinpoint/plugin/jdbc/postgresql/PostgreSqlPlugin.java
  plugins/postgresql-jdbc/src/main/java/com/navercorp/pinpoint/plugin/jdbc/postgresql/interceptor/PostgreSQLConnectionCreateInterceptor.java
Labels: enhancement, module:plugin
