Repository pinpoint-apm/pinpoint, pull requests merged in 2023-03, with the labels that each got.

#9735 [#9734] Update to support vertx client versions 3.4 to 3.7
  plugins/vertx/src/main/java/com/navercorp/pinpoint/plugin/vertx/VertxPlugin.java
Labels: enhancement, module:plugin

#9739 [#noissue] Polishing Interceptor
  plugins/cassandra/src/main/java/com/navercorp/pinpoint/plugin/cassandra/interceptor/CassandraStatementExecuteQueryInterceptor.java
  plugins/cassandra4/src/main/java/com/navercorp/pinpoint/plugin/cassandra4/interceptor/DefaultSessionConstructorInterceptor.java
  plugins/jsp/src/main/java/com/navercorp/pinpoint/plugin/jsp/interceptor/HttpJspBaseServiceMethodInterceptor.java
  plugins/kafka/src/main/java/com/navercorp/pinpoint/plugin/kafka/interceptor/ProducerConstructorInterceptor.java
  plugins/kotlin-coroutines/src/main/java/com/navercorp/pinpoint/plugin/kotlinx/coroutines/interceptor/CancelledInterceptor.java
  plugins/kotlin-coroutines/src/main/java/com/navercorp/pinpoint/plugin/kotlinx/coroutines/interceptor/NotifyCancellingInterceptor.java
  plugins/mongodb/src/main/java/com/navercorp/pinpoint/plugin/mongo/interceptor/MongoClientConstructorInterceptor.java
  plugins/okhttp/src/main/java/com/navercorp/pinpoint/plugin/okhttp/v3/interceptor/RequestBuilderBuildMethodInterceptor.java
  plugins/process/src/main/java/com/navercorp/pinpoint/plugin/process/interceptor/ProcessExecuteInterceptor.java
  plugins/rabbitmq/src/main/java/com/navercorp/pinpoint/plugin/rabbitmq/client/interceptor/ChannelBasicPublishInterceptor.java
  plugins/reactor-netty/src/main/java/com/navercorp/pinpoint/plugin/reactor/netty/interceptor/HttpServerParameterExtractor.java
  plugins/redis/src/main/java/com/navercorp/pinpoint/plugin/redis/jedis/interceptor/JedisMethodInterceptor.java
  plugins/redis/src/main/java/com/navercorp/pinpoint/plugin/redis/jedis/interceptor/ProtocolSendCommandAndReadMethodInterceptor.java
  plugins/redis/src/main/java/com/navercorp/pinpoint/plugin/redis/jedis/interceptor/SetEndPointInterceptor.java
  plugins/resin/src/main/java/com/navercorp/pinpoint/plugin/resin/ResinAsyncListener.java
  plugins/resin/src/main/java/com/navercorp/pinpoint/plugin/resin/interceptor/ServletInvocationServiceInterceptor.java
  plugins/resin/src/main/java/com/navercorp/pinpoint/plugin/resin/interceptor/WebAppInterceptor.java
  plugins/spring-data-r2dbc/src/main/java/com/navercorp/pinpoint/plugin/spring/r2dbc/interceptor/ConnectionCreateStatementInterceptor.java
  plugins/spring-data-r2dbc/src/main/java/com/navercorp/pinpoint/plugin/spring/r2dbc/interceptor/mssql/MssqlStatementExecuteInterceptor.java
  plugins/spring-webflux/src/main/java/com/navercorp/pinpoint/plugin/spring/webflux/interceptor/BodyInserterRequestBuilderConstructorInterceptor.java
  plugins/spring-webflux/src/main/java/com/navercorp/pinpoint/plugin/spring/webflux/interceptor/ClientHttpRequestClientHeaderAdaptor.java
  plugins/spring-webflux/src/main/java/com/navercorp/pinpoint/plugin/spring/webflux/interceptor/ClientHttpRequestCookieExtractor.java
  plugins/thread/src/main/java/com/navercorp/pinpoint/plugin/thread/interceptor/ThreadConstructorInterceptor.java
  plugins/tomcat/src/main/java/com/navercorp/pinpoint/plugin/tomcat/interceptor/ConnectorInitializeInterceptor.java
  plugins/tomcat/src/main/java/com/navercorp/pinpoint/plugin/tomcat/jakarta/interceptor/StandardHostValveInvokeInterceptor.java
  plugins/tomcat/src/main/java/com/navercorp/pinpoint/plugin/tomcat/javax/interceptor/StandardHostValveInvokeInterceptor.java
  plugins/undertow-servlet/src/main/java/com/navercorp/pinpoint/plugin/undertowservlet/UndertowAsyncListener.java
  plugins/undertow/src/main/java/com/navercorp/pinpoint/plugin/undertow/interceptor/ConnectorsExecuteRootHandlerInterceptor.java
  plugins/user/src/main/java/com/navercorp/pinpoint/plugin/user/interceptor/UserIncludeMethodInterceptor.java
  plugins/vertx/src/main/java/com/navercorp/pinpoint/plugin/vertx/HttpClientRequestWrapper.java
  plugins/vertx/src/main/java/com/navercorp/pinpoint/plugin/vertx/HttpServerParameterExtractor.java
  plugins/vertx/src/main/java/com/navercorp/pinpoint/plugin/vertx/VertxHttpClientConfig.java
  plugins/vertx/src/main/java/com/navercorp/pinpoint/plugin/vertx/interceptor/Http1xClientConnectionCreateRequestInterceptor.java
  plugins/vertx/src/main/java/com/navercorp/pinpoint/plugin/vertx/interceptor/HttpClientRequestImplDoHandleResponseInterceptor.java
  plugins/weblogic/src/main/java/com/navercorp/pinpoint/plugin/weblogic/ServletRequestImplParameterExtractor.java
  plugins/weblogic/src/main/java/com/navercorp/pinpoint/plugin/weblogic/WeblogicPlugin.java
  plugins/weblogic/src/main/java/com/navercorp/pinpoint/plugin/weblogic/interceptor/ServletRequestImplAdaptor.java
  plugins/weblogic/src/main/java/com/navercorp/pinpoint/plugin/weblogic/interceptor/WebAppServletContextExecuteInterceptor.java
  plugins/websphere/src/main/java/com/navercorp/pinpoint/plugin/websphere/IRequestParameterExtractor.java
  plugins/websphere/src/main/java/com/navercorp/pinpoint/plugin/websphere/WebsphereAsyncListener.java
  plugins/websphere/src/main/java/com/navercorp/pinpoint/plugin/websphere/interceptor/IRequestAdaptor.java
  plugins/websphere/src/main/java/com/navercorp/pinpoint/plugin/websphere/interceptor/WCCResponseImplInterceptor.java
  profiler-logging/src/main/java/com/navercorp/pinpoint/profiler/logging/Log4j2PLoggerAdapter.java
Labels: cleanup

#9741 [#9595] Improve AsyncContext propagation of reactor netty plugin
  plugins/reactor-netty/src/main/java/com/navercorp/pinpoint/plugin/reactor/netty/ReactorNettyConstants.java
  plugins/reactor-netty/src/main/java/com/navercorp/pinpoint/plugin/reactor/netty/ReactorNettyPlugin.java
  plugins/reactor-netty/src/main/java/com/navercorp/pinpoint/plugin/reactor/netty/interceptor/HttpServerHandleHttpServerStateInterceptor.java
  plugins/reactor-netty/src/main/java/com/navercorp/pinpoint/plugin/reactor/netty/interceptor/HttpServerHandleInterceptor.java
  plugins/reactor-netty/src/main/java/com/navercorp/pinpoint/plugin/reactor/netty/interceptor/HttpServerHandleStateInterceptor.java
  plugins/reactor-netty/src/main/java/com/navercorp/pinpoint/plugin/reactor/netty/interceptor/util/ConnectionObserverAdaptor.java
  plugins/reactor-netty/src/main/java/com/navercorp/pinpoint/plugin/reactor/netty/interceptor/util/ConnectionObserverHttpServerStateAdaptor.java
  plugins/reactor-netty/src/main/java/com/navercorp/pinpoint/plugin/reactor/netty/interceptor/util/ConnectionObserverStateAdaptor.java
Labels: module:plugin, module:agent

#9743 [#noissue] Modified QueryParameter class to use the builder pattern
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/util/MetricsQueryParameter.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/util/QueryParameter.java
  uristat/uristat-web/src/main/java/com/navercorp/pinpoint/uristat/web/controller/UriStatController.java
  uristat/uristat-web/src/main/java/com/navercorp/pinpoint/uristat/web/util/UriStatQueryParameter.java
Labels: cleanup

#9746 [#9595] Improve AsyncContext propagation of grpc plugin
  plugins/grpc/src/main/java/com/navercorp/pinpoint/plugin/grpc/interceptor/server/ServerStreamCreatedInterceptor.java
Labels: module:agent

#9751 [#9750] Bump springdoc-openapi-ui from 1.4.4 to 1.6.14
  agent-testweb/bom/pom.xml
Labels: module:test, dependencies

#9753 [#NOISSUE] kafka partition test
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/collector/dao/pinot/DefaultPartitioner.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/collector/dao/pinot/PinotSystemMetricDoubleDao.java
  metric-module/metric/src/main/resources/pinot-collector/applicationContext-collector-pinot-kafka.xml
Labels: module:metric

#9747 [#9744] Fix collector starter behaviors by arguments
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/env/AdditionalProfileListener.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/starter/BasicStarter.java
  metric-module/collector-starter/src/main/java/com/navercorp/pinpoint/collector/starter/multi/application/MultiApplication.java
  metric-module/web-starter/src/main/java/com/navercorp/pinpoint/web/starter/multi/MetricAndWebApp.java
  uristat/uristat-collector/src/main/java/com/navercorp/pinpoint/uristat/collector/UriStatCollectorConfig.java
  uristat/uristat-collector/src/main/java/com/navercorp/pinpoint/uristat/collector/service/PinotAgentUriStatService.java
  uristat/uristat-web/src/main/java/com/navercorp/pinpoint/uristat/web/UriStatWebConfig.java
Labels: module:collector

#9754 [#noissue] Update mybatis IT - 3.5.12
  plugins-it/mybatis-it/src/test/java/com/navercorp/pinpoint/plugin/mybatis/DefaultSqlSessionIT.java
  plugins-it/mybatis-it/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  pom.xml
Labels: test, Continuous Integration

#9758 [#9724] Move the null check logic to sql
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/service/SystemMetricHostInfoServiceImpl.java
  metric-module/metric/src/main/resources/pinot-web/mapper/pinot/HostInfoMapper.xml
Labels: module:metric

#9759 [#noissue] Update Pinot compatibility table
  README.md
Labels: document

#9763 [#noissue] Fix AgentList to be created with the given sorting rule
  web/src/main/java/com/navercorp/pinpoint/web/service/AgentInfoServiceImpl.java
Labels: bug, module:web

#9749 [#9748] skip java 17 it-test
  test/src/main/java/com/navercorp/pinpoint/test/plugin/AbstractPinpointPluginTestSuite.java
  test/src/main/java/com/navercorp/pinpoint/test/plugin/PinpointPluginTestAssumptionViolationRunner.java
Labels: module:test

#9771 [#9765] Move TenantProvider to pinot-datasource
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/collector/controller/TelegrafMetricController.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/controller/SystemMetricController.java
  pinot/README.md
  pinot/pinot-config/pom.xml
  pinot/pinot-config/src/main/java/com/navercorp/pinpoint/pinot/config/PinotTenantProviderConfiguration.java
  pinot/pinot-datasource/src/main/java/com/navercorp/pinpoint/pinot/tenant/SimpleTenantProvider.java
  pinot/pinot-datasource/src/main/java/com/navercorp/pinpoint/pinot/tenant/TenantProvider.java
  uristat/uristat-collector/src/main/java/com/navercorp/pinpoint/uristat/collector/service/PinotAgentUriStatService.java
  uristat/uristat-web/src/main/java/com/navercorp/pinpoint/uristat/web/controller/UriStatController.java
Labels: cleanup, module:metric

#9772 [#9765] Add pinot-kafka module
  metric-module/metric/pom.xml
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/collector/MetricAppPropertySources.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/collector/MetricCollectorApp.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/collector/config/MetricKafkaConfiguration.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/collector/dao/pinot/PinotMetricTagDao.java
  metric-module/metric/src/main/resources/pinot-collector/applicationContext-collector-pinot-kafka.xml
  metric-module/metric/src/main/resources/pinot-collector/pinot.properties
  metric-module/metric/src/main/resources/pinot-collector/profiles/local/jdbc.properties
  metric-module/metric/src/main/resources/pinot-collector/profiles/local/kafka-producer-factory.properties
  metric-module/metric/src/main/resources/pinot-collector/profiles/release/jdbc.properties
  metric-module/metric/src/main/resources/pinot-collector/profiles/release/kafka-producer-factory.properties
  metric-module/metric/src/main/resources/pinot-web/profiles/local/jdbc-pinot.properties
  metric-module/metric/src/main/resources/pinot-web/profiles/release/jdbc-pinot.properties
  pinot/pinot-kafka/README.md
  pinot/pinot-kafka/pom.xml
  pinot/pinot-kafka/src/main/java/com/navercorp/pinpoint/pinot/kafka/KafkaConfiguration.java
  pinot/pinot-kafka/src/main/java/com/navercorp/pinpoint/pinot/kafka/KafkaProperties.java
  pinot/pinot-kafka/src/main/resources/profiles/local/kafka-producer-factory.properties
  pinot/pinot-kafka/src/main/resources/profiles/release/kafka-producer-factory.properties
  pinot/pinot-kafka/src/test/java/com/navercorp/pinpoint/pinot/kafka/KafkaConfigurationTest.java
  pinot/pom.xml
  pom.xml
  uristat/uristat-collector/pom.xml
  uristat/uristat-collector/src/main/java/com/navercorp/pinpoint/uristat/collector/UriStatCollectorConfig.java
  uristat/uristat-collector/src/main/java/com/navercorp/pinpoint/uristat/collector/config/UriMetricKafkaConfiguration.java
  uristat/uristat-collector/src/main/resources/applicationContext-collector-uristat-pinot-kafka.xml
  uristat/uristat-collector/src/main/resources/profiles/local/kafka-producer-factory.properties
  uristat/uristat-collector/src/main/resources/profiles/release/kafka-producer-factory.properties
Labels: module:metric

#9775 [#9765] Cleanup Pinot dependencies
  pinot/pinot-datasource/pom.xml
  pom.xml
Labels: cleanup, dependencies

#9779 [#9765] Refactor MyBatis configuration
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/collector/MetricCollectorApp.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/collector/config/MetricCollectorPinotDaoConfiguration.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/common/config/MetricSqlSessionFactoryBuilder.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/MetricWebApp.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/config/MetricWebPinotDaoConfiguration.java
  metric-module/metric/src/main/resources/pinot-collector/applicationContext-collector-pinot-dao-config.xml
  metric-module/metric/src/main/resources/pinot-collector/mybatis-pinot-config.xml
  metric-module/metric/src/main/resources/pinot-web/applicationContext-web-pinot-dao-config.xml
  metric-module/metric/src/main/resources/pinot-web/mybatis-pinot-config.xml
  pinot/pinot-datasource/src/main/java/com/navercorp/pinpoint/pinot/mybatis/MyBatisConfiguration.java
  uristat/uristat-web/src/main/java/com/navercorp/pinpoint/uristat/web/UriStatWebConfig.java
  uristat/uristat-web/src/main/java/com/navercorp/pinpoint/uristat/web/config/UriStatPinotDaoConfiguration.java
  uristat/uristat-web/src/main/resources/applicationContext-web-uristat-pinot-dao-config.xml
  uristat/uristat-web/src/main/resources/applicationContext-web-uristat.xml
  uristat/uristat-web/src/main/resources/mybatis-pinot-web-config-uristat.xml
Labels: configuration, module:metric

#9780 [#9765] Cleanup
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/collector/MetricCollectorApp.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/collector/config/MetricKafkaConfiguration.java
  pinot/pinot-kafka/src/main/java/com/navercorp/pinpoint/pinot/kafka/KafkaConfiguration.java
  uristat/uristat-collector/src/main/java/com/navercorp/pinpoint/uristat/collector/config/UriMetricKafkaConfiguration.java
  uristat/uristat-web/src/main/java/com/navercorp/pinpoint/uristat/web/config/UriStatPinotDaoConfiguration.java
Labels: cleanup, module:metric

#9788 [#9765] Refactor metric configuration
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/collector/MetricCollectorApp.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/collector/config/MyBatisRegistryHandler.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/common/config/CommonRegistryHandler.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/common/config/MetricCollectorPinotDaoConfiguration.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/common/config/MetricSqlSessionFactoryBuilder.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/config/MetricWebPinotDaoConfiguration.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/config/WebRegistryHandler.java
  uristat/uristat-web/src/main/java/com/navercorp/pinpoint/uristat/web/config/UriRegistryHandler.java
  uristat/uristat-web/src/main/java/com/navercorp/pinpoint/uristat/web/config/UriStatPinotDaoConfiguration.java
Labels: configuration, module:metric

#9790 [#9765] Move KafkaCallbacks to pinot-kafka module
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/collector/dao/pinot/PinotMetricTagDao.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/collector/dao/pinot/PinotSystemMetricDataTypeDao.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/collector/dao/pinot/PinotSystemMetricDoubleDao.java
  pinot/pinot-kafka/src/main/java/com/navercorp/pinpoint/pinot/kafka/util/KafkaCallbacks.java
  uristat/uristat-collector/src/main/java/com/navercorp/pinpoint/uristat/collector/dao/PinotUriStatDao.java
Labels: cleanup

#9793 Modify the schema of pinot tables and change index settings. Apply hybrid table to improve performance.
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/collector/dao/pinot/PinotSystemMetricDoubleDao.java
  metric-module/metric/src/main/pinot/pinot-dataType-realtime-table.json
  metric-module/metric/src/main/pinot/pinot-double-offline-table.json
  metric-module/metric/src/main/pinot/pinot-double-realtime-table.json
  metric-module/metric/src/main/pinot/pinot-double-schema.json
  metric-module/metric/src/main/pinot/pinot-tag-realtime-table.json
  uristat/uristat-common/src/main/pinot/pinot-uriStat-realtime-table.json
Labels: enhancement

#9800 [#9799] Add connection factory to spring r2dbc plugin
  agent-testweb/spring-data-r2dbc-plugin-testweb/src/main/java/com/pinpoint/test/plugin/MysqlR2dbcDatabase.java
  agent-testweb/spring-data-r2dbc-plugin-testweb/src/main/java/com/pinpoint/test/plugin/SpringDataR2dbcPluginController.java
  agent-testweb/spring-data-r2dbc-plugin-testweb/src/test/java/com/pinpoint/test/plugin/spring/data/r2dbc/R2dbcMysqlTest.java
  plugins/spring-data-r2dbc/src/main/java/com/navercorp/pinpoint/plugin/spring/r2dbc/SpringDataR2dbcPlugin.java
  plugins/spring-data-r2dbc/src/main/java/com/navercorp/pinpoint/plugin/spring/r2dbc/interceptor/DefaultGenericExecuteSpecStatementFunctionGetLambdaInterceptor.java
  plugins/spring-data-r2dbc/src/main/java/com/navercorp/pinpoint/plugin/spring/r2dbc/interceptor/SetDatabaseInfoConstructorInterceptor.java
Labels: enhancement, module:plugin

#9806 [#9804] Refactor FrontendConfigController
  web/src/main/java/com/navercorp/pinpoint/web/PinpointWebModule.java
  web/src/main/java/com/navercorp/pinpoint/web/controller/ConfigController.java
  web/src/main/java/com/navercorp/pinpoint/web/frontend/ExportConfiguration.java
  web/src/main/java/com/navercorp/pinpoint/web/frontend/FrontendConfigExportConfiguration.java
  web/src/main/java/com/navercorp/pinpoint/web/frontend/config/ExperimentalProperties.java
  web/src/main/java/com/navercorp/pinpoint/web/frontend/controller/FrontendConfigController.java
  web/src/main/java/com/navercorp/pinpoint/web/frontend/export/ConfigPropertiesExporter.java
  web/src/main/java/com/navercorp/pinpoint/web/frontend/export/ExperimentalPropertiesExporter.java
  web/src/main/java/com/navercorp/pinpoint/web/frontend/export/FrontendConfigExporter.java
  web/src/main/java/com/navercorp/pinpoint/web/frontend/export/UserServiceConfigExporter.java
  web/src/test/java/com/navercorp/pinpoint/web/config/ExperimentalConfigTest.java
  web/src/test/java/com/navercorp/pinpoint/web/frontend/ExportConfigurationTest.java
Labels: module:web, cleanup

#9801 [#9178] Discard some warning logs about invalid trace
  collector/src/main/java/com/navercorp/pinpoint/collector/service/TraceService.java
Labels: module:collector

#9807 [#9804] Cleanup FrontendConfigExportConfiguration
  web/src/main/java/com/navercorp/pinpoint/web/frontend/ExportConfiguration.java
  web/src/main/java/com/navercorp/pinpoint/web/frontend/FrontendConfigExportConfiguration.java
  web/src/main/java/com/navercorp/pinpoint/web/frontend/config/ExperimentalProperties.java
  web/src/main/java/com/navercorp/pinpoint/web/frontend/controller/FrontendConfigController.java
  web/src/main/java/com/navercorp/pinpoint/web/frontend/export/ConfigPropertiesExporter.java
  web/src/main/java/com/navercorp/pinpoint/web/frontend/export/ExperimentalPropertiesExporter.java
  web/src/main/java/com/navercorp/pinpoint/web/frontend/export/UserServiceConfigExporter.java
  web/src/test/java/com/navercorp/pinpoint/web/config/ExperimentalConfigTest.java
  web/src/test/java/com/navercorp/pinpoint/web/frontend/ExportConfigurationTest.java
Labels: cleanup

#9808 [#9791] add uriStat offline table. change config(replicasPerPartition)
  metric-module/metric/src/main/pinot/pinot-dataType-realtime-table.json
  metric-module/metric/src/main/pinot/pinot-double-offline-table.json
  metric-module/metric/src/main/pinot/pinot-tag-realtime-table.json
  uristat/uristat-common/src/main/pinot/pinot-uriStat-offline-table.json
  uristat/uristat-common/src/main/pinot/pinot-uriStat-realtime-table.json
Labels: module:metric

#9810 [#9791] RealtimeToOfflineSegmentsTask on uriStat table
  uristat/uristat-common/src/main/pinot/pinot-uriStat-realtime-table.json
Labels: module:metric
