Repository pinpoint-apm/pinpoint, pull requests merged in 2023-04, with the labels that each got.

#9814 [#9791] change retentionTimeValue
  metric-module/metric/src/main/pinot/pinot-double-realtime-table.json
  uristat/uristat-common/src/main/pinot/pinot-uriStat-realtime-table.json
Labels: module:metric

#9819 [#9817] Add spring tx plugin and update kotlin coroutine
  agent/src/main/resources/profiles/local/pinpoint.config
  agent/src/main/resources/profiles/release/pinpoint.config
  commons/src/main/java/com/navercorp/pinpoint/common/trace/ServiceType.java
  plugins/assembly/pom.xml
  plugins/kotlin-coroutines/src/main/java/com/navercorp/pinpoint/plugin/kotlinx/coroutines/CoroutinesPlugin.java
  plugins/kotlin-coroutines/src/main/java/com/navercorp/pinpoint/plugin/kotlinx/coroutines/interceptor/CoroutinesUtilsInterceptor.java
  plugins/kotlin-coroutines/src/main/java/com/navercorp/pinpoint/plugin/kotlinx/coroutines/interceptor/DispatchedContinuationInterceptor.java
  plugins/kotlin-coroutines/src/main/java/com/navercorp/pinpoint/plugin/kotlinx/coroutines/interceptor/MonoCoroutineConstructorInterceptor.java
  plugins/kotlin-coroutines/src/main/java/com/navercorp/pinpoint/plugin/kotlinx/coroutines/interceptor/SetContextCoroutineConstructorInterceptor.java
  plugins/pom.xml
  plugins/reactor/src/main/java/com/navercorp/pinpoint/plugin/reactor/ReactorPlugin.java
  plugins/reactor/src/main/java/com/navercorp/pinpoint/plugin/reactor/interceptor/SinkConstructorInterceptor.java
  plugins/spring-data-r2dbc/src/main/java/com/navercorp/pinpoint/plugin/spring/r2dbc/SpringDataR2dbcPlugin.java
  plugins/spring-tx/README.md
  plugins/spring-tx/pom.xml
  plugins/spring-tx/src/main/java/com/navercorp/pinpoint/plugin/spring/tx/SpringTxConfig.java
  plugins/spring-tx/src/main/java/com/navercorp/pinpoint/plugin/spring/tx/SpringTxConstants.java
  plugins/spring-tx/src/main/java/com/navercorp/pinpoint/plugin/spring/tx/SpringTxPlugin.java
  plugins/spring-tx/src/main/java/com/navercorp/pinpoint/plugin/spring/tx/interceptor/ReactiveTransactionSupportInterceptor.java
  plugins/spring-tx/src/main/java/com/navercorp/pinpoint/plugin/spring/tx/interceptor/TransactionAspectSupportInterceptor.java
  plugins/spring-tx/src/main/resources/META-INF/pinpoint/type-provider.yml
  plugins/spring-tx/src/main/resources/META-INF/services/com.navercorp.pinpoint.bootstrap.plugin.ProfilerPlugin
Labels: enhancement, module:plugin

#9823 [#9822] Fix service type detector for vertx 4.x
  plugins/vertx/src/main/java/com/navercorp/pinpoint/plugin/vertx/VertxDetector.java
  plugins/vertx/src/main/java/com/navercorp/pinpoint/plugin/vertx/interceptor/ContextImplExecuteBlockingInterceptor.java
  plugins/vertx/src/main/java/com/navercorp/pinpoint/plugin/vertx/interceptor/ContextImplRunOnContextInterceptor.java
  plugins/vertx/src/main/java/com/navercorp/pinpoint/plugin/vertx/interceptor/Http1xClientConnectionCreateRequestInterceptor.java
  plugins/vertx/src/main/java/com/navercorp/pinpoint/plugin/vertx/interceptor/HttpClientImplDoRequestInterceptor.java
  plugins/vertx/src/main/java/com/navercorp/pinpoint/plugin/vertx/interceptor/HttpClientImplDoRequestInterceptorV4.java
  plugins/vertx/src/main/java/com/navercorp/pinpoint/plugin/vertx/interceptor/HttpClientRequestImplConstructorInterceptor.java
  plugins/vertx/src/main/java/com/navercorp/pinpoint/plugin/vertx/interceptor/HttpClientRequestImplDoHandleResponseInterceptor.java
  plugins/vertx/src/main/java/com/navercorp/pinpoint/plugin/vertx/interceptor/HttpClientRequestImplInterceptor.java
  plugins/vertx/src/main/java/com/navercorp/pinpoint/plugin/vertx/interceptor/HttpClientStreamInterceptor.java
  plugins/vertx/src/main/java/com/navercorp/pinpoint/plugin/vertx/interceptor/HttpServerRequestAdaptor.java
  plugins/vertx/src/main/java/com/navercorp/pinpoint/plugin/vertx/interceptor/HttpServerRequestImplHandleEndInterceptor.java
  plugins/vertx/src/main/java/com/navercorp/pinpoint/plugin/vertx/interceptor/ServerConnectionHandleRequestInterceptor.java
Labels: bug, module:plugin

#9824 [#noissue] Add h2 database serveramp img
  web/src/main/angular/src/assets/img/icons/H2.png
  web/src/main/angular/src/assets/img/servermap/H2.png
Labels: ui, module:web

#9825 [#noissue] Cleanup
  plugins/kotlin-coroutines/src/main/java/com/navercorp/pinpoint/plugin/kotlinx/coroutines/CoroutinesPlugin.java
  plugins/kotlin-coroutines/src/main/java/com/navercorp/pinpoint/plugin/kotlinx/coroutines/interceptor/CoroutinesUtilsInterceptor.java
  plugins/kotlin-coroutines/src/main/java/com/navercorp/pinpoint/plugin/kotlinx/coroutines/interceptor/DispatchedContinuationInterceptor.java
Labels: module:plugin, cleanup

#9829 [#9828] Separate basic login from web module
  basic-login/README.md
  basic-login/pom.xml
  basic-login/src/main/java/com/navercorp/pinpoint/login/basic/PinpointBasicLoginConfig.java
  basic-login/src/main/java/com/navercorp/pinpoint/login/basic/config/BasicLoginConfiguration.java
  basic-login/src/main/java/com/navercorp/pinpoint/login/basic/config/BasicLoginProperties.java
  basic-login/src/main/java/com/navercorp/pinpoint/login/basic/service/BasicLoginConstants.java
  basic-login/src/main/java/com/navercorp/pinpoint/login/basic/service/BasicLoginService.java
  basic-login/src/main/java/com/navercorp/pinpoint/login/basic/service/JwtRequestFilter.java
  basic-login/src/main/java/com/navercorp/pinpoint/login/basic/service/JwtService.java
  basic-login/src/main/java/com/navercorp/pinpoint/login/basic/service/PinpointMemoryUserDetailsService.java
  basic-login/src/main/java/com/navercorp/pinpoint/login/basic/service/PreAuthenticationCheckFilter.java
  basic-login/src/main/java/com/navercorp/pinpoint/login/basic/service/SaveJwtTokenAuthenticationSuccessHandler.java
  metric-module/web-starter/src/main/java/com/navercorp/pinpoint/web/starter/multi/MetricAndWebApp.java
  pom.xml
  web/pom.xml
  web/src/main/java/com/navercorp/pinpoint/web/PinpointWebModule.java
  web/src/main/java/com/navercorp/pinpoint/web/WebApp.java
  web/src/main/java/com/navercorp/pinpoint/web/config/BasicLoginConfiguration.java
  web/src/main/java/com/navercorp/pinpoint/web/query/QueryServiceFactory.java
Labels: module:web

#9830 [#9804] Refactor QueryService
  web/src/main/java/com/navercorp/pinpoint/web/PinpointWebModule.java
  web/src/main/java/com/navercorp/pinpoint/web/controller/BusinessTransactionController.java
  web/src/main/java/com/navercorp/pinpoint/web/query/QueryServiceConfiguration.java
  web/src/main/java/com/navercorp/pinpoint/web/query/controller/QueryController.java
  web/src/main/java/com/navercorp/pinpoint/web/query/model/BindSqlView.java
  web/src/main/java/com/navercorp/pinpoint/web/query/service/BindType.java
  web/src/main/java/com/navercorp/pinpoint/web/query/service/MongoQueryService.java
  web/src/main/java/com/navercorp/pinpoint/web/query/service/QueryService.java
  web/src/main/java/com/navercorp/pinpoint/web/query/service/QueryServiceFactory.java
  web/src/main/java/com/navercorp/pinpoint/web/query/service/SqlQueryService.java
  web/src/main/java/com/navercorp/pinpoint/web/query/util/DefaultMongoJsonParser.java
  web/src/main/java/com/navercorp/pinpoint/web/query/util/MongoJsonParser.java
  web/src/main/java/com/navercorp/pinpoint/web/query/util/OutputParameterMongoJsonParser.java
  web/src/test/java/com/navercorp/pinpoint/web/query/util/MongoJsonCombineTest.java
  web/src/test/java/com/navercorp/pinpoint/web/query/util/OutputParameterMongoJsonParserTest.java
Labels: module:web

#9831 [#noissue] Refactor TransactionInfoViewModel
  web/src/main/java/com/navercorp/pinpoint/web/controller/BusinessTransactionController.java
  web/src/main/java/com/navercorp/pinpoint/web/view/LogLinkBuilder.java
  web/src/main/java/com/navercorp/pinpoint/web/view/LogLinkView.java
  web/src/main/java/com/navercorp/pinpoint/web/view/TransactionInfoViewModel.java
  web/src/main/java/com/navercorp/pinpoint/web/view/TransactionTimelineInfoViewModel.java
Labels: module:web, cleanup

#9836 [#noissue] Remove unnecessary /webjars path
  web/src/main/java/com/navercorp/pinpoint/web/WebMvcConfig.java
Labels: cleanup

#9833 #9838 Update Range.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/util/Range.java
Labels: bug, module:metric

#9840 [#9839] fix batch fail
  batch/pom.xml
  batch/src/main/java/com/navercorp/pinpoint/batch/BatchApp.java
Labels: module:batch

#9834 [#NOISSUE] code cleanup
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/dao/SystemMetricDao.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/dao/pinot/PinotSystemMetricDoubleDao.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/service/SystemMetricDataServiceImpl.java
Labels: enhancement

#9845 [#9844] Fix wrong @Controller annotation in QueryController
  web/src/main/java/com/navercorp/pinpoint/web/query/controller/QueryController.java
Labels: bug, module:web

#9785 [#9784] Fix nginx variable t=$msec parse in Proxy-User module
  agent-plugins/proxy-user/src/main/java/com/navercorp/pinpoint/agent/plugin/proxy/user/UserRequestParser.java
  agent-plugins/proxy-user/src/test/java/com/navercorp/pinpoint/agent/plugin/proxy/user/UserRequestParserTest.java
Labels: enhancement, module:plugin

#9855 [#noissue] Fix proxy-user plugin test
  agent-plugins/proxy-user/src/main/java/com/navercorp/pinpoint/agent/plugin/proxy/user/UserRequestParser.java
  agent-plugins/proxy-user/src/test/java/com/navercorp/pinpoint/agent/plugin/proxy/user/UserRequestParserTest.java
Labels: test

#9862 [#9861] Remove invalid gson dependency from hbase2 module
  hbase2-module/pom.xml
Labels: bug, dependencies

#9864 [#9863] Backport: Remove invalid gson dependency from hbase2 module
  hbase2-module/pom.xml
Labels: bug, dependencies

#9867 [#9865] Remove unnecessary gson dependency
  hbase2-module/pom.xml
Labels: bug, dependencies

#9884 [#noissue] Apply ConditionalOnProperty to InstallModule
  web/src/main/java/com/navercorp/pinpoint/web/install/InstallModule.java
  web/src/main/java/com/navercorp/pinpoint/web/install/dao/AgentDownloadInfoDaoFactoryBean.java
  web/src/main/java/com/navercorp/pinpoint/web/install/dao/GithubAgentDownloadInfoDao.java
  web/src/main/resources/application.yml
  web/src/test/java/com/navercorp/pinpoint/web/install/AgentDownloadInfoTest.java
Labels: module:web, cleanup

#9886 [#9885] Apply ConditionalOnProperties to BasicLogin module
  basic-login/README.md
  basic-login/pom.xml
  basic-login/src/main/java/com/navercorp/pinpoint/login/basic/PinpointBasicLoginConfig.java
  web/src/main/resources/application.yml
Labels: module:web, cleanup

#9890 [#9889] Bump log4j from 2.17.2 to 2.20.0
  bootstraps/bootstrap-java9/src/main/java/com/navercorp/pinpoint/bootstrap/java9/module/ModuleSupport.java
  collector/src/main/java/com/navercorp/pinpoint/collector/monitor/CollectorMetric.java
  pom.xml
Labels: dependencies

#9883 [#9882] Extract Grpc SSL Module
  collector/src/main/java/com/navercorp/pinpoint/collector/PinpointCollectorModule.java
  collector/src/main/java/com/navercorp/pinpoint/collector/grpc/ssl/GrpcAgentDataSslReceiverConfiguration.java
  collector/src/main/java/com/navercorp/pinpoint/collector/grpc/ssl/GrpcSpanSslReceiverConfiguration.java
  collector/src/main/java/com/navercorp/pinpoint/collector/grpc/ssl/GrpcSslModule.java
  collector/src/main/java/com/navercorp/pinpoint/collector/grpc/ssl/GrpcSslProperties.java
  collector/src/main/java/com/navercorp/pinpoint/collector/grpc/ssl/GrpcSslReceiverProperties.java
  collector/src/main/java/com/navercorp/pinpoint/collector/grpc/ssl/GrpcStatSslReceiverConfiguration.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/GrpcReceiver.java
  collector/src/main/resources/application.yml
  collector/src/main/resources/applicationContext-collector-grpc.xml
  collector/src/main/resources/pinpoint-collector-root.properties
  collector/src/main/resources/profiles/local/pinpoint-collector-grpc.properties
  collector/src/main/resources/profiles/release/pinpoint-collector-grpc.properties
  collector/src/test/java/com/navercorp/pinpoint/collector/grpc/ssl/GrpcAgentDataSslReceiverConfigurationTest.java
  collector/src/test/java/com/navercorp/pinpoint/collector/grpc/ssl/GrpcSpanSslReceiverConfigurationTest.java
  collector/src/test/java/com/navercorp/pinpoint/collector/grpc/ssl/GrpcStatSslReceiverConfigurationTest.java
  collector/src/test/resources/test-pinpoint-collector.properties
  grpc/src/main/java/com/navercorp/pinpoint/grpc/security/SslServerProperties.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/server/ServerFactory.java
Labels: module:collector, cleanup

#9896 [#9882] Cleanup
  collector/src/main/java/com/navercorp/pinpoint/collector/grpc/ssl/GrpcSslModule.java
  collector/src/main/java/com/navercorp/pinpoint/collector/grpc/ssl/GrpcSslProperties.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/client/DefaultChannelFactory.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/security/SslContextFactory.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/security/SslServerProperties.java
Labels: cleanup

#9895 [#9893] Merge log4j2 configurations to a single file
  collector/pom.xml
  collector/src/main/resources/log4j2-spring.xml
  collector/src/main/resources/profiles/release/log4j2.xml
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/profile/PinpointProfileEnvironment.java
  pom.xml
  web/pom.xml
  web/src/main/resources/log4j2-spring.xml
  web/src/main/resources/profiles/local/log4j2.xml
  web/src/main/resources/profiles/release/log4j2.xml
Labels: module:collector, module:web, configuration

#9897 [#8890] Implemented findClass in Java9ClassLoader
  bootstraps/bootstrap-java9/src/main/java/com/navercorp/pinpoint/bootstrap/java9/classloader/Java9ClassLoader.java
  bootstraps/bootstrap-java9/src/main/java/com/navercorp/pinpoint/bootstrap/java9/module/ModuleSupport.java
  bootstraps/bootstrap-java9/src/main/java/com/navercorp/pinpoint/bootstrap/java9/module/ModuleSupportFactory.java
Labels: bug, module:agent

#9899 [#noissue] Refactor grpc ssl initialization
  grpc/src/main/java/com/navercorp/pinpoint/grpc/client/ChannelFactoryBuilder.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/client/DefaultChannelFactory.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/client/DefaultChannelFactoryBuilder.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/security/SslClientConfig.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/security/SslContextFactory.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/grpc/config/GrpcTransportConfig.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/module/GrpcModule.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/grpc/AgentGrpcDataSenderProvider.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/grpc/MetadataGrpcDataSenderProvider.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/grpc/SSLContextProvider.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/grpc/SpanGrpcDataSenderProvider.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/grpc/StatGrpcDataSenderProvider.java
Labels: cleanup

#9902 [#8890] Backport: Implemented findClass in Java9ClassLoader
  bootstraps/bootstrap-java9/src/main/java/com/navercorp/pinpoint/bootstrap/java9/classloader/Java9ClassLoader.java
  bootstraps/bootstrap-java9/src/main/java/com/navercorp/pinpoint/bootstrap/java9/module/ModuleSupport.java
  bootstraps/bootstrap-java9/src/main/java/com/navercorp/pinpoint/bootstrap/java9/module/ModuleSupportFactory.java
Labels: bug, module:agent

#9888 [#noissue] Cleanup
  collector/src/test/java/com/navercorp/pinpoint/collector/handler/grpc/GrpcAgentUriMetricHandlerV2Test.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/AgentInfoBo.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/AgentLifeCycleBo.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/ServerMetaDataBo.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/ServiceInfoBo.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/SpanBo.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/SpanChunkBo.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/SpanEventBo.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/event/AgentEventBo.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/event/DeadlockBo.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/event/DeadlockEventBo.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/event/MonitorInfoBo.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/event/ThreadDumpBo.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/stat/AgentStatBo.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/stat/AgentUriStatBo.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/stat/DataSourceBo.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/stat/DataSourceListBo.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/stat/DeadlockThreadCountBo.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/stat/EachUriStatBo.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/stat/TotalThreadCountBo.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/stat/TransactionBo.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/stat/UriStatHistogram.java
Labels: cleanup, module:project-common

#9912 [#noissue] Cleanup
  test/src/main/java/com/navercorp/pinpoint/test/plugin/DependencyResolverFactory.java
Labels: cleanup

#9911 [#9910] Bump maven core from 3.8.6 to 3.8.8 for plugin test
  test/pom.xml
Labels: bug, dependencies

#9914 [#9913] Apply testcontainers to redis-lettuce-plugin-it
  plugins-it/redis-lettuce-it/pom.xml
  plugins-it/redis-lettuce-it/src/test/java/com/navercorp/pinpoint/plugin/lettuce/RedisClient_IT.java
  plugins-it/redis-lettuce-it/src/test/java/com/navercorp/pinpoint/plugin/lettuce/RedisServer.java
Labels: module:plugin, cleanup
