Repository pinpoint-apm/pinpoint, pull requests merged in 2023-06, with the labels that each got.

#10009 fix [UnderTow does not collect data] bug
  plugins/undertow/src/main/java/com/navercorp/pinpoint/plugin/undertow/interceptor/ConnectorsExecuteRootHandlerInterceptor.java
Labels: bug

#10015 [#10014] Bump google-guice from 5.1.0 to 7.0.0
  pom.xml
  profiler/pom.xml
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/grpc/GrpcSpanMessageConverterProvider.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/metadata/SqlMetadataServiceProvider.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/metadata/StringMetadataServiceProvider.java
Labels: module:agent, dependencies

#10017 [#noissue] Cleanup
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/trace/ApiDescriptionParser.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/util/ObjectUtils.java
  plugins/mongodb/src/main/java/com/navercorp/pinpoint/plugin/mongo/interceptor/MongoCollectionImplConstructorInterceptor.java
  plugins/mongodb/src/main/java/com/navercorp/pinpoint/plugin/mongo/interceptor/ReactiveMongoOperationPublisherConstructorInterceptor.java
  uristat/uristat-collector/src/main/java/com/navercorp/pinpoint/uristat/collector/model/UriStat.java
  uristat/uristat-web/src/main/java/com/navercorp/pinpoint/uristat/web/model/UriStatGroup.java
Labels: cleanup

#10019 [#10018] Suggest dynamic list of available agent profiles
  bootstraps/bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/config/Profiles.java
  bootstraps/bootstrap/src/main/java/com/navercorp/pinpoint/bootstrap/config/ProfilePropertyLoader.java
  redis/pom.xml
  tools/src/main/java/com/navercorp/pinpoint/tools/NetworkAvailabilityChecker.java
Labels: module:agent

#10022 [#10023] Improve reference release timing for GC
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/grpc/GrpcSpanMessageConverter.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/context/compress/GrpcSpanProcessorV2Test.java
Labels: cleanup

#10011 [#10010] backport: fix undertow plugin
  plugins/undertow/src/main/java/com/navercorp/pinpoint/plugin/undertow/interceptor/ConnectorsExecuteRootHandlerInterceptor.java
Labels: bug, module:plugin

#10040 [#10035] Fixed agent list in active request
  realtime/realtime-web/src/main/java/com/navercorp/pinpoint/web/realtime/activethread/count/websocket/ActiveThreadCountHandlerImpl.java
  realtime/realtime-web/src/main/java/com/navercorp/pinpoint/web/realtime/service/AgentLookupService.java
  realtime/realtime-web/src/main/java/com/navercorp/pinpoint/web/realtime/service/AgentLookupServiceImpl.java
  realtime/realtime-web/src/main/java/com/navercorp/pinpoint/web/realtime/service/RealtimeWebServiceConfig.java
Labels: module:web

#10048 [#noissue] Remove unnecessary HttpServletRequestWrapper
  web/src/main/java/com/navercorp/pinpoint/web/servlet/RewriteForV2Filter.java
Labels: cleanup

#10051 [#10049] Remove unnecessary resource locations
  web/src/main/java/com/navercorp/pinpoint/web/WebMvcConfig.java
Labels: module:web

#10052 [#10049] Exclude etag from fingerprinted web resources
  web/src/main/java/com/navercorp/pinpoint/web/WebServerConfig.java
Labels: module:web

#10056 [#noissue] Refactor GrpcSpanBinder
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/grpc/GrpcSpanChunkHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/grpc/GrpcSpanHandler.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/grpc/BindAttribute.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/grpc/CollectorGrpcSpanFactory.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/grpc/GrpcSpanBinder.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/grpc/GrpcSpanFactory.java
  commons-server/src/test/java/com/navercorp/pinpoint/common/server/bo/grpc/CollectorGrpcSpanFactoryTest.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/Header.java
Labels: cleanup

#10065 [#10064] Add MaxResultsPerColumnFamily to prevent OOM
  web/src/main/java/com/navercorp/pinpoint/web/dao/hbase/HbaseTraceDaoV2.java
  web/src/main/resources/pinpoint-web-root.properties
Labels: module:web

#10066 [#noissue] Refator HbaseTraceDaoV2
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/bo/ColumnGetCount.java
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/bo/ColumnGetCountFactory.java
  commons-hbase/src/test/java/com/navercorp/pinpoint/common/hbase/bo/ColumnGetCountTest.java
  web/src/main/java/com/navercorp/pinpoint/web/controller/BusinessTransactionController.java
  web/src/main/java/com/navercorp/pinpoint/web/dao/hbase/HbaseTraceDaoV2.java
  web/src/main/java/com/navercorp/pinpoint/web/mapper/SpanMapperFactory.java
Labels: module:web

#10067 [#noissue] Delete unnecessary assembly configurtion
  hbase2-module/hbase2-web/src/assembly/frontend.xml
Labels: cleanup

#10072 [#10071] Fix NPE in GithubAgentDownloadInfoDao
  web/src/main/java/com/navercorp/pinpoint/web/install/dao/GithubAgentDownloadInfoDao.java
Labels: bug, module:web

#10073 [#noissue] Integrate AgentDownloadController into InstallModule
  web/src/main/java/com/navercorp/pinpoint/web/AuthorizationConfig.java
  web/src/main/java/com/navercorp/pinpoint/web/install/InstallModule.java
Labels: module:web

#10074 [#noissue] Simplify Controller configuration
  web/src/main/java/com/navercorp/pinpoint/web/AuthorizationConfig.java
Labels: module:web

#10094 [#9597] Resolving duplication of bean names
  inspector-module/inspector-web/src/main/java/com/navercorp/pinpoint/inspector/web/controller/AgentStatV2Controller.java
  inspector-module/inspector-web/src/main/java/com/navercorp/pinpoint/inspector/web/model/InspectorMetricData.java
  inspector-module/inspector-web/src/main/java/com/navercorp/pinpoint/inspector/web/view/InspectorMetricGroupDataVeiw.java
  inspector-module/inspector-web/src/main/java/com/navercorp/pinpoint/inspector/web/view/InspectorMetricView.java
Labels: module:web

#10093 [#10092] Bump springboot from 2.7.7 to 2.7.13
  pom.xml
Labels: dependencies

#10086 [#noissue] Remove unnecessary applicationContext-web-hbase.xml
  batch/src/main/resources/applicationContext-batch-schedule.xml
Labels: cleanup

#10096 [#10046] Added prefix to websocket endpoints
  web/src/main/java/com/navercorp/pinpoint/web/websocket/PinpointWebSocketConfigurer.java
Labels: module:web

#10103 [#10102] Bump hbase-client from 2.4.11 to 2.4.17
  pom.xml
Labels: dependencies

#10104 [#10046] Removed unnecessary ws own prefix
  web/src/main/java/com/navercorp/pinpoint/web/websocket/PinpointWebSocketConfigurer.java
Labels: module:web
