Repository pinpoint-apm/pinpoint, pull requests merged in 2023-12, with the labels that each got.

#10533 [#9631] Pass empty exceptionChainId if negative
  web/src/main/java/com/navercorp/pinpoint/web/view/TransactionInfoViewModel.java
Labels: module:web

#10532 [#10531] Apply AsyncConnection of HBase
  collector/src/main/java/com/navercorp/pinpoint/collector/config/BatchHbaseClientConfiguration.java
  collector/src/main/resources/hbase-root.properties
  commons-hbase/pom.xml
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/AsyncPutHbaseTemplate2.java
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/ConnectionFactoryBean.java
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/HbaseAccessor.java
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/HbaseOperations2.java
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/HbaseSecurityProvider.java
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/HbaseSystemException.java
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/HbaseTemplate2.java
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/RowMapperResultsExtractor.java
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/SimpleHbaseSecurityProvider.java
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/async/AdvancedAsyncTableCallback.java
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/async/AsyncConnectionFactoryBean.java
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/async/AsyncDistributedScanner.java
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/async/AsyncTableCallback.java
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/async/AsyncTableFactory.java
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/async/HbaseAsyncAccessor.java
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/async/HbaseAsyncOperations.java
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/async/HbaseAsyncTableFactory.java
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/async/HbaseAsyncTemplate.java
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/config/HbaseTemplateConfiguration.java
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/parallel/ParallelResultScanner.java
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/parallel/ScanUtils.java
  commons-hbase/src/main/java/org/apache/hadoop/hbase/client/AsyncConnectionCleaner.java
  commons-hbase/src/test/java/org/apache/hadoop/hbase/client/AsyncConnectionCleanerTest.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/hbase/config/HbaseClientConfiguration.java
  commons/src/main/java/com/navercorp/pinpoint/common/util/StopWatch.java
  hbase/hbase-schema-manager/src/main/java/com/navercorp/pinpoint/hbase/manager/config/HbaseConfig.java
  redis/pom.xml
  web/src/main/java/com/navercorp/pinpoint/web/dao/hbase/HbaseAgentInfoDao.java
  web/src/main/java/com/navercorp/pinpoint/web/dao/hbase/HbaseAgentLifeCycleDao.java
  web/src/main/resources/hbase-root.properties
Labels: module:project-common

#10535 [#10534] Update vertx plugin to support vert.x 4.5.0 version
  agent-testweb/vertx-4-plugin-testweb/pom.xml
  agent-testweb/vertx-4-plugin-testweb/src/main/java/com/pinpoint/test/plugin/Vertx4PluginTestStarter.java
  plugins/vertx/README.md
  plugins/vertx/src/main/java/com/navercorp/pinpoint/plugin/vertx/VertxPlugin.java
  plugins/vertx/src/main/java/com/navercorp/pinpoint/plugin/vertx/interceptor/HttpClientImplCreateRequestInterceptor.java
  plugins/vertx/src/main/java/com/navercorp/pinpoint/plugin/vertx/interceptor/HttpClientImplDoRequestInterceptorV4.java
Labels: enhancement, module:plugin

#10539 [#noissue] Add sqlstat web config properties
  web/src/main/java/com/navercorp/pinpoint/web/config/ConfigProperties.java
  web/src/main/java/com/navercorp/pinpoint/web/frontend/export/ConfigPropertiesExporter.java
Labels: module:web

#10538 [#noissue] Update agentInfo error log format
  profiler/src/main/java/com/navercorp/pinpoint/profiler/AgentInfoSender.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/DefaultAgentInformation.java
Labels: module:agent, log

#10548 [#10543] bump asm from 9.5 to 9.6
  commons/src/main/java/com/navercorp/pinpoint/common/util/JvmVersion.java
  commons/src/test/java/com/navercorp/pinpoint/common/util/JvmVersionTest.java
  pom.xml
Labels: dependencies

#10546 [#noissue] Remove property for thrift ip
  agent/src/main/resources/pinpoint-root.config
  agent/src/main/resources/profiles/local/pinpoint.config
  agent/src/main/resources/profiles/release/pinpoint.config
  agent/src/test/java/com/navercorp/pinpoint/plugin/config/PropertiesVerificationTest.java
  plugins-it/activemq-it/activemq-5-15-it/src/test/resources/activemq/client/pinpoint-activemq-client.config
  plugins-it/activemq-it/activemq-5-17-it/src/test/resources/activemq/client/pinpoint-activemq-client.config
  plugins-it/clickhouse-jdbc-it/src/test/resources/pinpoint-clickhouse.config
  plugins-it/cxf-it/cxf-3-0-it/src/test/resources/cxf/pinpoint-cxf-test.config
  plugins-it/cxf-it/cxf-3-6-it/src/test/resources/cxf/pinpoint-cxf-test.config
  plugins-it/druid-it/src/test/resources/druid/pinpoint-druid-test.config
  plugins-it/fastjson-it/src/test/resources/fastjson/pinpoint-fastjson-test.config
  plugins-it/google-grpc-it/google-grpc-1-42-it/src/test/resources/pinpoint-grpc-plugin-test.config
  plugins-it/google-grpc-it/google-grpc-1-8-it/src/test/resources/pinpoint-grpc-plugin-test.config
  plugins-it/hbase-it/src/test/resources/hbase/pinpoint-hbase-test.config
  plugins-it/hystrix-it/src/test/resources/hystrix/pinpoint-hystrix.config
  plugins-it/informix-jdbc-it/src/test/resources/pinpoint-informix.config
  plugins-it/jtds-it/src/test/resources/pinpoint.config
  plugins-it/lambda-it/src/test/resources/pinpoint-lambda-test.config
  plugins-it/log4j-it/src/test/resources/pinpoint-spring-bean-test.config
  plugins-it/log4j2-it/src/test/resources/pinpoint-spring-bean-test.config
  plugins-it/logback-it/src/test/resources/pinpoint-spring-bean-test.config
  plugins-it/mssql-jdbc-it/src/test/resources/pinpoint-mssql.config
  plugins-it/netty-it/src/test/resources/pinpoint-netty-plugin-test.config
  plugins-it/postgresql-jdbc-it/src/test/resources/pinpoint-postgresql.config
  plugins-it/process-it/src/test/resources/pinpoint-process-test.config
  plugins-it/rabbitmq-it/src/test/resources/rabbitmq/client/pinpoint-rabbitmq.config
  plugins-it/rxjava-it/src/test/resources/rxjava/pinpoint-rxjava.config
  plugins-it/spring-data-r2dbc-it/src/test/resources/pinpoint-postgresql.config
  plugins/akka-http/src/test/resources/pinpoint.config
  plugins/google-httpclient/src/test/resources/pinpoint.config
  plugins/httpclient3/src/test/resources/pinpoint.config
  plugins/httpclient4/src/test/resources/pinpoint.config
  plugins/jboss/src/test/resources/pinpoint.config
  plugins/jsp/src/test/resources/pinpoint.config
  plugins/redis/src/test/resources/pinpoint.config
  plugins/tomcat/src/test/resources/pinpoint.config
  plugins/user/src/test/resources/pinpoint.config
  plugins/vertx/src/test/resources/pinpoint.config
  plugins/weblogic/src/test/resources/pinpoint.config
  profiler/src/test/resources/pinpoint.config
Labels: module:collector

#10556 [#10555] Bump spring-kafka from 3.0.12 to 3.0.13 dependencies
  metric-module/metric/pom.xml
  pom.xml
Labels: dependencies

#10552 [#10549] Add tests for Grpc converters
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/grpc/GrpcCustomMetricMessageConverter.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/grpc/GrpcJvmGcTypeMessageConverter.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/grpc/GrpcMetadataMessageConverter.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/grpc/GrpcStatMessageConverter.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/grpc/GrpcThreadStateMessageConverter.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/context/grpc/GrpcAgentInfoMessageConverterTest.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/context/grpc/GrpcCustomMetricMessageConverterTest.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/context/grpc/GrpcExceptionMetaDataConverterTest.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/context/grpc/GrpcJvmGcTypeMessageConverterTest.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/context/grpc/GrpcMetadataMessageConverterTest.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/context/grpc/GrpcSpanMessageConverterTest.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/context/grpc/GrpcStatMessageConverterTest.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/context/grpc/GrpcThreadDumpMessageConverterTest.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/context/grpc/GrpcThreadStateMessageConverterTest.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/context/grpc/MapperTestUtil.java
Labels: module:agent, test

#10561 [#10560] Bump byte-buddy from 4.8.1 to 4.11.0 dependencies
  pom.xml
Labels: dependencies

#10564 [#noissue] Remove mockStatic from testcase
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/grpc/GrpcApiMetaDataHandler.java
  collector/src/test/java/com/navercorp/pinpoint/collector/handler/grpc/GrpcApiMetaDataHandlerTest.java
  collector/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  grpc/src/main/java/com/navercorp/pinpoint/grpc/server/ServerContext.java
Labels: cleanup

#10565 [#noissue] Resolved collector tests
  collector/src/test/java/com/navercorp/pinpoint/collector/service/DefaultChannelzServiceTest.java
  collector/src/test/java/com/navercorp/pinpoint/collector/service/InternalChannelzLookupTest.java
Labels: module:collector

#10569 [#noissue] Fix test failures
  plugins-it/clickhouse-jdbc-it/pom.xml
  plugins/clickhouse-jdbc/pom.xml
  plugins/clickhouse-jdbc/src/main/java/com/navercorp/pinpoint/plugin/jdbc/clickhouse/interceptor/ClickHouseConnectionCreateInterceptor.java
Labels: test

#10568 [#10547] add zgc(java gc) type to the agent
  collector/src/main/java/com/navercorp/pinpoint/collector/mapper/grpc/stat/GrpcJvmGcTypeMapper.java
  collector/src/test/java/com/navercorp/pinpoint/collector/mapper/grpc/stat/GrpcJvmGcTypeMapperTest.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/JvmGcType.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/grpc/GrpcJvmGcTypeMessageConverter.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/monitor/metric/gc/GarbageCollectorType.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/monitor/metric/gc/JvmGcType.java
Labels: enhancement, module:agent

#10567 [#10566] Set the log level of ModuleBoot using system env
  bootstraps/bootstrap-java9/src/main/java/com/navercorp/pinpoint/bootstrap/java9/module/ModuleLogLevel.java
  bootstraps/bootstrap-java9/src/main/java/com/navercorp/pinpoint/bootstrap/java9/module/ModuleLogger.java
Labels: enhancement, module:agent

#10572 [#noissue] Added batch cache manager
  batch/src/main/java/com/navercorp/pinpoint/batch/BatchModule.java
Labels: module:batch

#10573 [#noissue] Patched flink hbase config
  flink/src/main/java/com/navercorp/pinpoint/flink/FlinkModule.java
Labels: module:flink

#10576 [#noissue] Throttled header propagation log
  grpc/src/main/java/com/navercorp/pinpoint/grpc/server/HeaderPropagationInterceptor.java
Labels: module:collector

#10577 [#noissue] fix plugin it clear
  test/src/main/java/com/navercorp/pinpoint/test/plugin/junit5/descriptor/PluginTestClassTestDescriptor.java
  test/src/main/java/com/navercorp/pinpoint/test/plugin/junit5/descriptor/PluginTestUnitTestDescriptor.java
Labels: Continuous Integration

#10584 [#noissue] Capture context when throwing SpanInsertEvent
  collector/src/main/java/com/navercorp/pinpoint/collector/CollectorApp.java
  collector/src/main/java/com/navercorp/pinpoint/collector/PinpointCollectorModule.java
  collector/src/main/java/com/navercorp/pinpoint/collector/event/SpanStorePublisher.java
  collector/src/main/java/com/navercorp/pinpoint/collector/event/SpanStorePublisherImpl.java
  collector/src/main/java/com/navercorp/pinpoint/collector/service/HbaseTraceService.java
Labels: module:collector

#10585 [#noissue] Import CollectorEventConfiguration in BasicCollectorApp
  metric-module/collector-starter/src/main/java/com/navercorp/pinpoint/collector/starter/multi/application/BasicCollectorApp.java
Labels: module:collector
