Repository pinpoint-apm/pinpoint, pull requests merged in 2023-09, with the labels that each got.

#10272 [#noissue] fix plugin-it testcase
  test/src/main/java/com/navercorp/pinpoint/test/plugin/classloader/PluginAgentTestClassLoader.java
  test/src/main/java/com/navercorp/pinpoint/test/plugin/classloader/PluginTestClassLoader.java
  test/src/main/java/com/navercorp/pinpoint/test/plugin/classloader/PluginTestJunitTestClassLoader.java
  test/src/main/java/com/navercorp/pinpoint/test/plugin/classloader/PluginTestSharedTestClassLoader.java
Labels: test

#10273 [#noissue] fix plugin it classloader
  test/src/main/java/com/navercorp/pinpoint/test/plugin/classloader/PluginTestJunitTestClassLoader.java
Labels: test

#10274 [#noissue] fix plugin-it lib filter
  test/src/main/java/com/navercorp/pinpoint/test/plugin/AbstractPluginTestSuite.java
Labels: test

#10276 [#noissue] fix plugin-it class-path filter
  test/src/main/java/com/navercorp/pinpoint/test/plugin/AbstractPluginTestSuite.java
Labels: test

#10279 [#noissue] fix plugin-it spring6 java version
  plugins-it/spring-it/spring-6-it/pom.xml
Labels: test

#9707 [#9631] Add exceptionTrace Module
  commons-server/pom.xml
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/mapper/MapStructUtils.java
  exceptiontrace/exceptiontrace-collector/pom.xml
  exceptiontrace/exceptiontrace-collector/src/main/java/com/navercorp/pinpoint/exceptiontrace/collector/ExceptionTraceCollectorConfig.java
  exceptiontrace/exceptiontrace-collector/src/main/java/com/navercorp/pinpoint/exceptiontrace/collector/ExceptionTraceCollectorPropertySources.java
  exceptiontrace/exceptiontrace-collector/src/main/java/com/navercorp/pinpoint/exceptiontrace/collector/config/ExceptionMetricKafkaConfiguration.java
  exceptiontrace/exceptiontrace-collector/src/main/java/com/navercorp/pinpoint/exceptiontrace/collector/dao/ExceptionTraceDao.java
  exceptiontrace/exceptiontrace-collector/src/main/java/com/navercorp/pinpoint/exceptiontrace/collector/dao/PinotExceptionTraceDao.java
  exceptiontrace/exceptiontrace-collector/src/main/java/com/navercorp/pinpoint/exceptiontrace/collector/entity/ExceptionMetaDataEntity.java
  exceptiontrace/exceptiontrace-collector/src/main/java/com/navercorp/pinpoint/exceptiontrace/collector/mapper/ExceptionMetaDataMapper.java
  exceptiontrace/exceptiontrace-collector/src/main/java/com/navercorp/pinpoint/exceptiontrace/collector/mapper/StackTraceMapper.java
  exceptiontrace/exceptiontrace-collector/src/main/java/com/navercorp/pinpoint/exceptiontrace/collector/service/PinotExceptionTraceService.java
  exceptiontrace/exceptiontrace-collector/src/main/resources/kafka-topic.properties
  exceptiontrace/exceptiontrace-collector/src/main/resources/profiles/local/kafka-topic-exception.properties
  exceptiontrace/exceptiontrace-collector/src/main/resources/profiles/release/kafka-topic-exception.properties
  exceptiontrace/exceptiontrace-collector/src/test/java/com/navercorp/pinpoint/exceptiontrace/collector/mapper/ExceptionMetaDataMapperTest.java
  exceptiontrace/exceptiontrace-common/pom.xml
  exceptiontrace/exceptiontrace-common/src/main/java/com/navercorp/pinpoint/exceptiontrace/common/model/ExceptionMetaData.java
  exceptiontrace/exceptiontrace-common/src/main/java/com/navercorp/pinpoint/exceptiontrace/common/model/StackTraceElementWrapper.java
  exceptiontrace/exceptiontrace-common/src/main/java/com/navercorp/pinpoint/exceptiontrace/common/pinot/PinotColumns.java
  exceptiontrace/exceptiontrace-common/src/main/java/com/navercorp/pinpoint/exceptiontrace/common/util/HashUtils.java
  exceptiontrace/exceptiontrace-common/src/main/pinot/pinot-exceptionTrace-schema.json
  exceptiontrace/exceptiontrace-common/src/main/pinot/pinot-exceptionTrace-table.json
  exceptiontrace/exceptiontrace-web/pom.xml
  exceptiontrace/exceptiontrace-web/src/main/java/com/navercorp/pinpoint/exceptiontrace/web/ExceptionTraceWebConfig.java
  exceptiontrace/exceptiontrace-web/src/main/java/com/navercorp/pinpoint/exceptiontrace/web/ExceptionTraceWebPropertySources.java
  exceptiontrace/exceptiontrace-web/src/main/java/com/navercorp/pinpoint/exceptiontrace/web/config/ExceptionTracePinotDaoConfiguration.java
  exceptiontrace/exceptiontrace-web/src/main/java/com/navercorp/pinpoint/exceptiontrace/web/config/ExceptionTraceRegistryHandler.java
  exceptiontrace/exceptiontrace-web/src/main/java/com/navercorp/pinpoint/exceptiontrace/web/controller/ExceptionTraceController.java
  exceptiontrace/exceptiontrace-web/src/main/java/com/navercorp/pinpoint/exceptiontrace/web/dao/ExceptionTraceDao.java
  exceptiontrace/exceptiontrace-web/src/main/java/com/navercorp/pinpoint/exceptiontrace/web/dao/PinotExceptionTraceDao.java
  exceptiontrace/exceptiontrace-web/src/main/java/com/navercorp/pinpoint/exceptiontrace/web/entity/ExceptionMetaDataEntity.java
  exceptiontrace/exceptiontrace-web/src/main/java/com/navercorp/pinpoint/exceptiontrace/web/entity/ExceptionTraceSummaryEntity.java
  exceptiontrace/exceptiontrace-web/src/main/java/com/navercorp/pinpoint/exceptiontrace/web/entity/ExceptionTraceValueViewEntity.java
  exceptiontrace/exceptiontrace-web/src/main/java/com/navercorp/pinpoint/exceptiontrace/web/entity/GroupedFieldNameEntity.java
  exceptiontrace/exceptiontrace-web/src/main/java/com/navercorp/pinpoint/exceptiontrace/web/mapper/ExceptionMetaDataEntityMapper.java
  exceptiontrace/exceptiontrace-web/src/main/java/com/navercorp/pinpoint/exceptiontrace/web/mapper/StackTraceMapper.java
  exceptiontrace/exceptiontrace-web/src/main/java/com/navercorp/pinpoint/exceptiontrace/web/model/ExceptionTraceGroup.java
  exceptiontrace/exceptiontrace-web/src/main/java/com/navercorp/pinpoint/exceptiontrace/web/model/ExceptionTraceSummary.java
  exceptiontrace/exceptiontrace-web/src/main/java/com/navercorp/pinpoint/exceptiontrace/web/model/ExceptionTraceValueView.java
  exceptiontrace/exceptiontrace-web/src/main/java/com/navercorp/pinpoint/exceptiontrace/web/model/GroupByAttributes.java
  exceptiontrace/exceptiontrace-web/src/main/java/com/navercorp/pinpoint/exceptiontrace/web/model/GroupedFieldName.java
  exceptiontrace/exceptiontrace-web/src/main/java/com/navercorp/pinpoint/exceptiontrace/web/service/ExceptionTraceService.java
  exceptiontrace/exceptiontrace-web/src/main/java/com/navercorp/pinpoint/exceptiontrace/web/service/ExceptionTraceServiceImpl.java
  exceptiontrace/exceptiontrace-web/src/main/java/com/navercorp/pinpoint/exceptiontrace/web/util/ExceptionTraceQueryParameter.java
  exceptiontrace/exceptiontrace-web/src/main/java/com/navercorp/pinpoint/exceptiontrace/web/view/ExceptionTraceView.java
  exceptiontrace/exceptiontrace-web/src/main/resources/exceptiontrace/mapper/ExceptionTraceMapper.xml
  exceptiontrace/exceptiontrace-web/src/main/resources/profiles/local/pinpoint-web-exceptiontrace.properties
  exceptiontrace/exceptiontrace-web/src/main/resources/profiles/release/pinpoint-web-exceptiontrace.properties
  exceptiontrace/exceptiontrace-web/src/test/java/com/navercorp/pinpoint/exceptiontrace/web/mapper/ExceptionMetaDataEntityMapperTest.java
  exceptiontrace/exceptiontrace-web/src/test/java/com/navercorp/pinpoint/exceptiontrace/web/model/ExceptionTraceGroupTest.java
  exceptiontrace/pom.xml
  metric-module/collector-starter/pom.xml
  metric-module/collector-starter/src/main/java/com/navercorp/pinpoint/collector/starter/multi/application/MultiApplication.java
  metric-module/collector-starter/src/main/resources/application.yml
  metric-module/web-starter/pom.xml
  metric-module/web-starter/src/main/java/com/navercorp/pinpoint/web/starter/multi/MetricAndWebApp.java
  metric-module/web-starter/src/main/resources/application.yml
  pom.xml
Labels: module:collector, module:web

#10281 [#noissue] fix plugin-it spring-6 disabled
  plugins-it/spring-it/spring-6-it/src/test/java/com/navercorp/pinpoint/it/plugin/spring/web/SpringWebMvc_6_x_IT.java
Labels: test

#10282 [#noissue] fix plugin-it spring 6 pom.xml
  plugins-it/spring-it/spring-6-it/pom.xml
Labels: test

#10259 [#noissue] Changed realtime recentness into 5m
  web/src/main/java/com/navercorp/pinpoint/web/realtime/RedisRealtimeConfig.java
Labels: module:web

#10284 [#noissue] fix plugin-it shared classloader
  plugins-it/thrift-it/thrift-0-10-it/src/test/java/com/navercorp/pinpoint/it/plugin/thrift/common/client/AsyncEchoTestClient.java
  plugins-it/thrift-it/thrift-0-10-it/src/test/java/com/navercorp/pinpoint/it/plugin/thrift/common/client/HttpEchoTestClient.java
  plugins-it/thrift-it/thrift-0-10-it/src/test/java/com/navercorp/pinpoint/it/plugin/thrift/common/client/SyncEchoTestClient.java
  plugins-it/thrift-it/thrift-0-10-it/src/test/java/com/navercorp/pinpoint/it/plugin/thrift/common/client/SyncEchoTestClient014.java
  plugins-it/thrift-it/thrift-0-10-it/src/test/java/com/navercorp/pinpoint/it/plugin/thrift/common/server/AsyncEchoTestServer.java
  plugins-it/thrift-it/thrift-0-10-it/src/test/java/com/navercorp/pinpoint/it/plugin/thrift/common/server/HttpEchoTestServer.java
  plugins-it/thrift-it/thrift-0-10-it/src/test/java/com/navercorp/pinpoint/it/plugin/thrift/common/server/SyncEchoTestServer.java
  plugins-it/thrift-it/thrift-0-14-it/src/test/java/com/navercorp/pinpoint/it/plugin/thrift/common/client/AsyncEchoTestClient.java
  plugins-it/thrift-it/thrift-0-14-it/src/test/java/com/navercorp/pinpoint/it/plugin/thrift/common/client/HttpEchoTestClient.java
  plugins-it/thrift-it/thrift-0-14-it/src/test/java/com/navercorp/pinpoint/it/plugin/thrift/common/client/SyncEchoTestClient.java
  plugins-it/thrift-it/thrift-0-14-it/src/test/java/com/navercorp/pinpoint/it/plugin/thrift/common/client/SyncEchoTestClient014.java
  plugins-it/thrift-it/thrift-0-14-it/src/test/java/com/navercorp/pinpoint/it/plugin/thrift/common/server/AsyncEchoTestServer014.java
  plugins-it/thrift-it/thrift-0-14-it/src/test/java/com/navercorp/pinpoint/it/plugin/thrift/common/server/SyncEchoTestServer014.java
  test/src/main/java/com/navercorp/pinpoint/test/plugin/AbstractPluginTestSuite.java
  test/src/main/java/com/navercorp/pinpoint/test/plugin/PluginClassLoading.java
Labels: test

#10286 [#noissue] fix plugin-it thrift-014 class
  plugins-it/thrift-it/thrift-0-14-it/src/test/java/com/navercorp/pinpoint/it/plugin/thrift/common/client/SyncEchoTestClient014.java
  plugins-it/thrift-it/thrift-0-14-it/src/test/java/com/navercorp/pinpoint/it/plugin/thrift/common/server/AsyncEchoTestServer014.java
  plugins-it/thrift-it/thrift-0-14-it/src/test/java/com/navercorp/pinpoint/it/plugin/thrift/common/server/SyncEchoTestServer014.java
Labels: test

#10287 [#noissue] fix plugin-it oracle driver
  plugins-it/oracledb-it/oracledb-11-it/src/test/java/com/navercorp/pinpoint/it/plugin/jdbc/oracle/Oracle19_Ojdbc8_ConnectWithGssCredential_IT.java
  plugins-it/oracledb-it/oracledb-19-it/src/test/java/com/navercorp/pinpoint/it/plugin/jdbc/oracle/Oracle19_Ojdbc10_IT.java
  plugins-it/oracledb-it/oracledb-19-it/src/test/java/com/navercorp/pinpoint/it/plugin/jdbc/oracle/Oracle19_Ojdbc10_IT_ConnectWithGssCredential_IT.java
  plugins-it/thrift-it/thrift-0-14-it/src/test/java/com/navercorp/pinpoint/it/plugin/thrift/common/client/SyncEchoTestClient014.java
  test/src/main/java/com/navercorp/pinpoint/test/plugin/PluginClassLoading.java
Labels: test

#10288 [#noissue] fix plugin-it thrift forked
  plugins-it/thrift-it/thrift-0-10-it/src/test/java/com/navercorp/pinpoint/it/plugin/thrift/it/asynchronous/ThriftHalfSyncHalfAsyncServerAsyncIT.java
  plugins-it/thrift-it/thrift-0-10-it/src/test/java/com/navercorp/pinpoint/it/plugin/thrift/it/asynchronous/ThriftNonblockingServerAsyncIT.java
  plugins-it/thrift-it/thrift-0-10-it/src/test/java/com/navercorp/pinpoint/it/plugin/thrift/it/asynchronous/ThriftThreadedSelectorServerAsyncIT.java
  plugins-it/thrift-it/thrift-0-10-it/src/test/java/com/navercorp/pinpoint/it/plugin/thrift/it/http/ThriftHttpIT.java
  plugins-it/thrift-it/thrift-0-10-it/src/test/java/com/navercorp/pinpoint/it/plugin/thrift/it/synchronous/ThriftHalfSyncHalfAsyncServerIT.java
  plugins-it/thrift-it/thrift-0-10-it/src/test/java/com/navercorp/pinpoint/it/plugin/thrift/it/synchronous/ThriftNonblockingServerIT.java
  plugins-it/thrift-it/thrift-0-10-it/src/test/java/com/navercorp/pinpoint/it/plugin/thrift/it/synchronous/ThriftSimpleServerIT.java
  plugins-it/thrift-it/thrift-0-10-it/src/test/java/com/navercorp/pinpoint/it/plugin/thrift/it/synchronous/ThriftThreadPoolServerIT.java
  plugins-it/thrift-it/thrift-0-10-it/src/test/java/com/navercorp/pinpoint/it/plugin/thrift/it/synchronous/ThriftThreadedSelectorServerIT.java
Labels: test

#10289 [#noissue] fix plugin-it oracle19 forked
  plugins-it/oracledb-it/oracledb-19-it/src/test/java/com/navercorp/pinpoint/it/plugin/jdbc/oracle/Oracle19_Ojdbc10_IT.java
  plugins-it/oracledb-it/oracledb-19-it/src/test/java/com/navercorp/pinpoint/it/plugin/jdbc/oracle/Oracle19_Ojdbc10_IT_ConnectWithGssCredential_IT.java
Labels: test

#10290 [#noissue] fix plugin-it shared testcase target
  test/src/main/java/com/navercorp/pinpoint/test/plugin/PluginClassLoading.java
Labels: test

#10280 [#noissue] Cleanup Inspector
  inspector-module/inspector-collector/src/main/java/com/navercorp/pinpoint/inspector/collector/dao/pinot/PinotDaoConfiguration.java
  inspector-module/inspector-collector/src/main/java/com/navercorp/pinpoint/inspector/collector/model/kafka/AgentStatModelConverter.java
Labels: cleanup

#10296 [#noissue] Remove deprecated classes
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/common/model/SimpleSystemMetricMetadata.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/common/model/SystemMetricMetadata.java
Labels: cleanup

#10298 [#noissue] fix plugin-it debug
  test/src/main/java/com/navercorp/pinpoint/test/plugin/AbstractPluginTestSuite.java
  test/src/main/java/com/navercorp/pinpoint/test/plugin/classloader/PluginAgentTestClassLoader.java
  test/src/main/java/com/navercorp/pinpoint/test/plugin/classloader/PluginTestClassLoader.java
  test/src/main/java/com/navercorp/pinpoint/test/plugin/classloader/PluginTestJunitTestClassLoader.java
  test/src/main/java/com/navercorp/pinpoint/test/plugin/classloader/PluginTestSharedTestClassLoader.java
Labels: test

#10297 [#noissue] Cleanup
  bootstraps/bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/plugin/jdbc/SqlModule.java
  profiler-logging/src/main/java/com/navercorp/pinpoint/profiler/logging/AbstractLoggerAdapter.java
Labels: cleanup

#10275 [#9945] add time aggregation to new servermap api
  batch/src/main/java/com/navercorp/pinpoint/batch/alarm/collector/MapStatisticsCallerDataCollector.java
  batch/src/test/java/com/navercorp/pinpoint/batch/alarm/checker/ErrorCountToCalleCheckerTest.java
  batch/src/test/java/com/navercorp/pinpoint/batch/alarm/checker/ErrorRateToCalleCheckerTest.java
  batch/src/test/java/com/navercorp/pinpoint/batch/alarm/checker/SlowCountToCalleCheckerTest.java
  batch/src/test/java/com/navercorp/pinpoint/batch/alarm/checker/SlowRateToCalleCheckerTest.java
  batch/src/test/java/com/navercorp/pinpoint/batch/alarm/checker/TotalCountToCalleeCheckerTest.java
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/FilterMapWrap.java
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/MapWrap.java
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/appender/histogram/SimplifiedNodeHistogramFactory.java
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/appender/histogram/datasource/MapResponseSimplifiedNodeHistogramDataSource.java
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/histogram/NodeHistogram.java
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/link/Link.java
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/link/LinkType.java
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/nodes/Node.java
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/nodes/NodeType.java
  web/src/main/java/com/navercorp/pinpoint/web/authorization/controller/ResponseTimeController.java
  web/src/main/java/com/navercorp/pinpoint/web/controller/FilteredMapController.java
  web/src/main/java/com/navercorp/pinpoint/web/controller/MapController.java
  web/src/main/java/com/navercorp/pinpoint/web/dao/MapStatisticsCalleeDao.java
  web/src/main/java/com/navercorp/pinpoint/web/dao/MapStatisticsCallerDao.java
  web/src/main/java/com/navercorp/pinpoint/web/dao/hbase/HbaseMapStatisticsCalleeDao.java
  web/src/main/java/com/navercorp/pinpoint/web/dao/hbase/HbaseMapStatisticsCallerDao.java
  web/src/main/java/com/navercorp/pinpoint/web/mapper/MapStatisticsCalleeTimeAggregatedMapper.java
  web/src/main/java/com/navercorp/pinpoint/web/mapper/MapStatisticsCallerTimeAggregatedMapper.java
  web/src/main/java/com/navercorp/pinpoint/web/service/FilteredMapServiceImpl.java
  web/src/main/java/com/navercorp/pinpoint/web/service/LinkDataMapService.java
  web/src/main/java/com/navercorp/pinpoint/web/service/LinkDataMapServiceImpl.java
  web/src/main/java/com/navercorp/pinpoint/web/service/MapServiceImpl.java
  web/src/main/java/com/navercorp/pinpoint/web/service/ResponseTimeHistogramServiceImpl.java
  web/src/main/java/com/navercorp/pinpoint/web/service/map/BidirectionalLinkSelector.java
  web/src/main/java/com/navercorp/pinpoint/web/service/map/DefaultApplicationMapCreator.java
  web/src/main/java/com/navercorp/pinpoint/web/service/map/LinkSelectContext.java
  web/src/main/java/com/navercorp/pinpoint/web/service/map/LinkSelector.java
  web/src/main/java/com/navercorp/pinpoint/web/service/map/UnidirectionalLinkSelector.java
  web/src/main/java/com/navercorp/pinpoint/web/service/map/VirtualLinkHandler.java
  web/src/main/java/com/navercorp/pinpoint/web/view/LinkSerializer.java
  web/src/main/java/com/navercorp/pinpoint/web/view/NodeSerializer.java
  web/src/test/java/com/navercorp/pinpoint/web/applicationmap/ApplicationMapBuilderTest.java
  web/src/test/java/com/navercorp/pinpoint/web/applicationmap/histogram/AgentTimeHistogramTest.java
  web/src/test/java/com/navercorp/pinpoint/web/applicationmap/histogram/ApplicationTimeHistogramTest.java
  web/src/test/java/com/navercorp/pinpoint/web/service/ResponseTimeHistogramServiceImplTest.java
  web/src/test/java/com/navercorp/pinpoint/web/service/map/BidirectionalLinkSelectorTest.java
  web/src/test/java/com/navercorp/pinpoint/web/service/map/LinkSelectorTestBase.java
  web/src/test/java/com/navercorp/pinpoint/web/service/map/UnidirectionalLinkSelectorTest.java
Labels: module:web

#10307 [#noissue] Backport: Add NPE Check in Hbase plugin
  plugins/hbase/src/main/java/com/navercorp/pinpoint/plugin/hbase/interceptor/data/DataSizeUtils.java
Labels: bug, module:plugin

#10306 [#noissue] Add NPE Check in Hbase plugin
  plugins/hbase/src/main/java/com/navercorp/pinpoint/plugin/hbase/interceptor/data/DataSizeUtils.java
Labels: bug, module:plugin

#10305 [#noissue] Generalized rule of rewriting into front
  web/src/main/java/com/navercorp/pinpoint/web/servlet/HttpIntentRoutingFilter.java
  web/src/main/java/com/navercorp/pinpoint/web/servlet/RewriteForV2Filter.java
  web/src/main/resources/applicationContext-web.xml
  web/src/test/java/com/navercorp/pinpoint/web/servlet/HttpIntentRoutingFilterTest.java
Labels: module:web

#10312 [#noissue] Cleanup CommonComponent configuration
  batch/src/main/resources/applicationContext-batch-web-component.xml
  web/src/main/java/com/navercorp/pinpoint/web/component/config/ComponentConfiguration.java
  web/src/main/resources/applicationContext-web.xml
  web/src/test/resources/applicationContext-test.xml
Labels: cleanup

#10314 [#10313] Bump spring-kafka from 2.9.4 to 2.9.11
  pom.xml
Labels: dependencies

#10316 [#10315] Bump guava from 31.1-jre to 32.1.2-jre
  pom.xml
Labels: dependencies

#10326 [#noissue] Included v3 react front application
  web/src/main/java/com/navercorp/pinpoint/web/servlet/HttpIntentRoutingFilter.java
  web/src/main/resources/applicationContext-web.xml
  web/src/test/java/com/navercorp/pinpoint/web/servlet/HttpIntentRoutingFilterTest.java
Labels: module:web

#10328 [#noissue] fix plugin-it oracle19 fork
  plugins-it/oracledb-it/oracledb-11-it/src/test/java/com/navercorp/pinpoint/it/plugin/jdbc/oracle/Oracle19_Ojdbc8_ConnectWithGssCredential_IT.java
  plugins-it/oracledb-it/oracledb-11-it/src/test/java/com/navercorp/pinpoint/it/plugin/jdbc/oracle/Oracle19_Ojdbc8_IT.java
Labels: test

#10330 [#10329] Backport: update reactor error handler
  agent-testweb/spring-webflux-plugin-testweb/src/main/java/com/pinpoint/test/plugin/SpringWebfluxPluginController.java
  agent/src/main/resources/profiles/local/pinpoint.config
  agent/src/main/resources/profiles/release/pinpoint.config
  plugins/reactor-netty/src/main/java/com/navercorp/pinpoint/plugin/reactor/netty/ReactorNettyPlugin.java
  plugins/reactor-netty/src/main/java/com/navercorp/pinpoint/plugin/reactor/netty/ReactorNettyPluginConfig.java
  plugins/reactor-netty/src/main/java/com/navercorp/pinpoint/plugin/reactor/netty/interceptor/ClientTransportSubscriberInterceptor.java
  plugins/reactor-netty/src/main/java/com/navercorp/pinpoint/plugin/reactor/netty/interceptor/HttpObserverOnUncaughtExceptionInterceptor.java
  plugins/reactor/src/main/java/com/navercorp/pinpoint/plugin/reactor/ReactorConstants.java
  plugins/reactor/src/main/java/com/navercorp/pinpoint/plugin/reactor/ReactorPlugin.java
  plugins/reactor/src/main/java/com/navercorp/pinpoint/plugin/reactor/ReactorPluginConfig.java
  plugins/reactor/src/main/java/com/navercorp/pinpoint/plugin/reactor/interceptor/OnErrorSubscriberInterceptor.java
Labels: enhancement, module:plugin

#10320 [#noissue] Cleanup CommonComponent configuration
  batch-alarmsender/src/main/java/com/navercorp/pinpoint/batch/alarm/AlarmMessageSender.java
  batch-alarmsender/src/main/java/com/navercorp/pinpoint/batch/alarm/DefaultAlarmMessageSender.java
  batch-alarmsender/src/main/java/com/navercorp/pinpoint/batch/alarm/sender/EmptySmsSender.java
  batch-alarmsender/src/main/java/com/navercorp/pinpoint/batch/alarm/sender/SmsSender.java
  batch/src/main/java/com/navercorp/pinpoint/batch/BatchModule.java
  collector/src/test/java/com/navercorp/pinpoint/collector/dao/hbase/statistics/DefaultBulkUpdaterTest.java
  hbase/hbase-schema/src/test/java/com/navercorp/pinpoint/hbase/schema/core/ChangeSetManagerTest.java
  pinot/pinot-batch/src/main/java/com/navercorp/pinpoint/batch/alarm/checker/PinotAlarmChecker.java
  pinot/pinot-batch/src/main/java/com/navercorp/pinpoint/batch/alarm/checker/PinotAlarmCheckers.java
  pinot/pinot-batch/src/main/java/com/navercorp/pinpoint/batch/alarm/collector/PinotDataCollector.java
  uristat/uristat-batch/src/main/java/com/navercorp/pinpoint/batch/alarm/UriStatAlarmProcessor.java
  uristat/uristat-batch/src/main/java/com/navercorp/pinpoint/batch/alarm/UriStatAlarmWriter.java
  uristat/uristat-batch/src/main/java/com/navercorp/pinpoint/batch/alarm/collector/UriStatDataCollectorFactory.java
  web/src/main/java/com/navercorp/pinpoint/web/PinpointWebModule.java
  web/src/main/java/com/navercorp/pinpoint/web/WebServiceConfig.java
  web/src/main/java/com/navercorp/pinpoint/web/component/AnnotationKeyMatcherService.java
  web/src/main/java/com/navercorp/pinpoint/web/component/DefaultAnnotationKeyMatcherService.java
  web/src/main/java/com/navercorp/pinpoint/web/component/config/ComponentConfiguration.java
  web/src/main/java/com/navercorp/pinpoint/web/service/RecorderFactoryProvider.java
  web/src/main/java/com/navercorp/pinpoint/web/service/TransactionInfoServiceImpl.java
  web/src/main/java/com/navercorp/pinpoint/web/vo/callstacks/RecordFactory.java
  web/src/test/java/com/navercorp/pinpoint/web/applicationmap/service/ResponseTimeHistogramServiceImplTest.java
  web/src/test/java/com/navercorp/pinpoint/web/calltree/span/CallTreeIteratorTest.java
  web/src/test/java/com/navercorp/pinpoint/web/vo/callstacks/RecordFactoryTest.java
Labels: cleanup

#10346 [#noissue] Remove PinpointThreadPoolExecutorFactoryBean
  collector/src/main/resources/applicationContext-collector-hbase.xml
  collector/src/main/resources/applicationContext-collector.xml
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/util/PinpointThreadPoolExecutorFactoryBean.java
  flink/src/main/resources/applicationContext-hbase.xml
  web/src/main/resources/applicationContext-web-hbase.xml
Labels: cleanup

#10354 [#NOISSUE] logging for batch exception
  batch/src/main/java/com/navercorp/pinpoint/batch/common/JobFailListener.java
Labels: module:batch

#10340 [#9631] Cleanup Exception Trace Module
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/util/EnumGetter.java
  exceptiontrace/exceptiontrace-common/src/main/java/com/navercorp/pinpoint/exceptiontrace/common/pinot/PinotColumns.java
  exceptiontrace/exceptiontrace-web/src/main/java/com/navercorp/pinpoint/exceptiontrace/web/controller/ExceptionTraceController.java
  exceptiontrace/exceptiontrace-web/src/main/java/com/navercorp/pinpoint/exceptiontrace/web/util/ExceptionTraceQueryParameter.java
  exceptiontrace/exceptiontrace-web/src/main/java/com/navercorp/pinpoint/exceptiontrace/web/util/GroupByAttributes.java
  exceptiontrace/exceptiontrace-web/src/main/java/com/navercorp/pinpoint/exceptiontrace/web/util/OrderByAttributes.java
  exceptiontrace/exceptiontrace-web/src/main/resources/exceptiontrace/mapper/ExceptionTraceMapper.xml
  uristat/uristat-web/src/main/java/com/navercorp/pinpoint/uristat/web/util/UriStatSummaryQueryParameter.java
  web/src/main/java/com/navercorp/pinpoint/web/config/ConfigProperties.java
  web/src/main/java/com/navercorp/pinpoint/web/frontend/export/ConfigPropertiesExporter.java
Labels: module:web, module:metric

#10353 [#10352] Bump maven failsafe plugin from 2.22.2 to 3.1.2
  pom.xml
Labels: dependencies

#10359 [#noissue] Fixed default atd service
  web/src/main/java/com/navercorp/pinpoint/web/realtime/RealtimeConfig.java
Labels: module:web

#10360 [#noissue] Cleanup
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/DispatchHandlerFactoryBean.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/AbstractServerServiceFactory.java
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/batch/SimpleBatchWriterFactoryBean.java
Labels: cleanup

#10361 [#noissue] Remove preStartAllCoreThreads from ExecutorFactoryBean
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/ExecutorFactoryBean.java
  collector/src/main/resources/applicationContext-collector.xml
  flink/src/main/resources/applicationContext-flink.xml
  log/log-collector/src/main/java/com/navercorp/pinpoint/log/collector/grpc/LogCollectorGrpcServerConfig.java
Labels: cleanup

#10364 [#noissue] fix plugin it spring 6
  plugins-it/spring-it/spring-6-it/src/test/java/com/navercorp/pinpoint/it/plugin/spring/web/SpringWebMvc_6_x_IT.java
Labels: test

#10357 [#10355] Fix servlet response http-status-recorder
  bootstraps/bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/plugin/http/HttpStatusCodeRecorder.java
  bootstraps/bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/plugin/request/ServletRequestListener.java
  bootstraps/bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/plugin/request/ServletRequestListenerBuilder.java
  bootstraps/bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/plugin/response/ServletResponseListener.java
  bootstraps/bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/plugin/response/ServletResponseListenerBuilder.java
  bootstraps/bootstrap-core/src/test/java/com/navercorp/pinpoint/bootstrap/plugin/http/HttpStatusCodeRecorderTest.java
  plugins/jboss/src/main/java/com/navercorp/pinpoint/plugin/jboss/interceptor/StandardHostValveInvokeInterceptor.java
  plugins/jetty/src/main/java/com/navercorp/pinpoint/plugin/jetty/interceptor/AbstractServerHandleInterceptor.java
  plugins/reactor-netty/src/main/java/com/navercorp/pinpoint/plugin/reactor/netty/interceptor/HttpServerHandleInterceptor.java
  plugins/resin/src/main/java/com/navercorp/pinpoint/plugin/resin/interceptor/ServletInvocationServiceInterceptor.java
  plugins/tomcat/src/main/java/com/navercorp/pinpoint/plugin/tomcat/jakarta/interceptor/StandardHostValveInvokeInterceptor.java
  plugins/tomcat/src/main/java/com/navercorp/pinpoint/plugin/tomcat/javax/interceptor/StandardHostValveInvokeInterceptor.java
  plugins/undertow/src/main/java/com/navercorp/pinpoint/plugin/undertow/interceptor/ConnectorsExecuteRootHandlerInterceptor.java
Labels: enhancement, module:plugin

#10370 [#noissue] fix plugin it forked java
  test/src/main/java/com/navercorp/pinpoint/test/plugin/AbstractPluginForkedTestSuite.java
Labels: test
