Repository pinpoint-apm/pinpoint, pull requests merged in 2023-10, with the labels that each got.

#10379 [#noissue] Fixed realtime spring module
  collector/src/main/java/com/navercorp/pinpoint/collector/config/ClusterConfiguration.java
  realtime/realtime-collector/src/main/java/com/navercorp/pinpoint/realtime/collector/RealtimeCollectorModule.java
  realtime/realtime-collector/src/main/java/com/navercorp/pinpoint/realtime/collector/receiver/EmptyClusterPointLocator.java
Labels: module:collector

#10382 [#noissue] Cleanup
  pom.xml
Labels: cleanup

#10384 [#noissue] fix plugin it mssql forked
  plugins-it/mssql-jdbc-it/src/test/java/com/navercorp/pinpoint/it/plugin/jdbc/mssql/MSSSqlConnectionIT.java
  plugins-it/mssql-jdbc-it/src/test/java/com/navercorp/pinpoint/it/plugin/jdbc/mssql/MSSqlIT.java
Labels: test

#10387 [#noissue] Removed emit failure handler, enhanced emit order
  channel/src/main/java/com/navercorp/pinpoint/channel/service/ChannelServiceProtocolBuilder.java
  channel/src/main/java/com/navercorp/pinpoint/channel/service/FluxChannelServiceProtocolImpl.java
  channel/src/main/java/com/navercorp/pinpoint/channel/service/MonoChannelServiceProtocolImpl.java
  channel/src/main/java/com/navercorp/pinpoint/channel/service/client/AbstractChannelServiceClient.java
  channel/src/main/java/com/navercorp/pinpoint/channel/service/client/FluxChannelServiceClientImpl.java
  channel/src/main/java/com/navercorp/pinpoint/channel/service/client/FluxChannelServiceClientProtocol.java
  channel/src/main/java/com/navercorp/pinpoint/channel/service/client/MonoChannelServiceClientImpl.java
  channel/src/main/java/com/navercorp/pinpoint/channel/service/client/MonoChannelServiceClientProtocol.java
  channel/src/test/java/com/navercorp/pinpoint/channel/legacy/LegacyAdaptorTest.java
  channel/src/test/java/com/navercorp/pinpoint/channel/service/FluxChannelServiceTest.java
  channel/src/test/java/com/navercorp/pinpoint/channel/service/MonoChannelServiceTest.java
  log/log-collector/src/main/java/com/navercorp/pinpoint/log/collector/grpc/LogCollectorGrpcServerConfig.java
  log/log-common/src/main/java/com/navercorp/pinpoint/log/LogServiceProtocolConfig.java
  realtime/realtime-common/src/main/java/com/navercorp/pinpoint/realtime/config/ATCServiceProtocolConfig.java
  realtime/realtime-common/src/main/java/com/navercorp/pinpoint/realtime/config/ATDServiceProtocolConfig.java
  realtime/realtime-common/src/main/java/com/navercorp/pinpoint/realtime/config/EchoServiceProtocolConfig.java
Labels: module:web

#10392 [#NOISSUE] update datasource configuration
  batch/src/main/java/com/navercorp/pinpoint/batch/flink/HealthCheckTasklet.java
  datasource/src/main/resources/datasource/mysql-driver.properties
  pinot/pinot-batch/src/main/resources/mysql-driver.properties
Labels: module:batch

#10393 [#noissue] Cleanup ExecutorProperties dependency
  collector/src/main/java/com/navercorp/pinpoint/collector/CollectorHbaseModule.java
  collector/src/main/java/com/navercorp/pinpoint/collector/config/BatchHbaseClientConfiguration.java
  collector/src/main/java/com/navercorp/pinpoint/collector/config/CollectorConfiguration.java
  collector/src/main/java/com/navercorp/pinpoint/collector/grpc/config/CollectorGrpcConfiguration.java
  collector/src/main/java/com/navercorp/pinpoint/collector/monitor/MonitoringExecutors.java
  collector/src/test/java/com/navercorp/pinpoint/collector/grpc/config/TestReceiverConfig.java
  commons-config/pom.xml
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/ConnectionFactoryBean.java
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/config/Warmup.java
  commons-server/pom.xml
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/executor/ExecutorCustomizer.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/executor/ExecutorProperties.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/executor/ThreadPoolExecutorCustomizer.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/hbase/config/HBaseClientProperties.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/hbase/config/HbaseClientConfiguration.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/thread/MonitoringExecutorProperties.java
  commons-server/src/test/java/com/navercorp/pinpoint/common/server/hbase/config/HBaseClientPropertiesTest.java
  flink/src/main/java/com/navercorp/pinpoint/flink/FlinkModule.java
  flink/src/main/java/com/navercorp/pinpoint/flink/config/FlinkExecutorConfiguration.java
  log/log-collector/src/main/java/com/navercorp/pinpoint/log/collector/grpc/LogCollectorGrpcServerConfig.java
  web/src/main/java/com/navercorp/pinpoint/web/WebHbaseModule.java
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/config/ApplicationMapModule.java
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/config/TaskExecutorCustomizer.java
Labels: cleanup

#10403 [#noissue] Refactor HbaseConfiguration
  collector/src/main/java/com/navercorp/pinpoint/collector/CollectorHbaseModule.java
  collector/src/main/java/com/navercorp/pinpoint/collector/config/HbaseAsyncConfiguration.java
  collector/src/main/java/com/navercorp/pinpoint/collector/config/SchedulerConfiguration.java
  collector/src/main/java/com/navercorp/pinpoint/collector/monitor/BulkOperationMetrics.java
  collector/src/main/java/com/navercorp/pinpoint/collector/scheduler/AvgMaxLinkScheduler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/scheduler/StatisticsLinkScheduler.java
  collector/src/main/resources/applicationContext-collector-hbase.xml
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/batch/BufferedMutatorProperties.java
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/batch/BufferedMutatorWriter.java
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/batch/SimpleBatchWriterFactoryBean.java
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/config/HbaseTemplateConfiguration.java
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/config/ParallelScan.java
  flink/src/main/java/com/navercorp/pinpoint/flink/FlinkModule.java
  flink/src/main/resources/applicationContext-hbase.xml
  web/src/main/java/com/navercorp/pinpoint/web/WebHbaseModule.java
  web/src/main/resources/applicationContext-web-hbase.xml
Labels: cleanup

#10396 [#10358] Ensure className not null for module permission
  agent-testweb/closed-module-testlib/.gitignore
  agent-testweb/closed-module-testlib/pom.xml
  agent-testweb/closed-module-testlib/src/main/java/com/navercorp/pinpointdemo/ClosedService.java
  agent-testweb/closed-module-testlib/src/main/java/module-info.java
  agent-testweb/closed-module-testweb/.gitignore
  agent-testweb/closed-module-testweb/pom.xml
  agent-testweb/closed-module-testweb/src/main/java/com/navercorp/pinpoint/closedcaller/ClosedClassCallerStarter.java
  agent-testweb/closed-module-testweb/src/main/java/com/navercorp/pinpoint/closedcaller/ClosedClassCallingController.java
  agent-testweb/closed-module-testweb/src/main/java/module-info.java
  agent-testweb/pom.xml
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/javamodule/ClassFileTransformerModuleHandler.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/context/javamodule/ClassFileTransformerModuleHandlerTest.java
Labels: module:agent

#10394 [#9945] add apdex score for new serverMap
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/ApplicationMapWithScatterDataV3.java
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/histogram/AgentTimeHistogram.java
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/histogram/ApplicationTimeHistogram.java
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/histogram/NodeHistogram.java
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/link/Link.java
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/link/LinkHistogramSummary.java
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/nodes/NodeAgentHistogramList.java
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/nodes/NodeHistogramSummary.java
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/service/FilteredMapServiceImpl.java
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/service/ResponseTimeHistogramServiceImpl.java
  web/src/main/java/com/navercorp/pinpoint/web/authorization/controller/ResponseTimeController.java
  web/src/main/java/com/navercorp/pinpoint/web/view/FilterMapWrapSerializer.java
  web/src/main/java/com/navercorp/pinpoint/web/view/NodeSerializer.java
  web/src/main/java/com/navercorp/pinpoint/web/view/histogram/AgentHistogramView.java
  web/src/main/java/com/navercorp/pinpoint/web/view/histogram/ApplicationHistogramView.java
  web/src/main/java/com/navercorp/pinpoint/web/view/histogram/HistogramView.java
  web/src/main/java/com/navercorp/pinpoint/web/view/histogram/ServerHistogramView.java
  web/src/main/java/com/navercorp/pinpoint/web/view/histogram/TimeHistogramChartBuilder.java
  web/src/test/java/com/navercorp/pinpoint/web/applicationmap/histogram/AgentTimeHistogramTest.java
  web/src/test/java/com/navercorp/pinpoint/web/applicationmap/service/ResponseTimeHistogramServiceImplTest.java
Labels: module:web

#10373 [#10371] Update child trace end point guard
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/ChildTrace.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/DefaultBaseTraceFactory.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/DisableChildTrace.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/recorder/ChildTraceSpanEventRecorder.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/recorder/DefaultRecorderFactory.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/recorder/DisableChildTraceSpanEventRecorder.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/recorder/RecorderFactory.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/context/AsyncContextTest.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/context/DefaultAsyncTraceContextTest.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/context/id/LocalTraceRootTest.java
Labels: enhancement, module:plugin

#10419 [#10418] Update reactor threading
  agent-testweb/reactor-plugin-testweb/pom.xml
  agent-testweb/reactor-plugin-testweb/src/main/java/com/pinpoint/test/plugin/ReactorPluginController.java
  agent/src/main/resources/profiles/local/pinpoint.config
  agent/src/main/resources/profiles/release/pinpoint.config
  plugins/reactor/src/main/java/com/navercorp/pinpoint/plugin/reactor/ReactorPlugin.java
  plugins/reactor/src/main/java/com/navercorp/pinpoint/plugin/reactor/ReactorPluginConfig.java
  plugins/reactor/src/main/java/com/navercorp/pinpoint/plugin/reactor/interceptor/FluxAndMonoDelayInterceptor.java
  plugins/reactor/src/main/java/com/navercorp/pinpoint/plugin/reactor/interceptor/FluxAndMonoIntervalInterceptor.java
Labels: enhancement, module:plugin

#10415 [#9631] Limit length of stackTrace strings for better stability
  exceptiontrace/exceptiontrace-web/src/main/java/com/navercorp/pinpoint/exceptiontrace/web/mapper/StackTraceMapper.java
  exceptiontrace/exceptiontrace-web/src/main/java/com/navercorp/pinpoint/exceptiontrace/web/util/GroupByAttributes.java
Labels: module:web, module:metric

#10421 [#9631] Fix typo
  exceptiontrace/exceptiontrace-web/src/main/java/com/navercorp/pinpoint/exceptiontrace/web/util/OrderByAttributes.java
Labels: cleanup

#10423 [#9631] Limit length of errorMessage in groupBy for better stability
  exceptiontrace/exceptiontrace-web/src/main/java/com/navercorp/pinpoint/exceptiontrace/web/controller/ExceptionTraceController.java
  exceptiontrace/exceptiontrace-web/src/main/java/com/navercorp/pinpoint/exceptiontrace/web/model/ExceptionTraceGroup.java
  exceptiontrace/exceptiontrace-web/src/main/java/com/navercorp/pinpoint/exceptiontrace/web/model/ExceptionTraceValueView.java
  exceptiontrace/exceptiontrace-web/src/main/java/com/navercorp/pinpoint/exceptiontrace/web/util/ExceptionTraceQueryParameter.java
  exceptiontrace/exceptiontrace-web/src/main/resources/exceptiontrace/mapper/ExceptionTraceMapper.xml
Labels: module:web, module:metric

#10426 [#noissue] fix plugin it - mongodb and mybatis
  plugins-it/mongodb-it/mongodb-4-it/src/test/java/com/navercorp/pinpoint/it/plugin/mongodb4/ReactiveMongoDBIT_4_2_x_IT.java
  plugins-it/mybatis-it/src/test/java/com/navercorp/pinpoint/it/plugin/mybatis/DefaultSqlSessionIT.java
  plugins-it/mybatis-it/src/test/java/com/navercorp/pinpoint/it/plugin/mybatis/SqlSessionTemplate_1_1_x_IT.java
  plugins-it/mybatis-it/src/test/java/com/navercorp/pinpoint/it/plugin/mybatis/SqlSessionTemplate_1_2_x_IT.java
  plugins-it/mybatis-it/src/test/java/com/navercorp/pinpoint/it/plugin/mybatis/SqlSessionTemplate_1_3_x_IT.java
Labels: test

#10430 [#noissue] fix plugin-it engine discover
  test/src/main/java/com/navercorp/pinpoint/test/plugin/junit5/engine/PluginTestEngine.java
Labels: test

#10428 [#10420] Removed PinpointNettyServerBuilder, Tracing gRPC logId
  agent-testweb/spring-boot3-testweb/src/main/java/com/pinpoint/test/springboot3/controller/TestController.java
  collector/src/main/java/com/navercorp/pinpoint/collector/controller/ChannelzController.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/channelz/DefaultChannelzRegistry.java
  collector/src/main/java/com/navercorp/pinpoint/collector/service/ChannelzService.java
  collector/src/main/java/com/navercorp/pinpoint/collector/service/ChannelzSocketLookup.java
  collector/src/main/java/com/navercorp/pinpoint/collector/service/DefaultChannelzService.java
  collector/src/main/java/com/navercorp/pinpoint/collector/service/InternalChannelzSocketLookup.java
  collector/src/main/resources/applicationContext-collector-grpc.xml
  collector/src/test/java/com/navercorp/pinpoint/collector/receiver/grpc/channelz/DefaultChannelzRegistryTest.java
  collector/src/test/java/com/navercorp/pinpoint/collector/service/ChannelzTestUtils.java
  collector/src/test/java/com/navercorp/pinpoint/collector/service/DefaultChannelzServiceTest.java
  collector/src/test/java/com/navercorp/pinpoint/collector/service/InternalChannelzLookupTest.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/channelz/ChannelzRegistry.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/channelz/ChannelzServerTransportFilter.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/channelz/ChannelzUtils.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/server/DefaultTransportMetadata.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/server/MetadataServerTransportFilter.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/server/ServerFactory.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/server/TransportMetadata.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/server/TransportMetadataFactory.java
  grpc/src/main/java/io/grpc/netty/EmptyServerListenerDelegator.java
  grpc/src/main/java/io/grpc/netty/LogIdAttachListener.java
  grpc/src/main/java/io/grpc/netty/LogIdServerListenerDelegator.java
  grpc/src/main/java/io/grpc/netty/NettyUtils.java
  grpc/src/main/java/io/grpc/netty/PinpointNettyServerBuilder.java
  grpc/src/main/java/io/grpc/netty/ServerListenerDelegator.java
  grpc/src/test/java/com/navercorp/pinpoint/grpc/ChannelFactoryTest.java
  realtime/realtime-collector/src/test/java/com/navercorp/pinpoint/realtime/collector/receiver/grpc/GrpcCommandServiceTest.java
Labels: module:collector

#10435 [#10388] Added frontend forceclean
  web-frontend/pom.xml
Labels: module:web

#10433 [#10431] Optional gRPC stat logging in agent
  agent/src/main/resources/pinpoint-root.config
  bootstraps/bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/config/DefaultProfilerConfig.java
  bootstraps/bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/config/ProfilerConfig.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/grpc/config/GrpcTransportConfig.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/module/GrpcModule.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/grpc/SpanGrpcDataSenderProvider.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/sender/grpc/metric/ChannelzScheduledReporterBuilder.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/sender/grpc/metric/DefaultChannelzReporter.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/sender/grpc/metric/DefaultChannelzScheduledReporter.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/sender/grpc/metric/ChannelzScheduledReporterBuilderTest.java
Labels: module:agent

#10436 [#10350] Removed zookeeper tests
  web/src/test/java/com/navercorp/pinpoint/web/cluster/ZKServerFactory.java
Labels: module:collector

#10432 [#9631] Store errorMessage as the replaced string in the collector
  exceptiontrace/exceptiontrace-collector/src/main/java/com/navercorp/pinpoint/exceptiontrace/collector/ExceptionTraceCollectorConfig.java
  exceptiontrace/exceptiontrace-collector/src/main/java/com/navercorp/pinpoint/exceptiontrace/collector/ExceptionTraceCollectorPropertySources.java
  exceptiontrace/exceptiontrace-collector/src/main/java/com/navercorp/pinpoint/exceptiontrace/collector/mapper/ErrorMessageMapper.java
  exceptiontrace/exceptiontrace-collector/src/main/java/com/navercorp/pinpoint/exceptiontrace/collector/mapper/ExceptionMetaDataMapper.java
  exceptiontrace/exceptiontrace-collector/src/main/resources/pinpoint-collector-exceptiontrace.properties
  exceptiontrace/exceptiontrace-collector/src/test/java/com/navercorp/pinpoint/exceptiontrace/collector/mapper/ExceptionMetaDataMapperTest.java
  exceptiontrace/exceptiontrace-web/src/main/java/com/navercorp/pinpoint/exceptiontrace/web/controller/ExceptionTraceController.java
  exceptiontrace/exceptiontrace-web/src/main/java/com/navercorp/pinpoint/exceptiontrace/web/util/ExceptionTraceQueryParameter.java
  exceptiontrace/exceptiontrace-web/src/main/resources/exceptiontrace/mapper/ExceptionTraceMapper.xml
Labels: module:web, module:metric

#10439 [#10437] Update mark error of spring tx plugin
  agent/src/main/resources/profiles/local/pinpoint.config
  agent/src/main/resources/profiles/release/pinpoint.config
  plugins/spring-tx/src/main/java/com/navercorp/pinpoint/plugin/spring/tx/SpringTxConfig.java
  plugins/spring-tx/src/main/java/com/navercorp/pinpoint/plugin/spring/tx/interceptor/ReactiveTransactionSupportInterceptor.java
  plugins/spring-tx/src/main/java/com/navercorp/pinpoint/plugin/spring/tx/interceptor/TransactionAspectSupportInterceptor.java
Labels: enhancement, module:plugin

#10441 [#9631] Cleanup
  exceptiontrace/exceptiontrace-collector/src/main/java/com/navercorp/pinpoint/exceptiontrace/collector/mapper/ErrorMessageMapper.java
  exceptiontrace/exceptiontrace-collector/src/test/java/com/navercorp/pinpoint/exceptiontrace/collector/mapper/ExceptionMetaDataMapperTest.java
  exceptiontrace/exceptiontrace-web/src/main/java/com/navercorp/pinpoint/exceptiontrace/web/util/ExceptionTraceQueryParameter.java
  exceptiontrace/exceptiontrace-web/src/main/java/com/navercorp/pinpoint/exceptiontrace/web/util/OrderByAttributes.java
  exceptiontrace/exceptiontrace-web/src/main/resources/exceptiontrace/mapper/ExceptionTraceMapper.xml
Labels: module:web, cleanup, module:metric
