Repository pinpoint-apm/pinpoint, pull requests merged in 2024-02, with the labels that each got.

#10661 [#10656] Add java 11 httpclient plugin
  agent-testweb/jdk-httpclient-plugin-testweb/README.md
  agent-testweb/jdk-httpclient-plugin-testweb/pom.xml
  agent-testweb/jdk-httpclient-plugin-testweb/src/main/java/com/pinpoint/test/plugin/JdkHttpClientPluginController.java
  agent-testweb/jdk-httpclient-plugin-testweb/src/main/java/com/pinpoint/test/plugin/JdkHttpClientPluginTestStarter.java
  agent-testweb/jdk-httpclient-plugin-testweb/src/main/resources/application.yml
  agent-testweb/pom.xml
  agent/src/main/resources/profiles/local/pinpoint.config
  agent/src/main/resources/profiles/release/pinpoint.config
  commons/src/main/java/com/navercorp/pinpoint/common/trace/ServiceType.java
  plugins/assembly/pom.xml
  plugins/jdk-completable-future/src/main/java/com/navercorp/pinpoint/plugin/jdk/completable/JdkCompletableFuturePlugin.java
  plugins/jdk-httpclient/README.md
  plugins/jdk-httpclient/pom.xml
  plugins/jdk-httpclient/src/main/java/com/navercorp/pinpoint/plugin/jdk/httpclient/HttpRequestImplClientHeaderAdaptor.java
  plugins/jdk-httpclient/src/main/java/com/navercorp/pinpoint/plugin/jdk/httpclient/HttpRequestImplClientRequestAdaptor.java
  plugins/jdk-httpclient/src/main/java/com/navercorp/pinpoint/plugin/jdk/httpclient/HttpRequestImplGetter.java
  plugins/jdk-httpclient/src/main/java/com/navercorp/pinpoint/plugin/jdk/httpclient/JdkHttpClientConstants.java
  plugins/jdk-httpclient/src/main/java/com/navercorp/pinpoint/plugin/jdk/httpclient/JdkHttpClientCookieExtractor.java
  plugins/jdk-httpclient/src/main/java/com/navercorp/pinpoint/plugin/jdk/httpclient/JdkHttpClientEntityExtractor.java
  plugins/jdk-httpclient/src/main/java/com/navercorp/pinpoint/plugin/jdk/httpclient/JdkHttpClientPlugin.java
  plugins/jdk-httpclient/src/main/java/com/navercorp/pinpoint/plugin/jdk/httpclient/JdkHttpClientPluginConfig.java
  plugins/jdk-httpclient/src/main/java/com/navercorp/pinpoint/plugin/jdk/httpclient/ResponseCodeGetter.java
  plugins/jdk-httpclient/src/main/java/com/navercorp/pinpoint/plugin/jdk/httpclient/interceptor/HttpClientInterceptor.java
  plugins/jdk-httpclient/src/main/java/com/navercorp/pinpoint/plugin/jdk/httpclient/interceptor/HttpResponseImplInterceptor.java
  plugins/jdk-httpclient/src/main/java/com/navercorp/pinpoint/plugin/jdk/httpclient/interceptor/MultiExchangeResponseAsyncImplInterceptor.java
  plugins/jdk-httpclient/src/main/java/com/navercorp/pinpoint/plugin/jdk/httpclient/interceptor/MultiExchangeResponseAsyncInterceptor.java
  plugins/jdk-httpclient/src/main/resources/META-INF/pinpoint/type-provider.yml
  plugins/jdk-httpclient/src/main/resources/META-INF/services/com.navercorp.pinpoint.bootstrap.plugin.ProfilerPlugin
  plugins/pom.xml
Labels: enhancement, module:plugin

#10652 [#10651] Changed transform api for plugin
  bootstraps/bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/instrument/transformer/TransformCallbackParameter.java
  bootstraps/bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/instrument/transformer/TransformCallbackParameters.java
  bootstraps/bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/instrument/transformer/TransformCallbackParametersBuilder.java
  bootstraps/bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/instrument/transformer/TransformOperations.java
  bootstraps/bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/instrument/transformer/TransformTemplate.java
  bootstraps/bootstrap-core/src/test/java/com/navercorp/pinpoint/bootstrap/instrument/transformer/TransformCallbackParameterTest.java
  plugins/redis-lettuce/src/main/java/com/navercorp/pinpoint/plugin/redis/lettuce/LettucePlugin.java
  plugins/rxjava/src/main/java/com/navercorp/pinpoint/plugin/rxjava/RxJavaPlugin.java
  plugins/spring-webflux/src/main/java/com/navercorp/pinpoint/plugin/spring/webflux/SpringWebFluxPlugin.java
  plugins/spring/src/main/java/com/navercorp/pinpoint/plugin/spring/web/SpringWebMvcPlugin.java
  plugins/thrift/src/main/java/com/navercorp/pinpoint/plugin/thrift/ThriftPlugin.java
  plugins/user/src/main/java/com/navercorp/pinpoint/plugin/user/UserPlugin.java
  plugins/vertx/src/main/java/com/navercorp/pinpoint/plugin/vertx/VertxPlugin.java
Labels: module:agent

#10648 [#10549] Refactor mapping AsyncSpanChunk to PSpanChunk
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/grpc/GrpcSpanMessageConverter.java
  profiler/src/main/java/com/navercorp/pinpoint/profiler/context/grpc/mapper/SpanMessageMapper.java
  profiler/src/test/java/com/navercorp/pinpoint/profiler/context/grpc/GrpcSpanMessageConverterTest.java
Labels: module:agent

#10671 [#10670] Bump json-path from 2.8.0 to 2.9.0
  pom.xml
Labels: dependencies

#10675 [#10674] Bump spring framework from 6.0.13 to 6.0.16
  pom.xml
Labels: dependencies

#10673 [#10672] Bump spring-boot from 3.1.5 to 3.1.8
  pom.xml
Labels: dependencies

#10677 [#noissue] Fix kotlin-coroutines-it assertMethod
  plugins-it/kotlin-coroutines-it/src/test/java/com/navercorp/pinpoint/it/plugin/kotlinx/coroutines/CoroutinesIT.java
  plugins-it/kotlin-coroutines-it/src/test/java/com/navercorp/pinpoint/it/plugin/kotlinx/coroutines/Coroutines_1_6_IT.java
Labels: Continuous Integration

#10678 [#noissue] Changed default behavior for collector-starter into 'run'
  metric-module/collector-starter/src/main/java/com/navercorp/pinpoint/collector/starter/multi/application/type/ShellCollectorTypeParser.java
Labels: module:collector

#10669 [#10666] add span sampler for collector
  collector/src/main/java/com/navercorp/pinpoint/collector/config/CollectorConfiguration.java
  collector/src/main/java/com/navercorp/pinpoint/collector/config/CollectorProperties.java
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/grpc/GrpcSpanChunkHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/grpc/GrpcSpanHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/sampler/FalseSampler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/sampler/ModSampler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/sampler/PercentRateSampler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/sampler/Sampler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/sampler/SamplerType.java
  collector/src/main/java/com/navercorp/pinpoint/collector/sampler/SimpleSpanSamplerFactory.java
  collector/src/main/java/com/navercorp/pinpoint/collector/sampler/SpanSamplerFactory.java
  collector/src/main/java/com/navercorp/pinpoint/collector/sampler/TrueSampler.java
  collector/src/main/resources/pinpoint-collector-root.properties
  collector/src/test/java/com/navercorp/pinpoint/collector/sampler/SamplerTest.java
  collector/src/test/java/com/navercorp/pinpoint/collector/sampler/SimpleSpanFactoryTest.java
Labels: module:collector

#10681 [#10680] Move starter modules outside from metric module
  collector-starter/pom.xml
  collector-starter/src/main/java/com/navercorp/pinpoint/collector/starter/multi/application/BasicCollectorApp.java
  collector-starter/src/main/java/com/navercorp/pinpoint/collector/starter/multi/application/PinpointCollectorStarter.java
  collector-starter/src/main/java/com/navercorp/pinpoint/collector/starter/multi/application/type/CollectorType.java
  collector-starter/src/main/java/com/navercorp/pinpoint/collector/starter/multi/application/type/CollectorTypeParser.java
  collector-starter/src/main/java/com/navercorp/pinpoint/collector/starter/multi/application/type/CollectorTypeSet.java
  collector-starter/src/main/java/com/navercorp/pinpoint/collector/starter/multi/application/type/FallbackCollectorTypeParser.java
  collector-starter/src/main/java/com/navercorp/pinpoint/collector/starter/multi/application/type/ShellBlockerConfig.java
  collector-starter/src/main/java/com/navercorp/pinpoint/collector/starter/multi/application/type/ShellCollectorTypeParser.java
  collector-starter/src/main/java/com/navercorp/pinpoint/collector/starter/multi/application/type/SimpleCollectorTypeParser.java
  collector-starter/src/main/resources/.gitignore
  collector-starter/src/main/resources/application.yml
  collector-starter/src/main/resources/profiles/local/hbase.properties
  collector-starter/src/main/resources/profiles/local/jdbc.properties
  collector-starter/src/main/resources/profiles/local/pinpoint-collector-grpc.properties
  collector-starter/src/main/resources/profiles/local/pinpoint-collector.properties
  collector-starter/src/main/resources/profiles/release/hbase.properties
  collector-starter/src/main/resources/profiles/release/jdbc.properties
  collector-starter/src/main/resources/profiles/release/pinpoint-collector-grpc.properties
  collector-starter/src/main/resources/profiles/release/pinpoint-collector.properties
  collector-starter/src/test/java/com/navercorp/pinpoint/collector/starter/multi/application/type/SimpleCollectorTypeParserTest.java
  metric-module/pom.xml
  pom.xml
  web-starter/pom.xml
  web-starter/src/main/java/com/navercorp/pinpoint/web/starter/multi/PinpointWebStarter.java
  web-starter/src/main/resources/.gitignore
  web-starter/src/main/resources/application.yml
Labels: module:collector, module:web

#10665 [#9631] Fix encoding of `errorMessage_logtype`
  exceptiontrace/exceptiontrace-web/src/main/java/com/navercorp/pinpoint/exceptiontrace/web/mapper/CLPMapper.java
  exceptiontrace/exceptiontrace-web/src/main/java/com/navercorp/pinpoint/exceptiontrace/web/mapper/ExceptionMetaDataEntityMapper.java
  exceptiontrace/exceptiontrace-web/src/test/java/com/navercorp/pinpoint/exceptiontrace/web/mapper/CLPMapperTest.java
  exceptiontrace/exceptiontrace-web/src/test/java/com/navercorp/pinpoint/exceptiontrace/web/mapper/ExceptionMetaDataEntityMapperTest.java
Labels: module:web

#10682 [#9631] Change /errors groupBy criteria
  exceptiontrace/exceptiontrace-web/src/main/java/com/navercorp/pinpoint/exceptiontrace/web/controller/ExceptionTraceController.java
  exceptiontrace/exceptiontrace-web/src/main/java/com/navercorp/pinpoint/exceptiontrace/web/util/GroupByAttributes.java
Labels: module:web

#10684 [#9631] Limit length of displayed GroupedFieldName
  exceptiontrace/exceptiontrace-web/src/main/java/com/navercorp/pinpoint/exceptiontrace/web/model/GroupedFieldName.java
Labels: module:web

#10685 [#9597] add datasource api for application stat
  inspector-module/inspector-web/src/main/java/com/navercorp/pinpoint/inspector/web/controller/ApplicationStatV2Controller.java
  inspector-module/inspector-web/src/main/java/com/navercorp/pinpoint/inspector/web/dao/ApplicationStatDao.java
  inspector-module/inspector-web/src/main/java/com/navercorp/pinpoint/inspector/web/dao/pinot/PinotApplicationStatDao.java
  inspector-module/inspector-web/src/main/java/com/navercorp/pinpoint/inspector/web/definition/metric/UsingDataSourceTagForAgentPreProcessor.java
  inspector-module/inspector-web/src/main/java/com/navercorp/pinpoint/inspector/web/definition/metric/UsingDataSourceTagForApplicationPreProcessor.java
  inspector-module/inspector-web/src/main/java/com/navercorp/pinpoint/inspector/web/model/TagInformation.java
  inspector-module/inspector-web/src/main/java/com/navercorp/pinpoint/inspector/web/service/ApplicationStatService.java
  inspector-module/inspector-web/src/main/java/com/navercorp/pinpoint/inspector/web/service/DefaultApplicationStatService.java
  inspector-module/inspector-web/src/main/resources/inspector/web/inspector-definition-for-agent.yml
  inspector-module/inspector-web/src/main/resources/inspector/web/inspector-definition-for-application.yml
  inspector-module/inspector-web/src/main/resources/inspector/web/mapper/pinot/agentInspectorMapper.xml
  inspector-module/inspector-web/src/main/resources/inspector/web/mapper/pinot/applicationInspectorMapper.xml
Labels: module:web

#10686 [#9597] Insert the applicationName and tenantId values into the pinot's inspector data.
  collector/src/main/java/com/navercorp/pinpoint/collector/mapper/grpc/stat/GrpcAgentStatBatchMapper.java
  collector/src/main/java/com/navercorp/pinpoint/collector/mapper/grpc/stat/GrpcAgentStatMapper.java
  collector/src/test/java/com/navercorp/pinpoint/collector/mapper/flink/TFAgentStatBatchMapperTest.java
  collector/src/test/java/com/navercorp/pinpoint/collector/mapper/flink/TFAgentStatMapperTest.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/stat/ActiveTraceBo.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/stat/AgentStatBo.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/stat/AgentStatDataPoint.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/stat/CpuLoadBo.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/stat/DataSourceBo.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/stat/DataSourceListBo.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/stat/DeadlockThreadCountBo.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/stat/DirectBufferBo.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/stat/FileDescriptorBo.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/stat/JvmGcBo.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/stat/JvmGcDetailedBo.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/stat/LoadedClassBo.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/stat/ResponseTimeBo.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/stat/TotalThreadCountBo.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/stat/TransactionBo.java
  commons-server/src/test/java/com/navercorp/pinpoint/common/server/bo/codec/stat/AgentStatEncoderTest.java
  inspector-module/inspector-collector/pom.xml
  inspector-module/inspector-collector/src/main/java/com/navercorp/pinpoint/inspector/collector/dao/pinot/DefaultAgentStatDao.java
  inspector-module/inspector-collector/src/main/java/com/navercorp/pinpoint/inspector/collector/dao/pinot/PinotDaoConfiguration.java
  inspector-module/inspector-collector/src/main/java/com/navercorp/pinpoint/inspector/collector/model/kafka/AgentStatModelConverter.java
  web/src/test/java/com/navercorp/pinpoint/web/mapper/stat/AgentStatMapperV2Test.java
  web/src/test/java/com/navercorp/pinpoint/web/mapper/stat/SampledAgentStatResultExtractorTest.java
Labels: module:collector

#10687 [#noissue] Cleanup
  batch/src/main/java/com/navercorp/pinpoint/batch/alarm/AlarmPartitioner.java
  batch/src/main/java/com/navercorp/pinpoint/batch/alarm/AlarmProcessor.java
  batch/src/main/java/com/navercorp/pinpoint/batch/alarm/AlarmWriter.java
  batch/src/main/java/com/navercorp/pinpoint/batch/alarm/DataCollectorFactory.java
  batch/src/main/java/com/navercorp/pinpoint/batch/alarm/vo/AppAlarmChecker.java
  batch/src/test/java/com/navercorp/pinpoint/batch/alarm/AlarmProcessorTest.java
  web/src/main/java/com/navercorp/pinpoint/web/alarm/DataCollectorCategory.java
  web/src/main/java/com/navercorp/pinpoint/web/service/AlarmServiceImpl.java
Labels: module:batch

#10645 [#10643] Change behavior of disable option
  agent/src/main/resources/pinpoint-root.config
  agent/src/main/resources/profiles/local/pinpoint.config
  agent/src/main/resources/profiles/release/pinpoint.config
  bootstraps/bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/config/DefaultProfilerConfig.java
  bootstraps/bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/config/ProfilerConfig.java
  bootstraps/bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/config/Profiles.java
  bootstraps/bootstrap/src/main/java/com/navercorp/pinpoint/bootstrap/PinpointBootStrap.java
  bootstraps/bootstrap/src/main/java/com/navercorp/pinpoint/bootstrap/PinpointStarter.java
  plugins-it/activemq-it/activemq-5-15-it/src/test/resources/activemq/client/pinpoint-activemq-client.config
  plugins-it/activemq-it/activemq-5-17-it/src/test/resources/activemq/client/pinpoint-activemq-client.config
  plugins-it/clickhouse-jdbc-it/src/test/resources/pinpoint-clickhouse.config
  plugins-it/cxf-it/cxf-3-0-it/src/test/resources/cxf/pinpoint-cxf-test.config
  plugins-it/cxf-it/cxf-3-6-it/src/test/resources/cxf/pinpoint-cxf-test.config
  plugins-it/druid-it/src/test/resources/druid/pinpoint-druid-test.config
  plugins-it/fastjson-it/src/test/resources/fastjson/pinpoint-fastjson-test.config
  plugins-it/google-grpc-it/google-grpc-1-42-it/src/test/resources/pinpoint-grpc-plugin-test.config
  plugins-it/google-grpc-it/google-grpc-1-8-it/src/test/resources/pinpoint-grpc-plugin-test.config
  plugins-it/hbase-it/src/test/resources/hbase/pinpoint-hbase-test.config
  plugins-it/hystrix-it/src/test/resources/hystrix/pinpoint-hystrix.config
  plugins-it/informix-jdbc-it/src/test/resources/pinpoint-informix.config
  plugins-it/jtds-it/src/test/resources/pinpoint.config
  plugins-it/lambda-it/src/test/resources/pinpoint-lambda-test.config
  plugins-it/log4j-it/src/test/resources/pinpoint-spring-bean-test.config
  plugins-it/log4j2-it/src/test/resources/pinpoint-spring-bean-test.config
  plugins-it/logback-it/src/test/resources/pinpoint-spring-bean-test.config
  plugins-it/mssql-jdbc-it/src/test/resources/pinpoint-mssql.config
  plugins-it/netty-it/src/test/resources/pinpoint-netty-plugin-test.config
  plugins-it/postgresql-jdbc-it/src/test/resources/pinpoint-postgresql.config
  plugins-it/process-it/src/test/resources/pinpoint-process-test.config
  plugins-it/rabbitmq-it/src/test/resources/rabbitmq/client/pinpoint-rabbitmq.config
  plugins-it/rxjava-it/src/test/resources/rxjava/pinpoint-rxjava.config
  plugins-it/spring-data-r2dbc-it/src/test/resources/pinpoint-postgresql.config
  plugins/akka-http/src/test/resources/pinpoint.config
  plugins/google-httpclient/src/test/resources/pinpoint.config
  plugins/httpclient3/src/test/resources/pinpoint.config
  plugins/httpclient4/src/test/resources/pinpoint.config
  plugins/jboss/src/test/resources/pinpoint.config
  plugins/jsp/src/test/resources/pinpoint.config
  plugins/redis/src/test/resources/pinpoint.config
  plugins/tomcat/src/test/resources/pinpoint.config
  plugins/user/src/test/resources/pinpoint.config
  plugins/weblogic/src/test/resources/pinpoint.config
  profiler/src/test/resources/pinpoint.config
Labels: module:agent, configuration

#10690 [#9597] Enable alias operation for field name. Max data of nonHeap is also returned.
  inspector-module/inspector-web/src/main/java/com/navercorp/pinpoint/inspector/web/service/DefaultAgentStatService.java
  inspector-module/inspector-web/src/main/java/com/navercorp/pinpoint/inspector/web/service/DefaultApplicationStatService.java
  inspector-module/inspector-web/src/main/resources/inspector/web/inspector-definition-for-agent.yml
  inspector-module/inspector-web/src/main/resources/inspector/web/inspector-definition-for-application.yml
Labels: module:web

#10694 [#9597] improve inspector module
  collector-starter/src/main/java/com/navercorp/pinpoint/collector/starter/multi/application/PinpointCollectorStarter.java
  collector-starter/src/main/resources/application.yml
  inspector-module/inspector-collector/src/main/java/com/navercorp/pinpoint/inspector/collector/InspectorCollectorConfig.java
  inspector-module/inspector-collector/src/main/java/com/navercorp/pinpoint/inspector/collector/config/InspectorPropertySources.java
  inspector-module/inspector-collector/src/main/pinot/pinot-inspector-stat-offline-table.json
  inspector-module/inspector-collector/src/main/pinot/pinot-inspector-stat-realtime-table.json
  inspector-module/inspector-collector/src/main/resources/inspector/collector/kafka-topic-inspector.properties
  inspector-module/inspector-web/src/main/java/com/navercorp/pinpoint/inspector/web/InspectorWebConfig.java
  inspector-module/inspector-web/src/main/java/com/navercorp/pinpoint/inspector/web/definition/metric/AvgUsingIntervalForTotalCountPostProcessor.java
  inspector-module/inspector-web/src/main/java/com/navercorp/pinpoint/inspector/web/definition/metric/AvgUsingIntervalPostProcessor.java
  inspector-module/inspector-web/src/main/resources/inspector/web/inspector-definition-for-agent.yml
  inspector-module/inspector-web/src/main/resources/inspector/web/inspector-definition-for-application.yml
  web-starter/src/main/java/com/navercorp/pinpoint/web/starter/multi/PinpointWebStarter.java
  web-starter/src/main/resources/application.yml
Labels: module:collector, module:web

#10698 [#4456] Typo correction
  collector-starter/src/main/resources/application.yml
  web-starter/src/main/resources/application.yml
Labels: module:collector, module:web

#10699 [#4456] Insert ID into tag in datasource data.
  inspector-module/inspector-collector/src/main/java/com/navercorp/pinpoint/inspector/collector/model/kafka/AgentStatModelConverter.java
Labels: module:collector

#10702 [#4456] add apdex api for inspector page
  inspector-module/inspector-web/src/main/java/com/navercorp/pinpoint/inspector/web/controller/AgentStatV2Controller.java
  inspector-module/inspector-web/src/main/java/com/navercorp/pinpoint/inspector/web/service/ApdexStatService.java
  inspector-module/inspector-web/src/main/java/com/navercorp/pinpoint/inspector/web/service/DefaultApdexStatService.java
  inspector-module/inspector-web/src/main/resources/inspector/web/inspector-definition-for-agent.yml
Labels: module:web

#10703 [#4456] add apdex api for application inspector page
  inspector-module/inspector-web/src/main/java/com/navercorp/pinpoint/inspector/web/controller/ApplicationStatV2Controller.java
  inspector-module/inspector-web/src/main/java/com/navercorp/pinpoint/inspector/web/service/ApdexStatService.java
  inspector-module/inspector-web/src/main/java/com/navercorp/pinpoint/inspector/web/service/DefaultApdexStatService.java
  inspector-module/inspector-web/src/main/resources/inspector/web/inspector-definition-for-application.yml
Labels: module:web

#10705 [#10704] Add a setting to control whether to activate the inspector function that stores data in hbase.
  collector-starter/src/main/resources/application.yml
  collector/src/main/java/com/navercorp/pinpoint/collector/service/HBaseAgentStatService.java
  collector/src/main/java/com/navercorp/pinpoint/collector/service/SendAgentStatService.java
Labels: module:collector

#10709 [#noissue] Cleanup
  batch/src/main/java/com/navercorp/pinpoint/batch/alarm/DataCollectorFactory.java
Labels: cleanup

#10714 [#10708] Add spring cloud sleuth
  agent/src/main/resources/profiles/local/pinpoint.config
  agent/src/main/resources/profiles/release/pinpoint.config
  commons/src/main/java/com/navercorp/pinpoint/common/trace/ServiceType.java
  plugins/assembly/pom.xml
  plugins/pom.xml
  plugins/spring-cloud-sleuth/README.md
  plugins/spring-cloud-sleuth/pom.xml
  plugins/spring-cloud-sleuth/src/main/java/com/navercorp/pinpoint/plugin/spring/cloud/sleuth/SpringCloudSleuthConstants.java
  plugins/spring-cloud-sleuth/src/main/java/com/navercorp/pinpoint/plugin/spring/cloud/sleuth/SpringCloudSleuthPlugin.java
  plugins/spring-cloud-sleuth/src/main/java/com/navercorp/pinpoint/plugin/spring/cloud/sleuth/SpringCloudSleuthPluginConfig.java
  plugins/spring-cloud-sleuth/src/main/resources/META-INF/pinpoint/type-provider.yml
  plugins/spring-cloud-sleuth/src/main/resources/META-INF/services/com.navercorp.pinpoint.bootstrap.plugin.ProfilerPlugin
Labels: enhancement, module:plugin

#10720 [#9631] Use Clp Encoded errorMessage by default
  exceptiontrace/exceptiontrace-web/src/main/java/com/navercorp/pinpoint/exceptiontrace/web/controller/ExceptionTraceController.java
  exceptiontrace/exceptiontrace-web/src/main/java/com/navercorp/pinpoint/exceptiontrace/web/util/ExceptionTraceQueryParameter.java
  exceptiontrace/exceptiontrace-web/src/main/java/com/navercorp/pinpoint/exceptiontrace/web/util/GroupByAttributes.java
  exceptiontrace/exceptiontrace-web/src/main/resources/exceptiontrace/mapper/ExceptionTraceMapper.xml
Labels: module:web

#10721 [#9631] Replace internal terms with intuitive words
  exceptiontrace/exceptiontrace-web/src/main/java/com/navercorp/pinpoint/exceptiontrace/web/util/GroupByAttributes.java
  exceptiontrace/exceptiontrace-web/src/main/java/com/navercorp/pinpoint/exceptiontrace/web/util/OrderByAttributes.java
Labels: module:web
