Repository pinpoint-apm/pinpoint, pull requests merged in 2024-06, with the labels that each got.

#11100 [#noissue] Bump Ubuntu in workflow from 20.04 to 22.04
  .github/workflows/create-dockerfiles.yml
  .github/workflows/homepage.yml
  .github/workflows/it-command.yml
  .github/workflows/it-schedule.yml
  .github/workflows/maven-central-deploy.yml
  .github/workflows/maven.yml
  .github/workflows/slash-command-dispatch.yml
Labels: configuration

#11101 [#11107] Bump workflow action from v3 to v4
  .github/workflows/it-command.yml
  .github/workflows/it-schedule.yml
  .github/workflows/maven-central-deploy.yml
  .github/workflows/maven.yml
Labels: configuration

#11103 [#noissue] Fix incorrect test directory
  .github/workflows/it-command.yml
  .github/workflows/it-schedule.yml
Labels: configuration

#11110 [#11050] Extract LinkHistogramSummaryView
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/controller/MapController.java
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/link/LinkHistogramSummary.java
  web/src/main/java/com/navercorp/pinpoint/web/authorization/controller/ResponseTimeController.java
  web/src/main/java/com/navercorp/pinpoint/web/view/LinkHistogramSummarySerializer.java
  web/src/main/java/com/navercorp/pinpoint/web/view/LinkHistogramSummaryView.java
Labels: module:web

#11115 [#11050] Refactor HistogramView
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/ApplicationMapWithScatterDataV3.java
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/nodes/NodeHistogramSummary.java
  web/src/main/java/com/navercorp/pinpoint/web/authorization/controller/ResponseTimeController.java
  web/src/main/java/com/navercorp/pinpoint/web/view/histogram/HistogramView.java
Labels: module:web

#11121 [#noissue] Cleanup SqlCountService
  agent-module/profiler/src/main/java/com/navercorp/pinpoint/profiler/context/DefaultSqlCountService.java
  agent-module/profiler/src/main/java/com/navercorp/pinpoint/profiler/context/DisableSqlCountService.java
  agent-module/profiler/src/main/java/com/navercorp/pinpoint/profiler/context/SqlCountService.java
  agent-module/profiler/src/main/java/com/navercorp/pinpoint/profiler/context/recorder/WrappedSpanEventRecorder.java
  agent-module/profiler/src/test/java/com/navercorp/pinpoint/profiler/context/DefaultSqlCountServiceTest.java
Labels: module:agent, cleanup

#11127 [#11126] modify the pinpoint link in the body of the email alarm.
  batch-alarmsender/src/main/java/com/navercorp/pinpoint/batch/alarm/sender/AlarmMailTemplate.java
  batch-alarmsender/src/test/java/com/navercorp/pinpoint/batch/alarm/sender/AlarmMailTemplateTest.java
Labels: module:batch

#11130 [#11129] Fix `RecentRunningFilter` to include shutdown agents in range
  web/src/main/java/com/navercorp/pinpoint/web/vo/agent/AgentStatusFilters.java
Labels: bug, module:web

#11124 [#11123] Add '/api' explicitly
  exceptiontrace/exceptiontrace-web/src/main/java/com/navercorp/pinpoint/exceptiontrace/web/controller/ExceptionTraceController.java
  inspector-module/inspector-web/src/main/java/com/navercorp/pinpoint/inspector/web/controller/AgentInspectorStatController.java
  inspector-module/inspector-web/src/main/java/com/navercorp/pinpoint/inspector/web/controller/ApplicationInspectorStatController.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/controller/SystemMetricController.java
  uristat/uristat-web/src/main/java/com/navercorp/pinpoint/uristat/web/controller/UriStatController.java
  web/src/main/java/com/navercorp/pinpoint/web/WebServerConfig.java
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/controller/FilteredMapController.java
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/controller/MapController.java
  web/src/main/java/com/navercorp/pinpoint/web/authorization/controller/ActiveThreadDumpController.java
  web/src/main/java/com/navercorp/pinpoint/web/authorization/controller/AdminController.java
  web/src/main/java/com/navercorp/pinpoint/web/authorization/controller/AgentInfoController.java
  web/src/main/java/com/navercorp/pinpoint/web/authorization/controller/AgentListController.java
  web/src/main/java/com/navercorp/pinpoint/web/authorization/controller/AgentStatController.java
  web/src/main/java/com/navercorp/pinpoint/web/authorization/controller/AlarmController.java
  web/src/main/java/com/navercorp/pinpoint/web/authorization/controller/ApplicationDataSourceController.java
  web/src/main/java/com/navercorp/pinpoint/web/authorization/controller/ApplicationStatController.java
  web/src/main/java/com/navercorp/pinpoint/web/authorization/controller/HeatMapController.java
  web/src/main/java/com/navercorp/pinpoint/web/authorization/controller/ResponseTimeController.java
  web/src/main/java/com/navercorp/pinpoint/web/authorization/controller/ScatterChartController.java
  web/src/main/java/com/navercorp/pinpoint/web/authorization/controller/UserController.java
  web/src/main/java/com/navercorp/pinpoint/web/authorization/controller/UserGroupController.java
  web/src/main/java/com/navercorp/pinpoint/web/authorization/controller/WebhookAlarmController.java
  web/src/main/java/com/navercorp/pinpoint/web/controller/AgentStatisticsController.java
  web/src/main/java/com/navercorp/pinpoint/web/controller/ApdexScoreController.java
  web/src/main/java/com/navercorp/pinpoint/web/controller/ApplicationController.java
  web/src/main/java/com/navercorp/pinpoint/web/controller/BusinessTransactionController.java
  web/src/main/java/com/navercorp/pinpoint/web/controller/MainController.java
  web/src/main/java/com/navercorp/pinpoint/web/controller/NonWhiteLabelErrorController.java
  web/src/main/java/com/navercorp/pinpoint/web/frontend/controller/FrontendConfigController.java
  web/src/main/java/com/navercorp/pinpoint/web/install/controller/AgentDownloadController.java
  web/src/main/java/com/navercorp/pinpoint/web/query/controller/QueryController.java
  web/src/main/java/com/navercorp/pinpoint/web/realtime/EchoController.java
  web/src/main/java/com/navercorp/pinpoint/web/servlet/AdditionalServletRegistrationBeanFactory.java
  webhook/src/main/java/com/navercorp/pinpoint/web/webhook/controller/WebhookController.java
  webhook/src/main/java/com/navercorp/pinpoint/web/webhook/controller/WebhookSendInfoController.java
Labels: module:web

#11125 [#11050] Replace StopFlag with CompletableFuture.cancel
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/appender/server/DefaultServerInfoAppender.java
  web/src/test/java/com/navercorp/pinpoint/web/applicationmap/ApplicationMapBuilderTest.java
Labels: module:web

#11138 [#noissue] Remove unused field
  web/src/main/java/com/navercorp/pinpoint/web/vo/callstacks/RecordSet.java
Labels: cleanup

#11137 [#11050] Fix potential NPE
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/appender/server/DefaultServerInfoAppender.java
Labels: cleanup

#11139 [#11123] Add '/api' explicitly
  web/src/main/java/com/navercorp/pinpoint/web/websocket/ActiveThreadCountHandler.java
Labels: module:web

#11118 [#11050] Refactor NodeHistogram
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/controller/MapController.java
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/histogram/ApplicationTimeHistogram.java
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/nodes/NodeHistogramSummary.java
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/view/NodeHistogramSummaryView.java
  web/src/main/java/com/navercorp/pinpoint/web/authorization/controller/ResponseTimeController.java
  web/src/main/java/com/navercorp/pinpoint/web/view/NodeHistogramSummarySerializer.java
  web/src/main/java/com/navercorp/pinpoint/web/view/histogram/HistogramView.java
  web/src/main/java/com/navercorp/pinpoint/web/view/histogram/ServerHistogramView.java
Labels: module:web

#11140 [#noissue] Adjust agent data collection interval to 10 seconds
  agent-module/agent/src/main/resources/pinpoint-root.config
  agent-module/agent/src/main/resources/profiles/local/pinpoint.config
  agent-module/agent/src/main/resources/profiles/release/pinpoint.config
  agent-module/plugins-it/clickhouse-jdbc-it/src/test/resources/pinpoint-clickhouse.config
  agent-module/plugins-it/cxf-it/cxf-3-0-it/src/test/resources/cxf/pinpoint-cxf-test.config
  agent-module/plugins-it/cxf-it/cxf-3-6-it/src/test/resources/cxf/pinpoint-cxf-test.config
  agent-module/plugins-it/druid-it/src/test/resources/druid/pinpoint-druid-test.config
  agent-module/plugins-it/fastjson-it/src/test/resources/fastjson/pinpoint-fastjson-test.config
  agent-module/plugins-it/hbase-it/src/test/resources/hbase/pinpoint-hbase-test.config
  agent-module/plugins-it/hystrix-it/src/test/resources/hystrix/pinpoint-hystrix.config
  agent-module/plugins-it/informix-jdbc-it/src/test/resources/pinpoint-informix.config
  agent-module/plugins-it/jtds-it/src/test/resources/pinpoint.config
  agent-module/plugins-it/mssql-jdbc-it/src/test/resources/pinpoint-mssql.config
  agent-module/plugins-it/postgresql-jdbc-it/src/test/resources/pinpoint-postgresql.config
  agent-module/plugins-it/rabbitmq-it/src/test/resources/rabbitmq/client/pinpoint-rabbitmq.config
  agent-module/plugins-it/rxjava-it/src/test/resources/rxjava/pinpoint-rxjava.config
  agent-module/plugins-it/spring-data-r2dbc-it/src/test/resources/pinpoint-postgresql.config
  agent-module/plugins/akka-http/src/test/resources/pinpoint.config
Labels: module:agent, configuration

#11141 [#noissue] Cleanup ResponseTimeHistogramService
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/appender/server/StatisticsServerGroupListFactory.java
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/service/ResponseTimeHistogramServiceImpl.java
Labels: cleanup

#11143 [#11050] Remove duplicate code in TimeHistogramFormat
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/controller/FilteredMapController.java
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/controller/MapController.java
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/histogram/TimeHistogramFormat.java
  web/src/main/java/com/navercorp/pinpoint/web/controller/BusinessTransactionController.java
Labels: cleanup

#11148 [#noissue] Add special path for public api
  web/src/main/java/com/navercorp/pinpoint/web/servlet/VersionPrefixRewriter.java
Labels: module:web

#11152 [#noissue] Remove rowkey copy of Put
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/HbaseAgentInfoDao.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/HbaseApiMetaDataDao.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/HbaseApplicationIndexDao.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/HbaseApplicationTraceIndexDao.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/HbaseSqlMetaDataDao.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/HbaseSqlUidMetaDataDao.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/HbaseStringMetaDataDao.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/HbaseTraceDaoV2.java
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/HbaseTemplate.java
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/util/Puts.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/serializer/stat/AgentStatHbaseOperationFactory.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/serializer/stat/ApplicationStatHbaseOperationFactory.java
Labels: module:collector, cleanup

#11151 [#11150] Add WAL durability setting to collector
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/HbaseTraceDaoV2.java
  collector/src/main/java/com/navercorp/pinpoint/collector/util/DurabilityApplier.java
  collector/src/main/resources/hbase-root.properties
  collector/src/test/java/com/navercorp/pinpoint/collector/util/DurabilityApplierTest.java
Labels: enhancement, module:collector

#11154 [#11153] Fix interceptor holder lazyloading
  agent-module/profiler/src/main/java/com/navercorp/pinpoint/profiler/instrument/interceptor/InterceptorLazyLoadingSupplier.java
Labels: bug, module:agent

#11156 [#11155] Fix MongoDB FindPublisherImpl method interceptor
  agent-module/plugins/mongodb/src/main/java/com/navercorp/pinpoint/plugin/mongo/MongoPlugin.java
Labels: bug, module:plugin

#11157 [#noissue] Enhanced exception handling
  grpc/src/main/java/com/navercorp/pinpoint/grpc/StatusErrors.java
  grpc/src/test/java/com/navercorp/pinpoint/grpc/StatusErrorsTest.java
Labels: cleanup

#11159 [#11158] Change gRPC hedging to default retransmission policy
  agent-module/agent/src/main/resources/pinpoint-root.config
  agent-module/profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/grpc/MetadataGrpcDataSenderProvider.java
  agent-module/profiler/src/main/java/com/navercorp/pinpoint/profiler/sender/grpc/LogResponseStreamObserver.java
  agent-module/profiler/src/main/java/com/navercorp/pinpoint/profiler/sender/grpc/MetadataGrpcDataSender.java
  agent-module/profiler/src/main/java/com/navercorp/pinpoint/profiler/sender/grpc/MetadataGrpcHedgingDataSender.java
Labels: module:agent, configuration

#11176 [#11170] Align `exceptionTrace` tableName with manual
  exceptiontrace/exceptiontrace-common/src/main/pinot/pinot-exceptionTrace-offline-table.json
  exceptiontrace/exceptiontrace-common/src/main/pinot/pinot-exceptionTrace-realtime-table.json
  exceptiontrace/exceptiontrace-common/src/main/pinot/pinot-exceptionTrace-schema.json
Labels: configuration

#11178 [#11168] Update qualifier of redis connection factory
  redis/src/main/java/com/navercorp/pinpoint/redis/RedisBasicConfig.java
Labels: enhancement

#11163 [#11158] Add Testcase
  agent-module/profiler/pom.xml
  agent-module/profiler/src/test/java/com/navercorp/pinpoint/profiler/sender/grpc/MetadataGrpcDataSenderTest.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/client/retry/HedgingServiceConfigBuilder.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/client/retry/ServiceConfigBuilder.java
Labels: enhancement, module:agent

#11184 [#10776] Clean up duplicate code
  otlpmetric/otlpmetric-collector/src/main/java/com/navercorp/pinpoint/otlp/collector/mapper/OtlpMetricMapper.java
  otlpmetric/otlpmetric-collector/src/main/java/com/navercorp/pinpoint/otlp/collector/model/OtlpResourceAttributes.java
  otlpmetric/otlpmetric-collector/src/main/java/com/navercorp/pinpoint/otlp/collector/service/PinotOtlpMetricCollectorService.java
Labels: module:otlpmetric

#11193 [#11192] Bump dropwizard-metrics from 3.2.6 to 4.2.26
  collector/pom.xml
  collector/src/main/java/com/navercorp/pinpoint/collector/monitor/CollectorMetric.java
  pom.xml
Labels: dependencies

#11194 [#noissue] Cleanup Executor.shutdown
  agent-module/plugins-it/google-grpc-it/google-grpc-1-8-it/src/test/java/com/navercorp/pinpoint/it/plugin/grpc/HelloWorldSimpleClient.java
  batch/src/main/java/com/navercorp/pinpoint/batch/common/StartupJobLauncher.java
  collector/src/test/java/com/navercorp/pinpoint/collector/monitor/LoggingRejectedExecutionHandlerTest.java
  collector/src/test/java/com/navercorp/pinpoint/collector/monitor/MonitoredThreadPoolExecutorTest.java
  collector/src/test/java/com/navercorp/pinpoint/collector/util/AtomicLongMapTest.java
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/HbaseTemplate.java
  realtime/realtime-collector/src/test/java/com/navercorp/pinpoint/realtime/collector/sink/SinkRepositoryTest.java
  web/src/main/java/com/navercorp/pinpoint/web/util/SimpleOrderedThreadPool.java
  web/src/test/java/com/navercorp/pinpoint/web/applicationmap/ApplicationMapBuilderTest.java
  web/src/test/java/com/navercorp/pinpoint/web/applicationmap/appender/histogram/NodeHistogramAppenderTest.java
  web/src/test/java/com/navercorp/pinpoint/web/applicationmap/appender/server/ServerInfoAppenderTest.java
  web/src/test/java/com/navercorp/pinpoint/web/applicationmap/map/LinkSelectorTestBase.java
  web/src/test/java/com/navercorp/pinpoint/web/applicationmap/map/LinkVisitCheckerTest.java
  web/src/test/java/com/navercorp/pinpoint/web/applicationmap/service/FilteredMapServiceImplTest.java
  web/src/test/java/com/navercorp/pinpoint/web/util/SimpleOrderedThreadPoolTest.java
Labels: cleanup
