Repository pinpoint-apm/pinpoint, pull requests merged in 2025-02, with the labels that each got.

#12010 [#11997] Add test code
  batch/src/main/java/com/navercorp/pinpoint/batch/alarm/collector/pinot/DataSourceDataCollector.java
  batch/src/main/java/com/navercorp/pinpoint/batch/alarm/collector/pinot/HeapDataCollector.java
  batch/src/test/java/com/navercorp/pinpoint/batch/alarm/collector/pinot/DataSourceDataCollectorTest.java
  batch/src/test/java/com/navercorp/pinpoint/batch/alarm/collector/pinot/HeapDataCollectorTest.java
  batch/src/test/java/com/navercorp/pinpoint/batch/alarm/collector/pinot/JvmCpuDataCollectorTest.java
  batch/src/test/java/com/navercorp/pinpoint/batch/alarm/collector/pinot/SystemCpuDataCollectorTest.java
Labels: enhancement, module:flink

#11513 [#11512] Bump pinot jdbc client to 1.2.0
  inspector-module/inspector-collector/src/test/java/com/navercorp/pinpoint/inspector/collector/dao/pinot/DefaultAgentStatDaoTest.java
  pinot/pinot-datasource/pom.xml
  pom.xml
Labels: dependencies

#12020 [#12019] Add logic to prevent error when metadata is missing.
  otlpmetric/otlpmetric-web/src/main/java/com/navercorp/pinpoint/otlp/web/service/OtlpMetricWebServiceImpl.java
  otlpmetric/otlpmetric-web/src/main/java/com/navercorp/pinpoint/otlp/web/view/MetricDataView.java
  otlpmetric/otlpmetric-web/src/main/java/com/navercorp/pinpoint/otlp/web/vo/MetricData.java
Labels: module:otlpmetric

#12022 [#12021] Hide sensitive information such as cookie data
  web/src/main/java/com/navercorp/pinpoint/web/view/error/PinpointErrorAttributes.java
  web/src/main/java/com/navercorp/pinpoint/web/view/error/PinpointErrorData.java
Labels: security, module:web

#12029 [#noissue] Remove HeaderEntity for Thrift
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/AgentService.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/DefaultServerRequestFactory.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/MetadataService.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/SpanService.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/StatService.java
  collector/src/main/java/com/navercorp/pinpoint/io/header/HeaderEntity.java
  collector/src/main/java/com/navercorp/pinpoint/io/request/DefaultMessage.java
  collector/src/main/java/com/navercorp/pinpoint/io/request/DefaultServerRequest.java
  collector/src/main/java/com/navercorp/pinpoint/io/request/EmptyMessage.java
  collector/src/main/java/com/navercorp/pinpoint/io/request/Message.java
  collector/src/main/java/com/navercorp/pinpoint/io/request/ServerRequest.java
Labels: cleanup

#12030 [#noissue] Remove Header for Thrift
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/grpc/GrpcAgentEventHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/grpc/GrpcAgentInfoHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/grpc/GrpcAgentStatHandlerV2.java
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/grpc/GrpcApiMetaDataHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/grpc/GrpcExceptionMetaDataHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/grpc/GrpcMetricHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/grpc/GrpcSpanChunkHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/grpc/GrpcSpanHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/grpc/GrpcSqlMetaDataHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/grpc/GrpcSqlUidMetaDataHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/grpc/GrpcStringMetaDataHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/grpc/metric/AgentMetricBatchHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/grpc/metric/AgentMetricHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/grpc/metric/AgentUriMetricHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/mapper/grpc/stat/GrpcAgentStatMapper.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/AgentService.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/DefaultServerRequestFactory.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/MetadataService.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/ServerRequestFactory.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/SimpleRequestHandlerAdaptor.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/SpanService.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/StatService.java
  collector/src/main/java/com/navercorp/pinpoint/io/request/DefaultMessage.java
  collector/src/main/java/com/navercorp/pinpoint/io/request/DefaultServerRequest.java
  collector/src/main/java/com/navercorp/pinpoint/io/request/EmptyMessage.java
  collector/src/main/java/com/navercorp/pinpoint/io/request/Message.java
  collector/src/main/java/com/navercorp/pinpoint/io/request/ServerRequest.java
  collector/src/test/java/com/navercorp/pinpoint/collector/handler/grpc/GrpcApiMetaDataHandlerTest.java
Labels: cleanup

#12031 [#NOISSUE] Clean up dependencies in batch module
  batch/pom.xml
Labels: module:batch

#12036 [#noissue] Move dataSender to MetaDataService
  agent-module/profiler/src/main/java/com/navercorp/pinpoint/profiler/context/provider/metadata/SqlMetadataServiceProvider.java
  agent-module/profiler/src/main/java/com/navercorp/pinpoint/profiler/metadata/DefaultSqlMetaDataService.java
  agent-module/profiler/src/main/java/com/navercorp/pinpoint/profiler/metadata/SqlCacheService.java
  agent-module/profiler/src/main/java/com/navercorp/pinpoint/profiler/metadata/SqlUidMetaDataService.java
  agent-module/profiler/src/test/java/com/navercorp/pinpoint/profiler/cache/UidCacheTest.java
  agent-module/profiler/src/test/java/com/navercorp/pinpoint/profiler/metadata/SqlCacheServiceTest.java
  agent-module/profiler/src/test/java/com/navercorp/pinpoint/profiler/metadata/SqlUidMetaDataServiceTest.java
Labels: module:agent

#12042 [#12040] Allow setting max query period per function in API calls
  exceptiontrace/exceptiontrace-web/src/main/java/com/navercorp/pinpoint/exceptiontrace/web/ExceptionTraceWebConfig.java
  exceptiontrace/exceptiontrace-web/src/main/java/com/navercorp/pinpoint/exceptiontrace/web/ExceptionTraceWebPropertySources.java
  exceptiontrace/exceptiontrace-web/src/main/java/com/navercorp/pinpoint/exceptiontrace/web/config/ExceptionTraceProperties.java
  exceptiontrace/exceptiontrace-web/src/main/java/com/navercorp/pinpoint/exceptiontrace/web/controller/ExceptionTraceController.java
  exceptiontrace/exceptiontrace-web/src/main/resources/pinpoint-web-exceptiontrace-root.properties
  inspector-module/inspector-web/src/main/java/com/navercorp/pinpoint/inspector/web/config/InspectorWebProperties.java
  inspector-module/inspector-web/src/main/java/com/navercorp/pinpoint/inspector/web/controller/AgentInspectorStatController.java
  inspector-module/inspector-web/src/main/java/com/navercorp/pinpoint/inspector/web/controller/ApplicationInspectorStatController.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/MetricWebApp.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/MetricWebConfig.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/WebMetricPropertySources.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/config/SystemMetricProperties.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/controller/SystemMetricController.java
  metric-module/metric/src/main/resources/pinot-web/pinpoint-web-metric-root.properties
  otlpmetric/otlpmetric-web/src/main/java/com/navercorp/pinpoint/otlp/web/OtlpMetricWebConfig.java
  otlpmetric/otlpmetric-web/src/main/java/com/navercorp/pinpoint/otlp/web/config/OtlpMetricProperties.java
  otlpmetric/otlpmetric-web/src/main/java/com/navercorp/pinpoint/otlp/web/config/OtlpMetricPropertySources.java
  otlpmetric/otlpmetric-web/src/main/java/com/navercorp/pinpoint/otlp/web/controller/OpenTelemetryMetricController.java
  otlpmetric/otlpmetric-web/src/main/resources/otlpmetric/web/otlpmetric-web-root.properties
  uristat/uristat-web/src/main/java/com/navercorp/pinpoint/uristat/web/UriStatWebConfig.java
  uristat/uristat-web/src/main/java/com/navercorp/pinpoint/uristat/web/UriStatWebPropertySources.java
  uristat/uristat-web/src/main/java/com/navercorp/pinpoint/uristat/web/config/UriStatProperties.java
  uristat/uristat-web/src/main/java/com/navercorp/pinpoint/uristat/web/controller/UriStatController.java
  uristat/uristat-web/src/main/resources/pinpoint-web-uristat-root.properties
  web/src/main/java/com/navercorp/pinpoint/web/applicationmap/controller/MapController.java
  web/src/main/java/com/navercorp/pinpoint/web/authorization/controller/ResponseTimeController.java
  web/src/main/java/com/navercorp/pinpoint/web/config/ConfigProperties.java
  web/src/main/resources/pinpoint-web-root.properties
Labels: module:web

#12047 [#12046] Update plugin it verifier
  agent-module/profiler-test/src/main/java/com/navercorp/pinpoint/profiler/test/CallSteps.java
  agent-module/profiler-test/src/main/java/com/navercorp/pinpoint/profiler/test/PluginVerifierExternalAdaptor.java
Labels: enhancement, module:plugin, module:agent, module:test

#12049 [#12040] Change key name for easier configuration parsing
  exceptiontrace/exceptiontrace-web/src/main/java/com/navercorp/pinpoint/exceptiontrace/web/frontend/export/ExceptionTracePropertiesExporter.java
  metric-module/metric/src/main/java/com/navercorp/pinpoint/metric/web/frontend/export/SystemMetricPropertiesExporter.java
  otlpmetric/otlpmetric-web/src/main/java/com/navercorp/pinpoint/otlp/web/frontend/export/OtlpMetricPropertiesExporter.java
  uristat/uristat-web/src/main/java/com/navercorp/pinpoint/uristat/web/frontend/export/UriStatPropertiesExporter.java
  web/src/main/java/com/navercorp/pinpoint/web/frontend/export/ConfigPropertiesExporter.java
Labels: module:web

#12051 [#noissue] Refacotor PingSession
  collector/src/main/java/com/navercorp/pinpoint/collector/grpc/lifecycle/DefaultPingEventHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/grpc/lifecycle/PingEventHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/grpc/lifecycle/PingSession.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/AgentService.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/KeepAliveService.java
  collector/src/test/java/com/navercorp/pinpoint/collector/grpc/lifecycle/PingSessionTest.java
Labels: cleanup

#12052 [#noissue] Remove AcceptedTimeService for parallelism
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/MapResponseTimeDao.java
  collector/src/main/java/com/navercorp/pinpoint/collector/dao/hbase/HbaseMapResponseTimeDao.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/KeepAliveService.java
  collector/src/main/java/com/navercorp/pinpoint/collector/service/StatisticsService.java
  collector/src/main/java/com/navercorp/pinpoint/collector/service/async/AgentLifeCycleAsyncTaskService.java
Labels: cleanup

#12057 [#noissue] Remove AcceptedTimeService
  collector/src/main/java/com/navercorp/pinpoint/collector/grpc/config/GrpcAgentConfiguration.java
  collector/src/main/java/com/navercorp/pinpoint/collector/grpc/config/GrpcSpanReceiverConfiguration.java
  collector/src/main/java/com/navercorp/pinpoint/collector/grpc/config/GrpcStatReceiverConfiguration.java
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/grpc/metric/MetricHandlerConfiguration.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/DelegateDispatchHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/DispatchHandlerFactoryBean.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/StatDispatchHandler.java
  collector/src/test/java/com/navercorp/pinpoint/collector/receiver/DispatchHandlerTest.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/CommonsServerConfiguration.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/util/AcceptedTimeService.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/util/EmptyAcceptedTimeService.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/util/ThreadLocalAcceptedTimeService.java
Labels: cleanup

#12060 [#noissue] Fixed invalid AgentMetricHandler
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/grpc/metric/MetricHandlerConfiguration.java
Labels: cleanup

#12058 [#noissue] Improved Reliability of PingSession lifecycle
  collector/src/main/java/com/navercorp/pinpoint/collector/grpc/lifecycle/DefaultPingEventHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/grpc/lifecycle/DefaultPingSessionRegistry.java
  collector/src/main/java/com/navercorp/pinpoint/collector/grpc/lifecycle/PingEventHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/grpc/lifecycle/PingSession.java
  collector/src/main/java/com/navercorp/pinpoint/collector/grpc/lifecycle/PingSessionRegistry.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/AgentLifecycleListener.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/AgentService.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/KeepAliveService.java
  collector/src/main/java/com/navercorp/pinpoint/collector/service/async/AgentLifeCycleAsyncTaskService.java
  collector/src/main/java/com/navercorp/pinpoint/collector/service/async/AgentProperty.java
  collector/src/main/java/com/navercorp/pinpoint/collector/service/async/DefaultAgentProperty.java
  collector/src/test/java/com/navercorp/pinpoint/collector/grpc/lifecycle/DefaultPingSessionRegistryTest.java
  collector/src/test/java/com/navercorp/pinpoint/collector/grpc/lifecycle/PingSessionTest.java
Labels: cleanup

#12063 [#noissue] Cleanup
  agent-module/profiler/src/test/java/com/navercorp/pinpoint/profiler/context/active/ActiveTraceRepositoryTest.java
  commons-hbase/pom.xml
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/HbaseTemplate.java
  commons-hbase/src/main/java/com/navercorp/pinpoint/common/hbase/async/HbaseAsyncTemplate.java
Labels: cleanup

#12068 [#noissue] Add begin and end in ExceptionRecord
  web/src/main/java/com/navercorp/pinpoint/web/vo/callstacks/ExceptionRecord.java
Labels: module:web

#12074 [#12073] Backport: Update matchable transform list
  agent-module/profiler/src/main/java/com/navercorp/pinpoint/profiler/instrument/transformer/MatchableTransformerRegistry.java
Labels: enhancement, module:plugin

#12076 [#12075] Backport: Add async nested of reactor plugin
  agent-module/bootstraps/bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/context/Trace.java
  agent-module/bootstraps/bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/interceptor/AsyncContextSpanEventNestedApiIdAwareAroundInterceptor.java
  agent-module/bootstraps/bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/plugin/reactor/CoreSubscriberOnNextInterceptor.java
  agent-module/plugins/reactor/src/main/java/com/navercorp/pinpoint/plugin/reactor/ReactorPlugin.java
  agent-module/profiler/src/main/java/com/navercorp/pinpoint/profiler/context/ChildTrace.java
  agent-module/profiler/src/main/java/com/navercorp/pinpoint/profiler/context/DefaultTrace.java
  agent-module/profiler/src/main/java/com/navercorp/pinpoint/profiler/context/DisableChildTrace.java
  agent-module/profiler/src/main/java/com/navercorp/pinpoint/profiler/context/DisableTrace.java
  agent-module/profiler/src/main/java/com/navercorp/pinpoint/profiler/context/scope/BoundaryTraceScope.java
  agent-module/profiler/src/main/java/com/navercorp/pinpoint/profiler/context/scope/DefaultTraceScopePool.java
Labels: enhancement, module:plugin

#12078 [#12077] Backport: Update io.asyncer:r2dbc-mysql of spring r2dbc plugin
  agent-module/agent-testweb/spring-data-r2dbc-plugin-testweb/pom.xml
  agent-module/agent-testweb/spring-data-r2dbc-plugin-testweb/src/main/java/com/pinpoint/test/plugin/MysqlR2dbcDatabase.java
  agent-module/agent-testweb/spring-data-r2dbc-plugin-testweb/src/main/java/com/pinpoint/test/plugin/SpringDataR2dbcPluginController.java
  agent-module/plugins/spring-data-r2dbc/src/main/java/com/navercorp/pinpoint/plugin/spring/r2dbc/SpringDataR2dbcPlugin.java
Labels: enhancement, module:plugin

#12082 [#12081] Remove commons-buffer from Agent module
  agent-module/agent/pom.xml
  agent-module/agent/src/assembly/component/core.xml
  agent-module/bootstraps/bootstrap-core/src/main/java/com/navercorp/pinpoint/bootstrap/classloader/ProfilerLibs.java
  agent-module/profiler/pom.xml
  agent-module/profiler/src/main/java/com/navercorp/pinpoint/profiler/util/ByteBufferUtils.java
  commons-buffer/pom.xml
  commons-profiler/pom.xml
  commons-profiler/src/main/java/com/navercorp/pinpoint/common/profiler/util/TransactionIdUtils.java
  commons-profiler/src/test/java/com/navercorp/pinpoint/common/profiler/util/TransactionIdUtilsTest.java
  commons-server/pom.xml
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/util/TransactionIdParser.java
  commons-server/src/test/java/com/navercorp/pinpoint/common/server/util/TransactionIdParserTest.java
Labels: cleanup

#12035 [#12021] Replace ErrorAttributes with ProblemDetail
  web-starter/src/main/java/com/navercorp/pinpoint/web/starter/multi/PinpointWebStarter.java
  web-starter/src/main/resources/application.yml
  web/src/main/java/com/navercorp/pinpoint/web/CustomExceptionHandler.java
  web/src/main/java/com/navercorp/pinpoint/web/PinpointWebModule.java
  web/src/main/java/com/navercorp/pinpoint/web/ProblemSpringWebConfig.java
  web/src/main/java/com/navercorp/pinpoint/web/controller/NonWhiteLabelErrorController.java
  web/src/main/java/com/navercorp/pinpoint/web/problem/StackTraceProcessor.java
  web/src/main/java/com/navercorp/pinpoint/web/view/error/PinpointErrorAttributes.java
  web/src/main/java/com/navercorp/pinpoint/web/view/error/PinpointErrorData.java
  web/src/main/resources/application.yml
Labels: module:web

#12085 [#noissue] Add fallback timestamp
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/grpc/GrpcExceptionMetaDataHandler.java
Labels: module:agent, module:collector

#12090 [#noissue] Log only necessary data
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/grpc/GrpcExceptionMetaDataHandler.java
Labels: module:collector

#12088 [#noissue] Fix copyJavaSystemProperty()
  agent-module/bootstraps/bootstrap/src/main/java/com/navercorp/pinpoint/bootstrap/PinpointStarter.java
Labels: bug, module:agent

#12091 [#noissue] Add missing placeholder in log message
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/ServerCallStream.java
Labels: module:collector

#12103 [#noissue] Fix pulsar plugin IT test
  agent-module/plugins-it/pulsar-it/src/test/java/com/navercorp/pinpoint/it/plugin/pulsar/PulsarClientITBase.java
Labels: module:test

#12106 [#noissue] Cleanup
  collector/src/main/java/com/navercorp/pinpoint/collector/service/HbaseTraceService.java
Labels: cleanup

#12104 [#12025] Add ServerHeader for Uid
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/grpc/GrpcAgentEventHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/grpc/GrpcAgentInfoHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/grpc/GrpcApiMetaDataHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/grpc/GrpcExceptionMetaDataHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/grpc/GrpcSpanChunkHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/grpc/GrpcSpanHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/grpc/GrpcSqlMetaDataHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/grpc/GrpcSqlUidMetaDataHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/grpc/GrpcStringMetaDataHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/grpc/metric/AgentMetricBatchHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/grpc/metric/AgentMetricHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/handler/grpc/metric/AgentUriMetricHandler.java
  collector/src/main/java/com/navercorp/pinpoint/collector/mapper/grpc/GrpcAgentInfoBoMapper.java
  collector/src/main/java/com/navercorp/pinpoint/collector/mapper/grpc/event/GrpcAgentEventBatchMapper.java
  collector/src/main/java/com/navercorp/pinpoint/collector/mapper/grpc/event/GrpcAgentEventMapper.java
  collector/src/main/java/com/navercorp/pinpoint/collector/mapper/grpc/stat/GrpcAgentStatBatchMapper.java
  collector/src/main/java/com/navercorp/pinpoint/collector/mapper/grpc/stat/GrpcAgentStatMapper.java
  collector/src/main/java/com/navercorp/pinpoint/collector/mapper/grpc/stat/GrpcAgentUriStatMapper.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/DefaultServerRequestFactory.java
  collector/src/main/java/com/navercorp/pinpoint/collector/receiver/grpc/service/SimpleRequestHandlerAdaptor.java
  collector/src/main/java/com/navercorp/pinpoint/io/request/BindAttributes.java
  collector/src/main/java/com/navercorp/pinpoint/io/request/DefaultServerRequest.java
  collector/src/main/java/com/navercorp/pinpoint/io/request/GrpcServerHeaderV1.java
  collector/src/main/java/com/navercorp/pinpoint/io/request/ServerHeader.java
  collector/src/main/java/com/navercorp/pinpoint/io/request/ServerRequest.java
  collector/src/test/java/com/navercorp/pinpoint/collector/handler/grpc/GrpcAgentUriMetricHandlerV2Test.java
  collector/src/test/java/com/navercorp/pinpoint/collector/handler/grpc/GrpcApiMetaDataHandlerTest.java
  commons-server/src/main/java/com/navercorp/pinpoint/common/server/bo/grpc/BindAttribute.java
  grpc/src/main/java/com/navercorp/pinpoint/grpc/HeaderV1.java
  realtime/realtime-collector/src/test/java/com/navercorp/pinpoint/realtime/collector/receiver/grpc/GrpcCommandServiceTest.java
Labels: cleanup
